/* ******* COMMON: ASPECT RATIO ******* */

.cm__aspect__1x1 {
    padding-bottom: 100%;
}

/* Landscape */

.cm__aspect__4x3 {
    padding-bottom: 75%;
}

.cm__aspect__3x2 {
    padding-bottom: 66.66%;
}

.cm__aspect__16x10 {
    padding-bottom: 62.5%;
}

.cm__aspect__16x9 {
    padding-bottom: 56.25%;
}

.cm__aspect__2x1 {
    padding-bottom: 50%;
}

.cm__aspect__21x9 {
    padding-bottom: 42.85%;
}

.cm__aspect__21x9 {
    padding-bottom: 42.85%;
}

.cm__aspect__24x10 {
    padding-bottom: 41.66%;
}

.cm__aspect__24x9 {
    padding-bottom: 37.5%;
}

.cm__aspect__35x10 {
    padding-bottom: 28.57%;
}

/* Portrait */

.cm__aspect__3x4 {
    padding-bottom: 133.33%;
}

.cm__aspect__2x3 {
    padding-bottom: 150%;
}

.cm__aspect__10x16 {
    padding-bottom: 160%;
}

.cm__aspect__9x16 {
    padding-bottom: 177.77%;
}

.cm__aspect__1x2 {
    padding-bottom: 200%;
}