/* *** PARTS: BUTTONS *** */

.button {
    .cm-text-overflow;
    height: @CmForm-FieldHeight;
    margin: 0;
    padding: 0 @CmButton-PaddingX;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: none;
    border-radius: @CmBorder-Radius;
    text-align: center;
    text-decoration: none;
    line-height: @CmForm-FieldHeight;
    font-size: @CmFont-Base-Size;
    white-space: nowrap;
    cursor: pointer;
    .mx__appearance(none);
    .mx__box-sizing();
    .mx__background-clip(border-box);
    .mx__user-select();
    .mx__transition(background-color color box-shadow, @CmUI-Transition-Duration);

    &.wide {
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
    }

    &:hover {
        text-decoration: none;
        .mx__transition(background-color color box-shadow, @CmUI-Transition-DurationReverse);
    }

    .button.button-primary;

    // /* *** PRIMARY *** */

    &.button-primary {
        .mx__background__color(@CmColor-Primary-DarkDefault, @CmFont-Base-Color, @CmFont-Base-ColorInvert);

        &:hover {
            .button.button-primary--hover;
        }

        &:active,
        &.active {
            .button.button-primary--active;
        }
    }

    &.button-primary--hover {
        .mx__background__color(@CmColor-Primary-DarkHover, @CmFont-Base-Color, @CmFont-Base-ColorInvert);
    }

    &.button-primary--active {
        .mx__background__color(@CmColor-Primary-DarkActive, @CmFont-Base-Color, @CmFont-Base-ColorInvert);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** SECONDARY *** */

    &.button-secondary {
        .mx__background__color(@CmColor-Secondary-LightHover, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorInvert);

        &:hover {
            .button.button-secondary--hover;
        }

        &:active,
        &.active {
            .button.button-secondary--active;
        }
    }

    &.button-secondary--hover {
        .mx__background__color(@CmColor-Secondary-LightActive, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorInvert);
    }

    &.button-secondary--active {
        .mx__background__color(@CmColor-Secondary-LightActiveHover, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorInvert);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** VALID *** */

    &.button-valid {
        .mx__background__color(@CmColor-Valid-DarkDefault, @CmFont-Base-Color, @CmFont-Base-ColorInvert);

        &:hover {
            .button.button-valid--hover;
        }

        &:active,
        &.active {
            .button.button-valid--active;
        }
    }

    &.button-valid--hover {
        .mx__background__color(@CmColor-Valid-DarkHover, @CmFont-Base-Color, @CmFont-Base-ColorInvert);
    }

    &.button-valid--active {
        .mx__background__color(@CmColor-Valid-DarkActive, @CmFont-Base-Color, @CmFont-Base-ColorInvert);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** INVALID *** */

    &.button-invalid {
        .mx__background__color(@CmColor-Invalid-DarkDefault, @CmFont-Base-Color, @CmFont-Base-ColorInvert);

        &:hover {
            .button.button-invalid--hover;
        }

        &:active,
        &.active {
            .button.button-invalid--active;
        }
    }

    &.button-invalid--hover {
        .mx__background__color(@CmColor-Invalid-DarkHover, @CmFont-Base-Color, @CmFont-Base-ColorInvert);
    }

    &.button-invalid--active {
        .mx__background__color(@CmColor-Invalid-DarkActive, @CmFont-Base-Color, @CmFont-Base-ColorInvert);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** PENDING *** */

    &.button-pending {
        .mx__background__color(@CmColor-Pending-DarkDefault, @CmFont-Base-Color, @CmFont-Base-ColorInvert);

        &:hover {
            .button.button-pending--hover;
        }

        &:active,
        &.active {
            .button.button-pending--active;
        }
    }

    &.button-pending--hover {
        .mx__background__color(@CmColor-Pending-DarkHover, @CmFont-Base-Color, @CmFont-Base-ColorInvert);
    }

    &.button-pending--active {
        .mx__background__color(@CmColor-Pending-DarkActive, @CmFont-Base-Color, @CmFont-Base-ColorInvert);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** TRANSPARENT *** */

    &.button-transparent,
    &.transparent {
        .mx__background__color(@CmColor-Secondary-LightDefault, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorInvert);
        box-shadow: none;
        border: none;

        &:hover {
            .button.button-transparent--hover;
        }

        &:active,
        &.active {
            .button.button-transparent--active;
        }
    }

    &.button-transparent--hover {
        .mx__background__color(@CmColor-Secondary-LightHover, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorInvert);
    }

    &.button-transparent--active {
        .mx__background__color(@CmColor-Secondary-LightActive, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorInvert);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** WHITE *** */

    &.button-white {
        .mx__background__color(#ffffff, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorInvert);

        &:hover {
            .button.button-white--hover;
        }

        &:active,
        &.active {
            .button.button-white--active;
        }
    }

    &.button-white--hover {
        .mx__background__color(@CmColor-Primary-DarkHover, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorInvert);
    }

    &.button-white--active {
        .mx__background__color(@CmColor-Primary-DarkActive, @CmFont-Base-Color, @CmFont-Base-ColorInvert);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** CLEAR *** */

    &.button-clear {
        background: none;
        box-shadow: none;
        border: none;
        color: @CmColor-Primary-DarkDefault;
        cursor: default;
    }

    // /* *** ICONS *** */

    &.has-icon {
        padding-left: 0;

        .icon {
            display: block;
            float: left;
            position: relative;
            top: 50%;
        }
    }

    &.has-icon-medium {
        .icon {
            margin: -(@CmSize-Medium / 2) round((@CmForm-FieldHeight - @CmSize-Medium) / 2) 0;
        }
    }

    &.has-icon-small {
        .icon {
            margin: -(@CmSize-Small / 2) round((@CmForm-FieldHeight - @CmSize-Small) / 2) 0;
        }
    }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    &:extend(.button all);
}