/* ******* COMMON: COLORS ******* */

/* *** FONT COLORS *** */

.cm__color__primary {
    color: @CmColor-Primary-DarkDefault;
}

.cm__color__secondary {
     color: @CmColor-Secondary-DarkDefault;
 }

.cm__color__valid {
    color: @CmColor-Valid-DarkDefault;
}

.cm__color__error {
    color: @CmColor-Invalid-DarkDefault;
}

/* *** BACKGROUND COLORS *** */

.cm__background__primary {
    background: @CmColor-Primary-DarkDefault;
}

.cm__background__secondary {
    background: @CmColor-Secondary-DarkDefault;
}

.cm__background__valid {
    background: @CmColor-Valid-DarkDefault;
}

.cm__background__error {
    background: @CmColor-Invalid-DarkDefault;
}