/* ******* COMMON: SIZE ******* */

.cm__size__xxx-small {
    width: @Cm-XXXSmall;
    height: @Cm-XXXSmall;
}

.cm__size__xx-small {
    width: @Cm-XXSmall;
    height: @Cm-XXSmall;
}

.cm__size__x-small {
    width: @Cm-XSmall;
    height: @Cm-XSmall;
}

.cm__size__small {
    width: @Cm-Small;
    height: @Cm-Small;
}

.cm__size__medium {
    width: @Cm-Medium;
    height: @Cm-Medium;
}

.cm__size__large {
    width: @Cm-Large;
    height: @Cm-Large;
}

.cm__size__x-large {
    width: @Cm-XLarge;
    height: @Cm-XLarge;
}

.cm__size__xx-large {
    width: @Cm-XXLarge;
    height: @Cm-XXLarge;
}