/* ******* PART: ANIMATE ******* */

.cm-animate {
    visibility: hidden;

    &.pre-bounce,
    &.pre-tada {
        visibility: visible;
    }

    &.animated {
        visibility: visible;

        &.spin {
            animation: spin 2s linear infinite;
        }
    }
}

/* *** ANIMATION ON HOVER *** */

.cm__animate {
    &.hover--fadeIn {
        opacity: 0;
        .mx__transition(opacity, @CmUI-Transition-Duration);

        &:hover {
            opacity: 1;
            .mx__transition(opacity, @CmUI-Transition-DurationReverse);
        }
    }
}

/* *** ANIMATIONS *** */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}