/* ******* PART: BOX ******* */

.pt__box {
    padding: @PtBox-Padding;
    background: @CmColor-Background;
    border: @CmBorder-Default;
    border-width: @PtBox-BorderWidth;
    border-radius: @CmBorder-Radius;
    border-color: @PtBox-BorderColor;
    box-shadow: @CmUI-ShadowLight;
    .mx__background-clip(padding-box);
}

.pt__box--black {
    .pt__box;
    background: @CmColor-Gallery;
    border-color: @CmColor-Gallery;
}

.pt__box--clear {
    .cm__box;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    .mx__box-sizing(border-box);
}

.pt__box-border {
    padding: @CmIndent-XSmall;
    border: @CmBorder-Box;
    .mx__box-sizing(border-box);
    .mx__background-clip(padding-box);
    .mx__transition(border-color, @CmUI-Transition-Duration);

    &.active {
        border: @CmBorder-BoxActive;
    }
}

.pt__box--flat {
    .cm__box;
    padding: @CmIndent-XSmall;
    background-color: @CmColor-Secondary-LightHighlight;
    border-radius: @CmBorder-Radius;
    .mx__box-sizing(border-box);
    .mx__background-clip(padding-box);
    .mx__transition(background, @CmUI-Transition-Duration);

    > .inner {
        > .title {
            margin-bottom: @CmIndent-Medium;
        }
    }

    &.is-transparent {
        background-color: transparent;
    }

    &.active {
        background-color: @CmColor-Primary-LightHighlight;
    }
}

/* *** TITLE *** */

.pt__box-title {
    .cm__box;

    &.pull-left {
        text-align: left;
    }

    &.pull-center {
        text-align: center;
    }

    &.pull-right {
        text-align: right;
    }
}

.pt__box-title--flat {
    .pt__box-title;
    .cm__font--ui-h1;
    margin-bottom: @CmIndent-XXSmall;
}

/* *** CONTENT *** */

.pt__box-content {
    .clearfix;

    // /* Set grid items indent */

    .pt__box-content__indent(@PtBoxContent-Indent);

    .for(@PtBoxContent-Indents); .-each(@name) {
        &.indent-@{name} {
            .pt__box-content__indent(@name);
        }
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.is-hidden {
        display: none;
    }
}

.pt__box-content__indent (@indent: @PtBoxContent-Indent){
    margin: 0 0 @indent;

    &.is-reverse {
        margin: @indent 0 0;
    }
}

/* *** INFO *** */

.pt__box-info {
    .cm__box;

    dl {
        dt {
            font-weight: bold;
        }

        dd {
            padding: 0;
        }

        &:last-child {
            margin: 0;
        }
    }
}

/* *** TABLE *** */

.pt__box-cell {
    .b-title,
    .b-descr {
        margin: 0 0 @CmIndent-XSmall;

        &:last-child {
            margin: 0;
        }
    }

    .b-title {
        font-weight: @CmFont-Base-BoldWeight;
    }
}

/* *** LOADER *** */

.pt__box-loader {
    height: 50px;
    position: relative;

    &.is-absolute,
    &.position {
        height: auto;
        position: absolute;
        .mx__position(0,0,0,0);
    }

    > .inner {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        margin: -16px 0 0 -16px;
        background: url("@{CmPath-Images}/parts/ajax-loader.gif");
    }
}

/* *** EDITABLE *** */

.pt__box-editable {
    .clearfix;
    .cm__box;

    .cm__tags {
        margin-bottom: 0;
    }

    > .r {
        float: right;
        margin: 0 0 0 @CmIndent-Medium;

        .pt__toolbar {
            margin-bottom: 0;
        }
    }

    > .l {
        overflow: hidden;
    }

    &.is-flex {
        display: flex;
        align-items: center;

        > .l {
            float: none;
            flex: auto;
            overflow: visible;
        }

        > .r {
            float: none;
            flex: none;
            align-self: flex-start;
        }
    }
}

/* *** ITEM *** */

.pt__box-item {
    .display-flex;
    .mx__flex-flow(row nowrap);

    > .l {
        .mx__flex(0 0 auto);
    }

    > .r {
        .mx__flex(1 1 auto);
    }

    > .l,
    > .r {
        margin: 0 @CmIndent-XSmall 0 0;

        &:last-child {
            margin: 0;
        }
    }

    .title {
        font-weight: @CmFont-Base-BoldWeight;

        a {
            font-weight: inherit;
        }
    }

    .title,
    .descr,
    .author {
        &:extend(.cm__inherit all);
    }

    .date,
    .count,
    .status {
        font-size: @CmFont-Base-Hint-Size;
        color: @CmFont-Base-Hint-Color;
    }

    .status {
        &.danger {
            color: @CmColor-Danger-DarkDefault;
        }

        &.warning {
            color: @CmColor-Warning-DarkDefault;
        }

        &.success {
            color: @CmColor-Success-DarkDefault;
        }
    }

    .descr {
        margin: @CmIndent-XXXSmall 0 0 0;

        &:first-child {
            margin: 0;
        }

        &.is-short {
            .pt__box-item__descr-lines(@PtBoxItem-DescrLines);
        }
    }

    .btn-wrap {
        margin: @CmIndent-XXSmall 0 ;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .hint {
        .cm__font--hint-cursive;
    }

    > .pt__image {
        margin-bottom: @CmIndent-XSmall;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:not(.is-no-overflow),
    &.is-nowrap {
        > .r {
            overflow: hidden;
        }

        .title,
        .author,
        .date,
        .count,
        .status {
            .cm__text-nowrap;
        }
    }

    &.is-wrap {
        .title,
        .author,
        .date,
        .count,
        .status {
            .cm__text-wrap;
        }
    }

    &.is-image-centered {
        display: block;

        .pt__image {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.is-centered {
        display: block;
        text-align: center;

        .pt__image {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.is-image-top {
        .mx__flex-direction(column);

        > .l,
        > .r {
            margin: 0 0 @CmIndent-Medium 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    // /* Sizes */

    .for(@PtBoxItem-Sizes); .-each(@name) {
        &.size-@{name} {
            .pt__box-item__size(@name);
        }
    }
}

.pt__box-item__size (@value) when (@value > 0) {
    .pt__image {
        width: unit(@value, px);

        &.is-centered {
            height: unit(@value, px);
            padding-bottom: 0;
        }
    }
}

.pt__box-item__descr-lines (@count) when (@count > 0) {
    .cm__text-wrap;
    height: @count * @CmFont-Base-LineHeight;
    overflow: hidden;
}

/* *** CODE BOX *** */

.pt__box-code {
    .cm__box;
    min-height: @CmFont-Base-LineHeight + ((@PtBoxCode-PaddingY + @CmBorder-Width ) * 2);
    display: block;
    white-space: pre-wrap;
    padding: @PtBoxCode-PaddingY @PtBoxCode-PaddingX;
    background: @CmColor-Background;
    border: @CmBorder-Width dashed @CmColor-Border;
    border-radius: @CmBorder-Radius;
    font-family: "Courier New", Courier, monospace;
}

/* ******* PART: BOX: ADAPTIVE ******* */

@media only screen and (max-width: @CmUI-AdaptiveFrom) {

    html.is-adaptive {

        /* *** EDITABLE *** */

        .pt__box-editable {
            > .l,
            > .r {
                float: none;
                margin: 0;
            }

            &.is-adaptive {
                &.is-flex {
                    display: block;

                    > .l {
                        margin: 0 0 @CmIndent-Small;
                    }
                }
            }
        }
    }

}
