/* ******* PARTS: BREADCRUMBS ******* */

.pt__breadcrumbs {
    .cm__box;

    ul {
        .cm__list-clear;
        .cm__list-inline;
        margin: 0 0 -@CmIndent-XXSmall 0;
        line-height: @CmFont-Base-LineHeight;

        li {
            .cm__font;
            margin: 0 @CmIndent-XXSmall @CmIndent-XXSmall 0;

            &.back {
                margin-right: @CmIndent-Medium;
                font-weight: @CmFont-Base-BoldWeight;
            }

            &.sep {
                &:first-child,
                &:last-child {
                    display: none;
                }
            }

            &.active {
                a {
                    color: @CmFont-Base-Color;
                    text-decoration: none;
                }
            }
        }
    }
}