/* ******* PARTS: BUTTONS ******* */

.pt__buttons {
    @buttonIndent: round(@CmForm-ButtonsIndent / 2);

    .cm__box;
    .cm__box-reverse;

    > .inner {
        .display-flex;
        margin: -@buttonIndent;

        > .left,
        > .right {
            .display-flex;
            .mx__flex(1);
            .mx__align-items(flex-start);

            &.column--auto {
                .mx__flex(1 1 auto);
            }

            &.column--none {
                .mx__flex(none);
            }
        }

        > .left {
            .mx__justify-content(flex-start);
        }

        > .right {
            .mx__justify-content(flex-end);
        }
    }

    .button-alike {
        margin: @buttonIndent;
    }

    .hint {
        margin: @buttonIndent;
        flex: auto;
        align-self: center;
    }

    /* *** ALIGN *** */

    &.pull-right {
        > .inner {
            .mx__justify-content(flex-end);
        }
    }

    &.pull-left {
        > .inner {
            .mx__justify-content(flex-start);
        }
    }

    &.pull-center {
        > .inner {
            .mx__justify-content(center);
        }
    }

    &.pull-justify {
        .button-alike {
            .mx__flex(1 1 0);
        }
    }

    &.pull-top {
        > .inner {
            .mx__align-items(flex-start);
        }
    }

    &.pull-middle {
        > .inner {
            .mx__align-items(center);
        }
    }

    &.pull-bottom {
        > .inner {
            .mx__align-items(flex-end);
        }
    }

    /* *** DISPLAY *** */

    &.is-box {
        .pt__buttons--box;
    }
}

.pt__buttons--box {
    > .inner {
        display: block;
        margin: 0;

        > .left,
        > .right {
            width: 100%;
            margin: @CmForm-FieldIndent 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    .button-alike {
        width: 100%;
        margin: @CmForm-FieldIndent 0 0 0;

        &:first-child {
            margin: 0;
        }
    }
}

/* ******* PARTS: BUTTONS: ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-Mobile) {

    html.is-adaptive {
        .pt__buttons {
            &.is-adaptive {
                .pt__buttons--box;
            }
        }
    }

}