/* ******* PARTS: BUTTONS ******* */

.pt__buttons {
    @buttonIndent: round(@CmForm-ButtonsIndent / 2);

    .cm__box;
    .cm__box-reverse;

    > .inner {
        .display-flex;
        margin-right: -@buttonIndent;
        margin-left: -@buttonIndent;
    }

    .button-alike {
        margin: 0 @buttonIndent;
    }

    /* *** ALIGN *** */

    &.pull-right {
        > .inner {
            .mx__justify-content(flex-end);
        }
    }

    &.pull-left {
        > .inner {
            .mx__justify-content(flex-start);
        }
    }

    &.pull-center {
        > .inner {
            .mx__justify-content(center);
        }
    }

    &.pull-justify {
        .button-alike {
            .mx__flex(1 1 0);
        }
    }

    /* *** DISPLAY *** */

    &.is-box {
        > .inner {
            display: block;
            margin-left: 0;
            margin-right: 0;
        }

        .button-alike {
            .cm__text-nowrap;
            width: 100%;
            display: block;
            margin: @CmForm-ButtonsIndent 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }
}