/* ******* PARTS: BUTTONS ******* */

.pt__buttons {
    @buttonIndent: round(@CmForm-ButtonsIndent / 2);

    .cm__box;
    .cm__box-reverse;

    > .inner {
        .cm__list-inline;
        margin-right: -@buttonIndent;
        margin-left: -@buttonIndent;
    }

    .button,
    .browse-button,
    .com__menu,
    .cm__button-wrapper {
        margin: 0 @buttonIndent;
    }

    /* *** ALIGN *** */

    &.pull-right {
    }

    &.pull-left {
    }

    &.pull-center {
    }

    &.pull-justify {
        > .inner {
            .display-flex;
        }

        .button,
        .browse-button,
        .com__menu,
        .cm__button-wrapper {
            .mx__flex(1 1 0);
        }
    }

    /* *** DISPLAY *** */

    &.is-box {
        > .inner {
            margin-left: 0;
            margin-right: 0;
        }

        .button,
        .browse-button,
        .com__menu,
        .cm__button-wrapper {
            .cm__text-nowrap;
            width: 100%;
            display: block;
            margin: @CmForm-ButtonsIndent 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }
}