.pt__check-line {
    min-height: @CmForm-FieldHeight;
    line-height: @CmForm-FieldHeight;

    input[type="radio"],
    input[type="checkbox"] {
        @margin: floor((@CmForm-FieldHeight - 13px) / 2);

        margin: @margin 0 @margin 0;
        vertical-align: top;
        padding: 0;
        cursor: pointer;

        &:checked + .unveil,
        &:checked + .label + .unveil {
            display: block;
        }
    }

    label {
        margin-right: @CmIndent-Medium;
        cursor: pointer;
        vertical-align: baseline;
        line-height: @CmFont-Base-LineHeight;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .label {
        display: inline-block;
        margin-left: @CmForm-FieldInnerIndent;
    }

    > .fields {
        &.unveil {
            display: none;
        }
    }

    &.has-fields {
        .display-flex;

        label {
            margin-right: 0;
        }

        .label {
            @padding: round((@CmForm-FieldHeight - @CmFont-Base-LineHeight) / 2);
            padding: @padding 0 @padding 0;
        }

        > .fields {
            margin: 0 0 0 @CmIndent-XSmall;
            .mx__flex(1);
        }
    }

    &.pull-center {
        text-align: center;
    }
}