.pt__check-line {
    min-height: @CmForm-FieldHeight;
    line-height: @CmForm-FieldHeight;

    input[type="radio"],
    input[type="checkbox"] {
        @margin: floor((@CmForm-FieldHeight - 13px) / 2);

        margin: @margin 0 @margin 0;
        vertical-align: top;
        padding: 0;
        cursor: pointer;
    }

    label {
        @padding: round((@CmForm-FieldHeight - @CmFont-Base-LineHeight) / 2);
        padding: @padding 0 @padding 0;
        margin-right: @CmIndent-Medium;
        cursor: pointer;
        vertical-align: baseline;
        line-height: @CmFont-Base-LineHeight;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .label {
        margin-left: @CmForm-FieldInnerIndent;
    }

    &.has-fields {
        .display-flex;

        > .fields {
            margin: 0 0 0 @CmIndent-XSmall;
            .mx__flex(1);
        }
    }

    &.pull-center {
        text-align: center;
    }
}