/* ******* PARTS: COLUMNS ******* */

.pt__columns {
    .cm__box;

    > .inner {
        .display-flex;

        > .column {
            min-width: 0;
            position: relative;
            .mx__flex(1 1 0);

            &.column--auto {
                .mx__flex(1 1 auto);
            }

            &.column--none {
                .mx__flex(none);
            }
        }
    }

    &.is-none {
        > .inner {
            > .column {
                .mx__flex(none);

                &.column--auto {
                    .mx__flex(1 1 auto);
                }

                &.column--none {
                    .mx__flex(none);
                }
            }
        }
    }

    &.is-space-between {
        > .inner {
            .mx__justify-content(space-between);

            > .column {
                .mx__flex(1 1 auto);

                &.column--auto {
                    .mx__flex(1 1 auto);
                }

                &.column--none {
                    .mx__flex(none);
                }
            }
        }
    }

    &.theme--separators {
        > .inner {
            > .column {
                &:after {
                    display: block;
                    position: absolute;
                    border-right: @CmBorder-Separator;
                    content: '';
                    .mx__position(0, 0, 0, auto);
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    // /* Indent */

    .pt__columns__indent(@PtColumns-Indent);

    .for(@PtColumns-Indents); .-each(@name) {
        &.indent-@{name} {
            .pt__columns__indent(@name);
        }
    }
}

.pt__columns__indent (@value : @PtColumns-Indent) {
    @half: round(@value / 2);

    > .inner {
        margin-right: -@half;
        margin-left: -@half;

        > .column {
            margin-right: @half;
            margin-left: @half;
        }
    }

    &.theme--separators {
        > .inner {
            > .column {
                &:after {
                    right:  -@half;
                }
            }
        }
    }
}

.pt__columns--adaptive {
    > .inner {
        display: block;

        > .column {
            .cm__box;
            .mx__flex(none);
        }
    }

    &.theme--separators {
        > .inner {
            > .column {
                &:after {
                    display: none;
                }
            }
        }
    }
}

/* ******* PARTS: COLUMNS: ADAPTIVE ******* */

@media only screen and (max-width : @PtColumns-AdaptiveFrom) {

    html.is-adaptive {
        .pt__columns {
            &.is-adaptive {
                .pt__columns--adaptive;
            }
        }
    }

}