/* ******* PARTS: COLUMNS ******* */

.pt__columns {
    .cm__box;
    position: relative;

    > .inner {
        .display-flex;

        > .column {
            min-width: 0;
            position: relative;
            .mx__flex(1 1 0);

            &.column--flex {
                display: flex;
            }

            &.column--flex-column {
                display: flex;
                flex-direction: column;

                > .inner {
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }

            &.column--auto {
                .mx__flex(1 1 auto);
            }

            &.column--none {
                .mx__flex(none);
            }
        }
    }

    .column__sticky {
        position: sticky;
        top: 0;
    }

    &.valign-middle {
        > .inner {
            > .column {
                display: flex;
                .mx__flex-direction(column);
                .mx__justify-content(center);

                &.column--flex-column {
                    > .inner {
                        .mx__justify-content(center);
                    }
                }
            }
        }
    }

    &.field-indent,
    &.field-inner-indent {
        .cm__box;
        margin-bottom: @CmForm-FieldInnerIndent;
    }

    &.field-outer-indent {
        .cm__box;
        margin-bottom: @CmForm-FieldIndent;
    }

    &.is-none {
        > .inner {
            > .column {
                .mx__flex(none);

                &.column--auto {
                    .mx__flex(1 1 auto);
                }

                &.column--none {
                    .mx__flex(none);
                }
            }
        }
    }

    &.is-space-between {
        > .inner {
            .mx__justify-content(space-between);

            > .column {
                .mx__flex(1 1 auto);

                &.column--auto {
                    .mx__flex(1 1 auto);
                }

                &.column--none {
                    .mx__flex(none);
                }
            }
        }
    }

    &.is-hidden {
        display: none;
    }

    &.theme--separators {
        > .inner {
            > .column {
                &:after {
                    display: block;
                    position: absolute;
                    border-right: @CmBorder-Separator;
                    content: '';
                    .mx__position(0, 0, 0, auto);
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    // /* Indent */

    .pt__columns__indent(@PtColumns-Indent);

    &.indent-field {
        .pt__columns__indent(@CmForm-FieldIndent);
    }

    &.indent-field-inner {
        .pt__columns__indent(@CmForm-FieldInnerIndent);
    }

    &.indent-buttons {
        .pt__columns__indent(@CmForm-ButtonsIndent);
    }

    .for(@PtColumns-Indents); .-each(@name) {
        &.indent-@{name} {
            .pt__columns__indent(@name);
        }
    }
}

.pt__columns--grid {
    .pt__columns__indent-grid(@PtColumns-Indent);

    &.indent-field {
        .pt__columns__indent-grid(@CmForm-FieldIndent);
    }

    &.indent-field-inner {
        .pt__columns__indent-grid(@CmForm-FieldInnerIndent);
    }

    &.indent-buttons {
        .pt__columns__indent-grid(@CmForm-ButtonsIndent);
    }

    .for(@PtColumns-Indents); .-each(@name) {
        &.indent-@{name} {
            .pt__columns__indent-grid(@name);
        }
    }
}

.pt__columns__indent (@value : @PtColumns-Indent) {
    @half: max(round((@value / 2)), 0px);

    > .inner {
        margin-right: -@half;
        margin-left: -@half;

        > .column {
            margin-right: @half;
            margin-left: @half;
        }
    }

    &.theme--separators {
        > .inner {
            > .column {
                &:after {
                    right:  -@half;
                }
            }
        }
    }
}

.pt__columns__indent-grid (@value : @PtColumns-Indent) {
    @half: max(round((@value / 2)), 0px);

    > .inner {
        margin-right: -@half;
        margin-left: -@half;

        > .column {
            margin-right: 0;
            margin-left: 0;

            > .inner {
                margin-right: @half;
                margin-left: @half;
            }
        }
    }
}

.pt__columns__indent-mobile (@value : @CmForm-FieldIndent) {
    > .inner {
        > .column {
            margin-bottom: @value;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.pt__columns--adaptive {
    > .inner {
        display: block;

        > .column {
            .cm__box;
            .mx__flex(none);
        }
    }

    &.theme--separators {
        > .inner {
            > .column {
                &:after {
                    display: none;
                }
            }
        }
    }

    &.indent-field,
    &.indent-buttons,
    &.indent-field-inner {
        .pt__columns__indent-mobile(@CmForm-FieldIndent);
    }
}

/* ******* PARTS: COLUMNS: ADAPTIVE ******* */

@media only screen and (max-width : @PtColumns-AdaptiveFrom) {

    html.is-adaptive {
        .pt__columns {
            &.is-adaptive {
                .pt__columns--adaptive;
            }
        }
    }

}
