/* ******* PARTS: COLUMNS ******* */

.pt__columns {
    .cm__box;

    > .inner {
        .display-flex;

        > .column {
            min-width: 0;
            .mx__flex(1 1 0);
        }
    }

    &.is-none {
        > .inner {
            > .column {
                .mx__flex(none);
            }
        }
    }

    &.is-space-between {
        > .inner {
            .mx__justify-content(space-between);

            > .column {
                .mx__flex(1 1 auto);
            }
        }
    }

    // /* Indent */

    .pt__columns__indent(@PtColumns-Indent);

    .for(@PtColumns-Indents); .-each(@name) {
        &.indent-@{name} {
            .pt__columns__indent(@name);
        }
    }
}

.pt__columns__indent (@value : @PtColumns-Indent) {
    @half: round(@value / 2);

    > .inner {
        margin-right: -@half;
        margin-left: -@half;

        > .column {
            margin-right: @half;
            margin-left: @half;
        }
    }
}

.pt__columns--adaptive {
    > .inner {
        display: block;

        > .column {
            .cm__box;
            .mx__flex(none);
        }
    }
}

/* ******* PARTS: COLUMNS: ADAPTIVE ******* */

@media only screen and (max-width : @PtColumns-AdaptiveFrom) {

    html.is-adaptive {
        .pt__columns {
            &.is-adaptive {
                .pt__columns--adaptive;
            }
        }
    }

}