/* ******* PARTS: FIELD ******* */

.pt__field {
    .clearfix;
    margin: 0 0 @CmForm-FieldIndent 0;
    padding: 0;
    display: block;
    clear: both;

    &.is-last,
    &:last-child {
        margin-bottom: 0;
    }

    > dt,
    > .field__title {
        width: @CmForm-FieldTitleWidth;
        display: block;
        margin: 0;
        padding: ((@CmForm-FieldHeight - @CmFont-Base-LineHeight) / 2) 0;
        float: left;
        line-height: @CmFont-Base-LineHeight;
    }

    > dd,
    > .field__descr {
        display: block;
        margin: 0 0 0 (@CmForm-FieldTitleWidth + @CmForm-FieldIndent);
        padding: 0;
        position: relative;

        &:first-child {
            margin: 0;
        }
    }

    &.error,
    &.danger {
        > dt,
        > .field__title {
            color: @CmColor-Danger-DarkDefault;
        }

        .pt__field__error {
            color: @CmColor-Danger-DarkDefault;
        }

        .input {
            border: 1px solid @CmColor-Danger-DarkDefault;
        }
    }

    &.ok,
    &.success {
        > dt,
        > .field__title {
            color: @CmColor-Success-DarkDefault;
        }

        .pt__field__error {
            color: @CmColor-Success-DarkDefault;
        }

        .input {
            border: 1px solid @CmColor-Success-DarkDefault;
        }
    }

    &.is-text {
        > dt,
        > .field__title {
            padding: 0;
        }
    }

    &.is-no-label {
        > dt,
        > .field__title {
            display: none;
        }

        > dd,
        > .field__descr {
            margin-left: 0;
        }
    }

    &.is-box,
    &.is-form-box {
        .cm__box;

        > dt,
        > .field__title {
            width: auto;
            float: none;
        }

        > dd,
        > .field__descr {
            margin: 0 0 @CmForm-FieldInnerIndent 0;
            padding: 0;

            &:last-child {
                margin: 0;
            }
        }

        &.is-no-label {
            > dt,
            > .field__title {
                display: none;
            }
        }

        &.field-indent,
        &.field-inner-indent {
            .cm__box;
            margin-bottom: @CmForm-FieldInnerIndent;
        }

        &.field-outer-indent {
            .cm__box;
            margin-bottom: @CmForm-FieldIndent;
        }
    }

    &.is-form-box {
        .cm__box;
        margin-bottom: @CmForm-FieldIndent;
    }

    &.is-hidden {
        display: none;
    }

    &.align-center {
        > dt,
        > .field__title {
            text-align: center;
        }
    }
}

.pt__field-label {
    display: block;
    margin: 0;
    padding: ((@CmForm-FieldHeight - @CmFont-Base-LineHeight) / 2) 0;
    line-height: @CmFont-Base-LineHeight;
}

/* *** FIELD HINT *** */

.pt__field__hint {
    &:extend(.cm__inherit all);
    .cm__font--hint-cursive;
    text-transform: none;

    &.success {
        .cm__color__success;
    }

    &.warning {
        .cm__color__warning;
    }

    &.danger {
        .cm__color__danger;
    }
}

ul.pt__field__hint {
    margin: 0;
    padding: 6px 0 2px;
    display: block;
    list-style: none;

    li {
        margin-top: 4px;
        line-height: 13px;

        &:first-child {
            margin: 0;
        }

        &:before {
            content: '-';
            margin-right: 4px;
        }
    }
}

/* ******* PART: FIELD: ADAPTIVE ******* */

@media only screen and (max-width: @CmScreen-Mobile) {

    html.is-adaptive {
        .pt__field {
            > dt,
            > .field__title {
                width: auto;
                float: none;
            }

            > dd,
            > .field__descr {
                margin: 0 0 @CmForm-FieldInnerIndent;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

}