/* ******* PARTS: FIELD ******* */

.pt__field {
    .clearfix;
    margin: 0 0 @CmForm-FieldIndent 0;
    padding: 0;
    display: block;
    clear: both;

    &.is-first,
    &:first-child {
        margin-top: 0;
    }

    &.is-last,
    &:last-child {
        margin-bottom: 0;
    }

    > dt,
    > .field__title {
        width: var( --pt-field--title-width);
        display: block;
        margin: 0;
        padding: ((@CmForm-FieldHeight - @CmFont-Base-LineHeight) / 2) 0;
        float: left;
        line-height: @CmFont-Base-LineHeight;

        span.required {
            margin: 0 0 0 @CmIndent-XXXSmall;
            color: @CmColor-Danger-DarkDefault;
        }
    }

    > dd,
    > .field__descr {
        display: block;
        margin: 0 0 0 calc(var(--pt-field--title-width) + var(--pt-field--title-indent));
        padding: 0;
        position: relative;

        &:first-child {
            margin: 0;
        }
    }

    &.error,
    &.danger {
        > dt,
        > .field__title {
            color: @CmColor-Danger-DarkDefault;
        }

        .pt__field__error {
            color: @CmColor-Danger-DarkDefault;
        }

        .input {
            border: 1px solid @CmColor-Danger-DarkDefault;
            background-color: @CmColor-Danger-LightHighlight;
        }
    }

    &.ok,
    &.success {
        > dt,
        > .field__title {
            color: @CmColor-Success-DarkDefault;
        }

        .pt__field__error {
            color: @CmColor-Success-DarkDefault;
        }

        .input {
            border: 1px solid @CmColor-Success-DarkDefault;
            background-color: @CmColor-Success-LightHighlight;
        }
    }

    &.is-text {
        > dt,
        > .field__title {
            padding: 0;
        }
    }

    &.is-label-strong {
        > dt,
        > .field__title {
            font-weight: @CmFont-Base-BoldWeight;
        }
    }

    &.is-label-flex {
        > dt,
        > .field__title {
            display: flex;
            align-items: center;
        }

        .com__help-bubble {
            display: block;

            .com__help-bubble__title {
                display: block;

                .icon {
                    display: block;
                }
            }
        }
    }

    &.is-no-label {
        > dt,
        > .field__title {
            display: none;
        }

        > dd,
        > .field__descr {
            margin-left: 0;
        }
    }

    &.is-hidden-label {
        > dt,
        > .field__title {
            visibility: hidden;
        }
    }

    &.is-check-line {
        .display-flex;
        .mx__align-content(space-between);

        > dt,
        > .field__title {
            width: auto;
            float: none;
            .mx__flex(auto);
        }

        > dd,
        > .field__descr {
            margin-left: @CmForm-FieldInnerIndent;
        }
    }

    &.is-flex {
        display: flex;

        > dt,
        > .field__title  {
            flex: none;
        }

        > dd,
        > .field__descr {
            min-width: 0;
            flex: auto;
            margin-left: var(--pt-field--title-indent);
        }
    }

    &.is-box,
    &.is-form-box {
        .cm__box;

        > dt,
        > .field__title {
            width: auto;
            float: none;
        }

        > dd,
        > .field__descr {
            margin: 0 0 @CmForm-FieldInnerIndent 0;
            padding: 0;

            &:last-child {
                margin: 0;
            }
        }

        &.is-no-label {
            > dt,
            > .field__title {
                display: none;
            }
        }

        &.is-first {
            > dt,
            > .field__title {
                padding-top: 0;
            }
        }
    }

    &.is-form-box {
        .cm__box;
        margin-bottom: @CmForm-FieldIndent;
    }

    &.is-no-indent {
        margin: 0;
    }

    &.field-indent,
    &.field-inner-indent {
        .cm__box;
        margin-bottom: @CmForm-FieldInnerIndent;
    }

    &.field-inner-indent-reverse {
        .cm__box-reverse;
        margin-top: @CmForm-FieldInnerIndent;
    }

    &.field-outer-indent {
        .cm__box;
        margin-bottom: @CmForm-FieldIndent;
    }

    &.field-outer-indent-reverse {
        .cm__box-reverse;
        margin-top: @CmForm-FieldIndent;
    }

    &.align-center {
        > dt,
        > .field__title {
            text-align: center;
        }
    }

    &.is-hidden {
        display: none;
    }
}

.pt__field-node {
    .cm__box;
    margin-bottom: @CmForm-FieldIndent;

    &.is-no-indent {
        margin: 0;
    }

    &.field-indent,
    &.field-inner-indent {
        .cm__box;
        margin-bottom: @CmForm-FieldInnerIndent;
    }

    &.field-inner-indent-reverse {
        .cm__box-reverse;
        margin-top: @CmForm-FieldInnerIndent;
    }

    &.field-outer-indent {
        .cm__box;
        margin-bottom: @CmForm-FieldIndent;
    }

    &.field-outer-indent-reverse {
        .cm__box-reverse;
        margin-top: @CmForm-FieldIndent;
    }

    &.is-hidden {
        display: none;
    }
}

.pt__field-label {
    @padding_calc: (@CmForm-FieldHeight - @CmFont-Base-LineHeight) / 2;
    @padding: max(round((@padding_calc)), 0px);
    display: block;
    margin: 0;
    padding: @padding 0;
    line-height: @CmFont-Base-LineHeight;
}

.pt__field-container {
    position: relative;

    .pt__field-status {
        position: absolute;
        inset: 0 0 auto auto;
    }
}

/* *** FIELD HINT *** */

.pt__field-status {
    transition: all @CmUI-Transition-DurationLong ease-in-out;

    &.placeholder {
        .cm__color__placeholder;
    }

    &.hint {
        .cm__color__hint;
    }

    &.success {
        .cm__color__success;
    }

    &.warning {
        .cm__color__warning;
    }

    &.danger {
        .cm__color__danger;
    }

    &.is-hidden {
        display: none;
    }

    &.is-transparent {
        opacity: 0;
    }
}

.pt__field__hint {
    &:extend(.cm__inherit all);
    .cm__font--hint-cursive;
    text-transform: none;

    &.success {
        .cm__color__success;
    }

    &.warning {
        .cm__color__warning;
    }

    &.danger {
        .cm__color__danger;
    }
}

ul.pt__field__hint {
    @padding_calc: (@CmForm-FieldIndent - @CmFont-Base-LineHeightSmall) / 2;
    @padding: max(min(round((@padding_calc)), 4px), 0px);
    margin: 0;
    padding: @padding 0;
    display: block;
    list-style: none;

    li {
        margin-top: 4px;

        &:first-child {
            margin: 0;
        }

        &:before {
            content: '-';
            margin-right: 4px;
        }
    }
}

/* *** CONTENT *** */

.pt__field__content {
    .placeholder {
        .cm__font--placeholder;
        .cm__text-nowrap;
        position: absolute;
        z-index: 2;
        padding: 0 @CmInput-Padding;
        cursor: text;
        pointer-events: none;
        .mx__position(0, 0, 0, 0);
        .mx__user-select(none);

        span {
            display: block;
            .mx__transform-origin(left top);
            .mx__transition(all, @CmUI-Transition-Duration, @CmUI-MotionAsymmetric);
        }

        &.pull-top {
            span {
                .mx__transform(scale(@CmForm-FieldPlaceholder-Scale) translateY(-6px));
            }
        }
    }

    &.is-placeholder-above {
        .com__input--textarea {
            &::before {
                display: block;
                position: absolute;
                content: '';
                border-radius: @CmBorder-Radius @CmBorder-Radius 0 0;
                background: @CmInput-DefaultBackground;
            }
        }
    }

    .pt__field__content--size-helper(@CmForm-FieldHeight, @CmInput-Padding, @CmBorder-Width, @CmFont-Base-LineHeight);
}


// /* *** MIXINS *** */

.pt__filed--size (@size, @indent: @CmForm-FieldIndent) {
    > dt,
    > .field__title {
        width: @size;
    }

    > dd,
    > .field__descr {
        margin-left: @size + @indent;
    }
}

.pt__field__content--size-helper (@height, @paddingX, @borderWidth, @lineHeight) {
    @inputPadding_calc: (@height - @lineHeight - @borderWidth * 2) / 2;
    @inputPadding: max(ceil((@inputPadding_calc)), @paddingX);

    .placeholder {
        line-height: @height;
        padding: 0 (@inputPadding + @borderWidth);
    }

    &.is-placeholder-above {
        .input {
            padding-top: ceil((@inputPadding * 0.75 * 2));
            padding-bottom: ceil((@inputPadding * 0.25 * 2));
        }

        .com__input--textarea {
            &::before {
                height: ((@inputPadding + @borderWidth) * 2);
                .mx__position(@CmBorder-Width, @CmBorder-Width, auto, @CmBorder-Width);
            }
        }
    }
}

/* ******* PART: FIELD: ADAPTIVE ******* */

@media only screen and (max-width: @CmScreen-Mobile) {

    html.is-adaptive {
        .pt__field {
            &.is-check-line {
                display: block;
            }

            &.is-flex {
                display: flex;

                > dd,
                > .field__descr {
                    margin-left: @CmForm-FieldIndent;
                }
            }

            &.is-adaptive {
                display: block;

                > dt,
                > .field__title {
                    width: auto;
                    float: none;
                }

                > dd,
                > .field__descr {
                    margin: 0 0 @CmForm-FieldInnerIndent;
                    float: none;

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            &.is-hidden {
                display: none;
            }
        }
    }

}
