/* ******* PARTS: FILE LINE ******* */

.pt__file-line {
    > .inner {
        .clearfix;
    }

    .button-alike {
        float: left;
        margin-right: @CmForm-ButtonsIndent;

        &:last-child {
            margin-right: 0;
        }
    }

    .label {
        .cm__text-nowrap;
        opacity: 1;
        line-height: @CmForm-FieldHeight;
        .mx__transition(all, @CmUI-Transition-DurationShort);

        &.is-hidden {
            opacity: 0;
        }
    }

    .label-placeholder {
        &.is-hidden {
            display: none;
        }
    }

    &.is-hidden {
        display: none;
    }
}