.pt__file-line {
    > .inner {
        display: flex;
        align-items: center;
        gap: @CmForm-ButtonsIndent;
    }

    .button-alike {
        flex: none;
    }

    .label {
        .cm__text-nowrap;
        flex: auto;

        &.is-hidden {
            display: none;
        }
    }

    &.is-hidden {
        display: none;
    }

    @media (max-width: @CmUI-AdaptiveFrom) {
        &.is-adaptive {
            > .inner {
                flex-direction: column;
                align-items: stretch;
            }

            .label {
                .cm__text-wrap;
            }
        }
    }
}