/* ******* PARTS: GRIDLIST ******* */

.pt__gridlist {
    .cm__box;
    .pt__gridlist__backgrounds;
    overflow: hidden;
    position: relative;

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
    }

    td, th {
        min-height: @PtGridlist-Cell-LineHeight;
        vertical-align: top;
        text-align: left;
        padding: @PtGridlist-Cell-Padding;
        line-height: @PtGridlist-Cell-LineHeight;
        .mx__background-clip(padding-box);

        > .inner {
            .cm__text-overflow;
            display: block;
            position: relative;
            word-wrap: normal;
            text-decoration: none;
        }

        &.pull-left {
            text-align: left;
        }

        &.pull-center {
            text-align: center;
        }

        &.pull-right {
            text-align: right;
        }

        &.cell-title,
        &.cell--title {
            width: 20%;
        }

        &.cell-description,
        &.cell--description {
            width: auto;
        }

        &.cell-date,
        &.cell--date {
            width: 100px;
        }

        &.cell-date-full,
        &.cell--date-full{
            width: 10%;
        }

        &.cell-price,
        &.cell--price {
            width: 100px;
        }

        &.cell-auto,
        &.cell--auto {
            width: auto;
        }

        &.cell-status,
        &.cell--status{
            width: 100px;
        }

        &.cell-links,
        &.cell--links{
            width: 200px;
        }

        &.cell-actions,
        &.cell--actions {
            width: 100px;
        }
    }

    th {
        font-weight: @CmFont-Base-BoldWeight;
        font-size: @PtGridlist-Title-FontSize;
        .mx__user-select(none);

        &.sort {
            .mx__transition(background-color, @CmUI-Transition-Duration);

            .inner {
                display: block;
                margin: -@PtGridlist-Cell-Padding;
                padding: @PtGridlist-Cell-Padding 20px @PtGridlist-Cell-Padding @PtGridlist-Cell-Padding;
                cursor: pointer;
            }

            .arrow {
                display: block;
                position: absolute;
                top: 50%;
                right: @PtGridlist-Cell-Padding;
                margin: -3px 0 0 0;
            }
        }
    }

    td {
        vertical-align: top;
        border-top: @PtGridlist-Cell-SpaceBorder;
        word-wrap: break-word;
        font-size: @PtGridlist-Cell-FontSize;
    }

    tbody, thead {
        &:first-child {
            tr {
                &:first-child {
                    td, th {
                        border: none;
                    }
                }
            }
        }
    }

    thead, tfoot {
        &.is-hidden {
            visibility: hidden;

            th {
                padding-top: 0;
                padding-bottom: 0;

                .inner {
                    display: none;
                }
            }
        }
    }

    &.has-background {
        .pt__gridlist__has-background;
    }

    &.is-editable {
        > .com__columns__chassis {
            display: block;
        }

        &:hover {
            > .com__columns__chassis {
                opacity: 1;
            }
        }

        &.is-active {
            > .com__columns__chassis {
                opacity: 1;
            }
        }

        &.is-chassis-visible {
            > .com__columns__chassis {
                opacity: 1;
            }
        }
    }

    &.valign-middle {
        td {
            vertical-align: middle;
        }
    }
}

.pt__gridlist--header {
    margin: 0;
}

.pt__gridlist__counter {
    .cm__box;
}

.pt__gridlist__indent {
    width: @CmSize-XSmall;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

/* *** STUFF *** */

.pt__gridlist {
    .control {
        vertical-align: middle;

        .icon {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        input[type="checkbox"],
        input[type="radio"] {
            vertical-align: baseline;
            margin: 0;
        }
    }

    .cm__form__icons-inside {
        .text {
            font-size: @PtGridlist-Cell-FontSize;
        }
    }
}

// /* ******* PARTS: GRIDLIST: MIXINS ******* */

.pt__gridlist__backgrounds () {
    thead, tfoot {
        th {
            background-color: @PtGridlist-Title-DefaultBackground;

            &.sort {
                &:hover {
                    background-color: @PtGridlist-Title-HoverBackground;
                    .mx__transition(background-color, @CmUI-Transition-DurationReverse);
                }

                &:active {
                    background-color: @PtGridlist-Title-ActiveBackground;
                }
            }
        }
    }

    tbody {
        tr {
            th, td {
                background-color: @PtGridlist-Cell-DefaultBackground;
            }

            &:hover {
                th, td {
                    background-color: @PtGridlist-Cell-HoverBackground;
                }
            }

            &:active {
                th, td {
                    background-color: @PtGridlist-Cell-ActiveBackground;
                }
            }

            &.success,
            &.valid {
                th, td {
                    background-color: @PtGridlist-Cell-SuccessBackground;
                }

                &:hover {
                    th, td {
                        background-color: @PtGridlist-Cell-SuccessHoverBackground;
                    }
                }
            }

            &.danger,
            &.invalid {
                th, td {
                    background-color: @PtGridlist-Cell-DangerBackground;
                }

                &:hover {
                    th, td {
                        background-color: @PtGridlist-Cell-DangerHoverBackground;
                    }
                }
            }

            &.warning {
                th, td {
                    background-color: @PtGridlist-Cell-WarningBackground;
                }

                &:hover {
                    th, td {
                        background-color: @PtGridlist-Cell-WarningHoverBackground;
                    }
                }
            }

            &.active {
                th, td {
                    background-color: @PtGridlist-Cell-ActiveBackground;
                }

                &:hover {
                    th, td {
                        background-color: @PtGridlist-Cell-ActiveHoverBackground;
                    }
                }
            }
        }
    }
}

.pt__gridlist__has-background () {
    .pt__gridlist__backgrounds;

    thead, tfoot {
        th {
            background-color: @PtGridlist-Title-HasBackground-Default;

            &.sort {
                &:hover {
                    background-color: @PtGridlist-Title-HasBackground-Hover;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                background-color: @PtGridlist-Cell-HasBackground-Default;
            }

            &:hover {
                th, td {
                    background-color: @PtGridlist-Cell-HasBackground-Hover;
                }
            }

            &:active {
                th, td {
                    background-color: @PtGridlist-Cell-HasBackground-Active;
                }
            }
        }
    }
}

/* ******* PARTS: GRIDLIST: ADAPTIVE ******* */

@media only screen and (max-width : @PtGridlist-AdaptiveFrom) {

    html.is-adaptive {
        .pt__gridlist {
            .cm__scroll--auto;

            table {
                width: auto;
                min-width: 100%;
                max-width: none;
            }
        }

        .pt__gridlist.is-adaptive {
            table, thead, tbody, tfoot, tr, td {
                display: block;

                &.is-hidden {
                    display: none;
                }
            }

            thead {
                margin-bottom: @CmIndent-XXSmall;
            }

            tr {
                td, th {
                    width: auto !important;
                    display: block;
                }

                th {
                    text-align: left !important;
                }

                &:not(:last-child) {
                    margin-bottom: @CmIndent-XXSmall;
                }
            }

            > .com__columns__chassis {
                display: none;
            }
        }
    }

}
