/* ******* PART: IMAGE BOX ******* */

.pt__image {
    @title-bottom: (@PtImage-TitlePaddingTop * 2) + @CmFont-Base-LineHeight;

    .cm__box;
    display: block;
    position: relative;
    cursor: default;
    background: transparent 50% 50% no-repeat;
    background-size: contain;
    .mx__user-select(none);

    > .inner {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        font-size: 0;
        .mx__transition(opacity, @CmUI-Transition-Duration);

        > .descr {
            .icon.initial;
            .cm__image-resizable;
            position: relative;
            z-index: 1;
            .mx__transition(opacity, @CmUI-Transition-Duration);
        }

        > .text {
            padding: @CmIndent-Medium;
            position: absolute;
            z-index: 2;
            overflow: hidden;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            .mx__user-select(text);
            .mx__position(0,0,0,0);

            > .inner {
                height: 100%;
                position: relative;
                overflow: hidden;
            }

            .cm__tags {
                color: @PtImage-Color;
            }
        }

        > iframe.descr {
            width: 100%;
            height: 100%;
        }

        > .icon {
            z-index: 2;
        }

        > .title {
            overflow: hidden;
            position: absolute;
            z-index: 3;
            background: rgba(0,0,0,0.7);
            opacity: 0;
            .mx__transition(bottom opacity, @CmUI-Transition-Duration);
            .mx__position(auto, 0, -@title-bottom, 0);

            .inner {
                .cm__font;
                .cm__text-overflow;
                padding: @PtImage-TitlePaddingTop 8px;
                font-weight: @CmFont-Base-BoldWeight;
                color: #fff;

                & * {
                    color: #fff;
                }
            }
        }
    }

    > label {
        position: absolute;
        z-index: 2;
        cursor: pointer;
        .mx__position(0,0,0,0);
    }

    > .pull {
        position: absolute;
        padding: @CmIndent-XXSmall;
        border-radius: @CmBorder-Radius;
        background-color: @CmUI-Overlay-Light;
        z-index: 3;

        &.top-right {
            .mx__position(@CmIndent-XXXSmall, @CmIndent-XXXSmall, auto, auto);
        }

        &.top-left {
            .mx__position(@CmIndent-XXXSmall, auto, auto, @CmIndent-XXXSmall);
        }

        &.bottom-right {
            .mx__position(auto, @CmIndent-XXXSmall, @CmIndent-XXXSmall, auto);
        }

        &.bottom-left {
            .mx__position(auto, auto, @CmIndent-XXXSmall, @CmIndent-XXXSmall);
        }

        input[type="checkbox"],
        input[type="radio"] {
            display: block;
        }

        .icon {
            float: left;
            margin: 0 0 0 @CmIndent-XXSmall;

            &:first-child {
                margin: 0;
            }
        }
    }

    &:hover,
    &.is-title-fixed {
        .pt__image-title-hover;
    }

    &.is-no-hover {
        cursor: default;

        > a.inner {
            cursor: default;
        }
    }

    &.is-hover,
    &.is-zoom {
        cursor: pointer;

        > a.inner {
            cursor: pointer;
        }

        &:hover {
            > .inner {
                > .descr {
                    opacity: @CmUI-Opacity-Hover;
                    .mx__transition(opacity, @CmUI-Transition-DurationReverse);
                }
            }
        }
    }

    &.is-zoom {
        cursor: zoom-in;

        > a.inner {
            cursor: zoom-in;
        }
    }

    &.is-no-image {
        background: url('@{CmPath-Images}/parts/no-image-150.png') 50% 50% no-repeat;
        background-size: cover;

        > .inner {
            opacity: 0;
        }
    }

    &.is-checkable {
        cursor: pointer;

        > .inner {
            > .descr {
                opacity: @CmUI-Opacity-Hover;
                .mx__transition(opacity, @CmUI-Transition-Duration);
            }
        }

        &:hover,
        &.active {
            .pt__image--active;
        }
    }

    &.is-centered {
        background-color: @PtImage-Background;

        &:not(.has-aspect) {
            padding-bottom: 100%;
        }

        > .inner {
            position: absolute;
            text-align: center;
            .mx__position(0, 0, 0, 0);

            > .descr {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                position: absolute;
                .mx__position(0, 0, 0, 0);
            }

            > iframe.descr {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.is-adaptive {
        > .inner {
            > .descr {
                .cm__image-adaptive;
            }
        }
    }

    &.is-flexible {
        > .inner {
            > .descr {
                .cm__image-flexible;
            }
        }
    }

    &.is-origin {
        > .inner {
            > .descr {
                width: auto;
                height: auto;
            }
        }
    }

    &.is-contain {
        > .inner {
            > .descr {
                background-size: contain;
            }
        }
    }

    &.is-cover {
        > .inner {
            > .descr {
                background-size: cover;
            }
        }
    }

    &.is-default-image {
        > .inner {
            > .descr {
                .icon.initial;
                .svg__no-image;
                background-color: @CmColor-Secondary-DarkDefault;
                background-size: cover;
            }
        }
    }

    &.has-border {
        > .inner {
            border: @CmBorder-Box;
        }
    }

    &.has-aspect {
        > .inner {
            position: absolute;
            .mx__position(0, 0, 0, 0);
        }
    }

    &.pull-left {
        > .inner {
            > .descr {
                .mx__align(left);
            }
        }
    }

    &.pull-center {
        > .inner {
            > .descr {
                .mx__align(center);
            }
        }
    }

    &.pull-right {
        > .inner {
            > .descr {
                .mx__align(right);
            }
        }
    }
}

.pt__image--active {
    > .inner {
        > .descr {
            opacity: 1;
        }
    }
}

.pt__image-title-hover {
    > .inner {
        > .title {
            bottom: 0;
            opacity: 1;
            .mx__transition(top opacity, @CmUI-Transition-DurationReverse);
        }
    }
}