/* ******* PARTS: INPUT ******* */

.pt__input {
    position: relative;

    .icon {
        .icon.initial;
        min-height: 0;
        padding: 0;
        position: absolute;
        border-radius: max(@CmBorder-Radius - 2px, 0px);
        color: @CmColor-Border;
    }

    &.no-label {
        .input {
            font-size: 0;
        }
    }

    &.disabled {
        .input {
            cursor: default;
        }

        .icon {
            cursor: default;
            opacity: @CmUI-Opacity-Hover;
        }
    }

    .pt__input--size(@CmForm-FieldHeight, @CmInput-Padding, @CmBorder-Width, @CmFont-Base-LineHeight);

    &.size-large {
        .pt__input--size(@CmSize-Large, @CmInput-Padding, @CmBorder-Width, @CmFont-Base-LineHeight);
    }

    &.size-xlarge {
        .pt__input--size(@CmSize-XLarge, @CmInput-Padding, @CmBorder-Width, @CmFont-Base-LineHeight);
    }

    &.size-xxlarge {
        .pt__input--size(@CmSize-XXLarge, @CmInput-Padding, @CmBorder-Width, @CmFont-Base-LineHeight);
    }
}

.pt__input--size (@height: @CmForm-FieldHeight, @paddingX: @CmInput-Padding, @borderWidth: @CmBorder-Width, @lineHeight: @CmFont-Base-LineHeight){
    .pt__input--size-helper(@height, @paddingX, @borderWidth, @lineHeight);

    &.is-borderless {
        .pt__input--size-helper(@height, @paddingX, 0px, @lineHeight);
    }
}

.pt__input--size-helper (@height, @paddingX, @borderWidth, @lineHeight) {
    @iconSize: @height - @borderWidth * 2;
    @iconSizeDouble: @iconSize * 2;
    @iconPadding: @iconSize + @paddingX;

    height: @height;

    .input {
        .input--size(@height, @paddingX, @borderWidth, @lineHeight);

        &:not(:first-child) {
            padding-left: @iconPadding;
        }

        &:not(:last-child) {
            padding-right: @iconPadding;
        }
    }

    .icon {
        height: @iconSize;
        width: @iconSize;

        &.pull-left,
        &:first-child {
            .mx__position(@borderWidth, auto, auto, @borderWidth);
        }

        &.pull-right,
        &:last-child {
            .mx__position(@borderWidth, @borderWidth, auto, auto);
        }
    }

    &.is-less-indent {
        .input {
            &:not(:first-child) {
                padding-left: @iconSize;
            }

            &:not(:last-child) {
                padding-right: @iconSize;
            }
        }
    }

    &.is-icon-outside {
        .input {
            &:not(:first-child) {
                padding-left: @paddingX;
            }

            &:not(:last-child) {
                padding-right: @paddingX;
            }

            &:not(:first-child) {
                width: calc(~"100% - @{iconSize}");;
                margin-left: @iconSize;
            }

            &:not(:last-child) {
                width: calc(~"100% - @{iconSize}");;
                margin-right: @iconSize;
            }

            &:not(:first-child):not(:last-child) {
                width: calc(~"100% - @{iconSizeDouble}");;
            }
        }
    }

    &.is-no-label {
        .input {
            padding-left: 0;
            padding-right: 0;

            &:not(:first-child) {
                padding-left: 0;
            }

            &:not(:last-child) {
                padding-right: 0;
            }
        }
    }
}