/* ******* PARTS: MENU ******* */

/* *** DROPDOWN *** */

.pt__menu-dropdown {
}

.pt__menu-dropdown--base {
    .pt__box;
    display: block;
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: @PtMenu-IndentY @PtMenu-IndentX;
    border-width: @PtMenu-BorderWidth;
    border-color: @PtMenu-BorderColor;
    list-style: none;
    opacity: 0;
    touch-action: none;
    .mx__position(100%, auto, auto, 0);
    .mx__transition(all, @CmUI-Transition-Duration);

    li {
        position: relative;
        margin-top: @PtMenu-SeparatorSize;

        a {
            .cm__font;
            .cm__font--link;
            display: block;
            padding: @PtMenu-ItemIndentY @PtMenu-ItemIndentX;
            text-decoration: none;
            white-space: nowrap;
            color: @CmFont-Base-Color;

            &:hover {
                text-decoration: none;
            }
        }

        ul {
            @indentX: ~'calc(100% - @{PtMenu-Dropdown-IndentX})';
            .mx__position(@PtMenu-Dropdown-IndentY - (@PtMenu-BorderWidth + @PtMenu-IndentY), auto, auto, @indentX);

            &.pull-left {
                .mx__position(@PtMenu-Dropdown-IndentY - (@PtMenu-BorderWidth + @PtMenu-IndentY), auto, auto, @indentX);
            }

            &.pull-right {
                .mx__position(@PtMenu-Dropdown-IndentY - (@PtMenu-BorderWidth + @PtMenu-IndentY), @indentX, auto, auto);
            }
        }

        &:before {
            display: block;
            height: 0;
            margin: 0 @PtMenu-SeparatorIndentX;
            position: absolute;
            overflow: hidden;
            border-top: @CmBorder-Default;
            border-width: @PtMenu-SeparatorSize;
            border-color: @PtMenu-SeparatorColor;
            content: '';
            .mx__position(-@PtMenu-SeparatorSize, 0, auto, 0)
        }

        &:first-child {
            margin-top: 0;

            &:before {
                display: none;
            }
        }

        &:hover {
            z-index: 2;

            > ul {
                .pt__menu-dropdown--active;
            }
        }
    }

    &.pull-left {
        .mx__position(100%, auto, auto, 0);
    }

    &.pull-right {
        .mx__position(100%, 0, auto, auto);
    }
}

.pt__menu-dropdown--clear {
    .pt__box--clear;
}

.pt__menu-dropdown--active {
    visibility: visible;
    opacity: 1;
    .mx__transition(visibility opacity, @CmUI-Transition-DurationReverse);
}

/* *** MENU *** */

.pt__menu {
    touch-action: none;

    &:hover,
    &:active,
    &.active,
    &.is-show {
        > .pt__menu-dropdown {
            .pt__menu-dropdown--active;
        }
    }
}