/* ******* PARTS: MENU ******* */

/* *** DROPDOWN *** */

.pt__menu-dropdown {
}

.pt__menu-dropdown--base {
    .pt__box;
    display: block;
    margin: 0;
    padding: @PtMenu-IndentY @PtMenu-IndentX;
    border-width: @PtMenu-BorderWidth;
    border-color: @PtMenu-BorderColor;
    list-style: none;
    touch-action: none;

    > li {
        position: relative;
        margin-top: @PtMenu-SeparatorSize;
        color: @PtMenu-Item-Color;

        > a {
            .cm__font;
            .cm__font--link;
            display: block;
            padding: @PtMenu-ItemIndentY @PtMenu-ItemIndentX;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;
            color: inherit;
            .mx__transition(all, @CmUI-Transition-Duration);

            &:hover,
            &:focus-visible {
                text-decoration: none;
                color: @PtMenu-Item-HoverColor;
                .mx__transition(all, @CmUI-Transition-DurationReverse);
            }

            &:active {
                color: @PtMenu-Item-ActiveColor;
            }
        }

        &:first-child {
            margin-top: 0;

            &:before {
                display: none;
            }
        }

        &:before {
            display: block;
            height: 0;
            margin: 0 @PtMenu-SeparatorIndentX;
            position: absolute;
            overflow: hidden;
            border-top: @CmBorder-Default;
            border-width: @PtMenu-SeparatorSize;
            border-color: @PtMenu-SeparatorColor;
            content: '';
            .mx__position(-@PtMenu-SeparatorSize, 0, auto, 0)
        }

        &:hover {
            z-index: 2;

            > ul {
                .pt__menu-dropdown--show;
            }
        }

        &.has-icon {
            .pt__menu__item--icon;
        }

        &.success {
            color: @CmColor-Success-DarkDefault;

            > a {
                &:hover,
                &:focus-visible {
                    color: @CmColor-Success-DarkHover;
                }

                &:active {
                    color: @CmColor-Success-DarkActive;
                }
            }
        }

        &.warning {
            color: @CmColor-Warning-DarkDefault;

            > a {
                &:hover,
                &:focus-visible {
                    color: @CmColor-Warning-DarkHover;
                }

                &:active {
                    color: @CmColor-Warning-DarkActive;
                }
            }
        }

        &.danger {
            color: @CmColor-Danger-DarkDefault;

            > a {
                &:hover,
                &:focus-visible {
                    color: @CmColor-Danger-DarkHover;
                }

                &:active {
                    color: @CmColor-Danger-DarkActive;
                }
            }
        }
    }
}

.pt__menu-dropdown--position {
    .pt__menu-dropdown--hide;
    position: absolute;
    .mx__position(100%, auto, auto, 0);

    > li {
        > ul {
            @indentX: ~'calc(100% - @{PtMenu-Dropdown-IndentX})';
            .mx__position(@PtMenu-Dropdown-IndentY - (@PtMenu-BorderWidth + @PtMenu-IndentY), auto, auto, @indentX);

            &.pull-left {
                .mx__position(@PtMenu-Dropdown-IndentY - (@PtMenu-BorderWidth + @PtMenu-IndentY), auto, auto, @indentX);
            }

            &.pull-right {
                .mx__position(@PtMenu-Dropdown-IndentY - (@PtMenu-BorderWidth + @PtMenu-IndentY), @indentX, auto, auto);
            }
        }
    }

    &.pull-left {
        .mx__position(100%, auto, auto, 0);
    }

    &.pull-center {
        .mx__position(100%, auto, auto, 50%);
        .mx__transform(translateX(-50%));
    }

    &.pull-right {
        .mx__position(100%, 0, auto, auto);
    }

    &.pull-justify {
        .mx__position(100%, 0, auto, 0);
    }
}

.pt__menu-dropdown--clear {
    .pt__box--clear;
}

.pt__menu-dropdown--hide {
    visibility: hidden;
    opacity: 0;
    .mx__transition(all, @CmUI-Transition-Duration);
}

.pt__menu-dropdown--show,
.pt__menu-dropdown--active {
    visibility: visible;
    opacity: 1;
    .mx__transition(all, @CmUI-Transition-DurationReverse);
}

.pt__menu-dropdown--embed {
}

/* *** MENU *** */

.pt__menu {
    touch-action: none;

    &:is(:hover, :active, :focus-within) {
        > .pt__menu-dropdown {
            .pt__menu-dropdown--show;
        }
    }

    &.is-hide {
        > .pt__menu-dropdown {
            .pt__menu-dropdown--hide;
        }
    }

    &.is-show {
        > .pt__menu-dropdown {
            .pt__menu-dropdown--show;
        }
    }
}

.pt__menu__item--icon {
    > a {
        .display-flex;
        gap: @PtMenu-ItemGap;
        white-space: nowrap;
        .mx__transition(all, @CmUI-Transition-Duration);
        .mx__align-items(center);
        .mx__flex-flow(row nowrap);

        .image {
            .cm__size__medium;
            position: relative;

            img {
                .cm__image-centered;
            }
        }
    }
}
