/* ******* PARTS: RANGE ******* */

.pt__range {
    touch-action: none;

    > .inner {
        position: relative;
    }

    .drag {
        position: absolute;
        z-index: 2;

        .counter {
            position: absolute;
            opacity: 0;
            .mx__transition(opacity, @CmUI-Transition-Duration);

            &.is-show {
                opacity: 1;
            }
        }
    }

    .range,
    .range-helper {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        border-radius: @CmBorder-Radius;
    }

    .range__content {
        background-color: @CmColor-Secondary-LightHighlight;
    }

    &.is-vertical {
        > .inner {
            height: @PtRange-Height;
        }
    }

    &.is-vertical {
        &.is-draggable {
            > .inner {
                cursor: row-resize;
            }
        }

        .drag {
            cursor: row-resize;
        }
    }

    &.is-horizontal {
        &.is-draggable {
            > .inner {
                cursor: col-resize;
            }
        }

        .drag {
            cursor: col-resize;
        }
    }

    &.is-editing,
    &:hover {
        .drag {
            .counter {
                opacity: 1;
            }
        }
    }

    .pt__range__size(@CmForm-FieldHeight);
}

.pt__range__size (@value: @PtRange-Size) {
    &.is-vertical {
        > .inner {
            width: @value;
        }
    }

    &.is-horizontal {
        > .inner {
            height: @value;
        }
    }
}

/* ******* PARTS: RANGE: THEMES ******* */

.pt__range {
    &.theme--default {
        .drag {
            .cm__size__small;
            border-radius: 100%;
            background: @CmColor-Primary-DarkDefault;

            .counter {
                .cm__font--hint;
                padding: 0 @CmIndent-XXXSmall;
                background: @CmUI-Overlay-Dark;
                border-radius: @CmBorder-Radius;
                color: @CmColor-Font-Opposite;
                .mx__position(auto, auto, 100%, 50%);
                .mx__transform(translate(-50%, -@CmIndent-XXSmall));

                &:before {
                    width: 0;
                    height: 0;
                    display: block;
                    margin: auto;
                    position: absolute;
                    border-style: solid;
                    border-width: 6px 4px 0 4px;
                    border-color: @CmUI-Overlay-Dark transparent transparent;
                    content: '';
                    .mx__position(100%, 0, auto, 0);
                }
            }
        }

        &.is-vertical {
            .drag {
                margin: -(@CmSize-Small / 2) auto 0 auto;
                left: 0;
                right: 0;
            }
        }

        &.is-horizontal {
            .drag {
                margin: auto 0 auto -(@CmSize-Small / 2);
                top: 0;
                bottom: 0;
            }
        }
    }

    &.theme--arrows {
        .drag {
            &:before,
            &:after {
                width: 0;
                height: 0;
                display: block;
                position: absolute;
                content: '';
                border-style: solid;
            }

            .counter {
                .cm__font--hint;
                color: @CmColor-Font-Opposite;
                text-shadow:  0 0 1px #000000, 0 0 2px #000000;
                .mx__position(50%, auto, auto, 50%);
                .mx__transform(translate(-50%, -50%));
            }
        }

        &.is-vertical {
            .drag {
                height: 8px;
                margin: -4px 0 0;
                .mx__position(0, 0, auto, 0);

                &:before {
                    border-width: 4px 0 4px 6px;
                    border-color: transparent transparent transparent @PtRange-Drag-Color;
                    .mx__position(0, auto, auto, -7px);
                }

                &:after {
                    border-width: 4px 6px 4px 0;
                    border-color: transparent @PtRange-Drag-Color transparent transparent;
                    .mx__position(0, -7px, auto, auto);
                }
            }
        }

        &.is-horizontal {
            .drag {
                width: 8px;
                margin: 0 0 0 -4px;
                .mx__position(0, auto, 0, 0);

                &:before {
                    border-width: 6px 4px 0 4px;
                    border-color: @PtRange-Drag-Color transparent transparent transparent;
                    .mx__position(-7px, auto, auto, 0);
                }

                &:after {
                    border-width: 0 4px 6px 4px;
                    border-color: transparent transparent @PtRange-Drag-Color transparent;
                    .mx__position(auto, auto, -7px, 0);
                }
            }
        }
    }
}