#cm () {

    // /* ******* STATIC CLASSES ******* */

    /* *** FONT *** */

    .font-base {
        font: @cm-fontWeight ~'@{cm-fontSize}/@{cm-lineHeight}' @cm-fontFamily;
        color: @cm-colorFont;
    }

    .font-ui {
        font: @cm-fontWeight ~'@{cm-fontSizeUI}/@{cm-lineHeight}' @cm-fontFamily;
        color: @cm-colorFont;
    }

    .font-ui-cursive {
        #cm > .font-ui;
        font-style: italic;
    }

    .font-title {
        font: 300 ~'@{cm-fontSizeTitle}/@{cm-lineHeightTitle}' 'Open Sans', @cm-fontFamily;
        color: @cm-colorFontTitle;
    }

    .font-title-medium {
        font: 300 ~'@{cm-fontSizeTitleMedium}/@{cm-lineHeightTitleMedium}' 'Open Sans', @cm-fontFamily;
        color: @cm-colorFontTitle;
    }

    .font-link {
        text-decoration: underline;
        color: @cm-colorLink;
        outline: none;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            color: @cm-colorLinkHover;
        }
    }

    /* *** ELEMENTS *** */

    .hr {
        height: 0;
        overflow: hidden;
        border: none;
        border-top: @cm-borderSeparator;
        margin: @cm-indentMedium 0;
        padding: 0;
        display: block;
        clear: both;
    }

    .box {
        padding: @cm-indentXXXSmall;
        background: #fff;
        background-clip: padding-box;
        border: @cm-borderStyle;
        border-radius: @cm-borderRadius;
        box-shadow: @cm-ui-shadowLight;
    }

    .box-flat {
        padding: @cm-indentXSmall;
        background: @cm-colorContentBackgroundLight;
        border-radius: @cm-borderRadius;
    }

    .box-border {
        padding: @cm-indentXSmall;
        border: @cm-borderBox;
        .cm-transition(border-color @cm-transitionDuration ease-in-out);

        &.active {
            border: @cm-borderBoxActive;
        }
    }

    // /* ******* FORM ELEMENTS ******* */

    // /* *** INPUT *** */

    .input {
        @padding: (@CmForm-fieldHeight - @cm-lineHeight) / 2;

        width: 100%;
        height: @CmForm-fieldHeight;
        padding: @padding 6px;
        margin: 0;
        vertical-align: top;
        .cm-box-sizing();
        background: #fff;
        border: 1px solid @cm-colorBorder;
        border-radius: @cm-borderRadius;
        cursor: text;
        .cm-transition(background-color @cm-transitionDuration ease-in-out);
        .cm-transition(border-color @cm-transitionDuration ease-in-out);
        .cm-transition(color @cm-transitionDuration ease-in-out);
        .cm-transition(box-shadow @cm-transitionDuration ease-in-out);

        &:focus {
            #cm > .input-focus;
        }

        &[disabled] {
            #cm > .input-disabled;
        }
    }

    .input-focus {
        background-color: #fdffff;
        border-color: @cm-colorBorderHover;
    }

    .input-disabled {
        background-color: @cm-colorLight-background;
        border-color: @cm-colorLight-border;
    }

    // /* *** TEXTAREA *** */

    .textarea {
        height: 100px;
        min-height: @CmForm-fieldHeight;
        padding: 6px;
        resize: vertical;
    }

    // /* *** BUTTONS *** */

    .button {
        height: @CmForm-fieldHeight;
        margin: 0;
        padding: 0 @cm-indentXSmall;
        position: relative;
        display: inline-block;
        vertical-align: top;
        -webkit-appearance: none;
        .cm-box-sizing();
        -webkit-background-clip: border-box;
           -moz-background-clip: border-box;
                background-clip: border-box;
        border: none;
        border-radius: @cm-borderRadius;
        text-align: center;
        text-decoration: none;
        line-height: @CmForm-fieldHeight;
        font-size: @cm-fontSize;
        cursor: pointer;
        #cm > .button-primary;
        .cm-transition(background-color @cm-transitionDuration ease-in-out);
        .cm-transition(color @cm-transitionDuration ease-in-out);
        .cm-transition(box-shadow @cm-transitionDuration ease-in-out);

        &.wide {
            width: 100%;
            padding: 0;
            margin: 0;
        }

        &:hover {
            #cm > .button-hover;
        }

        &.secondary {
            #cm > .button-secondary;
        }

        &.error {
            #cm > .button-error;
        }

        &.transparent {
            #cm > .button-transparent;
        }
    }

    .button-hover {
        text-decoration: none;
        .cm-transition(background-color @cm-transitionDurationReverse ease-in-out);
        .cm-transition(color @cm-transitionDurationReverse ease-in-out);
        .cm-transition(box-shadow @cm-transitionDurationReverse ease-in-out);
    }

    .button-primary {
        background: @cm-color;
        color: #fff;

        &:hover {
            #cm > .button-primary-hover;
        }

        &:active,
        &.active {
            #cm > .button-primary-active;
        }
    }

    .button-primary-hover {
        background-color: darken(@cm-color, 10%);
        color: #fff;
    }

    .button-primary-active {
        box-shadow: 0 3px 3px rgba(0,0,0,0.4) inset;
    }

    .button-secondary {
         background: @cm-colorSecondary;
         color: @cm-color;

         &:hover {
             #cm > .button-secondary-hover;
         }

         &:active,
         &.active {
             #cm > .button-secondary-active;
         }
     }

    .button-secondary-hover {
        background: @cm-colorSecondaryHover;
        color: @cm-color;
    }

    .button-secondary-active {
        box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
    }

    .button-error {
        background: @cm-colorError;
        color: #ffffff;

        &:hover {
            #cm > .button-error-hover;
        }

        &:active,
        &.active {
            #cm > .button-error-active;
        }
    }

    .button-error-hover {
        background: darken(@cm-colorError, 10%);
        color: #ffffff;
    }

    .button-error-active {
        box-shadow: 0 3px 3px rgba(0,0,0,0.4) inset;
    }

    .button-transparent {
        background: none;
        box-shadow: none;
        border: none;
        color: @cm-color;

        &:hover {
            #cm > .button-transparent-hover;
        }

        &:active,
        &.active {
            #cm > .button-transparent-active;
        }
    }

    .button-transparent-hover {
        background: @cm-colorSecondary;
        color: @cm-color;
    }

    .button-transparent-active {
        box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
    }

    // /* ******* PARTS ******* */

    // /* *** DROPDOWN MENU *** */

    .menu {
        #cm > .box;
        display: block;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: @CmMenu-indent 0;
        list-style: none;
        opacity: 0;
        .cm-transition(all @cm-transitionDurationReverse ease-in-out);

        li {
            position: relative;

            a {
                #cm > .font-link;
                display: block;
                padding: 2px @cm-indentXSmall;
                #cm > .font-base;
                line-height: 18px;
                text-decoration: none;
                white-space: nowrap;

                &:hover {
                    color: @cm-color;
                    text-decoration: none;
                }
            }

            ul {
                top: -(1px + @CmMenu-indent);
                left: 100%;
            }

            &.sep {
                display: none;
                height: 0;
                margin: 0 @cm-indentMedium / 2;
                overflow: hidden;
                border-top: @cm-borderStyle;
            }

            &:before {
                display: block;
                height: 0;
                margin: 0 @cm-indentMedium / 2;
                overflow: hidden;
                border-top: @cm-borderStyle;
                content: '';
            }

            &:first-child:before {
                display: none;
            }

            &:hover {
                > ul {
                    display: block;
                }
            }
        }
    }

    .menu-hover {
        visibility: visible;
        opacity: 1;
    }

    // /* *** GRID *** */

    .grid-indent (@indent: @CmGrid-itemIndent) {
        > ul {
            margin: @indent -@indent -@indent;

            &:first-child {
                margin: -@indent;
            }

            > li {
                padding: @indent;
            }
        }
    }
}