/* ************ COMMON STYLES ************ */

/* ******* FONTS ******* */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);

/* ******* TAGS ******* */

body {
    margin: 0;
    padding: 0;
    #cm > .base-font;
    cursor: default;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    #cm > .link;
}

img {
    border: none;
    -webkit-transform: translateZ(0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

dl, dt, dd, canvas, iframe, form {
    padding: 0;
    margin: 0;
    display: block;
    text-indent: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    margin: 0 0 @cm-lineHeight;
    padding: 0;
}

h3 {
    margin: 0 0 @cm-lineHeight/2;
}

p, ul, ol, dl {
    #cm > .base-font;
}

b {
    font-weight: @cm-boldWeight;
}

ul, ol {
    padding: 0 0 0 @cm-indentMedium;

    &.none {
        list-style: none;
        padding-left: 0;
    }

    &.decimal {
        list-style: decimal;
    }

    &.style-none {
        list-style: none;
    }
}

dl {
    dd {
        padding: 0 0 0 @cm-lineHeight;
    }
}

hr {
    #cm > .hr;
}

br {
    height: @cm-lineHeight;
    line-height: @cm-lineHeight;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody, thead, tr {
    width: 100%;
}

tbody, thead, td, th, tr {
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    display: block;
    border: none;
}

header, main, aside, footer, section {
    display: block;
}

/* *** FORM ELEMENTS *** */

input, select, textarea {
    margin: 0;
    #cm > .base-font;
    outline: none;
    .cm-placeholder(@cm-colorPlaceholder);
}

input[type="file"] {
    width: 100%;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    #cm > .input;
}

textarea {
    #cm > .textarea;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    #cm > .button;

    .browse-button:hover & {
        #cm > .button-primary-hover;
    }

    .browse-button:active & {
        #cm > .button-primary-active;
    }
}

input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

select {
    @padding: (@CmForm-fieldHeight - @cm-lineHeight) / 2;
    width: 100%;
    height: @CmForm-fieldHeight;
    padding: @padding @padding @padding 6px;
    vertical-align: top;
    cursor: pointer;
}

select[multiple] {
    height: 100px;
    padding: 0;
}

/* ******* STATIC CLASSES ******* */

.clear {
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        font-size: 0;
        height: 0;
    }
}

/* *** INLINE STYLES *** */

.display-none {
    display: none !important;
}

.inline {
    display: inline-block;
}

.margin-none {
    margin: 0 !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

.valign-top {
    vertical-align: top !important;
}

.valign-middle {
    vertical-align: middle !important;
}

.valign-bottom {
    vertical-align: bottom !important;
}

/* *** *** */

.link {
    #cm > .link;
}

.inner-link {
    text-decoration: none;
    border-bottom: 1px dashed;

    &:hover {
        text-decoration: none;
        border-bottom-color: transparent;
    }
}

.inherit-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.inherit-link:hover {
    text-decoration: underline;
}

.mark-new {
    display: inline-block;
    margin: 0 0 0 6px;
    position: relative;
    top: -5px;
    color: #f8504b;
    font-size: 8px;
    text-transform: uppercase;
}

/* *** BUNDLE *** */

.cm-box {
    #cm > .box;
}

.cm-box-border {
    #cm > .box-border;
}

.cm-counter {
    height: @CmCounter-size;
    padding: 0 5px;
    background-color: @cm-color;
    border-radius: @CmCounter-radius;
    text-align: center;
    line-height: @CmCounter-size;
    font-size: @CmCounter-fontSize;
    font-weight: @cm-fontWeight;
    color: @CmCounter-color;
    .cm-transition(all @cm-transitionDuration ease-in-out);
}

.cm-codebox {
    display: block;
    white-space: pre-wrap;
    margin: 4px 0;
    padding: 8px 12px;
    background: #ffffff;
    border: 1px dashed @cm-colorBorder;
    border-radius: @cm-borderRadius;
}

.cm-image-resizable {
    width: 100%;
    height: auto;
    display: block;
}

.cm-image-flexible {
    width: 100%;
    height: 100%;
    display: block;
}

.cm-image-adaptive {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

.cm-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cm-font-base {
    #cm > .base-font;
}

.cm-font-title {
    #cm > .title-font;
}

.cm-block-padding {
    padding: @cm-indentMedium;
}

.cm-scroll-y {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cm-scroll-a-y {
    .cm-scroll-y;
    overflow-y: auto;
}

.cm-list {
    margin: 0 0 @cm-indentMedium;
    list-style: disc;

    &.bottom {
        margin: 0;
    }

    &.has-indent {
        ul, li {
            margin: @cm-indentXXSmall 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    ul {
        list-style: circle;

        ul {
            list-style: disc;
        }
    }
}

.cm-transition-none {
    -webkit-transition: none;
            transition: none;
}

/* ******* FORM ******* */

.form {
    cursor: default;
}

.form.in-content {
    margin: 0 0 @cm-indentMedium;
}

.form .required {
    color: @cm-colorError;
    font-weight: @cm-boldWeight;
}

/* *** BASIC FIELD *** */

.form dl {
    margin: @CmForm-fieldIndent 0 0 0;
    padding: 0;
    display: block;
    clear: both;
}

.form > dl:first-child {
    margin-top: 0;
}

.form dl:extend(.clear all) {}

.form dt {
    width: @CmForm-fieldTitleWidth;
    display: block;
    margin: 0;
    padding: ((@CmForm-fieldHeight - @cm-lineHeight) / 2) 0;
    float: left;
    line-height: @cm-lineHeight;
}

.form dd {
    display: block;
    margin: 0 0 0 (150px + @CmForm-fieldIndent);
    padding: 0;
    position: relative;
}

.form dd:first-child {
    margin: 0;
}

/* *** FIELD BOX *** */

.form-box {
    > dt {
        width: auto;
        float: none;
    }

    > dd {
        margin: 0 0 @CmForm-fieldInnerIndent 0;

        &:last-child {
            margin: 0;
        }
    }
}

/* *** FIELD WITH ICON *** */

.form-field {
    position: relative;

    .icon {
        width: @CmForm-fieldHeight !important;
        height: @CmForm-fieldHeight !important;
        padding: 0;
        position: absolute;
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    &.has-icon-left {
        .icon {
            .cm-position(0, auto, auto, 0);
        }

        input {
            padding-left: @CmForm-fieldHeight;
        }
    }

    &.has-icon-right {
        .icon {
            .cm-position(0, 0, auto, auto);
        }

        input {
            padding-right: @CmForm-fieldHeight;
        }
    }
}

/* *** HINT ***  */

.form .hint {
    font-size: @cm-fontSizeHint;
    line-height: 15px;
    color: @cm-colorHint;
    text-transform: none;
    font-style: italic;
    padding: 2px 0;
}

.form ul.hint {
    margin: 0;
    padding: 6px 0 2px;
    display: block;
    list-style: none;

    li {
        margin-top: 4px;
        line-height: 13px;

        &:first-child {
            margin: 0;
        }

        &:before {
            content: '-';
            margin-right: 4px;
        }
    }
}

/* ** BROWSE *** */

.browse-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;

    > .inner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    input[type="file"] {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;

        .ie8 &,
        .ie7 &,
        .ie6 & {
            .cm-opacity-ie(0);
        }
    }

    &:hover {
        .button {
            #cm > .button-primary-hover;
        }
    }

    &:active {
        .button {
            #cm > .button-primary-active;
        }
    }
}


/* *** BUTTON CONTAINER *** */

.btn-wrap {
    height: @CmForm-fieldHeight;
    margin-top: @cm-indentMedium;
    line-height: @CmForm-fieldHeight;

    .hint {
        padding: 0 @CmForm-buttonsIndent 0 0;
        font-style: italic;
        overflow: hidden;
        text-align: right;
        line-height: @CmForm-fieldHeight;
        font-size: 12px;
    }

    &.error .hint {
        color: #cc0000;
    }

    &.ok .hint {
        color: #009900;
    }

    &.centered {
        text-align: center;
    }
}

/* Add To Bundle */

#cm () {
    .button {
        .btn-wrap & {
            float: right;
            margin: 0 0 0 @CmForm-buttonsIndent;

            &.left {
                float: left;
                margin: 0 @CmForm-buttonsIndent 0 0;
            }

            &.wide {
                width: 100%;
                float: none;
                margin: 0;
            }
        }

        .btn-wrap.left & {
            float: left;
            margin: 0 @CmForm-buttonsIndent 0 0;
        }

        .btn-wrap.centered & {
            float: none;
            display: inline-block;
            margin: 0 0 0 @CmForm-buttonsIndent;

            &:first-child {
                margin: 0;
            }
        }
    }
}

/* *** CHECKBOX / RADIO LINE *** */

.check-line {
    min-height: @CmForm-fieldHeight;
    line-height: @CmForm-fieldHeight;

    .checkbox {
        @margin: floor((@CmForm-fieldHeight - 13px) / 2);

        margin: @margin 0 @margin 0;
        vertical-align: top;
        padding: 0;
        cursor: pointer;

        &:checked + label + .unveil {
            display: block;
        }
    }

    label {
        @padding: (@CmForm-fieldHeight - @cm-lineHeight) / 2;
        padding: @padding 20px @padding @CmForm-fieldInnerIndent;
        cursor: pointer;
        vertical-align: baseline;
        line-height: @cm-lineHeight;
    }

    input[type="radio"],
    input[type="checkbox"] {
        .check-line > .checkbox;
    }

    &.outside {
        line-height: inherit;

        label {
            display: block;
            margin: 0 0 0 16px;
        }

        input[type="radio"],
        input[type="checkbox"] {
            float: left;
        }
    }

    &.filter > input {
        display: block;
        float: left;
    }

    .field {
        width: auto;
        min-height: @CmForm-fieldHeight;
        display: block;
        margin: 0 0 0 28px;
        line-height: @CmForm-fieldHeight;
    }

    .unveil {
        display: none;
        padding: 4px 0 4px 24px;

        dl:first-child {
            margin: 0;
        }

        .ie6 &,
        .ie7 &,
        .ie8 & {
            display: block;
        }
    }
}

.form dd > input[type="checkbox"] {
    .check-line > .checkbox;
}

/* *** TIME PICKER *** */

.form dl .time {
    line-height: @CmForm-fieldHeight;
}

.form dl .time select,
.form dl .time .com-select {
    width: 64px;
    float: left;
}

.form dl .time > span {
    width: 20px;
    display: block;
    float: left;
    text-align: center;
}

/* *** BIRTHDAY PICKER *** */

.form dl .birth {
    line-height: @CmForm-fieldHeight;
}

.form dl .birth input {
    width: 64px;
    float: left;
}

.form dl .birth input.month,
.form dl .birth input.day {
    width: 50px;
}

.form dl .birth div {
    width: 20px;
    float: left;
    overflow: hidden;
    text-align: center;
}

/* *** COLUMNS *** */

.form .cols {
    margin: 10px 0 0;

    &:first-child {
        margin: 0;
    }

    .col {
        float: left;
        margin-left: @CmForm-cols-indent;

        &:first-child {
            margin-left: 0;
        }

        > dl:first-child {
            margin-top: 0;
        }
    }

    .loop(@counter) when (@counter > 0) {
        .loop((@counter - 1));

        @name: extract(@CmForm-cols-names, @counter);
        @size: (100% - ((@counter - 1) * @CmForm-cols-indent)) / @counter;

        &.@{name} .col {
            width: @size;
        }
    }

    .loop(10);
}

/* *** FIELDSET *** */

.form fieldset {
    padding: 0 @cm-indentMedium @cm-indentMedium @cm-indentMedium;
    margin: @CmForm-fieldIndent 0 0 0;
    border: @cm-borderStyle;
    border-radius: @cm-borderRadius;

    &:first-child {
        margin: 0;
    }

    dl {
        &:first-child {
            margin-top: @cm-indentMedium;
        }
    }

    &.error {
        border-color: @cm-colorError;

        legend {
            color: @cm-colorError;
            font-weight: @cm-boldWeight;
        }
    }

    &.ok {
        border-color: #009900;

        legend {
            color: #009900;
            font-weight: @cm-boldWeight;
        }
    }
}

/* ** MULTI FIELD  *** */

.form-multifield-line {
    dd {
        &.controls {
            float: right;
            margin: 0;
            white-space: nowrap;
            line-height: @CmForm-fieldHeight;

            .icon {
                display: inline-block;
                margin: 0 0 0 6px;
                vertical-align: middle;

                &:first-child {
                    margin: 0;
                }
            }
        }

        &.descr,
        &.descr:last-child {
            margin-right: 32px;
        }
    }
}

/* *** IMAGE LOADER *** */

.form-image-box {
    > .l {
        float: left;
        margin: 0 @CmForm-fieldIndent 0 0;

        .no-image {
            width: 80px;
            height: 80px;
            background: url('@{CmPath-image}/parts/no-image-80.png');
        }

        img {
            width: 80px;
            height: 80px;
            display: block;
        }
    }

    > .r {
        float: left;
        font-size: 0;

        .hint {
            margin: 6px 0 0 0;
        }
    }

    .browse-button {
        width: @CmForm-imageBox-buttonWidth;
        display: block;
        margin: 0 0 @CmForm-buttonsIndent 0;
    }

    &.style2 {
        .browse-button {
            display: inline-block;
            margin: 0 @CmForm-buttonsIndent 0 0;
        }
    }

    &.flat {
        > .l {
            float: none;
            margin: 0 0 12px;

            img {
                width: auto;
                height: auto;
            }
        }

        > .r {
            float: none;
        }
    }
}

/* Add To Bundle */

#cm () {
    .button {
        .form-image-box & {
            width: @CmForm-imageBox-buttonWidth;
        }
    }
}

/* *** CAPTCHA *** */

.form .captcha img {
    display: block;
    margin: 0 0 10px;
}

.form .captcha {
    display: inline-block;
}

/* *** FORM FILTER *** */

.form-filter {
    width: 30%;
}

.form-filter.right {
    float: right;
}

.form-filter.right dt {
    width: auto;
    margin: 0 20px 0 0;
}

.form-filter.right dd {
    margin-left: 0;
    overflow: hidden;
}

/* *** FILTER FROM - TO *** */

.form-filter-fromto {
    margin: 0 0 @cm-indentMedium 0;

    dl {
        float: left;
        clear: none;
    }

    .form-box {
        width: 200px;
        margin: 0 @cm-indentMedium 0 0;
    }

    .buttons {
        float: left;
        margin: @CmForm-fieldHeight 0 0 0;
    }

    &.simple {
        .buttons {
            margin: 0;
        }
    }
}

/* *** ERRORS *** */

.form dl.error input[type="text"],
.form dl.error input[type="password"],
.form dl.error textarea,
.form dl.error select {
    border: 1px solid @cm-colorError;
}

.form dl.ok input[type="text"],
.form dl.ok input[type="password"],
.form dl.ok textarea,
.form dl.ok select {
    border: 1px solid #009900;
}

.form dl.error dt {
    color: @cm-colorError;
}

.form dl.ok dt {
    color: #009900;
}

.form dl.error .hint {
    color: @cm-colorError;
}

.form dl.ok .hint {
    color: #009900;
}

.form dl.error .validate {
    color: #cc0000;
    font-weight: @cm-boldWeight;
}

.form dl.ok .validate {
    color: #009900;
    font-weight: @cm-boldWeight;
}

/* *** ICONS *** */

.has-icons-outside-1,
.has-icons-outside-one {
    padding-right: 25px;
}

.has-icons-outside-2,
.has-icons-outside-two {
    padding-right: 50px;
}

.has-icons-outside-3,
.has-icons-outside-three {
    padding-right: 75px;
}

.has-icons-outside-4 {
    padding-right: 100px;
}

.has-icons-outside-5 {
    padding-right: 125px;
}

ul.has-icons-outside-1 li,
ul.has-icons-outside-2 li,
ul.has-icons-outside-3 li,
ul.has-icons-outside-4 li,
ul.has-icons-outside-5 li,
ul.has-icons-outside-one li,
ul.has-icons-outside-two li,
ul.has-icons-outside-three li {
    position: relative;
}

.form-icons-inside,
.form-icons-outside {
    text-align: right;
    white-space: nowrap;
    font-size: 0;
}

.form-icons-outside {
    padding: 0 0 0 8px;
    position: absolute;
    top: 0;
    left: 100%;
    line-height: @CmForm-fieldHeight;
}

.form-icons-inside.left,
.form-icons-outside.left {
    text-align: left;
}

.has-icons-outside-1 .form-icons-outside,
.has-icons-outside-one .form-icons-outside {
    width: 16px;
}

.has-icons-outside-2 .form-icons-outside,
.has-icons-outside-two .form-icons-outside {
    width: 40px;
}

.has-icons-outside-3 .form-icons-outside,
.has-icons-outside-three .form-icons-outside {
    width: 64px;
}

.has-icons-outside-4 .form-icons-outside {
    width: 88px;
}

.has-icons-outside-5 .form-icons-outside {
    width: 112px;
}

.form-icons-inside .icon,
.form-icons-outside .icon {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 0 0 8px;
}

.form-icons-inside .icon.hidden,
.form-icons-outside .icon.hidden {
    visibility: hidden;
}

.form-icons-inside .icon:first-child,
.form-icons-outside .icon:first-child {
    margin: 0;
}

.form-icons-inside .text,
.form-icons-outside .text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 8px;
    font-size: 13px;
}

.form-icons-inside .text:first-child,
.form-icons-outside .text:first-child {
    margin: 0;
}

/* ******* COMPONENTS ******* */

/* *** CONTENT TABLE *** */

.content-table {
    td {
        vertical-align: top;
    }
}

/* *** CONTENT BUTTONS LINE *** */

.buttons {
    margin: 0 0 @cm-indentMedium 0;
    font-size: 0;
}

.buttons.bottom {
    margin: 0;
}

.buttons input[type="button"],
.buttons input[type="submit"],
.buttons input[type="reset"],
.buttons button,
.buttons .button {
    margin-right: 8px;
}

/* *** PROGRESS BAR *** */

.cm-progress-bar {
    height: 14px;
    position: relative;
    background: #cccccc;

    > .inner {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        .cm-transition(width @cm-transitionDuration ease-in-out);
        .cm-transition(background-color @cm-transitionDuration ease-in-out);
    }

    .com-gridlist & {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .green {
        background: #339900;
    }

    .red {
        background: #cc0000;
    }

    .orange {
        background: #ff6633;
    }
}

/* *** LOADER BOX *** */

.cm-loader-box {
    height: 50px;
    position: relative;

    &.position {
        height: auto;
        position: absolute;
        .cm-position(0,0,0,0);
    }

    > .inner {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        margin: -16px 0 0 -16px;
        background: url("@{CmPath-image}/components/ajax-loader.gif");
    }
}

/* *** FILES LIST *** */

.files-list {
    ul {
        max-height: (@CmFilesList-count * (@CmForm-fieldInnerIndent + @CmForm-fieldHeight)) - @CmForm-fieldInnerIndent;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;
        margin: 0 0 @CmForm-fieldInnerIndent 0;
        list-style: none;

        li {
            height: @CmForm-fieldHeight;
            margin: @CmForm-fieldInnerIndent 0 0 0;
            line-height: @CmForm-fieldHeight;

            input {
                float: left;
                margin: 0 @CmForm-fieldIndent 0 0;
            }

            .text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: normal;

                .ie & {
                    overflow: visible;
                }
            }

            &:first-child {
                margin: 0;
            }
        }
    }
}

.single-file {
    .browse-button {
        display: block;
        float: left;
        margin: 0 @CmForm-fieldIndent 0 0;
    }

    .text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: normal;
        line-height: @CmForm-fieldHeight;
    }
}

/* *** SELECTABLE*** */

.cm-selectable {
    position: relative;
    border-radius: 3px;
    cursor: pointer;

    &:before {
        display: block;
        position: absolute;
        z-index: -1;
        top: -6px;
        right: -6px;
        bottom: -6px;
        left: -6px;
        content: '';
        border: 2px solid transparent;
        border-radius: 3px;
        -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &:hover:before {
        background-color: @cm-selectable-background-hover;
        -webkit-transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
        transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    }

    &.active:before {
        background-color: #ffffff;
        border-color: @cm-selectable-border-color-active;
    }
}

/* ******* ADAPTIVE ******* */

@media only screen and (max-width: @cm-mobileScreen) {

    /* *** FORM *** */

    .form {
        dl {
            dt {
                width: auto;
                float: none;
            }

            dd {
                margin: 0 0 @CmForm-fieldInnerIndent;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .form-filter.right,
    .form-filter {
        width: auto;
        float: none;
    }

    .form-filter.right dt,
    .form-filter dt {
        float: none;
        margin: 0;
    }

    /* COLUMNS */

    .form .cols {
        .col {
            &:first-child {
                margin-top: 0;
            }
        }

        .for(@CmForm-cols-names); .-each(@name) {
        &.@{name} .col {
            width: auto;
            float: none;
            margin: @CmForm-fieldInnerIndent 0 0 0;
        }
    }
    }

    /* FILTER FROM - TO */

    .form-filter-fromto {
        .form-box {
            width: auto;
            float: none;
            margin: @CmForm-fieldIndent 0 0 0;

            &:first-child {
                margin: 0;
            }
        }

        .buttons,
        &.simple .buttons {
            margin: @CmForm-fieldIndent 0 0 0;
        }
    }

    /* *** COMPONENTS *** */

    /* Content Table */

    .is-adaptive .content-table {
        &.adaptive {
            td {
                width: 100% !important;
                display: block;
                margin: @cm-indentMedium 0 0 0;

                &:first-child {
                    margin: 0;
                }
            }
        }
    }

}

@media only screen and (max-width: 480px) {

    /* *** FORM *** */

    /* MULTI FIELD */

    dl.form-multifield-line {
        dt {
            margin: 0 0 @CmForm-fieldInnerIndent;
        }

        dd {
            margin: 0;
        }
    }

    /* FILTER FROM - TO */

    .form-filter-fromto {
        .form-box {
            width: auto;
            float: none;
            margin: 16px 0 0 0;

            &:first-child {
                margin: 0;
            }
        }

        &.simple {
            .buttons {
                margin: 26px 0 0 0;
            }
        }
    }

    /* IMAGE LOADER */

    .form-image-box.style2 .browse-button {
        display: block;
        margin: 0 0 8px;
    }

}