/* ************ FIORA UI: COMMON STYLES ************ */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);

/* ******* TAGS ******* */

body {
    margin: 0;
    padding: 0;
    #cm > .font-base;
    cursor: default;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    #cm > .font-link;
}

img {
    border: none;
    -webkit-transform: translateZ(0px);
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

dl, dt, dd, canvas, iframe, form {
    padding: 0;
    margin: 0;
    display: block;
    text-indent: 0;
}

/* ******* STATIC CLASSES ******* */

.clearfix,
.clear {
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        font-size: 0;
        height: 0;
    }
}

/* *** INLINE STYLES *** */

.display-none {
    display: none !important;
}

.inline {
    display: inline-block;
}

.margin-none {
    margin: 0 !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

.valign-top {
    vertical-align: top !important;
}

.valign-middle {
    vertical-align: middle !important;
}

.valign-bottom {
    vertical-align: bottom !important;
}

/* *** FONT *** */

.cm-block-padding {
    padding: @cm-indentMedium;
}

.link {
    #cm > .font-link;
}

.inner-link {
    text-decoration: none;
    border-bottom: 1px dashed;

    &:hover {
        text-decoration: none;
        border-bottom-color: transparent;
    }
}

.inherit-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.inherit-link:hover {
    text-decoration: underline;
}

.mark-new {
    display: inline-block;
    margin: 0 0 0 6px;
    position: relative;
    top: -5px;
    color: #f8504b;
    font-size: 8px;
    text-transform: uppercase;
}

.cm-mark {
    background: @cm-colorMark;
}

.cm-page-title {
    margin: 0 0 @cm-indentMedium;
}

/* *** BUNDLE *** */

.cm-ul-inline {
    text-align: left;
    font-size: 0;

    > li {
        &:extend(.cm-font-base);

        display: inline-block;
        vertical-align: top;
    }
}

.cm-ul-clear {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        margin: 0;
        padding: 0;
    }
}

.cm-counter {
    height: @CmCounter-size;
    padding: 0 5px;
    background-color: @cm-color;
    border-radius: @CmCounter-radius;
    text-align: center;
    line-height: @CmCounter-size;
    font-size: @CmCounter-fontSize;
    font-weight: @cm-fontWeight;
    color: @CmCounter-color;
    .cm-transition(all @CM-Transition-Duration ease-in-out);
}

.cm-codebox {
    display: block;
    white-space: pre-wrap;
    margin: 4px 0;
    padding: 8px 12px;
    background: #ffffff;
    border: 1px dashed @cm-colorBorder;
    border-radius: @cm-borderRadius;
    font-family: "Courier New", Courier, monospace;
}

.cm-autoresize {
    height: 0;
    min-height: @CmForm-fieldHeight;
    overflow: hidden;
    resize: none;
}

.cm-image-resizable {
    width: 100%;
    height: auto;
    display: block;
}

.cm-image-flexible {
    width: 100%;
    height: 100%;
    display: block;
}

.cm-image-adaptive {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

.cm-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cm-view-all {
    margin: @cm-indentMedium 0 0 0;
    text-align: right;

    &.pull-left {
        text-align: left;
    }

    &.pull-center {
        text-align: center;
    }

    &.pull-right {
        text-align: right;
    }
}

.cm-scroll-y {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cm-scroll-y-a,
.cm-scroll-a-y {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
}

.cm-list {
    margin: 0 0 @cm-indentMedium;
    list-style: disc;

    &.bottom {
        margin: 0;
    }

    &.has-indent {
        ul, li {
            margin: @cm-indentXXSmall 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    ul {
        list-style: circle;

        ul {
            list-style: disc;
        }
    }
}

.cm-transition-none {
    -webkit-transition: none;
            transition: none;
}

/* ******* COMPONENTS ******* */

/* *** CONTENT TABLE *** */

.content-table {
    td {
        vertical-align: top;
    }
}

/* *** CONTENT BUTTONS LINE *** */

.buttons {
    margin: 0 0 @cm-indentMedium 0;
    font-size: 0;

    &.bottom {
        margin: 0;
    }

    .cm-button {
        margin-right: @CmForm-buttonsIndent;
    }
}

/* *** PROGRESS BAR *** */

.cm-progress-bar {
    height: 14px;
    position: relative;
    background: #cccccc;

    > .inner {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        .cm-transition(width @CM-Transition-Duration ease-in-out);
        .cm-transition(background-color @CM-Transition-Duration ease-in-out);
    }

    .com-gridlist & {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .green {
        background: #339900;
    }

    .red {
        background: #cc0000;
    }

    .orange {
        background: #ff6633;
    }
}

/* *** LOADER BOX *** */

.cm-loader-box {
    height: 50px;
    position: relative;

    &.position {
        height: auto;
        position: absolute;
        .cm-position(0,0,0,0);
    }

    > .inner {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        margin: -16px 0 0 -16px;
        background: url("@{CmPath-image}/components/ajax-loader.gif");
    }
}

/* *** SELECTABLE*** */

.cm-selectable {
    position: relative;
    border-radius: 3px;
    cursor: pointer;

    &:before {
        display: block;
        position: absolute;
        z-index: -1;
        top: -6px;
        right: -6px;
        bottom: -6px;
        left: -6px;
        content: '';
        border: 2px solid transparent;
        border-radius: 3px;
        -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &:hover:before {
        background-color: @cm-selectable-background-hover;
        -webkit-transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
        transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    }

    &.active:before {
        background-color: #ffffff;
        border-color: @cm-selectable-border-color-active;
    }
}

/* ******* ADAPTIVE ******* */

@media only screen and (max-width: @cm-screenMobile) {

    html.is-adaptive {

        /* *** COMPONENTS *** */

        /* Content Table */

        .content-table {
            &.adaptive {
                td {
                    width: 100% !important;
                    display: block;
                    margin: @cm-indentMedium 0 0 0;

                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: @cm-screenMobilePortrait) {

    html.is-adaptive {



    }

}