// /* ******* PATH ******* */

@CmPath-image: '../img';

// /* ******* VARIABLES ******* */

@cm-mobileScreen: 600px;

// /* *** SIZES *** */

@cm-XXXSmall: 4px;
@cm-XXSmall: 8px;
@cm-XSmall: 12px;
@cm-Small: 16px;
@cm-Medium: 24px;
@cm-Large: 32px;
@cm-XLarge: 48px;
@cm-XXLarge: 64px;

// /* *** COLORS *** */

@cm-color: hsl(210, 80%, 55%);
@cm-colorLighten: lighten(@cm-color, 40%);
@cm-colorFont: #666666;
@cm-colorFontMedium: #999999;
@cm-colorFontTitle: #666666;
@cm-colorPlaceholder: #b7b7b7;
@cm-colorHint: #999999;
@cm-colorLink: @cm-colorFont;
@cm-colorLinkHover: @cm-colorLink;
@cm-colorLinkVisited: #8a156d;
@cm-colorError: hsl(0, 80%, 50%);

@cm-colorActive: lighten(saturate(@cm-color, 2%), 37%);
@cm-colorActiveHover: darken(@cm-colorActive, 5%);
@cm-colorSecondary: hsl(0, 0, 95%);
@cm-colorSecondaryHover: lighten(@cm-colorSecondary, 3%);

@cm-colorBorder: #CBCBCB;
@cm-colorBorderHover: @cm-colorActiveHover;

// /* *** FONT *** */

@cm-lineHeight: 18px;
@cm-lineHeightTitle : 38px;
@cm-fontSize: 13px;
@cm-fontSizeTitle: 30px;
@cm-fontSizeHint: 11px;
@cm-fontFamily: 'Open Sans', arial, helvetica, sans-serif;
@cm-fontWeight: normal;
@cm-boldWeight: 600;

// /* *** BORDER *** */

@cm-borderRadius: 3px;
@cm-borderStyle: 1px solid @cm-colorBorder;
@cm-borderEditable: 1px dashed @cm-color;
@cm-borderBox: 2px solid @cm-colorBorder;
@cm-borderBoxActive: 2px solid @cm-colorActive;

// /* *** INDENT *** */

@cm-indentXXXSmall: @cm-XXXSmall;
@cm-indentXXSmall: @cm-XXSmall;
@cm-indentXSmall: @cm-XSmall;
@cm-indentSmall: @cm-Small;
@cm-indentMedium: @cm-Medium;
@cm-indentLarge: @cm-Large;
@cm-indentXLarge: @cm-XLarge;
@cm-indentXXLarge: @cm-XXLarge;

// /* *** ANIMATION *** */

@cm-transitionDuration: 0.3s;
@cm-transitionDurationReverse: 0.1s;
@cm-opacityLinkHover: 0.7;

// /* *** UI *** */

@cm-ui-shadowLight: 0 0 2px rgba(0,0,0,0.2);
@cm-ui-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
@cm-ui-fadeout: 0.5;

// /* ******* FORM ******* */

@CmForm-fieldHeight: 28px;
@CmForm-fieldIndent: 16px;
@CmForm-fieldTitleWidth: 150px;
@CmForm-fieldInnerIndent: @CmForm-fieldIndent / 2;
@CmForm-buttonsIndent: @cm-indentXXSmall;

// /* *** IMAGE BOX *** */

@CmForm-imageBox-buttonWidth: 100px;

// /* *** COLUMNS *** */

@CmForm-cols-names: one two three four five six seven eight nine ten;
@CmForm-cols-indent: 2%;

// /* ******* PARTS ******* */

// /* *** COUNTER *** */

@CmCounter-size: @cm-Small;
@CmCounter-radius: @CmCounter-size;
@CmCounter-fontSize: 11px;
@CmCounter-color: #ffffff;

// /* *** MENU *** */

@CmMenu-indent: @cm-indentXXXSmall;

// /* *** ITEMS LIST *** */

@CmItemsList-count: 10;
@CmItemsList-background-hover: @cm-colorSecondary;
@CmItemsList-background-active: @cm-colorActive;
@CmItemsList-background-active-hover: @cm-colorActiveHover;
@CmItemsList-padding-y: 2px;
@CmItemsList-indent: 1px;

// /* *** LIST COUNTED *** */

@CmListCounted-indent: @cm-indentXXXSmall;
@CmListCounted-height: @cm-Medium;

// /* *** GRID *** */

@CmGrid-itemIndent: @cm-indentMedium / 2;

// /* *** SELECTABLE*** */

@cm-selectable-background-hover: @cm-colorSecondary;
@cm-selectable-border-color-active: @cm-colorActive;

// /* *** FILES LIST *** */

@CmFilesList-count: 3;

// /* *** TOOLBAR *** */

@CmToolbar-groupIndent: @CmForm-fieldIndent;
@CmToolbar-itemIndent: 4px;
@CmToolbar-XSmall: 70px;
@CmToolbar-Small: 100px;
@CmToolbar-Medium: 150px;
@CmToolbar-Large: 250px;
@CmToolbar-XLarge: 350px;

// /* *** IMAGE BOX *** */

@CmImagebox-titlePaddingTop: 4px;


// /* *** DRAG AND DROP *** */

@CmDraganddrop-areaPadding: @cm-indentXSmall;
@CmDraganddrop-areaBorderRadius: @cm-borderRadius;
@CmDraganddrop-areaBackgroundActive: fade(@cm-color, 12%);
@CmDraganddrop-areaBackgroundHighlight: fade(@cm-color, 5%);
@CmDraganddrop-areaActiveBorder: 1px dashed @cm-color;
@CmDraganddrop-areaHighlightBorder: 1px dashed fade(@cm-color, 30%);
@CmDraganddrop-dropDuration: 400ms;

// /* ******* COMPONENTS ******* */

// /* *** COLLAPSIBLE LAYOUT *** */

@ComCollapsibleLayout-sidebarWidth: 350px;
@ComCollapsibleLayout-duration: 500ms;

// /* *** DATEPICKER *** */

@ComDatepicker-width: 210px;
@ComDatepicker-tooltipWidth: @ComDatepicker-width;

// /* *** DIALOG *** */

@ComDialog-indent: @cm-indentMedium;
@ComDialog-titleIndent: @cm-indentXSmall;

// /* *** GRIDLIST *** */

@ComGridlist-fontSize: 11px;
@ComGridlist-paddingInner: 6px;
@ComGridlist-linkIndent: 6px;

// /* *** COLUMNS *** */

@ComColumns-mobileScreen: @cm-mobileScreen;
@ComColumns-indent: @cm-indentMedium;
@ComColumns-indents: @cm-indentXXXSmall @cm-indentXXSmall @cm-indentXSmall @cm-indentSmall @cm-indentMedium @cm-indentLarge @cm-indentXLarge @cm-indentXXLarge;
@ComColumns-minHeight: 64px;
@ComColumns-backgroundHover: rgba(0, 0, 0, 0.01);

// /* *** TABSET *** */

@ComTabset-borderColor: @cm-colorBorder;
@ComTabset-borderRadius: @cm-borderRadius;
@ComTabset-tabsHeight: @CmForm-fieldHeight;
@ComTabset-tabsIndent: @cm-indentXXXSmall;
@ComTabset-tabsBackground: @cm-colorSecondary;
@ComTabset-tabsBackgroundHover: #ffffff;
@ComTabset-tabsBackgroundActive: #ffffff;
@ComTabset-tabsColor: @cm-colorFont;

// /* *** SELECT *** */

@ComSelect-listCount: 7;
@ComSelect-multiListCount: 5;

// /* *** TAGS INPUT *** */

@ComTagsInput-itemIndent: @CmForm-buttonsIndent;
@ComTagsInput-itemWidth: 250px;
@ComTagsInput-inputWidth: 150px;

// /* *** GALLERY *** */

@ComGallery-background: #000000;

// /* *** GALLERY CONTROLS *** */

@ComGalleryControls-buttonSize: @cm-XSmall;

// /* *** GALLERY LAYOUT *** */

@ComGalleryLayout-arrowWidth: @cm-indentMedium;
@ComGalleryLayout-sizesCount: 12;

// /* *** GALLERY POPUP *** */

@ComGalleryPopup-indentTop: 72px;