
// /* ************************************************ */
// /* ******* VARIABLES ******* */
// /* ************************************************ */

// /* ******* PATH ******* */

@CmPath-Images: '../img';

// /* ******* SCREEN TYPES ******* */

@CmScreen-Mobile: 640px;
@CmScreen-MobilePortrait: 480px;
@CmScreen-Tablet: 1024px;
@CmScreen-TabletPortrait: 768px;

// /* ******* SIZES ******* */

@CmSize-XXXSmall: 4px;
@CmSize-XXSmall: 8px;
@CmSize-XSmall: 12px;
@CmSize-Small: 16px;
@CmSize-Medium: 24px;
@CmSize-Large: 32px;
@CmSize-XLarge: 48px;
@CmSize-XXLarge: 64px;

@CmIndent-XXXSmall: @CmSize-XXXSmall;
@CmIndent-XXSmall: @CmSize-XXSmall;
@CmIndent-XSmall: @CmSize-XSmall;
@CmIndent-Small: @CmSize-Small;
@CmIndent-Medium: @CmSize-Medium;
@CmIndent-Large: @CmSize-Large;
@CmIndent-XLarge: @CmSize-XLarge;
@CmIndent-XXLarge: @CmSize-XXLarge;

// /* ************************************************ */
// /* ******* COLORS ******* */
// /* ************************************************ */

// /* ******* VARS ******* */

@CmVar-Color-LightDefault-Lightness: 100%;
@CmVar-Color-LightHover-Lightness: 95%;
@CmVar-Color-LightActive-Lightness: 91%;
@CmVar-Color-LightActiveHover-Lightness: 86%;

@CmVar-Color-MiddleDefault-Lightness: 80%;
@CmVar-Color-MiddleHover-Lightness: 75%;
@CmVar-Color-MiddleActive-Lightness: 70%;
@CmVar-Color-MiddleActiveHover-Lightness: 65%;

@CmVar-Color-DarkDefault-Lightness: 55%;
@CmVar-Color-DarkHover-Lightness: 45%;
@CmVar-Color-DarkActive-Lightness: 35%;
@CmVar-Color-DarkActiveHover-Lightness: 25%;

// /* ******* PRIMARY ******* */

@CmColor-Primary: 210;

// /* Dark Key */

@CmColor-Primary-DarkSaturation: 75%;
@CmColor-Primary-DarkLightness: 0%;
@CmColor-Primary-DarkDefault: hsl(@CmColor-Primary, @CmColor-Primary-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Primary-DarkLightness);
@CmColor-Primary-DarkHover: hsl(@CmColor-Primary, @CmColor-Primary-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Primary-DarkLightness);
@CmColor-Primary-DarkActive: hsl(@CmColor-Primary, @CmColor-Primary-DarkSaturation, @CmVar-Color-DarkActive-Lightness + @CmColor-Primary-DarkLightness);
@CmColor-Primary-DarkActiveHover: hsl(@CmColor-Primary, @CmColor-Primary-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Primary-DarkLightness);

// /* Middle Tone Key */

@CmColor-Primary-MiddleSaturation: 75%;
@CmColor-Primary-MiddleLightness: 0%;
@CmColor-Primary-MiddleDefault: hsl(@CmColor-Primary, @CmColor-Primary-MiddleSaturation, @CmVar-Color-MiddleDefault-Lightness + @CmColor-Primary-MiddleLightness);
@CmColor-Primary-MiddleHover: hsl(@CmColor-Primary, @CmColor-Primary-MiddleSaturation, @CmVar-Color-MiddleHover-Lightness + @CmColor-Primary-MiddleLightness);
@CmColor-Primary-MiddleActive: hsl(@CmColor-Primary, @CmColor-Primary-MiddleSaturation, @CmVar-Color-MiddleActive-Lightness + @CmColor-Primary-MiddleLightness);
@CmColor-Primary-MiddleActiveHover: hsl(@CmColor-Primary, @CmColor-Primary-MiddleSaturation, @CmVar-Color-MiddleActiveHover-Lightness + @CmColor-Primary-MiddleLightness);

// /* Light Key */

@CmColor-Primary-LightSaturation: 70%;
@CmColor-Primary-LightLightness: 0%;
@CmColor-Primary-LightDefault: transparent; // hsl(@CmColor-Primary, @CmColor-Primary-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Primary-LightLightness)
@CmColor-Primary-LightHover: hsl(@CmColor-Primary, @CmColor-Primary-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Primary-LightLightness);
@CmColor-Primary-LightActive: hsl(@CmColor-Primary, @CmColor-Primary-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Primary-LightLightness);
@CmColor-Primary-LightActiveHover: hsl(@CmColor-Primary, @CmColor-Primary-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Primary-LightLightness);

// /* ******* SECONDARY ******* */

@CmColor-Secondary: 0;

// /* Dark Key */

@CmColor-Secondary-DarkSaturation: 0%;
@CmColor-Secondary-DarkLightness: 0%;
@CmColor-Secondary-DarkDefault: hsl(@CmColor-Secondary, @CmColor-Secondary-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Secondary-DarkLightness);
@CmColor-Secondary-DarkHover: hsl(@CmColor-Secondary, @CmColor-Secondary-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Secondary-DarkLightness);
@CmColor-Secondary-DarkActive: hsl(@CmColor-Secondary, @CmColor-Secondary-DarkSaturation, @CmVar-Color-DarkActive-Lightness + @CmColor-Secondary-DarkLightness);
@CmColor-Secondary-DarkActiveHover: hsl(@CmColor-Secondary, @CmColor-Secondary-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Secondary-DarkLightness);

// /* Middle Tone Key */

@CmColor-Secondary-MiddleSaturation: 0%;
@CmColor-Secondary-MiddleLightness: 0%;
@CmColor-Secondary-MiddleDefault: hsl(@CmColor-Secondary, @CmColor-Secondary-MiddleSaturation, @CmVar-Color-MiddleDefault-Lightness + @CmColor-Secondary-MiddleLightness);
@CmColor-Secondary-MiddleHover: hsl(@CmColor-Secondary, @CmColor-Secondary-MiddleSaturation, @CmVar-Color-MiddleHover-Lightness + @CmColor-Secondary-MiddleLightness);
@CmColor-Secondary-MiddleActive: hsl(@CmColor-Secondary, @CmColor-Secondary-MiddleSaturation, @CmVar-Color-MiddleActive-Lightness + @CmColor-Secondary-MiddleLightness);
@CmColor-Secondary-MiddleActiveHover: hsl(@CmColor-Secondary, @CmColor-Secondary-MiddleSaturation, @CmVar-Color-MiddleActiveHover-Lightness + @CmColor-Secondary-MiddleLightness);

// /* Light Key */

@CmColor-Secondary-LightSaturation: 0%;
@CmColor-Secondary-LightLightness: 0%;
@CmColor-Secondary-LightDefault: transparent; // hsl(@CmColor-Secondary, @CmColor-Secondary-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Secondary-LightLightness)
@CmColor-Secondary-LightHover: hsl(@CmColor-Secondary, @CmColor-Secondary-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Secondary-LightLightness);
@CmColor-Secondary-LightActive: hsl(@CmColor-Secondary, @CmColor-Secondary-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Secondary-LightLightness);
@CmColor-Secondary-LightActiveHover: hsl(@CmColor-Secondary, @CmColor-Secondary-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Secondary-LightLightness);

// /* ******* VALID ******* */

@CmColor-Valid: 120;

// /* Dark Key */

@CmColor-Valid-DarkSaturation: 65%;
@CmColor-Valid-DarkLightness: -10%;
@CmColor-Valid-DarkDefault: hsl(@CmColor-Valid, @CmColor-Valid-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Valid-DarkLightness);
@CmColor-Valid-DarkHover: hsl(@CmColor-Valid, @CmColor-Valid-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Valid-DarkLightness);
@CmColor-Valid-DarkActive: hsl(@CmColor-Valid, @CmColor-Valid-DarkSaturation, @CmVar-Color-DarkActive-Lightness + @CmColor-Valid-DarkLightness);
@CmColor-Valid-DarkActiveHover: hsl(@CmColor-Valid, @CmColor-Valid-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Valid-DarkLightness);

// /* Light Key */

@CmColor-Valid-LightSaturation: 60%;
@CmColor-Valid-LightLightness: 0%;
@CmColor-Valid-LightDefault: transparent; // hsl(@CmColor-Valid, @CmColor-Valid-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Valid-LightLightness)
@CmColor-Valid-LightHover: hsl(@CmColor-Valid, @CmColor-Valid-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Valid-LightLightness);
@CmColor-Valid-LightActive: hsl(@CmColor-Valid, @CmColor-Valid-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Valid-LightLightness);
@CmColor-Valid-LightActiveHover: hsl(@CmColor-Valid, @CmColor-Valid-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Valid-LightLightness);

// /* ******* INVALID ******* */

@CmColor-Invalid: 0;

// /* Dark Key */

@CmColor-Invalid-DarkSaturation: 65%;
@CmColor-Invalid-DarkLightness: 0%;
@CmColor-Invalid-DarkDefault: hsl(@CmColor-Invalid, @CmColor-Invalid-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Invalid-DarkLightness);
@CmColor-Invalid-DarkHover: hsl(@CmColor-Invalid, @CmColor-Invalid-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Invalid-DarkLightness);
@CmColor-Invalid-DarkActive: hsl(@CmColor-Invalid, @CmColor-Invalid-DarkSaturation, @CmVar-Color-DarkActive-Lightness + @CmColor-Invalid-DarkLightness);
@CmColor-Invalid-DarkActiveHover: hsl(@CmColor-Invalid, @CmColor-Invalid-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Invalid-DarkLightness);

// /* Light Key */

@CmColor-Invalid-LightSaturation: 65%;
@CmColor-Invalid-LightLightness: 0%;
@CmColor-Invalid-LightDefault: transparent; //hsl(@CmColor-Invalid, @CmColor-Invalid-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Invalid-LightLightness)
@CmColor-Invalid-LightHover: hsl(@CmColor-Invalid, @CmColor-Invalid-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Invalid-LightLightness);
@CmColor-Invalid-LightActive: hsl(@CmColor-Invalid, @CmColor-Invalid-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Invalid-LightLightness);
@CmColor-Invalid-LightActiveHover: hsl(@CmColor-Invalid, @CmColor-Invalid-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Invalid-LightLightness);

// /* ******* PENDING ******* */

@CmColor-Pending: 38;

// /* Dark Key */

@CmColor-Pending-DarkSaturation: 75%;
@CmColor-Pending-DarkLightness: 0%;
@CmColor-Pending-DarkDefault: hsl(@CmColor-Pending, @CmColor-Pending-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Pending-DarkLightness);
@CmColor-Pending-DarkHover: hsl(@CmColor-Pending, @CmColor-Pending-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Pending-DarkLightness);
@CmColor-Pending-DarkActive: hsl(@CmColor-Pending, @CmColor-Pending-DarkSaturation, @CmVar-Color-DarkActive-Lightness);
@CmColor-Pending-DarkActiveHover: hsl(@CmColor-Pending, @CmColor-Pending-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Pending-DarkLightness);

// /* Light Key */

@CmColor-Pending-LightSaturation: 70%;
@CmColor-Pending-LightLightness: 0%;
@CmColor-Pending-LightDefault: transparent; //hsl(@CmColor-Pending, @CmColor-Pending-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Pending-LightLightness)
@CmColor-Pending-LightHover: hsl(@CmColor-Pending, @CmColor-Pending-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Pending-LightLightness);
@CmColor-Pending-LightActive: hsl(@CmColor-Pending, @CmColor-Pending-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Pending-LightLightness);
@CmColor-Pending-LightActiveHover: hsl(@CmColor-Pending, @CmColor-Pending-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Pending-LightLightness);

// /* ******* FONT ******* */

@CmColor-Link: @CmColor-Primary-DarkDefault;
@CmColor-LinkHover: @CmColor-Primary-DarkHover;
@CmColor-LinkActive: @CmColor-Primary-DarkActive;

// /* ******* OTHER ******* */

@CmColor-Mark: #fdf6ad;
@CmColor-Border: @CmColor-Secondary-MiddleDefault;
@CmColor-BorderHover: @CmColor-Secondary-MiddleActiveHover;
@CmColor-BorderActive: @CmColor-Primary-MiddleActive;

// /* ************************************************ */
// /* ******* FONT ******* */
// /* ************************************************ */

// /* ******* BASE ******* */

@CmFont-Base-LightWeight: 300;
@CmFont-Base-NormalWeight: 400;
@CmFont-Base-BoldWeight: 600;

@CmFont-Base-LineHeight: 18px;
@CmFont-Base-Family: 'Open Sans', arial, helvetica, sans-serif;
@CmFont-Base-Size: 13px;
@CmFont-Base-Weight: @CmFont-Base-NormalWeight;
@CmFont-Base-Color: #666666;
@CmFont-Base-ColorInvert: #ffffff;

@CmFont-Base-Hint-Size: 11px;
@CmFont-Base-Hint-Color: #999999;

// /* ******* UI ******* */

@CmFont-UI-LightWeight: 300;
@CmFont-UI-NormalWeight: 400;
@CmFont-UI-BoldWeight: 600;

@CmFont-UI-LineHeight: 18px;
@CmFont-UI-Size: 11px;
@CmFont-UI-Family: 'Open Sans', arial, helvetica, sans-serif;
@CmFont-UI-Weight: @CmFont-UI-NormalWeight;
@CmFont-UI-Color: #666666;
@CmFont-UI-ColorInvert: #ffffff;

@CmFont-UI-Title-LineHeight: 38px;
@CmFont-UI-Title-Size: 30px;
@CmFont-UI-Title-Weight: @CmFont-UI-LightWeight;
@CmFont-UI-Title-Color: #666666;

@CmFont-UI-TitleMedium-LineHeight : 24px;
@CmFont-UI-TitleMedium-Size: 16px;
@CmFont-UI-TitleMedium-Weight: @CmFont-UI-LightWeight;
@CmFont-UI-TitleMedium-Color: #999999;

// /* ************************************************ */
// /* ******* UI ******* */
// /* ************************************************ */

// /* ******* COMMON ******* */

@CmUI-Transition-Duration: 300ms;
@CmUI-Transition-DurationReverse: 100ms;
@CmUI-Opacity-Hover: 0.7;
@CmUI-Shadow: 0 0 10px rgba(0, 0, 0, 0.15);
@CmUI-ShadowLight: 0 0 2px rgba(0,0,0,0.2);
@CmUI-ShadowInner: 0 2px 2px rgba(0,0,0,0.4) inset;
@CmUI-ShadowOuter: 0 2px 2px rgba(0,0,0,0.15);

// /* ******* BORDER ******* */

@CmBorder-Radius: 3px;
@CmBorder-Width: 1px;
@CmBorder-BoxWidth: 2px;
@CmBorder-Default: @CmBorder-Width solid @CmColor-Border;
@CmBorder-Separator: @CmBorder-Width dotted @CmColor-Border;
@CmBorder-Editable: @CmBorder-Width dashed @Cm-color;
@CmBorder-Box: @CmBorder-BoxWidth solid @CmColor-Border;
@CmBorder-BoxActive: @CmBorder-BoxWidth solid @Cm-colorActive;
@CmBorder-BoxSelected: @CmBorder-BoxWidth solid @Cm-color;

// /* *** COLORS *** */

@Cm-colorPlaceholder: #b7b7b7;
@Cm-colorHint: #999999;
@CmColor-Pending-DarkDefaultLight: #fff9ef;

@Cm-color: hsl(210, 80%, 55%);
@Cm-colorLighten: lighten(@Cm-color, 40%);
@Cm-colorActive: lighten(desaturate(@Cm-color, 2%), 37%);
@Cm-colorActiveHover: darken(@Cm-colorActive, 5%);
@Cm-colorSecondary: hsl(0, 0, 95%);
@Cm-colorSecondaryHover: lighten(@Cm-colorSecondary, 3%);

@Cm-colorLight-background: #fafafa;
@Cm-colorLight-backgroundHover: #e6e6e6;
@Cm-colorLight-backgroundDisabled: #f0f0f0;
@Cm-colorLight-backgroundDisabledHover: @Cm-colorLight-backgroundHover;
@Cm-colorLight-border: #e6e6e6;
@Cm-colorLight-borderHover: #d2d2d2;
@Cm-colorLight-borderDisabled: @Cm-colorLight-border;
@Cm-colorLight-borderDisabledHover: @Cm-colorLight-borderHover;

@Cm-background-light: @Cm-colorLight-background;
@Cm-background-dark: @Cm-colorLight-backgroundDisabled;
@Cm-background-themeLight: lighten(@Cm-color, 42%);
@Cm-background-gallery: #111111;
@Cm-background-pendingLight: @CmColor-Pending-DarkDefaultLight;

// /* ************************************************ */
// /* ******* COMMON ******* */
// /* ************************************************ */

// /* *** BUTTONS *** */

@CmButton-PaddingX: @CmIndent-XSmall;

// /* *** INPUTS *** */

@CmInput-Padding: 6px;
@CmTextarea-Height: 100px;
@CmSelect-Size: 7;

// /* *** FORM *** */

@CmForm-FieldHeight: 28px;
@CmForm-FieldIndent: @CmIndent-Small;
@CmForm-FieldTitleWidth: 150px;
@CmForm-FieldInnerIndent: @CmForm-FieldIndent / 2;
@CmForm-ButtonsIndent: @CmIndent-XXSmall;
@CmForm-IconsIndent: @CmIndent-XXSmall;
@CmForm-ImageBox-ButtonWidth: 100px;
@CmForm-Cols-Names: one two three four five six seven eight nine ten;
@CmForm-Cols-Indent: 2%;
@CmForm-FilesList-Count: 3;

// /* *** COUNTER *** */

@CmCounter-Size: @CmSize-Small;
@CmCounter-Radius: @CmCounter-Size;

// /* ************************************************ */
// /* ******* PARTS ******* */
// /* ************************************************ */

// /* *** MENU *** */

@CmMenu-indent: @CmIndent-XXXSmall;
@CmMenu-itemIndentY: 2px;
@CmMenu-itemIndentX: @CmIndent-XSmall;

// /* *** LINKS *** */

@PtLinks-Indent: @CmIndent-XXXSmall;

// /* *** IMAGE *** */

@PtImage-background: @Cm-background-light;
@PtImage-titlePaddingTop: 4px;
@PtImage-textColor: #ffffff;

// /* *** ITEM BOX *** */

@PtItemBox-Sizes: 50 80 150;

// /* *** LISTING ITEMS *** */

@PtListingItems-Count: 10;
@PtListingItems-PaddingY: 2px;
@PtListingItems-PaddingX: 4px;
@PtListingItems-Indent: 1px;

// /* *** LISTING COUNTERS *** */

@PtListingCounters-Indent: @CmIndent-XXXSmall;
@PtListingCounters-Height: @CmSize-Medium;

// /* *** GRID *** */

@PtGrid-Indent: @CmIndent-Medium / 2;
@PtGrid-Indents: 0px @CmIndent-XXXSmall @CmIndent-XXSmall @CmIndent-XSmall @CmIndent-Small @CmIndent-Medium @CmIndent-Large @CmIndent-XLarge @CmIndent-XXLarge;

// /* *** SELECTABLE*** */

@Cm-selectable-background-hover: @Cm-colorSecondary;
@Cm-selectable-border-color-active: @Cm-colorActive;

// /* *** TOOLBAR *** */

@PtToolbar-groupIndent: @CmIndent-Small;
@PtToolbar-itemIndent: @CmIndent-XXXSmall;
@PtToolbar-XSmall: 70px;
@PtToolbar-Small: 100px;
@PtToolbar-Medium: 150px;
@PtToolbar-Large: 250px;
@PtToolbar-XLarge: 350px;

// /* *** DRAG AND DROP *** */

@CmDraganddrop-areaPadding: @CmIndent-XSmall;
@CmDraganddrop-areaBorderRadius: @CmBorder-Radius;
@CmDraganddrop-areaBackgroundActive: fade(@Cm-color, 12%);
@CmDraganddrop-areaBackgroundHighlight: fade(@Cm-color, 5%);
@CmDraganddrop-areaActiveBorder: 1px dashed @Cm-color;
@CmDraganddrop-areaHighlightBorder: 1px dashed fade(@Cm-color, 30%);
@CmDraganddrop-dropDuration: 400ms;

// /* *** LINE SHARE *** */

@PtLineShare-Size: @CmSize-Large;

// /* *** BOX *** */

@CmBoxContent-Indent: @CmIndent-XLarge;
@CmBoxContent-Indents: 0px @CmIndent-XXXSmall @CmIndent-XXSmall @CmIndent-XSmall @CmIndent-Small @CmIndent-Medium @CmIndent-Large @CmIndent-XLarge @CmIndent-XXLarge;

// /* *** GRIDLIST *** */

@PtGridlist-AdaptiveFrom: @CmScreen-Mobile;
@PtGridlist-Font-Size: @CmFont-UI-Size;
@PtGridlist-FontTitle-Size: @CmFont-UI-Size;
@PtGridlist-PaddingInner: 6px;

// /* ************************************************ */
// /* ******* COMPONENTS ******* */
// /* ************************************************ */

// /* *** COLLAPSIBLE LAYOUT *** */

@ComCollapsibleLayout-sidebarWidth: 350px;
@ComCollapsibleLayout-duration: 500ms;

// /* *** CALENDAR *** */

@ComCalendar-cellHeight: 21px;
@ComCalendar-cellBorderSize: 1px;
@ComCalendar-cellBorderRadius: min(@CmBorder-Radius, 2px);
@ComCalendar-todayBorderSize: 2px;

@ComCalendar-outer-background: transparent;
@ComCalendar-outer-backgroundHover: transparent;
@ComCalendar-outer-borderSize: 0;
@ComCalendar-outer-border: transparent;
@ComCalendar-outer-borderHover: transparent;

@ComCalendar-inner-background: @Cm-colorLight-background;
@ComCalendar-inner-backgroundHover: @Cm-colorLight-backgroundHover;
@ComCalendar-inner-borderSize: 1px;
@ComCalendar-inner-border: @Cm-colorLight-border;
@ComCalendar-inner-borderHover: @Cm-colorLight-borderHover;

@ComCalendar-weekend-background: @Cm-colorLight-backgroundDisabled;
@ComCalendar-weekend-backgroundHover: @Cm-colorLight-backgroundDisabledHover;
@ComCalendar-weekend-borderSize: @ComCalendar-inner-borderSize;
@ComCalendar-weekend-border: @Cm-colorLight-borderDisabled;
@ComCalendar-weekend-borderHover: @Cm-colorLight-borderDisabledHover;

@ComCalendar-today-background: '';
@ComCalendar-today-backgroundHover: @Cm-colorActive;
@ComCalendar-today-borderSize: 2px;
@ComCalendar-today-border: @Cm-color;
@ComCalendar-today-borderHover: @Cm-color;

@ComCalendar-active-background: @Cm-colorActive;
@ComCalendar-active-backgroundHover: @Cm-colorActiveHover;
@ComCalendar-active-borderSize: @ComCalendar-inner-borderSize;
@ComCalendar-active-border: @Cm-color;
@ComCalendar-active-borderHover: @Cm-color;

// /* *** DATEPICKER *** */

@ComDatepicker-width: 210px;
@ComDatepicker-tooltipWidth: @ComDatepicker-width;


// /* *** TIME SELECT *** */

@ComTimeSelect-width: 210px;
@ComTimeSelect-indent: @CmIndent-Medium;

// /* *** COLOR PALETTE *** */

@ComColorPalette-Size: 200px;

// /* *** COLOR PICKER *** */

@ComColorPicker-Width: @ComDatepicker-width;

// /* *** DIALOG *** */

@ComDialog-indent: @CmIndent-Medium;
@ComDialog-titleIndent: @CmIndent-XSmall;

@ComDialog-themeBlack-background: @Cm-background-gallery;
@ComDialog-themeBlack-titleColor: #ffffff;

// /* *** COLUMNS *** */

@ComColumns-adaptiveFrom: @CmScreen-Mobile;
@ComColumns-indent: @CmIndent-Medium;
@ComColumns-indents: 0px @CmIndent-XXXSmall @CmIndent-XXSmall @CmIndent-XSmall @CmIndent-Small @CmIndent-Medium @CmIndent-Large @CmIndent-XLarge @CmIndent-XXLarge;
@ComColumns-minHeight: 64px;
@ComColumns-backgroundHover: rgba(0, 0, 0, 0.01);

// /* *** TABSET *** */

@ComTabset-adaptiveFrom: @CmScreen-Mobile;
@ComTabset-borderColor: @CmColor-Border;
@ComTabset-borderRadius: @CmBorder-Radius;
@ComTabset-tabsHeight: @CmForm-FieldHeight;
@ComTabset-tabsIndent: @CmIndent-XXXSmall;
@ComTabset-tabsBackground: @Cm-colorSecondary;
@ComTabset-tabsBackgroundHover: #ffffff;
@ComTabset-tabsBackgroundActive: #ffffff;
@ComTabset-tabsTitle: @Cm-colorSecondary;
@ComTabset-tabsColor: @CmFont-Base-Color;

// /* *** TOGGLE BOX *** */

@ComToggleBox-adaptiveFrom: @CmScreen-Mobile;
@ComToggleBox-size: @CmFont-UI-Title-LineHeight;
@ComToggleBox-sizeMedium: @CmSize-Medium;
@ComToggleBox-sizeUI: @CmSize-Medium;
@ComToggleBox-contentBorder: 1px solid #ffffff;
@ComToggleBox-contentBackground: @Cm-background-light;
@ComToggleBox-contentSpaceBorder: @ComToggleBox-contentBorder;
@ComToggleBox-titleBackground: @Cm-background-dark;

// /* *** SELECT *** */

@ComSelect-listCount: 7;
@ComSelect-multiListCount: 5;

// /* *** AUTOCOMPLETE *** */

@ComAC-listCount: 7;

// /* *** TAGS INPUT *** */

@ComTagsInput-itemIndent: @CmForm-ButtonsIndent;
@ComTagsInput-itemWidth: 250px;
@ComTagsInput-inputWidth: 200px;

// /* *** GALLERY *** */

@ComGallery-background: @Cm-background-gallery;

// /* *** GALLERY CONTROLS *** */

@ComGalleryControls-buttonSize: @CmSize-XSmall;

// /* *** GALLERY LAYOUT *** */

@ComGalleryLayout-arrowWidth: @CmIndent-Medium;
@ComGalleryLayout-sizesCount: 12;

// /* *** GALLERY POPUP *** */

@ComGalleryPopup-indentTop: 72px;

// /* *** FORUM *** */

@ComForum-adaptiveFrom: @CmScreen-Mobile;
@ComForum-postBackground: @Cm-background-light;
@ComForum-postBackgroundFeatured: @Cm-background-themeLight;
@ComForum-postTitleBackground: @Cm-background-dark;
@ComForum-postLeftColumnSize: 150px;

// /* *** PROFILE *** */

@ComProfile-leftColumn: 150px;