
// /* ************************************************ */
// /* ******* FONT GLYPH ******* */
// /* ************************************************ */

@CmIconVars-Family: 'Magpie-UI-Glyphs';
@CmIconVars-Color: @CmColor-Icon;
@CmIconVars-Version: 6;

@CmIcon-CircleArrowLeft: '\e700';
@CmIcon-CircleArrowRight: '\e701';