
// /* ************************************************ */
// /* ******* VARIABLES ******* */
// /* ************************************************ */

// /* ******* PATH ******* */

@CmPath-Images: '../img';

// /* ******* SCREEN TYPES ******* */

@CmScreen-Mobile: 640px;
@CmScreen-MobilePortrait: 480px;
@CmScreen-Tablet: 1024px;
@CmScreen-TabletPortrait: 768px;

// /* ******* SIZES ******* */

@CmSize-None: 0px;
@CmSize-XXXSmall: 4px;
@CmSize-XXSmall: 8px;
@CmSize-XSmall: 12px;
@CmSize-Small: 16px;
@CmSize-Medium: 24px;
@CmSize-Large: 32px;
@CmSize-XLarge: 48px;
@CmSize-XXLarge: 64px;

@CmIndent-None: @CmSize-None;
@CmIndent-XXXSmall: @CmSize-XXXSmall;
@CmIndent-XXSmall: @CmSize-XXSmall;
@CmIndent-XSmall: @CmSize-XSmall;
@CmIndent-Small: @CmSize-Small;
@CmIndent-Medium: @CmSize-Medium;
@CmIndent-Large: @CmSize-Large;
@CmIndent-XLarge: @CmSize-XLarge;
@CmIndent-XXLarge: @CmSize-XXLarge;

@CmIndents: @CmIndent-None @CmIndent-XXXSmall @CmIndent-XXSmall @CmIndent-XSmall @CmIndent-Small @CmIndent-Medium @CmIndent-Large @CmIndent-XLarge @CmIndent-XXLarge;

// /* ************************************************ */
// /* ******* COLORS ******* */
// /* ************************************************ */

// /* ******* VARS ******* */

@CmVar-Color-LightDefault-Lightness: 100%;
@CmVar-Color-LightSelected-Lightness: 98%;
@CmVar-Color-LightHover-Lightness: 95%;
@CmVar-Color-LightActive-Lightness: 91%;
@CmVar-Color-LightActiveHover-Lightness: 86%;

@CmVar-Color-MiddleDefault-Lightness: 80%;
@CmVar-Color-MiddleHover-Lightness: 75%;
@CmVar-Color-MiddleActive-Lightness: 70%;
@CmVar-Color-MiddleActiveHover-Lightness: 65%;

@CmVar-Color-DarkDefault-Lightness: 52%;
@CmVar-Color-DarkHover-Lightness: 45%;
@CmVar-Color-DarkActive-Lightness: 35%;
@CmVar-Color-DarkActiveHover-Lightness: 25%;

// /* ******* PRIMARY ******* */

@CmColor-Primary: 210;

// /* Dark Key */

@CmColor-Primary-DarkSaturation: 75%;
@CmColor-Primary-DarkLightness: 0%;
@CmColor-Primary-DarkDefault: hsl(@CmColor-Primary, @CmColor-Primary-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Primary-DarkLightness);
@CmColor-Primary-DarkHover: hsl(@CmColor-Primary, @CmColor-Primary-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Primary-DarkLightness);
@CmColor-Primary-DarkActive: hsl(@CmColor-Primary, @CmColor-Primary-DarkSaturation, @CmVar-Color-DarkActive-Lightness + @CmColor-Primary-DarkLightness);
@CmColor-Primary-DarkActiveHover: hsl(@CmColor-Primary, @CmColor-Primary-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Primary-DarkLightness);

// /* Middle Tone Key */

@CmColor-Primary-MiddleSaturation: 75%;
@CmColor-Primary-MiddleLightness: 0%;
@CmColor-Primary-MiddleDefault: hsl(@CmColor-Primary, @CmColor-Primary-MiddleSaturation, @CmVar-Color-MiddleDefault-Lightness + @CmColor-Primary-MiddleLightness);
@CmColor-Primary-MiddleHover: hsl(@CmColor-Primary, @CmColor-Primary-MiddleSaturation, @CmVar-Color-MiddleHover-Lightness + @CmColor-Primary-MiddleLightness);
@CmColor-Primary-MiddleActive: hsl(@CmColor-Primary, @CmColor-Primary-MiddleSaturation, @CmVar-Color-MiddleActive-Lightness + @CmColor-Primary-MiddleLightness);
@CmColor-Primary-MiddleActiveHover: hsl(@CmColor-Primary, @CmColor-Primary-MiddleSaturation, @CmVar-Color-MiddleActiveHover-Lightness + @CmColor-Primary-MiddleLightness);

// /* Light Key */

@CmColor-Primary-LightSaturation: 70%;
@CmColor-Primary-LightLightness: 0%;
@CmColor-Primary-LightDefault: transparent; // hsl(@CmColor-Primary, @CmColor-Primary-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Primary-LightLightness)
@CmColor-Primary-LightSelected: hsl(@CmColor-Primary, @CmColor-Primary-LightSaturation, @CmVar-Color-LightSelected-Lightness + @CmColor-Primary-LightLightness);
@CmColor-Primary-LightHover: hsl(@CmColor-Primary, @CmColor-Primary-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Primary-LightLightness);
@CmColor-Primary-LightActive: hsl(@CmColor-Primary, @CmColor-Primary-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Primary-LightLightness);
@CmColor-Primary-LightActiveHover: hsl(@CmColor-Primary, @CmColor-Primary-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Primary-LightLightness);

// /* ******* SECONDARY ******* */

@CmColor-Secondary: 0;

// /* Dark Key */

@CmColor-Secondary-DarkSaturation: 0%;
@CmColor-Secondary-DarkLightness: 0%;
@CmColor-Secondary-DarkDefault: hsl(@CmColor-Secondary, @CmColor-Secondary-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Secondary-DarkLightness);
@CmColor-Secondary-DarkHover: hsl(@CmColor-Secondary, @CmColor-Secondary-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Secondary-DarkLightness);
@CmColor-Secondary-DarkActive: hsl(@CmColor-Secondary, @CmColor-Secondary-DarkSaturation, @CmVar-Color-DarkActive-Lightness + @CmColor-Secondary-DarkLightness);
@CmColor-Secondary-DarkActiveHover: hsl(@CmColor-Secondary, @CmColor-Secondary-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Secondary-DarkLightness);

// /* Middle Tone Key */

@CmColor-Secondary-MiddleSaturation: 0%;
@CmColor-Secondary-MiddleLightness: 0%;
@CmColor-Secondary-MiddleDefault: hsl(@CmColor-Secondary, @CmColor-Secondary-MiddleSaturation, @CmVar-Color-MiddleDefault-Lightness + @CmColor-Secondary-MiddleLightness);
@CmColor-Secondary-MiddleHover: hsl(@CmColor-Secondary, @CmColor-Secondary-MiddleSaturation, @CmVar-Color-MiddleHover-Lightness + @CmColor-Secondary-MiddleLightness);
@CmColor-Secondary-MiddleActive: hsl(@CmColor-Secondary, @CmColor-Secondary-MiddleSaturation, @CmVar-Color-MiddleActive-Lightness + @CmColor-Secondary-MiddleLightness);
@CmColor-Secondary-MiddleActiveHover: hsl(@CmColor-Secondary, @CmColor-Secondary-MiddleSaturation, @CmVar-Color-MiddleActiveHover-Lightness + @CmColor-Secondary-MiddleLightness);

// /* Light Key */

@CmColor-Secondary-LightSaturation: 0%;
@CmColor-Secondary-LightLightness: 0%;
@CmColor-Secondary-LightDefault: transparent; // hsl(@CmColor-Secondary, @CmColor-Secondary-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Secondary-LightLightness)
@CmColor-Secondary-LightSelected: hsl(@CmColor-Secondary, @CmColor-Secondary-LightSaturation, @CmVar-Color-LightSelected-Lightness + @CmColor-Secondary-LightLightness);
@CmColor-Secondary-LightHover: hsl(@CmColor-Secondary, @CmColor-Secondary-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Secondary-LightLightness);
@CmColor-Secondary-LightActive: hsl(@CmColor-Secondary, @CmColor-Secondary-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Secondary-LightLightness);
@CmColor-Secondary-LightActiveHover: hsl(@CmColor-Secondary, @CmColor-Secondary-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Secondary-LightLightness);

// /* ******* SUCCESS ******* */

@CmColor-Success: 120;

// /* Dark Key */

@CmColor-Success-DarkSaturation: 65%;
@CmColor-Success-DarkLightness: -10%;
@CmColor-Success-DarkDefault: hsl(@CmColor-Success, @CmColor-Success-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Success-DarkLightness);
@CmColor-Success-DarkHover: hsl(@CmColor-Success, @CmColor-Success-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Success-DarkLightness);
@CmColor-Success-DarkActive: hsl(@CmColor-Success, @CmColor-Success-DarkSaturation, @CmVar-Color-DarkActive-Lightness + @CmColor-Success-DarkLightness);
@CmColor-Success-DarkActiveHover: hsl(@CmColor-Success, @CmColor-Success-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Success-DarkLightness);

// /* Light Key */

@CmColor-Success-LightSaturation: 60%;
@CmColor-Success-LightLightness: 0%;
@CmColor-Success-LightDefault: transparent; // hsl(@CmColor-Success, @CmColor-Success-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Success-LightLightness)
@CmColor-Success-LightHover: hsl(@CmColor-Success, @CmColor-Success-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Success-LightLightness);
@CmColor-Success-LightActive: hsl(@CmColor-Success, @CmColor-Success-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Success-LightLightness);
@CmColor-Success-LightActiveHover: hsl(@CmColor-Success, @CmColor-Success-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Success-LightLightness);

// /* ******* DANGER ******* */

@CmColor-Danger: 0;

// /* Dark Key */

@CmColor-Danger-DarkSaturation: 65%;
@CmColor-Danger-DarkLightness: 0%;
@CmColor-Danger-DarkDefault: hsl(@CmColor-Danger, @CmColor-Danger-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Danger-DarkLightness);
@CmColor-Danger-DarkHover: hsl(@CmColor-Danger, @CmColor-Danger-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Danger-DarkLightness);
@CmColor-Danger-DarkActive: hsl(@CmColor-Danger, @CmColor-Danger-DarkSaturation, @CmVar-Color-DarkActive-Lightness + @CmColor-Danger-DarkLightness);
@CmColor-Danger-DarkActiveHover: hsl(@CmColor-Danger, @CmColor-Danger-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Danger-DarkLightness);

// /* Light Key */

@CmColor-Danger-LightSaturation: 65%;
@CmColor-Danger-LightLightness: 0%;
@CmColor-Danger-LightDefault: transparent; //hsl(@CmColor-Danger, @CmColor-Danger-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Danger-LightLightness)
@CmColor-Danger-LightHover: hsl(@CmColor-Danger, @CmColor-Danger-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Danger-LightLightness);
@CmColor-Danger-LightActive: hsl(@CmColor-Danger, @CmColor-Danger-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Danger-LightLightness);
@CmColor-Danger-LightActiveHover: hsl(@CmColor-Danger, @CmColor-Danger-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Danger-LightLightness);

// /* ******* WARNING ******* */

@CmColor-Warning: 38;

// /* Dark Key */

@CmColor-Warning-DarkSaturation: 75%;
@CmColor-Warning-DarkLightness: 0%;
@CmColor-Warning-DarkDefault: hsl(@CmColor-Warning, @CmColor-Warning-DarkSaturation, @CmVar-Color-DarkDefault-Lightness + @CmColor-Warning-DarkLightness);
@CmColor-Warning-DarkHover: hsl(@CmColor-Warning, @CmColor-Warning-DarkSaturation, @CmVar-Color-DarkHover-Lightness + @CmColor-Warning-DarkLightness);
@CmColor-Warning-DarkActive: hsl(@CmColor-Warning, @CmColor-Warning-DarkSaturation, @CmVar-Color-DarkActive-Lightness);
@CmColor-Warning-DarkActiveHover: hsl(@CmColor-Warning, @CmColor-Warning-DarkSaturation, @CmVar-Color-DarkActiveHover-Lightness + @CmColor-Warning-DarkLightness);

// /* Light Key */

@CmColor-Warning-LightSaturation: 70%;
@CmColor-Warning-LightLightness: 0%;
@CmColor-Warning-LightDefault: transparent; //hsl(@CmColor-Warning, @CmColor-Warning-LightSaturation, @CmVar-Color-LightDefault-Lightness + @CmColor-Warning-LightLightness)
@CmColor-Warning-LightSelected: hsl(@CmColor-Warning, @CmColor-Warning-LightSaturation, @CmVar-Color-LightSelected-Lightness + @CmColor-Warning-LightLightness);
@CmColor-Warning-LightHover: hsl(@CmColor-Warning, @CmColor-Warning-LightSaturation, @CmVar-Color-LightHover-Lightness + @CmColor-Warning-LightLightness);
@CmColor-Warning-LightActive: hsl(@CmColor-Warning, @CmColor-Warning-LightSaturation, @CmVar-Color-LightActive-Lightness + @CmColor-Warning-LightLightness);
@CmColor-Warning-LightActiveHover: hsl(@CmColor-Warning, @CmColor-Warning-LightSaturation, @CmVar-Color-LightActiveHover-Lightness + @CmColor-Warning-LightLightness);

// /* ******* FONT ******* */

@CmColor-Font: #666666;
@CmColor-Font-Opposite: #ffffff;
@CmColor-Font-Hint: #999999;
@CmColor-Font-Placeholder: #b7b7b7;
@CmColor-Font-Link: @CmColor-Primary-DarkDefault;
@CmColor-Font-LinkHover: @CmColor-Primary-DarkHover;
@CmColor-Font-LinkActive: @CmColor-Primary-DarkActive;

// /* ******* OTHER ******* */

@CmColor-Mark: #fdf6ad;
@CmColor-Gallery: #111111;
@CmColor-Border: @CmColor-Secondary-MiddleDefault;
@CmColor-BorderHover: @CmColor-Secondary-MiddleActiveHover;
@CmColor-BorderActive: @CmColor-Primary-MiddleActive;
@CmColor-BorderDisabled: @CmColor-Secondary-LightActive;

// /* ************************************************ */
// /* ******* FONT ******* */
// /* ************************************************ */

// /* ******* BASE ******* */

@CmFont-Base-LightWeight: 300;
@CmFont-Base-NormalWeight: 400;
@CmFont-Base-BoldWeight: 600;

@CmFont-Base-LineHeight: 18px;
@CmFont-Base-Family: 'Open Sans', arial, helvetica, sans-serif;
@CmFont-Base-Size: 13px;
@CmFont-Base-Weight: @CmFont-Base-NormalWeight;
@CmFont-Base-Color: @CmColor-Font;
@CmFont-Base-ColorOpposite: @CmColor-Font-Opposite;

@CmFont-Base-Hint-Size: 11px;
@CmFont-Base-Hint-Color: @CmColor-Font-Hint;

// /* ******* UI ******* */

@CmFont-UI-LightWeight: 300;
@CmFont-UI-NormalWeight: 400;
@CmFont-UI-BoldWeight: 600;

@CmFont-UI-LineHeight: 18px;
@CmFont-UI-Size: 11px;
@CmFont-UI-Family: 'Open Sans', arial, helvetica, sans-serif;
@CmFont-UI-Weight: @CmFont-UI-NormalWeight;
@CmFont-UI-Color: @CmColor-Font;
@CmFont-UI-ColorOpposite: @CmColor-Font-Opposite;

@CmFont-UI-H1-LineHeight: 38px;
@CmFont-UI-H1-Size: 30px;
@CmFont-UI-H1-Weight: @CmFont-UI-LightWeight;
@CmFont-UI-H1-Color: @CmColor-Font;

@CmFont-UI-H4-LineHeight : 24px;
@CmFont-UI-H4-Size: 16px;
@CmFont-UI-H4-Weight: @CmFont-UI-LightWeight;
@CmFont-UI-H4-Color: @CmColor-Font;

// /* ************************************************ */
// /* ******* UI ******* */
// /* ************************************************ */

// /* ******* COMMON ******* */

@CmUI-Transition-Duration: 300ms;
@CmUI-Transition-DurationReverse: 100ms;
@CmUI-Opacity-Hover: 0.7;
@CmUI-Shadow: 0 0 10px rgba(0, 0, 0, 0.15);
@CmUI-ShadowLight: 0 0 2px rgba(0,0,0,0.2);
@CmUI-ShadowInner: 0 2px 2px rgba(0,0,0,0.4) inset;
@CmUI-ShadowOuter: 0 2px 2px rgba(0,0,0,0.15);

// /* ******* BORDER ******* */

@CmBorder-Radius: 3px;
@CmBorder-Width: 1px;
@CmBorder-BoxWidth: 2px;
@CmBorder-Default: @CmBorder-Width solid @CmColor-Border;
@CmBorder-Separator: @CmBorder-Width dotted @CmColor-Border;
@CmBorder-Editable: @CmBorder-Width dashed @Cm-color;
@CmBorder-Box: @CmBorder-BoxWidth solid @CmColor-Border;
@CmBorder-BoxActive: @CmBorder-BoxWidth solid @Cm-colorActive;
@CmBorder-BoxSelected: @CmBorder-BoxWidth solid @Cm-color;

// /* *** COLORS *** */

@Cm-color: hsl(210, 80%, 55%);
@Cm-colorLighten: lighten(@Cm-color, 40%);
@Cm-colorActive: lighten(desaturate(@Cm-color, 2%), 37%);
@Cm-colorActiveHover: darken(@Cm-colorActive, 5%);
@Cm-colorSecondary: hsl(0, 0, 95%);
@Cm-colorSecondaryHover: lighten(@Cm-colorSecondary, 3%);

// /* ************************************************ */
// /* ******* COMMON ******* */
// /* ************************************************ */

// /* *** BUTTONS *** */

@CmButton-PaddingX: @CmIndent-XSmall;

// /* *** INPUTS *** */

@CmInput-Padding: 6px;
@CmTextarea-Height: 100px;
@CmSelect-Size: 7;

// /* *** FORM *** */

@CmForm-FieldHeight: 28px;
@CmForm-FieldIndent: @CmIndent-Small;
@CmForm-FieldTitleWidth: 150px;
@CmForm-FieldInnerIndent: @CmForm-FieldIndent / 2;
@CmForm-FieldSmallWidth: 210px;
@CmForm-ButtonsIndent: @CmIndent-XXSmall;
@CmForm-IconsIndent: @CmIndent-XXSmall;
@CmForm-ImageBox-ButtonWidth: 100px;
@CmForm-Cols-Names: one two three four five six seven eight nine ten;
@CmForm-Cols-Indent: 2%;
@CmForm-FilesList-Count: 3;

// /* *** COUNTER *** */

@CmCounter-Size: @CmSize-Small;
@CmCounter-Radius: @CmCounter-Size;

// /* *** DRAG AND DROP *** */

@CmDraganddrop-AreaPadding: @CmIndent-XSmall;
@CmDraganddrop-AreaBorderRadius: @CmBorder-Radius;
@CmDraganddrop-AreaBackgroundActive: fade(@CmColor-Primary-DarkDefault, 12%);
@CmDraganddrop-AreaBackgroundHighlight: fade(@CmColor-Primary-DarkDefault, 5%);
@CmDraganddrop-AreaActiveBorder: 1px dashed @CmColor-Primary-DarkDefault;
@CmDraganddrop-AreaHighlightBorder: 1px dashed fade(@CmColor-Primary-DarkDefault, 30%);

// /* ************************************************ */
// /* ******* PARTS ******* */
// /* ************************************************ */

// /* *** MENU *** */

@CmMenu-indent: @CmIndent-XXXSmall;
@CmMenu-itemIndentY: 2px;
@CmMenu-itemIndentX: @CmIndent-XSmall;

// /* *** LINKS *** */

@PtLinks-Indent: @CmIndent-XXXSmall;

// /* *** IMAGE *** */

@PtImage-Background: @CmColor-Secondary-LightSelected;
@PtImage-TitlePaddingTop: @CmIndent-XXXSmall;
@PtImage-Color: @CmFont-UI-ColorOpposite;

// /* *** ITEM BOX *** */

@PtItemBox-Sizes: 50 80 150;

// /* *** LISTING ITEMS *** */

@PtListingItems-Count: 10;
@PtListingItems-PaddingY: 2px;
@PtListingItems-PaddingX: 4px;
@PtListingItems-Indent: 1px;

// /* *** LISTING COUNTERS *** */

@PtListingCounters-Indent: @CmIndent-XXXSmall;
@PtListingCounters-Height: @CmSize-Medium;

// /* *** GRID *** */

@PtGrid-Indent: @CmIndent-Medium / 2;
@PtGrid-Indents: @CmIndents;

// /* *** SELECTABLE*** */

@PtSelectable-background-hover: @Cm-colorSecondary;
@PtSelectable-border-color-active: @Cm-colorActive;

// /* *** TOOLBAR *** */

@PtToolbar-GroupIndent: @CmIndent-Small;
@PtToolbar-ItemIndent: @CmIndent-XXXSmall;
@PtToolbar-XSmall: 70px;
@PtToolbar-Small: 100px;
@PtToolbar-Medium: 150px;
@PtToolbar-Large: 250px;
@PtToolbar-XLarge: 350px;

// /* *** LINE SHARE *** */

@PtLineShare-Size: @CmSize-Large;

// /* *** BOX *** */

@PtBoxContent-Indent: @CmIndent-XLarge;
@PtBoxContent-Indents: @CmIndents;

// /* *** GRIDLIST *** */

@PtGridlist-AdaptiveFrom: @CmScreen-Mobile;
@PtGridlist-Font-Size: @CmFont-UI-Size;
@PtGridlist-FontTitle-Size: @CmFont-UI-Size;
@PtGridlist-PaddingInner: 6px;

// /* ************************************************ */
// /* ******* LAYOUTS ******* */
// /* ************************************************ */

// /* *** COLLAPSIBLE *** */

@LtCollapsible-SidebarWidth: 350px;
@LtCollapsible-Duration: 500ms;

// /* *** FORUM *** */

@LtForum-AdaptiveFrom: @CmScreen-Mobile;
@LtForum-PostBackground: @CmColor-Secondary-LightSelected;
@LtForum-PostBackgroundFeatured: @CmColor-Primary-LightSelected;
@LtForum-PostTitleBackground: @CmColor-Secondary-LightActive;
@LtForum-PostLeftColumnSize: 150px;

// /* *** PROFILE *** */

@LtProfile-LeftColumn: 150px;

// /* ************************************************ */
// /* ******* COMPONENTS ******* */
// /* ************************************************ */

// /* *** CALENDAR *** */

@ComCalendar-CellHeight: 21px;
@ComCalendar-CellBorderRadius: min(@CmBorder-Radius, 2px);

@ComCalendar-Outer-Background: transparent;
@ComCalendar-Outer-BackgroundHover: transparent;
@ComCalendar-Outer-BorderSize: 0;
@ComCalendar-Outer-Border: transparent;
@ComCalendar-Outer-BorderHover: transparent;

@ComCalendar-Inner-Background: @CmColor-Secondary-LightSelected;
@ComCalendar-Inner-BackgroundHover: @CmColor-Secondary-LightHover;
@ComCalendar-Inner-BorderSize: 1px;
@ComCalendar-Inner-Border: @CmColor-Secondary-LightActive;
@ComCalendar-Inner-BorderHover: @CmColor-Secondary-LightActiveHover;

@ComCalendar-Weekend-Background: @CmColor-Secondary-LightActive;
@ComCalendar-Weekend-BackgroundHover: @CmColor-Secondary-LightActiveHover;
@ComCalendar-Weekend-BorderSize: @ComCalendar-Inner-BorderSize;
@ComCalendar-Weekend-Border: @CmColor-Secondary-LightActive;
@ComCalendar-Weekend-BorderHover: @CmColor-Secondary-LightActiveHover;

@ComCalendar-Today-Background: '';
@ComCalendar-Today-BackgroundHover: @CmColor-Primary-LightActiveHover;
@ComCalendar-Today-BorderSize: 2px;
@ComCalendar-Today-Border: @CmColor-Primary-DarkDefault;
@ComCalendar-Today-BorderHover: @CmColor-Primary-DarkHover;

@ComCalendar-Active-Background: @CmColor-Primary-LightActive;
@ComCalendar-Active-BackgroundHover: @CmColor-Primary-LightActiveHover;
@ComCalendar-Active-BorderSize: @ComCalendar-Inner-BorderSize;
@ComCalendar-Active-Border: @CmColor-Primary-DarkDefault;
@ComCalendar-Active-BorderHover: @CmColor-Primary-DarkHover;

// /* *** COLUMNS *** */

@ComColumns-adaptiveFrom: @CmScreen-Mobile;
@ComColumns-indent: @CmIndent-Medium;
@ComColumns-indents: 0px @CmIndent-XXXSmall @CmIndent-XXSmall @CmIndent-XSmall @CmIndent-Small @CmIndent-Medium @CmIndent-Large @CmIndent-XLarge @CmIndent-XXLarge;
@ComColumns-minHeight: 64px;
@ComColumns-backgroundHover: rgba(0, 0, 0, 0.01);

@ComColumns-Drag-DefaultBackground: @CmColor-Secondary-LightActive;
@ComColumns-Drag-DefaultBorder: @CmColor-Border;

@ComColumns-Drag-HoverBackground: @CmColor-Secondary-LightHover;
@ComColumns-Drag-HoverBorder: @CmColor-BorderHover;

@ComColumns-Drag-ActiveBackground: @CmColor-Primary-LightActive;
@ComColumns-Drag-ActiveBorder: @CmColor-Primary-MiddleActive;

// /* *** DATEPICKER *** */

@ComDatepicker-Width: @CmForm-FieldSmallWidth;
@ComDatepicker-TooltipWidth: @ComDatepicker-Width;

// /* *** TIME SELECT *** */

@ComTimeSelect-Width: @CmForm-FieldSmallWidth;
@ComTimeSelect-Indent: @CmIndent-Medium;

// /* *** COLOR PALETTE *** */

@ComColorPalette-Size: 200px;

// /* *** COLOR PICKER *** */

@ComColorPicker-Width: @CmForm-FieldSmallWidth;

// /* *** DIALOG *** */

@ComDialog-Indent: @CmIndent-Medium;
@ComDialog-TitleIndent: @CmIndent-XSmall;

@ComDialog-Black-Background: @CmColor-Gallery;
@ComDialog-Black-TitleColor: @CmFont-UI-ColorOpposite;

// /* *** TABSET *** */

@ComTabset-adaptiveFrom: @CmScreen-Mobile;
@ComTabset-BorderColor: @CmColor-Border;
@ComTabset-BorderRadius: @CmBorder-Radius;
@ComTabset-Tabs-Height: @CmForm-FieldHeight;
@ComTabset-Tabs-Indent: @CmIndent-XXXSmall;
@ComTabset-Tabs-Background: @CmColor-Secondary-LightSelected;
@ComTabset-Tabs-BackgroundHover: @CmColor-Secondary-LightHover;
@ComTabset-Tabs-BackgroundActive: @CmColor-Secondary-LightDefault;
@ComTabset-Tabs-Title: @CmColor-Secondary-LightSelected;

// /* *** TOGGLE BOX *** */

@ComToggleBox-adaptiveFrom: @CmScreen-Mobile;
@ComToggleBox-size: @CmFont-UI-H1-LineHeight;
@ComToggleBox-sizeMedium: @CmSize-Medium;
@ComToggleBox-sizeUI: @CmSize-Medium;
@ComToggleBox-contentBorder: 1px solid #ffffff;
@ComToggleBox-contentBackground: @CmColor-Secondary-LightSelected;
@ComToggleBox-contentSpaceBorder: @ComToggleBox-contentBorder;
@ComToggleBox-titleBackground: @CmColor-Secondary-LightActive;

// /* *** SELECT *** */

@ComSelect-ListCount: 7;
@ComSelect-MultiListCount: 5;

// /* *** AUTOCOMPLETE *** */

@ComAutocomplete-ListCount: 7;

// /* *** TAGS INPUT *** */

@ComTagsInput-itemIndent: @CmForm-ButtonsIndent;
@ComTagsInput-itemWidth: 250px;
@ComTagsInput-inputWidth: 200px;

// /* *** GALLERY *** */

@ComGallery-Background: @CmColor-Gallery;

// /* *** GALLERY CONTROLS *** */

@ComGalleryControls-ButtonSize: @CmSize-XSmall;

// /* *** GALLERY LAYOUT *** */

@ComGalleryLayout-ArrowWidth: @CmIndent-Medium;
@ComGalleryLayout-SizesCount: 12;