:root {
    --cm-button--gap: @CmButton-Gap;

    --pt-buttons--indent: @CmForm-ButtonsIndent;
    --pt-buttons--box-indent: @CmForm-FieldIndent;

    --pt-field--title-width: @CmForm-FieldTitleWidth;
    --pt-field--title-indent: @CmForm-FieldIndent;
}
