
// /* ************************************************ */
// /* ******* MAGPIE UI: VARIABLES: ICONS ******* */
// /* ************************************************ */

// /* ******* FONT GLYPH ******* */

@CmIconVars-Family: 'Magpie-UI-Glyphs';
@CmIconVars-Color: @CmColor-Icon;
@CmIconVars-Version: @CmVersion;

@CmIcon-Magnify: '\e600';
@CmIcon-Reduce: '\e601';

@CmIcon-CircleArrowLeft: '\e700';
@CmIcon-CircleArrowRight: '\e701';
@CmIcon-CircleArrowUp: '\e702';
@CmIcon-CircleArrowDown: '\e703';
@CmIcon-CircleClose: '\e704';

@CmIcon-CircleTwitter: '\e800';
@CmIcon-CircleInstagram: '\e801';
@CmIcon-CircleYoutube: '\e802';
@CmIcon-CircleVK: '\e803';
@CmIcon-CircleFacebook: '\e804';

@CmIcon-ChevronDown: '\e900';
@CmIcon-ChevronUp: '\e901';
@CmIcon-ChevronLeft: '\e902';
@CmIcon-ChevronRight: '\e903';

// /* ******* ANIMATED ******* */

@CmIconIA-Spinner-BorderSize: 3px;
@CmIconIA-Spinner-DefaultBackground: @CmColor-Secondary-LightActive;
@CmIconIA-Spinner-ActiveBackground: @CmColor-Primary-DarkDefault;