
// /* ************************************************ */
// /* ******* FONT GLYPH ******* */
// /* ************************************************ */

@CmIconVars-Family: 'Magpie-UI-Glyphs';
@CmIconVars-Color: @CmColor-Icon;
@CmIconVars-Version: 13;

@CmIcon-Magnify: '\e600';

@CmIcon-CircleArrowLeft: '\e700';
@CmIcon-CircleArrowRight: '\e701';
@CmIcon-CircleClose: '\e702';

@CmIcon-CircleTwitter: '\e800';
@CmIcon-CircleInstagram: '\e801';
@CmIcon-CircleYoutube: '\e802';
@CmIcon-CircleVK: '\e803';
@CmIcon-CircleFacebook: '\e804';

@CmIcon-ChevronDown: '\e900';
@CmIcon-ChevronUp: '\e901';
@CmIcon-ChevronLeft: '\e902';
@CmIcon-ChevronRight: '\e903';