
// /* ************************************************ */
// /* ******* FONT GLYPH ******* */
// /* ************************************************ */

@CmIconVars-Family: 'Magpie-UI-Glyphs';
@CmIconVars-Color: @CmColor-Icon;
@CmIconVars-Version: 11;

@CmIcon-Magnify: '\e600';

@CmIcon-CircleArrowLeft: '\e700';
@CmIcon-CircleArrowRight: '\e701';
@CmIcon-CircleClose: '\e702';

@CmIcon-CircleTwitter: '\e800';
@CmIcon-CircleInstagram: '\e801';
@CmIcon-CircleYoutube: '\e802';
@CmIcon-CircleVK: '\e803';