/* ******* PART: ANIMATED ******* */

.cm-animated {
    visibility: hidden;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.cm-animated--fade-in {
    visibility: visible;
    -webkit-animation-name: cm-animated--fade-in;
            animation-name: cm-animated--fade-in;
}

.cm-animated--fade-in-up {
    visibility: visible;
    animation-name: cm-animated--fade-in-up;
    animation-name: cm-animated--fade-in-up;
}

.cm-animated--fade-in-down {
    visibility: visible;
    -webkit-animation-name: cm-animated--fade-in-down;
            animation-name: cm-animated--fade-in-down;
}

.cm-animated--bounce {
    visibility: visible;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-name: cm-animated--shake;
            animation-name: cm-animated--shake;
}

.cm-animated--fade-pull-right {
    visibility: visible;
    -webkit-animation-name: cm-animated--fade-pull-right;
            animation-name: cm-animated--fade-pull-right;
}

.cm-animated--fade-pull-left {
    visibility: visible;
    -webkit-animation-name: cm-animated--fade-pull-left;
            animation-name: cm-animated--fade-pull-left;
}

/* *** KEYFRAMES *** */

@keyframes cm-animated--fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cm-animated--fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(@cm-Medium);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cm-animated--fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-@cm-Medium);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cm-animated--bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes cm-animated--fade-pull-right {
    0% {
        opacity: 0;
        transform: translateX(-2048px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes cm-animated--fade-pull-left {
    0% {
        opacity: 0;
        transform: translateX(2048px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}