/* ******* ASPECT RATIO ******* */

/* Landscape */

.cm-aspect-4x3 {
    padding-bottom: 75%;
}

.cm-aspect-3x2 {
    padding-bottom: 66.66%;
}

.cm-aspect-16x10 {
    padding-bottom: 62.5%;
}

.cm-aspect-16x9 {
    padding-bottom: 56.25%;
}

.cm-aspect-21x9 {
    padding-bottom: 42.85%;
}

.cm-aspect-35x10 {
    padding-bottom: 28.57%;
}

/* Portrait */

.cm-aspect-3x4 {
    padding-bottom: 133.33%;
}

.cm-aspect-2x3 {
    padding-bottom: 150%;
}

.cm-aspect-10x16 {
    padding-bottom: 160%;
}

.cm-aspect-9x16 {
    padding-bottom: 177.77%;
}