/* *** PARTS: BUTTONS *** */

.cm-button {
    #cm > .button;

    &.has-icon {
        padding-left: 0;

        .icon {
            display: block;
            float: left;
            position: relative;
            top: 50%;
        }
    }

    &.has-icon-medium {
        .icon {
            margin: -(@Cm-Medium / 2) round((@CmForm-fieldHeight - @Cm-Medium) / 2) 0;
        }
    }

    &.has-icon-small {
        .icon {
            margin: -(@Cm-Small / 2) round((@CmForm-fieldHeight - @Cm-Small) / 2) 0;
        }
    }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    &:extend(.cm-button all);
}

/* *** BUTTONS CONTAINER *** */

.btn-wrap {
    &:extend(.clearfix all);

    margin-top: @Cm-indentMedium;

    .hint {
        padding: 0 @CmForm-buttonsIndent 0 0;
        font-style: italic;
        overflow: hidden;
        text-align: right;
        line-height: @CmForm-fieldHeight;
        font-size: 12px;
    }

    .cm-button,
    .browse-button,
    .com-action-menu {
        max-width: 100%;
        float: right;
        margin: 0 0 0 @CmForm-buttonsIndent;

        &.left {
            float: left;
            margin: 0 @CmForm-buttonsIndent 0 0;
        }

        &.wide {
            width: 100%;
            float: none;
            margin: 0;
        }
    }

    &.error {
        .hint {
            color: @Cm-colorError;
        }
    }

    &.ok {
        .hint {
            color: @Cm-colorValid;
        }
    }

    &.pull-left,
    &.left {
        .cm-button,
        .browse-button,
        .com-action-menu {
            float: left;
            margin: 0 @CmForm-buttonsIndent 0 0;
        }
    }

    &.pull-center,
    &.centered {
        text-align: center;

        .cm-button,
        .browse-button,
        .com-action-menu {
            float: none;
            display: inline-block;
            margin: 0 0 0 @CmForm-buttonsIndent;

            &:first-child {
                margin: 0;
            }
        }
    }

    &.is-block {
        height: auto;

        .cm-button,
        .browse-button,
        .com-action-menu {
            width: 100%;
            display: block;
            margin: @CmForm-buttonsIndent 0 0 0;
            float: none;
            .cm-text-overflow;

            &:first-child {
                margin: 0;
            }
        }
    }

    &.is-flexible {
        .display-flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;

        .cm-button,
        .browse-button,
        .com-action-menu {
            float: none;
            .cm-flex(1);

            &:first-child {
                margin: 0;
            }
        }
    }
}