/* *** PARTS: BUTTONS *** */

.cm-button {
    #cm > .button;

    &.has-icon {
        padding-left: 0;

        .icon {
            display: block;
            float: left;
            position: relative;
            top: 50%;
        }
    }

    &.has-icon-medium {
        .icon {
            margin: -(@cm-Medium / 2) round((@CmForm-fieldHeight - @cm-Medium) / 2) 0;
        }
    }

    &.has-icon-small {
        .icon {
            margin: -(@cm-Small / 2) round((@CmForm-fieldHeight - @cm-Small) / 2) 0;
        }
    }
}

input[type="button"]:extend(.cm-button all),
input[type="submit"]:extend(.cm-button all),
input[type="reset"]:extend(.cm-button all),
button:extend(.cm-button all),
.button:extend(.cm-button all) {

}

/* *** BUTTONS CONTAINER *** */

.btn-wrap {
    height: @CmForm-fieldHeight;
    margin-top: @cm-indentMedium;
    line-height: @CmForm-fieldHeight;

    .hint {
        padding: 0 @CmForm-buttonsIndent 0 0;
        font-style: italic;
        overflow: hidden;
        text-align: right;
        line-height: @CmForm-fieldHeight;
        font-size: 12px;
    }

    .cm-button,
    .browse-button,
    .com-action-menu {
        float: right;
        margin: 0 0 0 @CmForm-buttonsIndent;

        &.left {
            float: left;
            margin: 0 @CmForm-buttonsIndent 0 0;
        }

        &.wide {
            width: 100%;
            float: none;
            margin: 0;
        }
    }

    &.error {
        .hint {
            color: @cm-colorError;
        }
    }

    &.ok {
        .hint {
            color: @cm-colorValid;
        }
    }

    &.left {
        .cm-button,
        .browse-button,
        .com-action-menu {
            float: left;
            margin: 0 @CmForm-buttonsIndent 0 0;
        }
    }

    &.centered {
        text-align: center;

        .cm-button,
        .browse-button,
        .com-action-menu {
            float: none;
            display: inline-block;
            margin: 0 0 0 @CmForm-buttonsIndent;

            &:first-child {
                margin: 0;
            }
        }
    }

    &.is-block {
        height: auto;

        .cm-button,
        .browse-button,
        .com-action-menu {
            width: 100%;
            display: block;
            margin: @CmForm-buttonsIndent 0 0 0;
            float: none;
            .cm-text-overflow;

            &:first-child {
                margin: 0;
            }
        }
    }

    &.is-flexible {
        -ms-flex-pack: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;

        .cm-button,
        .browse-button,
        .com-action-menu {
            float: none;
            -webkit-flex: 1;
                -ms-flex: 1;
                    flex: 1;
        }
    }
}