/* ******* DRAG AND DROP ******* */

.cm-draganddrop-body,
.cm-draganddrop-body * {
    cursor: move !important;
    .cm-user-select(none);
}

.cm-draganddrop-helper {
    position: fixed;
    z-index: 9000;
    .cm-user-select(none);
}

.cm-draganddrop-chassis {
    height: 0;
    .cm-transition(height 0s linear);
}

.cm-draganddrop-removable {
    overflow: hidden;
}

.cm-draganddrop-area {
    min-height: @cm-indentMedium;
    padding: @CmDraganddrop-areaPadding;

    &.is-available {
        border-radius: @CmDraganddrop-areaBorderRadius;
        .cm-transition(background-color @cm-transitionDuration ease-in-out);

        &.is-active {
            background-color: @CmDraganddrop-areaBackgroundActive;

            .cm-draganddrop-area {
                background-color: rgba(255,255,255,0.4);
            }
        }
    }
}