/* ******* EDITABLE AREA ******* */

#cm-editable-bundle () {
    .normal {
        width: 100%;
        position: relative;
        z-index: 1;

        > .border,
        > .drag,
        > .menu {
            display: none;
        }
    }

    .editable {
        display: inline-block;
        cursor: text;
        vertical-align: top;

        > .border {
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: @Cm-borderEditable;
            border-radius: @Cm-borderRadius;
            opacity: 0;
            .cm-transition(all @Cm-Transition-Duration ease-in-out);
        }

        > .inner {
            width: 100%;
            display: inline-block;
            position: relative;
            z-index: 2;
            vertical-align: top;

            &:hover {
                z-index: 5;
            }
        }

        > .drag {
            width: 80px;
            height: 24px;
            margin: 0 0 0 -40px;
            display: block;
            position: absolute;
            z-index: 3;
            left: 50%;
            opacity: 0;
            background: @Cm-colorSecondary;
            background-clip: border-box;
            border: @Cm-borderEditable;
            border-radius: @Cm-borderRadius;
            cursor: move;
            visibility: hidden;
            .cm-transition(all @Cm-Transition-Duration ease-in-out);

            .icon {
                width: 34px;
                height: 6px;
                margin: 9px auto;
                display: block;
            }

            &:hover {
                background: @Cm-colorSecondaryHover;
                .cm-transition(all @Cm-Transition-DurationReverse ease-in-out);
            }

            &:not(.is-bottom) {
                top: -12px;
            }

            &.is-bottom {
                bottom: -12px;
            }
        }

        > .menu {
            display: block;
            position: absolute;
            z-index: 4;
            top: -12px;
            right: -12px;
            opacity: 0;
            cursor: pointer;
            .cm-transition(all @Cm-Transition-Duration ease-in-out);

            .icon {
                width: 24px;
                height: 24px;
                display: block;
                position: relative;
                z-index: 2;
                background-color: @Cm-colorSecondary;
                border: @Cm-borderEditable;
                border-radius: @Cm-borderRadius;
            }

            .cm-menu-dropdown {
                .cm-menu-dropdown--base;
                z-index: 1;
                .cm-position(12px, 12px, auto, auto);
            }

            &:hover {
                z-index: 14;

                .icon {
                    background-color: @Cm-colorSecondaryHover;
                }

                .cm-menu-dropdown {
                    .cm-menu-dropdown--active;
                }
            }
        }
    }

    .hover {
        > .border {
            top: -16px;
            right: -16px;
            bottom: -16px;
            left: -16px;
            opacity: 1;
            background: #ffffff;
            .cm-transition(all @Cm-Transition-DurationReverse ease-in-out);
        }

        > .drag {
            opacity: 1;
            visibility: visible;
            .cm-transition(all @Cm-Transition-DurationReverse ease-in-out);

            &:not(.is-bottom) {
                top: -28px;
            }

            &.is-bottom {
                bottom: -28px;
            }
        }

        > .menu {
            top: -28px;
            right: -28px;
            opacity: 1;
            .cm-transition(all @Cm-Transition-DurationReverse ease-in-out);
        }
    }

    .active {
        > .drag {
            background-color: @Cm-colorActive;
        }
    }
}

.cm-editable {
    margin: 0 0 @Cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    #cm-editable-bundle > .normal;

    &.is-editable {
        #cm-editable-bundle > .editable;
    }

    &.is-active,
    &:hover {
        #cm-editable-bundle > .hover;
    }

    &.is-active {
        #cm-editable-bundle > .active;
    }
}