/* ******* PARTS: EDITABLE ******* */

.pt__editable__bundle () {
    .normal {
        width: 100%;
        position: relative;
        z-index: 1;

        > .border,
        > .drag,
        > .menu {
            display: none;
        }
    }

    .editable {
        display: inline-block;
        cursor: text;
        vertical-align: top;

        > .border {
            display: block;
            position: absolute;
            z-index: 1;
            border: @Cm-borderEditable;
            border-radius: @Cm-borderRadius;
            opacity: 0;
            .mx__transition(all, @CmVar-Transition-Duration);
            .mx__position(0, 0, 0, 0);
        }

        > .inner {
            width: 100%;
            display: inline-block;
            position: relative;
            z-index: 2;
            vertical-align: top;

            &:hover {
                z-index: 5;
            }
        }

        > .drag {
            width: 80px;
            height: 24px;
            margin: 0 0 0 -40px;
            display: block;
            position: absolute;
            z-index: 3;
            left: 50%;
            opacity: 0;
            background: @Cm-colorSecondary;
            border: @Cm-borderEditable;
            border-radius: @Cm-borderRadius;
            cursor: move;
            visibility: hidden;
            .mx__background-clip(border-box);
            .mx__transition(all, @CmVar-Transition-Duration);

            .icon {
                width: 34px;
                height: 6px;
                margin: 9px auto;
                display: block;
            }

            &:hover {
                background: @Cm-colorSecondaryHover;
                .mx__transition(all, @CmVar-Transition-DurationReverse);
            }

            &:not(.is-bottom) {
                top: -12px;
            }

            &.is-bottom {
                bottom: -12px;
            }
        }

        > .menu {
            display: block;
            position: absolute;
            z-index: 4;
            opacity: 0;
            cursor: pointer;
            .mx__transition(all, @CmVar-Transition-Duration);
            .mx__position(-12px, -12px, auto, auto);

            .icon {
                width: 24px;
                height: 24px;
                display: block;
                position: relative;
                z-index: 2;
                background-color: @Cm-colorSecondary;
                border: @Cm-borderEditable;
                border-radius: @Cm-borderRadius;
            }

            .cm-menu-dropdown {
                .cm-menu-dropdown--base;
                z-index: 1;
                .mx__position(12px, 12px, auto, auto);
            }

            &:hover {
                z-index: 14;

                .icon {
                    background-color: @Cm-colorSecondaryHover;
                }

                .cm-menu-dropdown {
                    .cm-menu-dropdown--active;
                }
            }
        }
    }

    .hover {
        > .border {
            opacity: 1;
            background: #ffffff;
            .mx__transition(all, @CmVar-Transition-DurationReverse);
            .mx__position(-16px, -16px, -16px, -16px);
        }

        > .drag {
            opacity: 1;
            visibility: visible;
            .mx__transition(all, @CmVar-Transition-DurationReverse);

            &:not(.is-bottom) {
                top: -28px;
            }

            &.is-bottom {
                bottom: -28px;
            }
        }

        > .menu {
            opacity: 1;
            .mx__transition(all, @CmVar-Transition-DurationReverse);
            .mx__position(-28px, -28px, auto, auto);
        }
    }

    .active {
        > .drag {
            background-color: @Cm-colorActive;
        }
    }
}

.pt__editable {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }

    .pt__editable__bundle > .normal;

    &.is-editable {
        .pt__editable__bundle > .editable;
    }

    &.is-active,
    &:hover {
        .pt__editable__bundle > .hover;
    }

    &.is-active {
        .pt__editable__bundle > .active;
    }
}