/* ******* PART: FORM ******* */

.form {
    cursor: default;

    &.in-content {
        margin: 0 0 @cm-indentMedium;
    }

    .required {
        color: @cm-colorError;
        font-weight: @cm-boldWeight;
    }
}

/* *** FIELD *** */

.form {
    dl:extend(.clear all) {
        margin: @CmForm-fieldIndent 0 0 0;
        padding: 0;
        display: block;
        clear: both;
    }

    > dl:first-child {
        margin-top: 0;
    }

    dt {
        width: @CmForm-fieldTitleWidth;
        display: block;
        margin: 0;
        padding: ((@CmForm-fieldHeight - @cm-lineHeight) / 2) 0;
        float: left;
        line-height: @cm-lineHeight;
    }

    dd {
        display: block;
        margin: 0 0 0 (@CmForm-fieldTitleWidth + @CmForm-fieldIndent);
        padding: 0;
        position: relative;

        &:first-child {
            margin: 0;
        }
    }
}

/* *** FIELD BOX *** */

.form-box {
    > dt {
        width: auto;
        float: none;
    }

    > dd {
        margin: 0 0 @CmForm-fieldInnerIndent 0;

        &:last-child {
            margin: 0;
        }
    }
}

/* *** FIELD WITH ICON *** */

.form-field {
    position: relative;

    .icon {
        width: @CmForm-fieldHeight;
        height: @CmForm-fieldHeight;
        padding: 0;
        position: absolute;
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        &.xxx-small,
        &.xx-small,
        &.x-small,
        &.small,
        &.medium,
        &.large {
            width: @CmForm-fieldHeight;
            height: @CmForm-fieldHeight;
        }
    }

    &.has-icon-left {
        .icon {
            .cm-position(0, auto, auto, 0);
        }

        input {
            padding-left: @CmForm-fieldHeight;
        }
    }

    &.has-icon-right {
        .icon {
            .cm-position(0, 0, auto, auto);
        }

        input {
            padding-right: @CmForm-fieldHeight;
        }
    }
}

/* *** HINT ***  */

.form .hint:extend(.cm-font-hint-cursive) {
    text-transform: none;
}

.form ul.hint {
    margin: 0;
    padding: 6px 0 2px;
    display: block;
    list-style: none;

    li {
        margin-top: 4px;
        line-height: 13px;

        &:first-child {
            margin: 0;
        }

        &:before {
            content: '-';
            margin-right: 4px;
        }
    }
}

/* ** BROWSE *** */

.browse-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;

    > .inner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    input[type="file"] {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;

        .ie8 &,
        .ie7 &,
        .ie6 & {
            .cm-opacity-ie(0);
        }
    }

    .cm-button {
        margin: 0 !important;
    }

    &:hover {
        .cm-button {
            #cm > .button-primary-hover;
        }
    }

    &:active {
        .cm-button {
            #cm > .button-primary-active;
        }
    }
}


/* *** BUTTON CONTAINER *** */

.btn-wrap {
    height: @CmForm-fieldHeight;
    margin-top: @cm-indentMedium;
    line-height: @CmForm-fieldHeight;

    .hint {
        padding: 0 @CmForm-buttonsIndent 0 0;
        font-style: italic;
        overflow: hidden;
        text-align: right;
        line-height: @CmForm-fieldHeight;
        font-size: 12px;
    }

    .cm-button,
    .browse-button {
        float: right;
        margin: 0 0 0 @CmForm-buttonsIndent;

        &.left {
            float: left;
            margin: 0 @CmForm-buttonsIndent 0 0;
        }

        &.wide {
            width: 100%;
            float: none;
            margin: 0;
        }
    }

    &.error {
        .hint {
            color: @cm-colorError;
        }
    }

    &.ok {
        .hint {
            color: @cm-colorValid;
        }
    }

    &.left {
        .cm-button,
        .browse-button {
            float: left;
            margin: 0 @CmForm-buttonsIndent 0 0;
        }
    }

    &.centered {
        text-align: center;

        .cm-button,
        .browse-button {
            float: none;
            display: inline-block;
            margin: 0 0 0 @CmForm-buttonsIndent;

            &:first-child {
                margin: 0;
            }
        }
    }

    &.is-block {
        height: auto;

        .cm-button,
        .browse-button {
            width: 100%;
            display: block;
            margin: @CmForm-buttonsIndent 0 0 0;
            float: none;
            .cm-text-overflow;

            &:first-child {
                margin: 0;
            }
        }
    }
}

/* *** CHECKBOX / RADIO LINE *** */

.check-line {
    min-height: @CmForm-fieldHeight;
    line-height: @CmForm-fieldHeight;

    .checkbox {
        @margin: floor((@CmForm-fieldHeight - 13px) / 2);

        margin: @margin 0 @margin 0;
        vertical-align: top;
        padding: 0;
        cursor: pointer;

        &:checked + label + .unveil {
            display: block;
        }
    }

    label {
        @padding: (@CmForm-fieldHeight - @cm-lineHeight) / 2;
        padding: @padding 20px @padding @CmForm-fieldInnerIndent;
        cursor: pointer;
        vertical-align: baseline;
        line-height: @cm-lineHeight;
    }

    input[type="radio"],
    input[type="checkbox"] {
        .check-line > .checkbox;
    }

    &.outside {
        line-height: inherit;

        label {
            display: block;
            margin: 0 0 0 16px;
        }

        input[type="radio"],
        input[type="checkbox"] {
            float: left;
        }
    }

    &.filter > input {
        display: block;
        float: left;
    }

    .field {
        width: auto;
        min-height: @CmForm-fieldHeight;
        display: block;
        margin: 0 0 0 28px;
        line-height: @CmForm-fieldHeight;
    }

    .unveil {
        display: none;
        padding: 4px 0 4px 24px;

        dl:first-child {
            margin: 0;
        }

        .ie6 &,
        .ie7 &,
        .ie8 & {
            display: block;
        }
    }
}

.form dd > input[type="checkbox"] {
    .check-line > .checkbox;
}

/* *** COLUMNS *** */

.form .cols {
    margin: 10px 0 0;

    &:first-child {
        margin: 0;
    }

    .col {
        float: left;
        margin-left: @CmForm-cols-indent;

        &:first-child {
            margin-left: 0;
        }

        > dl:first-child {
            margin-top: 0;
        }
    }

    .loop(@counter) when (@counter > 0) {
        .loop((@counter - 1));

        @name: extract(@CmForm-cols-names, @counter);
        @size: (100% - ((@counter - 1) * @CmForm-cols-indent)) / @counter;

        &.@{name} .col {
            width: @size;
        }
    }

    .loop(10);
}

/* *** FIELDSET *** */

.form fieldset {
    padding: 0 @cm-indentMedium @cm-indentMedium @cm-indentMedium;
    margin: @CmForm-fieldIndent 0 0 0;
    border: @cm-borderStyle;
    border-radius: @cm-borderRadius;

    &:first-child {
        margin: 0;
    }

    dl {
        &:first-child {
            margin-top: @cm-indentMedium;
        }
    }

    &.error {
        border-color: @cm-colorError;

        legend {
            color: @cm-colorError;
            font-weight: @cm-boldWeight;
        }
    }

    &.ok {
        border-color: @cm-colorValid;

        legend {
            color: @cm-colorValid;
            font-weight: @cm-boldWeight;
        }
    }
}

/* *** MULTI FIELD  *** */

.form-multifield-line {
    dd {
        &.controls {
            float: right;
            margin: 0;
            white-space: nowrap;
            line-height: @CmForm-fieldHeight;

            .icon {
                display: inline-block;
                margin: 0 0 0 6px;
                vertical-align: middle;

                &:first-child {
                    margin: 0;
                }
            }
        }

        &.descr,
        &.descr:last-child {
            margin-right: 32px;
        }
    }
}

/* *** IMAGE LOADER *** */

.form-image-box {
    > .l {
        float: left;
        margin: 0 @cm-indentXSmall 0 0;

        .no-image {
            width: 80px;
            height: 80px;
            background: url('@{CmPath-image}/parts/no-image-80.png');
        }

        .no-avatar {
            width: 80px;
            height: 80px;
            background: url('@{CmPath-image}/parts/no-avatar-80.png');
        }

        img {
            width: 80px;
            height: 80px;
            display: block;
        }
    }

    > .r {
        float: left;
        font-size: 0;

        .hint {
            margin: @cm-indentXXSmall 0 0 0;
        }
    }

    .cm-button,
    .browse-button {
        width: @CmForm-imageBox-buttonWidth;
        display: block;
        margin: 0 0 @CmForm-buttonsIndent 0;
    }

    &.style2 {
        .cm-button,
        .browse-button {
            display: inline-block;
            margin: 0 @CmForm-buttonsIndent 0 0;
        }
    }

    &.flat {
        > .l {
            float: none;
            margin: 0 0 12px;

            img {
                width: auto;
                height: auto;
            }
        }

        > .r {
            float: none;
        }
    }
}

/* *** CAPTCHA *** */

.form .captcha img {
    display: block;
    margin: 0 0 10px;
}

.form .captcha {
    display: inline-block;
}

/* *** FORM FILTER *** */

.form-filter {
    width: 30%;
}

.form-filter.right {
    float: right;
}

.form-filter.right dt {
    width: auto;
    margin: 0 20px 0 0;
}

.form-filter.right dd {
    margin-left: 0;
    overflow: hidden;
}

/* *** FILTER FROM - TO *** */

.form-filter-fromto {
    margin: 0 0 @cm-indentMedium 0;

    dl {
        float: left;
        clear: none;
    }

    .form-box {
        width: @ComDatepicker-width;
        margin: 0 @cm-indentMedium 0 0;
    }

    .buttons {
        float: left;
        margin: @CmForm-fieldHeight 0 0 0;
    }

    &.simple {
        .buttons {
            margin: 0;
        }
    }
}

/* *** ERRORS *** */

.form dl.error input[type="text"],
.form dl.error input[type="password"],
.form dl.error textarea,
.form dl.error select {
    border: 1px solid @cm-colorError;
}

.form dl.ok input[type="text"],
.form dl.ok input[type="password"],
.form dl.ok textarea,
.form dl.ok select {
    border: 1px solid @cm-colorValid;
}

.form dl.error dt {
    color: @cm-colorError;
}

.form dl.ok dt {
    color: @cm-colorValid;
}

.form dl.error .hint {
    color: @cm-colorError;
}

.form dl.ok .hint {
    color: @cm-colorValid;
}

.form dl.error .validate {
    color: @cm-colorError;
    font-weight: @cm-boldWeight;
}

.form dl.ok .validate {
    color: @cm-colorValid;
    font-weight: @cm-boldWeight;
}

/* *** FORM ICONS *** */

.cm-form-icons {
    min-height: @CmForm-fieldHeight;
    position: relative;

    .loop(@counter) when (@counter > 0) {
        .loop((@counter - 1));

        &.count-@{counter} {
            @x-small: @counter * (@cm-XSmall + @CmForm-iconsIndent);
            @small: @counter * (@cm-Small + @CmForm-iconsIndent);
            @medium: @counter * (@cm-Medium + @CmForm-iconsIndent);

            &.x-small {
                margin-right: @x-small;

                .cm-form-icons-outside {
                    width: @x-small;
                    right: -@x-small;
                }
            }
            &.small {
                margin-right: @small;

                .cm-form-icons-outside {
                    width: @small;
                    right: -@small;
                }
            }
            &.medium {
                margin-right: @medium;

                .cm-form-icons-outside {
                    width: @medium;
                    right: -@medium;
                }
            }
        }
    }

    .loop(5);
}

.cm-form-icons-outside {
    position: absolute;
    top: 0;
    line-height: @CmForm-fieldHeight;
    font-size: 0;
    text-align: left;

    .icon {
        display: inline-block;
        margin: 0 0 0 @CmForm-iconsIndent;
        vertical-align: middle;
    }
}

.cm-form-icons-inside {
    text-align: right;
    white-space: nowrap;
    font-size: 0;

    &.left {
        text-align: left;
    }

    .icon,
    .icon.inline {
        display: inline-block;
        margin: 0 0 0 @CmForm-iconsIndent;
        vertical-align: middle;

        &:first-child {
            margin: 0;
        }
    }

    .text {
        .cm-font-base;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 @CmForm-iconsIndent;

        &:first-child {
            margin: 0;
        }
    }
}

/* *** FILES LIST *** */

.files-list {
    ul {
        max-height: (@CmFilesList-count * (@CmForm-fieldInnerIndent + @CmForm-fieldHeight)) - @CmForm-fieldInnerIndent;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;
        margin: 0 0 @CmForm-fieldInnerIndent 0;
        list-style: none;

        li {
            height: @CmForm-fieldHeight;
            margin: @CmForm-fieldInnerIndent 0 0 0;
            line-height: @CmForm-fieldHeight;

            .cm-button {
                float: left;
                margin: 0 @cm-indentXSmall 0 0;
            }

            .text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: normal;

                .ie & {
                    overflow: visible;
                }
            }

            &:first-child {
                margin: 0;
            }
        }
    }
}

.single-file {
    .browse-button {
        display: block;
        float: left;
        margin: 0 @cm-indentXSmall 0 0;
    }

    .text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: normal;
        line-height: @CmForm-fieldHeight;
    }
}

/* *** MULTI FIELD *** */

.cm-multifield {
    > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            margin: @CmForm-fieldIndent 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }
}

/* ******* PART: FORM: ADAPTIVE ******* */

@media only screen and (max-width: @cm-screenMobile) {

    html.is-adaptive {

        .form {
            dl {
                dt {
                    width: auto;
                    float: none;
                }

                dd {
                    margin: 0 0 @CmForm-fieldInnerIndent;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        .form-filter.right,
        .form-filter {
            width: auto;
            float: none;
        }

        .form-filter.right dt,
        .form-filter dt {
            float: none;
            margin: 0;
        }

        /* COLUMNS */

        .form .cols {
            .col {
                &:first-child {
                    margin-top: 0;
                }
            }

            .for(@CmForm-cols-names); .-each(@name) {
                &.@{name} .col {
                    width: auto;
                    float: none;
                    margin: @CmForm-fieldInnerIndent 0 0 0;
                }
            }
        }

        /* FILTER FROM - TO */

        .form-filter-fromto {
            .form-box {
                width: auto;
                float: none;
                margin: @CmForm-fieldIndent 0 0 0;

                &:first-child {
                    margin: 0;
                }
            }

            .buttons,
            &.simple .buttons {
                margin: @CmForm-fieldIndent 0 0 0;
            }
        }

        /* MULTI FIELD */

        .form-multifield-line {
            dt {
                margin: 0 0 @CmForm-fieldInnerIndent;
            }

            dd {
                margin: 0;

                &.descr,
                &.descr:last-child {
                    margin-right: 32px;
                }
            }
        }

    }

}

@media only screen and (max-width: @cm-screenMobilePortrait) {

    html.is-adaptive {

        /* FILTER FROM - TO */

        .form-filter-fromto {
            .form-box {
                width: auto;
                float: none;
                margin: 16px 0 0 0;

                &:first-child {
                    margin: 0;
                }
            }

            &.simple {
                .buttons {
                    margin: 26px 0 0 0;
                }
            }
        }

        /* IMAGE LOADER */

        .form-image-box.style2 .browse-button {
            display: block;
            margin: 0 0 8px;
        }

    }

}