/* ******* PARTS: GRID ******* */

.cm-grid {
    margin: 0 0 @cm-indentMedium;
    overflow: hidden;

    &.bottom {
        margin: 0;
    }

    > ul {
        &:extend(.cm-ul-clear all, .cm-ul-inline all);
        word-spacing: 0;

        > li {
            .cm-font-base;
            width: 100%;
            overflow: hidden;
            .cm-box-sizing();

            > a {
                display: block;
                cursor: pointer;

                > img {
                    width: 100%;
                    display: block;
                    position: relative;
                    cursor: pointer;
                    .cm-transition(opacity @CM-Transition-Duration ease-in-out);
                }

                &:hover {
                    > img {
                        opacity: @CM-Opacity-Hover;
                        .cm-transition(opacity @CM-Transition-DurationReverse ease-in-out);
                    }
                }
            }
        }
    }

    &.is-inline {
        > ul {
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &.is-inrow {
        height: 100%;
    }

    &.pull-left {
        > ul {
            text-align: left;
        }
    }

    &.pull-center {
        > ul {
            text-align: center;
        }
    }

    &.pull-right {
        > ul {
            text-align: right;
        }
    }

    &.is-justify {
        > ul {
            > li {
                text-align: center;

                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    &.is-adaptive {
        overflow: visible;

        > ul {
            > li {
                width: auto;
                overflow: visible;
            }
        }
    }

    &.is-flexible {
        overflow: visible;

        > ul {
            .display-flex;

            > li {
                width: 100%;
                .cm-flex(auto);
            }
        }
    }

    &.is-flexible-in {
        overflow: visible;

        > ul {
            .display-flex;
            .cm-flex-flow(row wrap);

            > li {
                .display-flex;
                .cm-flex(1 1);
            }
        }

        .ie9 &,
        .ie8 & {
            > ul {
                width: 100%;
                display: table;
                table-layout: fixed;

                > li {
                    display: table-cell;
                }
            }
        }
    }

    // /* Build columns styles */

    .loop(@counter) when (@counter > 0) {
        .loop((@counter - 1));

        &.col-@{counter} {
            #cm > .cm-grid__size(@counter);
        }
    }

    .loop(12);

    // /* Set grid items indent */

    #cm > .cm-grid__indent(@CmGrid-itemIndent);

    .for(@ComGrid-indents); .-each(@name) {
        &.indent-@{name} {
            #cm > .cm-grid__indent(@name);
        }
    }
}

// /* ******* PARTS: GRID: ADAPTIVE ******* */

@media only screen and (max-width: @cm-screenMobile) {

    html.is-adaptive {
        .cm-grid {
            &:not(.is-not-adaptive) {
                > ul {
                    width: auto;
                    display: block;

                    > li {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

}

/* ******* PARTS: GRID: BUNDLE ******* */

#cm () {
    .cm-grid__size (@count: 1) {
        @size: 100% / @count;

        > ul > li {
            width: @size;
        }
    }

    .cm-grid__indent (@indent: @CmGrid-itemIndent) {
        > ul {
            margin: @indent -@indent -@indent;

            &:first-child {
                margin: -@indent;
            }

            > li {
                padding: @indent;
            }
        }
    }
}