/* ******* GRID ******* */

.cm-grid {
    margin: 0 0 @cm-indentMedium;
    overflow: hidden;

    &.bottom {
        margin: 0;
    }

    > ul {
        padding: 0;
        list-style: none;
        font-size: 0;
        word-spacing: 0;

        > li {
            width: 100%;
            display: inline-block;
            overflow: hidden;
            vertical-align: top;
            .cm-font-base;
            .cm-box-sizing();

            > a {
                display: block;
                cursor: pointer;

                > img {
                    width: 100%;
                    display: block;
                    position: relative;
                    cursor: pointer;
                    -webkit-transform: translateZ(0px);
                    .cm-transition(opacity @CM-Transition-Duration ease-in-out);
                }

                &:hover {
                    > img {
                        opacity: @CM-Opacity-Hover;
                        .cm-transition(opacity @CM-Transition-DurationReverse ease-in-out);
                    }
                }
            }
        }
    }

    &.is-inline {
        > ul {
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &.is-inrow {
        height: 100%;
    }

    // /* Build columns styles */

    .loop(@counter) when (@counter > 0) {
        .loop((@counter - 1));

        &.col-@{counter} {
            #cm > .grid-size(@counter);
        }
    }

    .loop(12);

    // /* Set grid items indent */

    #cm > .grid-indent(@CmGrid-itemIndent);

    .for(@ComGrid-indents); .-each(@name) {
        &.indent-@{name} {
            #cm > .grid-indent(@name);
        }
    }
}

// /* *** ADAPTIVE *** */

@media only screen and (max-width: @cm-screenMobile) {

    html.is-adaptive {
        .cm-grid {
            &:not(.is-not-adaptive) {
                > ul > li {
                    width: 100%;
                }
            }
        }
    }

}