/* ******* PARTS: HTML TAGS ******* */

body {
    .cm-font-base;
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    .cm-font-link;
}

img {
    border: none;
    -webkit-transform: translateZ(0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

dl, dt, dd, canvas, iframe, form {
    padding: 0;
    margin: 0;
    display: block;
    text-indent: 0;
}

iframe {
    width: 100%;
    display: block;
    border: none;
}

header, main, aside, footer, section {
    display: block;
}

/* *** CONTENT TAGS *** */

.cm-content-tags {
    #cm > .font-base;
    margin: 0 0 @Cm-lineHeight;
    padding: 0;
}

.cm-content-tags--title {
}

.cm-content-tags--base {
}

h1, h2, h3, h4, h5, h6, p, dl, ul, ol {
    &:extend(.cm-content-tags all);
}

h1, h2, h3, h4, h5, h6 {
    &:extend(.cm-content-tags--title all);
}

p, dl, ul, ol {
    &:extend(.cm-content-tags--base all);
}

h1 {
    margin: 0 0 @Cm-indentMedium;
    font-size: 34px;
    line-height: 40px;
    font-weight: @Cm-boldWeight;
}

h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: @Cm-boldWeight;
}

h3 {
    font-size: 20px;
    line-height: 22px;
}

h4 {
    font-size: 18px;
}

b {
    font-weight: @Cm-boldWeight;
}

ul, ol {
    padding: 0 0 0 @Cm-indentMedium;

    &.none {
        list-style: none;
        padding-left: 0;
    }

    &.decimal {
        list-style: decimal;
    }

    &.style-none {
        list-style: none;
    }
}

dl {
    dd {
        padding: 0 0 0 @Cm-lineHeight;
    }
}

hr {
    #cm > .hr;
}

br {
    height: @Cm-lineHeight;
    line-height: @Cm-lineHeight;
}

/* *** TABLE *** */

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody, thead, tr {
    width: 100%;
}

tbody, thead, td, th, tr {
    margin: 0;
    padding: 0;
}

/* *** INPUTS *** */

.cm-input {
    #cm > .input;
}

.cm-textarea {
    #cm > .textarea;
}

.cm-select {
    &[multiple] {
        height: @CmForm-select-size * @Cm-lineHeight + @Cm-borderWidth * 2;
        padding: 0;
    }
}

input, select, textarea {
    .cm-font-base;
    margin: 0;
    outline: none;
    .cm-placeholder(@Cm-colorPlaceholder);
}

input[type="file"] {
    width: 100%;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea,
select {
    &:extend(.cm-input all);
}

textarea {
    &:extend(.cm-textarea all);
}

select {
    &:extend(.cm-select all);
}