/* ******* ICONS ******* */

.icon {
    background: transparent 50% 50% no-repeat;

    // /* *** PARAMETERS *** */

    &.inline {
        margin: 0 4px;
        vertical-align: middle;
    }

    &.centered {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &.has-caption {
        background-position: 0 50%;
    }

    &.hidden {
        visibility: hidden;
    }

    &.linked {
        cursor: pointer;
        .cm-transition(opacity @CM-Transition-Duration ease-in-out);

        &:hover {
            opacity: @CM-Opacity-Hover;
            .cm-transition(opacity @CM-Transition-DurationReverse ease-in-out);
        }
    }

    &.draggable[data-draganddrop-drag="true"] {
        cursor: move;
    }

    &.draggable[data-draganddrop-drag="false"] {
        cursor: default;
    }

    // /* *** X SMALL *** */

    &.x-small {
        .cm-size-x-small;

        &.centered {
            @margin: @cm-XSmall / 2;
            margin: -@margin 0 0 -@margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @cm-XSmall + @cm-indentXXXSmall;
            line-height: @cm-XSmall;
        }

        .for(search search-white); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-image}/icons/x-small/@{name}.png");
            }
        }
    }

    // /* *** SMALL *** */

    &.small {
        .cm-size-small;

        &.centered {
            @margin: @cm-Small / 2;
            margin: -@margin 0 0 -@margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @cm-Small + @cm-indentXXXSmall;
            line-height: @cm-Small;
        }

        .for(tags add arrow-priority-down arrow-priority-up arrow-left arrow-right arrow-top arrow-bottom copy done edit fail help remove settings settings-white view search arrow-white-left arrow-white-right arrow-white-top arrow-white-bottom drag-vertical transparent); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-image}/icons/small/@{name}.png");
            }
        }
    }

    &.small {
        .for(loader loader-circle); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-image}/icons/small/@{name}.gif");
            }
        }
    }

    &.small {
        .for(archive default doc exe flash image movie music pdf pps ttf txt xls); .-each(@name) {
            &.file-@{name} {
                background-image: url("@{CmPath-image}/icons/small/files/@{name}.gif");
            }
        }
    }

    // /* *** MEDIUM *** */

    &.medium {
        .cm-size-medium;

        &.centered {
            @margin: @cm-Medium / 2;
            margin: -@margin 0 0 -@margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @cm-Medium + @cm-indentXXXSmall;
            line-height: @cm-Medium;
        }

        .for(arrow-left arrow-right arrow-white-left arrow-white-right arrow-white-top arrow-white-bottom datepicker select-arrow close close-white menu menu-white settings settings-white plus-white); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-image}/icons/medium/@{name}.png");
            }
        }
    }

    // /* *** LARGE *** */

    &.large {
        .cm-size-large;

        &.centered {
            @margin: @cm-Large / 2;
            margin: -@margin 0 0 -@margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @cm-Large + @cm-indentXXXSmall;
            line-height: @cm-Large;
        }

        .for(message page page-featured google linkedin twitter facebook favorite); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-image}/icons/large/@{name}.png");
            }
        }
    }

    &.large {
        .for(loader-circle); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-image}/icons/large/@{name}.gif");
            }
        }
    }

    // /* *** X-LARGE *** */

    &.x-large {
        .cm-size-x-large;

        &.centered {
            @margin: @cm-XLarge / 2;
            margin: -@margin 0 0 -@margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @cm-XLarge + @cm-indentXXXSmall;
            line-height: @cm-XLarge;
        }

        .for(play); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-image}/icons/x-large/@{name}.png");
            }
        }
    }

    // /* *** XX-LARGE *** */

    &.xx-large {
        .cm-size-xx-large;

        &.centered {
            @margin: @cm-XXLarge / 2;
            margin: -@margin 0 0 -@margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @cm-XXLarge + @cm-indentXXXSmall;
            line-height: @cm-XXLarge;
        }

        .for(arrow-left arrow-right arrow-white-left arrow-white-right); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-image}/icons/xx-large/@{name}.png");
            }
        }
    }

    // /* *** TOOLBAR *** */

    &.toolbar {
        .for(bold italic underline); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-image}/icons/toolbar/@{name}.png");
            }
        }
    }

    // /* *** OTHER *** */

    &.arrow {
        &.asc {
            width: 10px;
            height: 6px;
            background-image: url("@{CmPath-image}/icons/arrow-asc.png");
        }

        &.desc {
            width: 10px;
            height: 6px;
            background-image: url("@{CmPath-image}/icons/arrow-desc.png");
        }
    }

    &.draggable {
        background: url("@{CmPath-image}/icons/draggable.png") 0 0 repeat;
    }

    // /* *** BROWSER ICONS *** */

    &.chrome,
    &.firefox,
    &.msie,
    &.safari {
        width: 100px;
        height: 76px;
        background: url("@{CmPath-image}/icons/browsers.png");
    }

    &.chrome {
        background-position: -200px 0;
    }

    &.firefox {
        background-position: -100px 0;
    }

    &.msie {
        background-position: -300px 0;
    }

    &.safari {
        background-position: -400px 0;
    }
}