/* ******* PART: IMAGE BOX ******* */

.cm-imagebox {
    @title-bottom: (@CmImagebox-titlePaddingTop * 2) + @CmBase-Font-LineHeight;

    position: relative;
    .mx__user-select(none);

    > .inner {
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        font-size: 0;

        > .descr:extend(.cm-image-resizable all) {
            position: relative;
            z-index: 1;
            .mx__transition(opacity @CmVar-Transition-Duration ease-in-out);
        }

        > .text {
            padding: @CmIndent-Medium;
            position: absolute;
            z-index: 2;
            .mx__position(0,0,0,0);
            overflow: hidden;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            .mx__user-select(text);

            > .inner {
                height: 100%;
                position: relative;
                overflow: hidden;
            }

            .cm__tags {
                color: @CmImagebox-textColor;
            }
        }

        > iframe.descr {
            width: 100%;
            height: 100%;
        }

        > .icon {
            z-index: 2;
        }

        > .title {
            overflow: hidden;
            position: absolute;
            z-index: 3;
            .mx__position(auto,0,-@title-bottom,0);
            background: rgba(0,0,0,0.7);
            opacity: 0;
            .mx__transition(bottom @CmVar-Transition-Duration ease-in-out);
            .mx__transition(opacity @CmVar-Transition-Duration ease-in-out);

            .inner {
                padding: @CmImagebox-titlePaddingTop 8px;
                .cm-text-overflow;
                .cm__font;
                font-weight: @CmBase-Font-BoldWeight;
                color: #fff;

                & * {
                    color: #fff;
                }
            }
        }
    }

    > label {
        position: absolute;
        z-index: 2;
        .mx__position(0,0,0,0);
        cursor: pointer;
    }

    > .pull {
        position: absolute;
        z-index: 3;

        &.top-right {
            .mx__position(@CmIndent-XSmall, @CmIndent-XSmall, auto, auto);
        }

        &.top-left {
            .mx__position(@CmIndent-XSmall, auto, auto, @CmIndent-XSmall);
        }

        &.bottom-right {
            .mx__position(auto, @CmIndent-XSmall, @CmIndent-XSmall, auto);
        }

        &.bottom-left {
            .mx__position(auto, auto, @CmIndent-XSmall, @CmIndent-XSmall);
        }

        input[type="checkbox"],
        input[type="radio"] {
            display: block;
        }

        .icon {
            float: left;
            margin: 0 0 0 @CmIndent-XXSmall;

            &:first-child {
                margin: 0;
            }
        }
    }

    &:not(.is-no-hover) {
        cursor: pointer;

        &:hover {
            > .inner {
                > .descr {
                    opacity: @CmVar-Opacity-Hover;
                    .mx__transition(opacity @CmVar-Transition-DurationReverse ease-in-out);
                }
            }
        }
    }

    &:hover,
    &.is-fixed-title {
        .cm-imagebox-title-hover;
    }

    &.is-checkable {
        > .inner {
            > .descr {
                opacity: @CmVar-Opacity-Hover;
                .mx__transition(opacity @CmVar-Transition-Duration ease-in-out);
            }
        }

        &:hover,
        &.active,
        .active & > {
            > .inner {
                > .descr {
                    opacity: 1;
                }
            }
        }
    }

    &.is-centered {
        background-color: @CmImagebox-background;

        > .inner {
            height: 100%;
            text-align: center;

            &:before {
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                content: "";
            }

            > .descr {
                display: inline-block;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                vertical-align: middle;
            }

            > iframe.descr {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.is-adaptive {
        > .inner {
            > .descr:extend(.cm-image-adaptive all) {}
        }
    }

    &.is-flexible {
        > .inner {
            > .descr:extend(.cm-image-flexible all) {}
        }
    }

    &.is-origin {
        > .inner {
            > .descr {
                width: auto;
                height: auto;
            }
        }
    }

    &.has-aspect {
        > .inner {
            position: absolute;
            .mx__position(0,0,0,0);
        }
    }
}

.cm-imagebox-title-hover {
    > .inner {
        > .title {
            bottom: 0;
            opacity: 1;
            .mx__transition(top @CmVar-Transition-DurationReverse ease-in-out);
            .mx__transition(opacity @CmVar-Transition-DurationReverse ease-in-out);
        }
    }
}