/* ******* ITEMS LIST ******* */

.cm-items-list {
    ul {
        max-height: @CmItemsList-count * (@cm-lineHeight + @CmItemsList-indent + @CmItemsList-padding-y * 2) - @CmItemsList-indent;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        list-style-type: none;

        li {
            margin-top: @CmItemsList-indent;
            padding: @CmItemsList-padding-y 4px;
            line-height: @cm-lineHeight;

            &:first-child {
                margin-top: 0;
            }

            a {
                display: block;
                line-height: @cm-lineHeight;
                font-weight: normal;
                text-decoration: none;
            }

            .title {
                font-weight: @cm-boldWeight;
            }

            &.group {
                .cm-items-list {
                    margin: @CmItemsList-padding-y + @CmItemsList-indent 0 0 @cm-indentXSmall;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            &.title {
                font-weight: @cm-boldWeight;
            }

            &:not(.group):not(.title):not(.disabled) {
                cursor: pointer;
                .cm-transition(all 0.3s ease-in-out);

                &:hover {
                    background-color: @CmItemsList-background-hover;
                    .cm-transition(all 0.1s ease-in-out);
                }

                &.active {
                    background-color: @CmItemsList-background-active;
                }

                &.active:hover {
                    background-color: @CmItemsList-background-active-hover;
                }
            }
        }
    }

    &.auto {
        ul {
            max-height: none;
        }
    }

    &.disabled {
        ul {
            li {
                cursor: default !important;

                a {
                    cursor: default;
                }
            }
        }
    }
}