/* ******* PARTS: ITEMS LIST ******* */

.cm-items-list {
    ul {
        max-height: @CmItemsList-count * (@CmBase-Font-LineHeight + @CmItemsList-indent + @CmItemsList-padding-y * 2) - @CmItemsList-indent;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        list-style-type: none;

        li {
            margin-top: @CmItemsList-indent;

            &:first-child {
                margin-top: 0;
            }

            a {
                display: block;
                padding: @CmItemsList-padding-y 4px;
                line-height: @CmBase-Font-LineHeight;
                font-weight: normal;
                text-decoration: none;
                color: @CmBase-Font-Color;
                .mx__transition(all 0.3s ease-in-out);

                .icon {
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 @CmIndent-XXSmall 0 0;

                    &.small {
                        margin-top: (@CmBase-Font-LineHeight - @Cm-Small) / 2;
                    }
                }

                &:hover {
                    text-decoration: none;
                    .mx__transition(all 0.1s ease-in-out);
                }
            }

            .title {
                padding: @CmItemsList-padding-y 4px;
                line-height: @CmBase-Font-LineHeight;
                font-weight: @CmBase-Font-BoldWeight;
            }

            .cm-items-list {
                margin: @CmItemsList-indent 0 0 @CmIndent-XSmall;

                &:first-child {
                    margin-top: 0;
                }
            }

            &.active {
                a {
                    background-color: @CmItemsList-background-active;
                }
            }
        }
    }

    &:not(.disabled) {
        ul {
            li {
                a {
                    &:hover {
                        background-color: @CmItemsList-background-hover;
                    }
                }

                &.active {
                    a {
                        &:hover {
                            background-color: @CmItemsList-background-active-hover;
                        }
                    }
                }
            }
        }
    }

    &.disabled {
        ul {
            li {
                a {
                    cursor: default;
                }
            }
        }
    }

    &.auto {
        ul {
            max-height: none;
        }
    }
}