/* ******* PART: ITEM BOX ******* */

.cm-itembox:extend(.clear all) {

    > .l {
        float: left;
        margin: 0 @cm-indentXSmall 0 0;
    }

    > .r {
        overflow: hidden;
    }

    .title {
        font-weight: @cm-boldWeight;
    }

    .author {

    }

    .date:extend(.cm-font-ui) {
        color: @cm-colorFontMedium;
    }

    .count:extend(.cm-font-ui) {
        color: @cm-colorFontMedium;
    }

    .status:extend(.cm-font-ui) {
        color: @cm-colorFontMedium;
    }

    .descr {
        margin: @cm-indentXXXSmall 0 0 0;
    }

    &:not(.is-no-overflow){
        .title:extend(.cm-text-overflow) {}
        .author:extend(.cm-text-overflow) {}
        .date:extend(.cm-text-overflow) {}
        .count:extend(.cm-text-overflow) {}
        .status:extend(.cm-text-overflow) {}
    }

    &.size-50 {
        .cm-imagebox {
            width: 50px;
            height: 50px;
        }
    }

    &.size-80 {
        .cm-imagebox {
            width: 80px;
            height: 80px;
        }
    }

    &.size-150 {
        .cm-imagebox {
            width: 150px;
            height: 150px;
        }
    }

    > .cm-imagebox {
        margin-bottom: @cm-indentXSmall;
    }

    &.is-image-centered {
        .cm-imagebox {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.is-centered {
        text-align: center;

        .cm-imagebox {
            margin-left: auto;
            margin-right: auto;
        }
    }
}