/* ******* PART: ITEM BOX ******* */

.cm-itembox:extend(.clear all) {

    > .l {
        float: left;
        margin: 0 @CmIndent-XSmall 0 0;
    }

    > .r {
        overflow: hidden;
    }

    .title {
        font-weight: @CmBase-Font-BoldWeight;
    }

    .author {

    }

    .date,
    .count,
    .status {
        font-size: @CmBase-FontHint-Size;
        color: @CmUI-FontTitleMedium-Color;
    }

    .status {
        &.error {
            color: @Cm-colorError;
        }

        &.valid {
            color: @Cm-colorValid;
        }
    }

    .descr {
        margin: @CmIndent-XXXSmall 0 0 0;

        &:first-child {
            margin: 0;
        }
    }

    .btn-wrap {
        margin: @CmIndent-XXSmall 0 ;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .hint:extend(.cm__font--hint-cursive) {}

    &:not(.is-no-overflow){
        .title:extend(.cm-text-overflow) {}
        .author:extend(.cm-text-overflow) {}
        .date:extend(.cm-text-overflow) {}
        .count:extend(.cm-text-overflow) {}
        .status:extend(.cm-text-overflow) {}
    }

    > .cm-imagebox {
        margin-bottom: @CmIndent-XSmall;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.is-image-centered {
        .cm-imagebox {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.is-centered {
        text-align: center;

        .cm-imagebox {
            margin-left: auto;
            margin-right: auto;
        }
    }

    // /* Sizes */

    .for(@CmItemBox-sizes); .-each(@name) {
        &.size-@{name} {
            .cm-imagebox {
                width: unit(@name, px);
                height: unit(@name, px);
            }
        }
    }

}