/* ******* PART: ITEM BOX ******* */

.pt__itembox {
    .clearfix;

    > .l {
        float: left;
        margin: 0 @CmIndent-XSmall 0 0;
    }

    > .r {
        overflow: hidden;
    }

    .title {
        font-weight: @CmFont-Base-BoldWeight;
    }

    .author {

    }

    .date,
    .count,
    .status {
        font-size: @CmFont-Base-Hint-Size;
        color: @CmFont-Base-Hint-Color;
    }

    .status {
        &.error {
            color: @CmColor-Danger-DarkDefault;
        }

        &.valid {
            color: @CmColor-Success-DarkDefault;
        }
    }

    .descr {
        margin: @CmIndent-XXXSmall 0 0 0;

        &:first-child {
            margin: 0;
        }
    }

    .btn-wrap {
        margin: @CmIndent-XXSmall 0 ;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .hint {
        .cm__font--hint-cursive;
    }

    &:not(.is-no-overflow){
        .title,
        .author,
        .date,
        .count,
        .status {
            .cm__text-overflow;
        }
    }

    > .pt__image {
        margin-bottom: @CmIndent-XSmall;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.is-image-centered {
        .pt__image {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.is-centered {
        text-align: center;

        .pt__image {
            margin-left: auto;
            margin-right: auto;
        }
    }

    // /* Sizes */

    .for(@PtItemBox-Sizes); .-each(@name) {
        &.size-@{name} {
            .pt__itembox__size(@name);
        }
    }

}

/* ******* PART: ITEM BOX: BUNDLE ******* */

.pt__itembox__size (@value) {
    .pt__image {
        width: unit(@value, px);
        height: unit(@value, px);
    }
}