/* ******* PART: LINE ******* */

/* ****** PART: LINE: INFO ******* */

.cm-line-info {
    .clearfix;

    .item,
    .category,
    .author,
    .date,
    .hash,
    .links,
    .status {
        float: left;
        margin: 0 @CmIndent-XSmall 0 0;
        line-height: inherit;
        font-size: inherit;

        &:last-child {
            margin: 0;
        }
    }

    .status {
        &.error {
            color: @Cm-colorError;
        }

        &.valid {
            color: @Cm-colorValid;
        }

        &.pending {
            color: @Cm-colorPending;
        }
    }

    .date {
        color: @CmUI-FontTitleMedium-Color;
    }

    .category,
    .author {
        a, span {
            font-weight: @CmBase-Font-BoldWeight;
        }
    }
}

/* ******* PART: LINE: SHARE ******* */

.cm-line-share {
    > ul {
        .cm-ul-clear;
        .cm-ul-inline;
        margin: 0 0 -@CmIndent-XXSmall 0;

        > li {
            margin: 0 @CmIndent-XXSmall @CmIndent-XXSmall 0;

            &:last-child {
                margin-right: 0;
            }

            a {
                display: block;
                font-size: 0;

                img {
                    display: block;
                }

                &:hover {
                    .icon.default {
                        opacity: @CmVar-Opacity-Hover;
                        .mx__transition(opacity @CmVar-Transition-DurationReverse ease-in-out);
                    }

                    .label,
                    .count {
                        background-color: @Cm-colorLight-backgroundHover;
                        .mx__transition(background @CmVar-Transition-DurationReverse ease-in-out);
                    }

                    .label {
                        background-color: @Cm-colorActive;
                    }
                }
            }
        }
    }

    &.pull-left {
        > ul {
            text-align: left;
        }
    }

    &.pull-center {
        > ul {
            text-align: center;
        }
    }

    &.pull-right {
        > ul {
            text-align: right;
        }
    }

    .icon {
        display: inline-block;
        vertical-align: top;

        &.default {
            width: @CmShareLine-iconSize;
            height: @CmShareLine-iconSize;
            .mx__transition(opacity @CmVar-Transition-Duration ease-in-out);

            &.facebook {
                .icon.large.facebook;
            }

            &.twitter {
                .icon.large.twitter;
            }

            &.google {
                .icon.large.google;
            }

            &.favorite {
                .icon.large.favorite;
            }
        }
    }

    .label:extend(.cm__font--ui),
    .count:extend(.cm__font--ui) {
        display: inline-block;
        vertical-align: top;
        padding: 0 @CmIndent-XSmall;
        line-height: @CmShareLine-iconSize;
        .mx__transition(background @CmVar-Transition-Duration ease-in-out);
    }

    .label {
        background: @Cm-colorLight-backgroundHover;
        border-radius: @Cm-borderRadius 0 0 @Cm-borderRadius;
    }

    .count {
        background: @Cm-colorLight-background;
        border-radius: 0 @Cm-borderRadius @Cm-borderRadius 0;
    }
}