.cm-list-counted {
    .cm-counter {
        margin: ((@CmListCounted-height - @CmCounter-size) / 2) 0 0 0;
        display: inline-block;
        vertical-align: top;
    }

    .label:extend(.cm-text-overflow){}

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            cursor: pointer;
            line-height: @CmListCounted-height;

            .r {
                float: right;
                margin: 0 0 0 @CmIndent-XSmall;
                text-align: right;
            }

            .l {
                overflow: hidden;
            }

            &:first-child {
                margin: 0;
            }

            &:hover {
                .label {
                    text-decoration: underline;
                }

                .cm-counter {
                    background-color: @Cm-colorActive;
                }
            }

            &.active {
                .label {
                    font-weight: @CmBase-Font-BoldWeight;
                }
            }
        }
    }

    &.is-inline {
        ul:extend(.clear all) {
            li {
                float: left;
                margin: 0 @CmIndent-Medium 0 0;

                &:last-child {
                    margin: 0;
                }

                .r, .l {
                    float: left;
                }
            }
        }
    }
}