/* ******* PART: LISTING ******* */

/* *** LISTING CONTENT *** */

.cm-listing {
    margin: 0 0 @cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    .cm-content-tags {
        margin: 0;
    }

    .cm-title-editable {
        margin: 0;
    }

    .block {
        margin: @cm-indentMedium 0 0 0;

        &:first-child {
            margin: 0;
        }

        dt {
            margin: 0 0 @cm-indentXXXSmall;
            color: @CmListing-stuffColor;
            font-weight: @CmListing-stuffFontWeight;
        }

        dd {
            padding: 0;
        }
    }

    .list {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            margin: @cm-indentXXSmall 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    .list-info {
        .cm-font-hint;
    }

    .list-title {
        font-weight: @cm-boldWeight;

        .cm-content-tags {
            font-weight: @cm-boldWeight;
        }
    }
}

/* *** DEFAULT *** */

.cm-listing-default {
    margin: 0 0 @cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            margin: 0 0 @cm-indentXSmall 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}