/* ******* PARTS: MENU ******* */

/* *** DROPDOWN *** */

.pt__menu-dropdown {
}

.pt__menu-dropdown--base {
    .pt__box;
    display: block;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: @PtMenu-Indent 0;
    list-style: none;
    opacity: 0;
    .mx__transition(all, @CmUI-Transition-Duration);

    li {
        position: relative;

        a {
            .cm__font;
            .cm__font--link;
            display: block;
            padding: @PtMenu-ItemIndentY @PtMenu-ItemIndentX;
            text-decoration: none;
            white-space: nowrap;
            color: @CmFont-Base-Color;

            &:hover {
                text-decoration: none;
            }
        }

        ul {
            top: -(@CmBorder-Width + @PtMenu-Indent);
            left: 100%;
        }

        &.sep {
            display: none;
            height: 0;
            margin: 0 @CmIndent-Medium / 2;
            overflow: hidden;
            border-top: @CmBorder-Default;
        }

        &:before {
            display: block;
            height: 0;
            margin: 0 @CmIndent-Medium / 2;
            overflow: hidden;
            border-top: @CmBorder-Default;
            content: '';
        }

        &:first-child {
            &:before {
                display: none;
            }
        }

        &:hover {
            > ul {
                display: block;
            }
        }
    }
}

.pt__menu-dropdown--clear {
    .pt__box--clear;
}

.pt__menu-dropdown--active {
    visibility: visible;
    opacity: 1;
    .mx__transition(all, @CmUI-Transition-DurationReverse);
}

/* *** MENU *** */

.pt__menu {
    &:hover,
    &.is-show {
        > .pt__menu-dropdown {
            .pt__menu-dropdown--active;
        }
    }
}