/* ******* PART: SIZE ******* */

.cm-size-xxx-small {
    width: @Cm-XXXSmall;
    height: @Cm-XXXSmall;
}

.cm-size-xx-small {
    width: @Cm-XXSmall;
    height: @Cm-XXSmall;
}

.cm-size-x-small {
    width: @Cm-XSmall;
    height: @Cm-XSmall;
}

.cm-size-small {
    width: @Cm-Small;
    height: @Cm-Small;
}

.cm-size-medium {
    width: @Cm-Medium;
    height: @Cm-Medium;
}

.cm-size-large {
    width: @Cm-Large;
    height: @Cm-Large;
}

.cm-size-x-large {
    width: @Cm-XLarge;
    height: @Cm-XLarge;
}

.cm-size-xx-large {
    width: @Cm-XXLarge;
    height: @Cm-XXLarge;
}