/* ******* PART: SIZE ******* */

.cm-size-xxx-small {
    width: @cm-XXXSmall;
    height: @cm-XXXSmall;
}

.cm-size-xx-small {
    width: @cm-XXSmall;
    height: @cm-XXSmall;
}

.cm-size-x-small {
    width: @cm-XSmall;
    height: @cm-XSmall;
}

.cm-size-small {
    width: @cm-Small;
    height: @cm-Small;
}

.cm-size-medium {
    width: @cm-Medium;
    height: @cm-Medium;
}

.cm-size-large {
    width: @cm-Large;
    height: @cm-Large;
}

.cm-size-x-large {
    width: @cm-XLarge;
    height: @cm-XLarge;
}

.cm-size-xx-large {
    width: @cm-XXLarge;
    height: @cm-XXLarge;
}