/* ******* PART: TITLE EDITABLE ******* */

.cm-title-editable:extend(.clear all) {
    margin: 0 0 @Cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    .cm-content-tags {
        margin-bottom: 0;
    }

    > .r {
        float: right;
        margin: 0 0 0 @Cm-indentMedium;

        .cm-toolbar {
            margin-bottom: 0;
        }
    }

    > .l {
        overflow: hidden;
    }
}

/* ******* PART: TITLE EDITABLE: ADAPTIVE ******* */

@media only screen and (max-width: @CmScreen-Mobile) {

    html.is-adaptive {
        .cm-title-editable {
            > .l, > .r {
                float: none;
                margin: 0;
            }
        }
    }

}