/* ******* USER BOX ******* */

.cm-userbox {
    .title:extend(.cm-text-overflow) {
        font-weight: @cm-boldWeight;
    }

    .author:extend(.cm-text-overflow) {

    }

    .date:extend(.cm-text-overflow) {
        color: @cm-colorFontMedium;
    }

    .image {
        .no-image {
            width: 80px;
            height: 80px;
            background: url('@{CmPath-image}/parts/no-image-80.png');
        }

        img {
            width: 80px;
            height: 80px;
            display: block;
        }
    }

    &.is-centered {
        text-align: center;

        .image {
            float: none;
            margin: 0 0 @cm-indentXSmall;

            .no-image,
            img {
                margin: 0 auto;
            }
        }
    }
}