/* ******* PART: USER BOX ******* */

.cm-userbox {
    .title:extend(.cm-text-overflow) {
        font-weight: @cm-boldWeight;
    }

    .author:extend(.cm-text-overflow) {

    }

    .date:extend(.cm-text-overflow) {
        color: @cm-colorFontMedium;
    }

    > .l {
        float: left;
        margin: 0 @cm-indentXSmall 0 0;
    }

    > .r {
        overflow: hidden;
    }

    .image {
        .no-image {
            width: 80px;
            height: 80px;
            background: url('@{CmPath-image}/parts/no-image-80.png');
        }

        img {
            width: 80px;
            height: 80px;
            display: block;
        }
    }

    .cm-imagebox {
        width: 80px;
        height: 80px;
    }

    &.size-50 {
        .image {
            .no-image,
            img {
                width: 50px;
                height: 50px;
            }
        }

        .cm-imagebox {
            width: 50px;
            height: 50px;
        }
    }

    &.size-80 {
        .image {
            .no-image,
            img {
                width: 80px;
                height: 80px;
            }
        }

        .cm-imagebox {
            width: 80px;
            height: 80px;
        }
    }

    &.is-centered {
        text-align: center;

        .cm-imagebox {
            margin: 0 auto @cm-indentXSmall;
        }

        .image {
            float: none;
            margin: 0 0 @cm-indentXSmall;

            .no-image,
            img {
                margin: 0 auto;
            }
        }
    }
}