html {
    .cm__scroll-y;
    width: auto;
    height: auto;
}

body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 24px;
    position: static;
}

.docs__main {
    overflow: auto;
}