html {
    width: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 24px;
    position: static;
}

.docs__main {
    overflow: auto;
}