/* ******* LAYOUTS: COMMENTS ******* */

/* *** COMMENT *** */

.lt__comment {
    position: relative;

    .comment-info,
    .comment-text,
    .comment-actions {
        .clearfix;
        margin: @CmIndent-XXXSmall 0 0 0;

        &:first-child {
            margin: 0;
        }
    }

    .comment-info {
        .cm__font--hint;
        line-height: 14px;

        .pt__line__info {
            margin: 0;
        }

        &:first-child {
            margin: -2px 0 0 0;
        }
    }

    .comment-text {
        .cm__tags {
            margin: 0;
        }
    }

    .comment-actions {
        .cm__font--hint;
        line-height: 12px;

        .pt__links {
            ul {
                line-height: inherit;
                font-size: inherit;

                li {
                    line-height: inherit;
                    font-size: inherit;
                }
            }
        }
    }

    &.is-pending {
        &:before {
            position: absolute;
            display: block;
            z-index: -1;
            content: '';
            background-color: @Cm-background-pendingLight;
            border-radius: @CmBorder-Radius;
            .mx__position(-@CmIndent-XXSmall, -@CmIndent-XXSmall, -@CmIndent-XXSmall, -@CmIndent-XXSmall);
        }
    }
}

/* *** COMMENT LIST *** */

.lt__comments {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }

    .comment-list {
        margin: 0;
        padding: 0;
        list-style: none;

        &.replies {
            margin: @CmIndent-Medium 0 0 @CmIndent-Medium;
        }

        > li {
            margin: @CmIndent-Medium 0 0 0;

            &:first-child {
                margin-top: 0;
            }

            > ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
}

/* *** COMMENT EDITOR *** */

.lt__comment__editor {
    textarea {
        min-height: 50px;
    }
}