/* ******* LAYOUTS: FILES GRIDLIST ******* */

.lt__filegridlist {

}

.lt__filegridlist__cell-icon {
    width: 40px;

    .icon {
        display: block;
    }
}

.lt__filegridlist__cell-title {
}

.lt__filegridlist__cell-date {
    width: 120px;
}

.lt__filegridlist__cell-status {
    width: 100px;
}

.lt__filegridlist__cell-links {
    width: 100px;
}

.lt__filegridlist__cell-size {
    width: 80px;
}