/* ******* LAYOUT: POST ******* */

/* *** POST *** */

.lt__post {
    position: relative;

    .post-title {
        margin: 0 0 @Cm-indentXXXSmall;

        .cm-title-editable {
            margin: 0;
        }
    }

    .post-info,
    .post-tags {
        .cm-font-hint;
    }

    .post-info {
        .cm-line-info {
            margin: 0;

            * {
                line-height: inherit;
                font-size: inherit;
            }
        }

        &.is-bottom {
            margin: @Cm-indentXSmall 0 0 0;
        }
    }

    .post-share {
        .cm-line-share {
            margin: @Cm-indentMedium 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    .post-abstract {
        .cm-content-tags {
            margin: 0;
        }
    }

    .cm-toolbar,
    .post-abstract,
    .post-entry,
    .post-tags {
        margin: @Cm-indentXSmall 0 0 0;
    }

    &.is-pending,
    &.is-featured {
        &:before {
            position: absolute;
            .cm-position(-@Cm-indentXXSmall, -@Cm-indentXXSmall, -@Cm-indentXXSmall, -@Cm-indentXXSmall);
            display: block;
            z-index: -1;
            content: '';
            background-color: @Cm-background-pendingLight;
            border-radius: @Cm-borderRadius;
        }
    }

    &.is-featured {
        &:before {
            background-color: @Cm-background-themeLight;
        }
    }

    &.is-pending {
        &:before {
            background-color: @Cm-background-pendingLight;
        }
    }

    &.is-entry {
        .post-info.is-bottom,
        .cm-toolbar,
        .post-entry,
        .post-abstract,
        .post-tags {
            margin: @Cm-indentMedium 0 0 0;
        }
    }
}

/* *** POSTS *** */

.lt__posts {
    .lt__post {
        margin: @Cm-indentLarge 0 0;

        &:first-child {
            margin: 0;
        }
    }
}