/* ******* LAYOUTS: FILES GRIDLIST ******* */

.lt__filegridlist {

}

.lt__filegridlist__cell-icon {
    width: 48px;

    .icon {
        display: block;
    }
}

.lt__filegridlist__cell-title {
    .cm__tags--base {
        margin: 0;
    }

    .cm__tags--title {
        margin: 0 0 @CmIndent-XXSmall;

        &:last-child {
            margin: 0;
        }
    }

    .title {
        font-weight: @CmFont-Base-MediumWeight;
    }
}

.lt__filegridlist__cell-date {
    width: 140px;
}

.lt__filegridlist__cell-status {
    width: 100px;
}

.lt__filegridlist__cell-links {
    width: 140px;
}

.lt__filegridlist__cell-size {
    width: 100px;
}