/* ******* LAYOUT: POST ******* */

/* *** POST *** */

.lt__post {
    position: relative;

    .post-title {
        margin: 0 0 @CmIndent-XXXSmall;

        .pt__box-editable {
            margin: 0;
        }
    }

    .post-info,
    .post-tags {
        .cm__font--hint;
    }

    .post-info {
        .pt__line-info {
            margin: 0;

            * {
                line-height: inherit;
                font-size: inherit;
            }
        }

        &.is-bottom {
            margin: @CmIndent-XSmall 0 0 0;
        }
    }

    .post-share {
        .pt__line-share {
            margin: @CmIndent-Medium 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    .post-abstract {
        .cm__tags {
            margin: 0;
        }
    }

    .pt__toolbar,
    .post-abstract,
    .post-entry,
    .post-tags,
    .post-image,
    .post-columns,
    .post-items,
    .post-read {
        margin: @CmIndent-Small 0 0 0;

        &:first-child {
            margin: 0;
        }
    }

    &.is-pending,
    &.is-featured {
        &:before {
            position: absolute;
            display: block;
            z-index: -1;
            content: '';
            border-radius: @CmBorder-Radius;
            .mx__position(-@CmIndent-XXSmall, -@CmIndent-XXSmall, -@CmIndent-XXSmall, -@CmIndent-XXSmall);
        }
    }

    &.is-featured {
        &:before {
            background-color: @CmColor-Primary-LightHighlight;
        }
    }

    &.is-pending {
        &:before {
            background-color: @CmColor-Warning-LightHighlight;
        }
    }

    &.is-entry {
        .post-info.is-bottom,
        .pt__toolbar,
        .post-entry,
        .post-abstract,
        .post-tags,
        .post-image,
        .post-columns,
        .post-items,
        .post-read {
            margin: @CmIndent-Medium 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    .post-columns {
        .display-flex;

        .post-left {
            margin: 0 @LtPost-Image-Indent 0 0;
            .mx__flex(0 0 auto);
        }

        .post-right {
            .mx__flex(1 1 auto);
        }
    }

    &.has-image {
        .display-flex;

        > .l {
            margin: 0 @LtPost-Image-Indent 0 0;
            .mx__flex(0 0 auto);
        }

        > .r {
            .mx__flex(1 1 auto);
        }
    }

    .lt__post__image-size(@LtPost-Image-Size);
}

/* *** POSTS *** */

.lt__posts {
    .lt__post {
        margin: @LtPost-Indent 0 0;

        &:first-child {
            margin: 0;
        }
    }
}

// /* *** MIXINS *** */

.lt__post__image-size(@value: @LtPost-Image-Size){
    .post-columns {
        .post-left {
            max-width: @value;
        }
    }

    &.has-image {
        > .l {
            max-width: @value;
        }
    }
}

/* ******* LAYOUT: POST: ADAPTIVE ******* */

@media only screen and (max-width: @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .lt__post {
            &.has-image {
                display: block;

                > .l {
                    max-width: none;
                    margin: 0 0 @LtPost-Image-Indent 0;
                    .mx__flex(none);
                }

                > .r {
                    .mx__flex(none);
                }
            }
        }
    }

}