body {
    padding: 24px;
    margin: 0;
    line-height: 22px;
    background: none;
}
h1, h2, h3, h4, p {
    margin: 0 0 22px;
}
ul {
    padding: 0 0 0 22px;
    margin: 0 0 22px;
    list-style: disc;
}