/* ******* COMPONENTS: BIG CALENDAR *** */

.com__big-calendar {
    .cm__box;
    position: relative;

    .calendar__holder {
        .cm__box;
        height: 0;
        overflow: hidden;
        display: none;

        > .inner {
            position: relative;
        }

        &.is-show {
            height: auto;
            display: block;
        }

        &.is-loaded {
            height: auto;
            display: block;
            overflow: visible;
        }

        > .inner {
            position: relative;
        }
    }

    .calendar__temporary {
        position: absolute;
        opacity: 0;
        .mx__position(0, 0, auto, 0);
        .mx__transition(opacity, @CmUI-Transition-Duration);

        &:first-child {
            position: relative;
        }

        &.is-show {
            opacity: 1;
        }
    }
}

/* *** EVENT *** */

.com__calendar-event {
    display: block;

    &.is-long {
        margin-top: @ComCalendarEvent-Long-Indent;

        > .label {
            .time {
                margin: 0 @CmIndent-XSmall 0 0;
                float: left;
                color: @CmColor-Font-Hint;
            }

            .title {
                overflow: hidden;
            }
        }

        > .abstract {
            margin-top: @ComCalendarEvent-Padding;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    &.is-short {
        margin-top: @ComCalendarEvent-Short-Indent;
        border: @CmBorder-Default;
        border-radius: @CmBorder-Radius;
        background-color: @CmColor-Secondary-LightHighlight;
        cursor: pointer;
        .mx__transition(all, @CmUI-Transition-Duration);

        > .label {
            .cm__text-nowrap;
            .cm__font--hint;
            padding: 0 @ComCalendarEvent-Padding;
            line-height: @ComCalendarEvent-LineHeight;
            color: @CmColor-Font;

            .time {
                margin: 0 0 0 @CmIndent-XXXSmall;
                float: right;
                color: @CmColor-Font-Hint;
            }

            .title {
                .cm__text-nowrap;
            }
        }

        &:hover {
            border-color: @CmColor-Primary-DarkDefault;
            background-color: @CmColor-Primary-LightHover;
            .mx__transition(all, @CmUI-Transition-DurationReverse);
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

/* *** AGENDA VIEW *** */

.com__calendar-agenda {
    .calendar__templates {
        display: none;
    }

    .calendar__title {
        .cm__box;
    }

    .calendar__table {
        > table {
            table-layout: fixed;

            tr {
                td {
                    border-top: @ComBigCalendar-Border;
                    padding: @ComCalendarAgenda-Day-Padding;
                    vertical-align: top;
                    .mx__transition(all, @CmUI-Transition-Duration);

                    &.table__dayname {
                        width: @ComCalendarAgenda-Day-Width;
                    }
                }

                &:first-child {
                    td {
                        border-top: none;
                    }
                }

                &:hover {
                    td {
                        .mx__transition(all, @CmUI-Transition-DurationReverse);
                    }
                }

                &.default {
                    td {
                        background-color: @ComCalendarTable-Default-Background;
                    }

                    &:hover {
                        td {
                            background-color: @ComCalendarTable-Default-BackgroundHover;
                        }
                    }
                }

                &.today {
                    td {
                        background-color: @ComCalendarTable-Today-Background;
                    }

                    &:hover {
                        td {
                            background-color: @ComCalendarTable-Today-BackgroundHover;
                        }
                    }
                }
            }
        }
    }

    .calendar__dayname {
        font-weight: @CmFont-Base-BoldWeight;
    }
}

/* *** WEEK VIEW *** */

.com__calendar-week {
    .calendar__templates {
        display: none;
    }

    .calendar__title {
        .cm__box;
    }

    .calendar__table {
        > table {
            table-layout: fixed;

            th {
                padding: @CmIndent-XXXSmall;
                vertical-align: top;
                text-align: center;

                &.event-type {
                    width: 60px;
                }
            }

            td {
                border: @ComCalendarTable-Border;
                vertical-align: top;
                text-align: left;
                .mx__transition(all, @CmUI-Transition-Duration);

                &:hover {
                    .mx__transition(all, @CmUI-Transition-DurationReverse);
                }

                &.event-type {
                    border-width: 0;
                    vertical-align: middle;
                }

                &.default {
                    background-color: @ComCalendarTable-Default-Background;

                    &:hover {
                        background-color: @ComCalendarTable-Default-BackgroundHover;
                    }
                }

                &.inactive {
                    background-color: @ComCalendarTable-Inactive-Background;

                    &:hover {
                        background-color: @ComCalendarTable-Inactive-BackgroundHover;
                    }
                }

                &.weekend {
                    background-color: @ComCalendarTable-Weekend-Background;

                    &:hover {
                        background-color: @ComCalendarTable-Weekend-BackgroundHover;
                    }
                }

                &.today {
                    background-color: @ComCalendarTable-Today-Background;

                    &:hover {
                        background-color: @ComCalendarTable-Today-BackgroundHover;
                    }
                }
            }

            tr {
                &.is-allday {
                    td,
                    td.event-type {
                        border-bottom-width: 2px;
                    }
                }
            }
        }
    }

    .calendar__type {
        padding: @ComCalendarWeek-Day-Indent;

        .label {
            .cm__font--hint;
            text-align: center;
        }
    }

    .calendar__day {
        padding: @ComCalendarWeek-Day-Indent;
        position: relative;

        > .inner {
            min-height: @ComCalendarWeek-Item-Height;
        }
    }
}

/* *** MONTH VIEW *** */

.com__calendar-month {
    .calendar__templates {
        display: none;
    }

    .calendar__title {
        .cm__box;
    }

    .calendar__table {
        > table {
            table-layout: fixed;

            th {
                padding: @CmIndent-XXXSmall;
                vertical-align: top;
                text-align: center;
            }

            td {
                border: @ComCalendarTable-Border;
                vertical-align: top;
                text-align: left;
                .mx__transition(all, @CmUI-Transition-Duration);

                &:hover {
                    .mx__transition(all, @CmUI-Transition-DurationReverse);
                }

                &.default {
                    background-color: @ComCalendarTable-Default-Background;

                    &:hover {
                        background-color: @ComCalendarTable-Default-BackgroundHover;
                    }

                    .calendar__dayname {
                        .calendar__dayname--default;
                    }
                }

                &.inactive {
                    background-color: @ComCalendarTable-Inactive-Background;

                    &:hover {
                        background-color: @ComCalendarTable-Inactive-BackgroundHover;
                    }
                }

                &.weekend {
                    background-color: @ComCalendarTable-Weekend-Background;

                    &:hover {
                        background-color: @ComCalendarTable-Weekend-BackgroundHover;
                    }
                }

                &.today {
                    background-color: @ComCalendarTable-Today-Background;

                    &:hover {
                        background-color: @ComCalendarTable-Today-BackgroundHover;
                    }
                }
            }
        }
    }

    .calendar__day {
        padding: @ComCalendarMonth-Day-Indent;
        position: relative;

        > .inner {
            height: @ComCalendarMonth-Day-Height;
        }
    }

    .calendar__dayname {
        height: @ComCalendarMonth-Item-Height;

        > .label {
            .cm__font--hint;
            line-height: @ComCalendarMonth-Item-Height;
            text-align: right;
        }
    }

    .calendar__dayname--default {
        > .label {
            color: @CmColor-Font;
            font-weight: @CmFont-Base-BoldWeight;
        }
    }

    .calendar__events-holder {
        margin-top: @ComCalendarMonth-Item-Indent;
    }

    .calendar__more {
        height: @ComCalendarMonth-Item-Height;
        margin-top: @ComCalendarMonth-Item-Indent;

        > .label {
            .cm__font--hint;
            .cm__text-nowrap;
            line-height: @ComCalendarMonth-Item-Height;
            text-align: right;
        }
    }

    .calendar__more-holder {
        .cm__scroll-y-a;
        position: absolute;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        .mx__position(0, 0, 0, 0);
        .mx__transition(all, @CmUI-Transition-Duration);

        > .inner {
            padding: @ComCalendarMonth-Day-Indent;
            background-color: @ComBigCalendar-Background;
        }

        &.is-show {
            visibility: visible;
            opacity: 1;
            .mx__transition(all, @CmUI-Transition-DurationReverse);
        }
    }
}

/* *** TOOLTIP *** */

.com__tooltip {
    &.com__calendar-event-tooltip {
        width: @ComCalendarEvent-TooltipWidth;

        > .inner {
            padding: @CmIndent-XSmall;
        }
    }
}