/* ******* COMPONENTS: CALENDAR ******* */

.com__calendar {
    .mx__user-select(none);

    .selects {
        .display-flex;
        height: @CmForm-FieldHeight;
        margin-bottom: @CmIndent-XXSmall;

        .months {
            width: 60%;
            margin-right: @CmIndent-XXXSmall;
            .mx__flex(1 1 auto);
        }

        .years {
            width: 40%;
            .mx__flex(1 1 auto);
        }
    }

    table {
        width: 100%;
        border: none;
        border-collapse: collapse;
        table-layout: fixed;

        th {
            padding-bottom: 2px;
            text-align: center;
            line-height: 14px;
            font-size: 10px;
            color: @CmFont-UI-Color;
        }

        td {
            padding: 1px;

            .day {
                height: @ComCalendar-CellHeight;
                background-color: @ComCalendar-Outer-Background;
                border: @ComCalendar-Outer-BorderSize solid @ComCalendar-Outer-Border;
                border-radius: @ComCalendar-CellBorderRadius;
                cursor: pointer;
                .mx__transition(all, @CmUI-Transition-Duration);

                &:is(:hover, :focus-visible, :active) {
                    .mx__transition(all, @CmUI-Transition-DurationReverse);
                }
            }

            .label {
                text-align: center;
                line-height: @ComCalendar-CellHeight - (@ComCalendar-Outer-BorderSize * 2);
                font-size: @CmFont-UI-SizeSmall;
            }

            &.in {
                .day {
                    background-color: @ComCalendar-Inner-Background;
                    border-width: @ComCalendar-Inner-BorderSize;
                    border-color: @ComCalendar-Inner-Border;

                    &:is(:hover, :focus-visible, :active) {
                        background-color: @ComCalendar-Inner-BackgroundHover;
                        border-color: @ComCalendar-Inner-BorderHover;
                    }
                }

                .label {
                    line-height: @ComCalendar-CellHeight - (@ComCalendar-Inner-BorderSize * 2);
                }

                &.weekend {
                    .day {
                        background-color: @ComCalendar-Weekend-Background;
                        border-width: @ComCalendar-Weekend-BorderSize;
                        border-color: @ComCalendar-Weekend-Border;

                        &:is(:hover, :focus-visible, :active) {
                            background-color: @ComCalendar-Weekend-BackgroundHover;
                            border-color: @ComCalendar-Weekend-BorderHover;
                        }
                    }
                }
            }

            &.today {
                .day {
                    background-color: @ComCalendar-Today-Background;
                    border-color: @ComCalendar-Today-Border;

                    &:is(:hover, :focus-visible, :active) {
                        background-color: @ComCalendar-Today-BackgroundHover;
                        border-color: @ComCalendar-Today-BorderHover;
                    }
                }
            }

            &.active,
            &.selected {
                .day {
                    background-color: @ComCalendar-Active-Background;
                    border-width: @ComCalendar-Active-BorderSize;
                    border-color: @ComCalendar-Active-Border;

                    &:is(:hover, :focus-visible, :active) {
                        background-color: @ComCalendar-Active-BackgroundHover;
                        border-color: @ComCalendar-Active-BorderHover;
                    }
                }

                .label {
                    line-height: @ComCalendar-CellHeight - (@ComCalendar-Active-BorderSize * 2);
                }
            }

            &.today {
                .day {
                    border-width: @ComCalendar-Today-BorderSize;
                }

                .label {
                    line-height: @ComCalendar-CellHeight - (@ComCalendar-Today-BorderSize * 2);
                }
            }
        }
    }
}
