/* ******* CALENDAR OF EVENTS ******* */

.com__tooltip {
    &.com__calendar-events__tooltip {
        width: 250px;

        > .inner {

            .title {
                padding: 4px 8px 0;
            }

            > .scroll {
                max-height: 300px;
            }
        }
    }
}

.com__calendar-events__listing {
    margin: 0;
    padding: 0 8px 8px;
}