/* ******* COMPONENTS: CODE HIGHLIGHT ******* */

.CodeMirror {
    height: auto;
    border: @CmBorder-Default;
    border-radius: @CmBorder-Radius;
}

.CodeMirror-scroll {
    min-height: @CmTextarea-Height;
}