/* ******* COMPONENTS: COLOR PICKER ******* */

.com__colorpicker {
    @clear-button-indent: (@CmForm-FieldHeight + @CmForm-FieldInnerIndent);

    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    outline: none;

    .pt__input {
        .icon.default {
            .icon.medium.palette;
            .mx__transition(transform, @CmUI-Transition-Duration);
        }
    }

    > .icon {
        width: @CmForm-FieldHeight;
        height: @CmForm-FieldHeight;
        position: absolute;
        .mx__position(0, 0, auto, auto);

        &.default {
            .icon.small.remove;
        }
    }

    &.active {
        .pt__input {
            .icon.default {
                .mx__transform(rotate(180deg));
            }
        }
    }

    &.size-default {
        max-width: @ComColorPicker-Width;
    }

    &.has-clear-button {
        padding: 0 @clear-button-indent 0 0;

        &.size-default {
            max-width: @ComColorPicker-Width + @clear-button-indent;
        }
    }
}

/* *** TOOLTIP *** */

.com__tooltip {
    &.com__colorpicker__tooltip {
        > .inner > .scroll {
            overflow: visible;
        }
    }
}
