/* ******* COMPONENTS: DASHBOARD ******* */

.com__dashboard__body,
.com__dashboard__body * {
    cursor: move !important;
    .mx__user-select(none);
}

.com__dashboard__area {
    .clearfix;
    padding: @ComDashboard-Area-Padding;
    position: relative;
}

.com__dashboard__helper {
    position: fixed !important;
    z-index: 9000 !important;
    .mx__user-select(none);

    &.is-drop {
        .mx__transition(all, @PtDnD-DropDuration);
    }
}

.com__dashboard__placeholder {
    height: 0;
    position: relative;
    opacity: 0;
    .mx__transition(opacity, @CmUI-Transition-Duration);

    &:before {
        display: block;
        position: absolute;
        content: '';
        background: url('@{CmPath-Images}/parts/pattern-diagonal-2x50.png') 0 0 repeat;
        border: 2px dashed @CmColor-Border;
        border-radius: @CmBorder-Radius;
        .mx__position(0, 0, 0, 0);
        .mx__transition(all, @CmUI-Transition-Duration);
    }

    &.is-area {
        height: @ComDashboard-Placeholder-Height;
    }

    &.is-expand {
        height: @ComDashboard-Placeholder-Height;
    }

    &.is-show {
        opacity: 1;
        .mx__transition(opacity, @CmUI-Transition-DurationReverse);
    }

    &.is-active {
        height: @ComDashboard-Placeholder-Height;

        &:before {
            border-color: @CmColor-Primary-DarkDefault;
        }
    }

    &.is-immediately {
        .cm__transition-none;
    }
}