/* ******* COMPONENTS: DIALOG ******* */

.com__dialog {
    .com__dialog-font;
    display: none;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    text-align: center;
    .mx__position(0, 0, 0, 0);
    .mx__transition(all, @ComDialog-Duration, @CmUI-MotionAsymmetric);

    &::before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }

    > .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        > .icon {
            position: fixed;
            z-index: 2;
            font-size: 0;
        }
    }

    &.is-valign-top {
        &::before {
            vertical-align: top;
        }
    }

    &.is-valign-bottom {
        &::before {
            vertical-align: bottom;
        }
    }

    &.is-open {
        visibility: visible;
        opacity: 1;
    }
}

.com__dialog__window {
    max-width: 100%;
    position: relative;
    z-index: 2;
    display: inline-block;
    text-align: left;
    vertical-align: middle;

    > .icon {
        position: absolute;
        z-index: 4;
    }

    > .inner {
        overflow: hidden;

        > .title {
            position: relative;
            z-index: 2;

            &.is-align-center {
                text-align: center;
            }

            &.is-align-right {
                text-align: right;
            }
        }

        > .descr {
            position: relative;
            z-index: 1;

            > .scroll {
                position: relative;
                overflow: hidden;

                &.is-scroll {
                    .cm__scrollbar;
                    .cm__scroll-y-a;
                    overscroll-behavior-block: contain;
                }

                &.is-no-scroll {
                    > .inner {
                        height: 100%;
                        overflow: hidden;
                    }
                }

                &.is-valign-center {
                    display: flex;
                    .mx__flex-direction(column);

                    > .inner {
                        width: 100%;
                        margin: auto;
                        overflow: visible;
                    }
                }

                &.is-animate {
                    .mx__transition(all, @ComDialog-Duration, @CmUI-MotionAsymmetric);
                }
            }
        }

        > .buttons {
            position: relative;
            z-index: 3;
            margin: 0;

            hr,
            .btn-wrap,
            .pt__buttons {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    &.is-animate {
        will-change: opacity, transform;
        opacity: 0;
        .mx__transform(scale(0.9)); // FixMe: Not working position fixed inside this block
        .mx__transition(all, @ComDialog-Duration, @CmUI-MotionAsymmetric);

        &.is-open {
            opacity: 1;
            .mx__transform(scale(1)); // FixMe: Not working position fixed inside this block
            .mx__transition(all, @ComDialog-WindowDuration, @CmUI-MotionAsymmetric);
        }

        @media (prefers-reduced-motion) {
            transform: none !important;
        }
    }

    &.is-fullscreen {
        > .inner {
            > .descr {
                > .scroll {
                    &.is-animate {
                        .cm__transition-none;
                    }
                }
            }
        }
    }
}

.com__dialog__inner {
}

.com__dialog__iframe {
    width: 100%;
    height: 100%;
}

/* *** TOOLTIP *** */

.com__tooltip.com__dialog__tooltip {
    text-align: left;
    .mx__transform-origin(~'calc(100% - 52px) -8px');

    > .inner {
        padding: @ComDialog-Indent;
        border-color: @CmColor-Background;
        box-shadow: none;
        .mx__filter(drop-shadow(@CmUI-Shadow-BottomLarge));

        &::before {
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            border-style: solid;
            border-width: 0 12px 14px 12px;
            border-color: transparent transparent @CmColor-Background transparent;
            content: '';
            .mx__position(-14px, 40px, auto, auto);
        }
    }
}

/* *** FONT *** */

.com__dialog-font {

}

/* ******* COMPONENT: DIALOG: STUFF ******* */

/* *** EDITABLE AREA *** */

.com__dialog {
    .pt__editable:hover > .border {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
    }
}

/* *** DEPRECATED > CONFIRMATION DIALOG *** */

.com__dialog-confirm {
    padding: @CmIndent-Small 0 0;

    > .title {
        text-align: center;
    }

    .button-box {
        margin-top: @CmIndent-Medium;

        input {
            width: 70px;
        }
    }
}

/* ******* COMPONENT: DIALOG: THEMES ******* */

.com__dialog {

    // /* *** DEFAULT *** */

    &.theme-default {
        > .bg {
            background: @ComDialog-Overlay;

            > .icon {
                .cm__size__medium;
                font-size: 0;
                .mx__transition(opacity, @CmUI-Transition-Duration);
                .mx__position(@CmIndent-Medium, @CmIndent-Medium, auto, auto);

                &.default {
                    .icon.medium.close-white;
                }
            }
        }
    }

    // /* *** BLACK *** */

    &.theme-black {
        &:extend(.com__dialog.theme-default all);

        > .bg {
            background: @ComDialog-Overlay;

            > .icon {
                &.default {
                    .icon.medium.close-white;
                }
            }
        }
    }

    // /* *** LIGHT *** */

    &.theme-light {
        &:extend(.com__dialog.theme-default all);

        > .bg {
            background: @ComDialog-Light-Overlay;

            > .icon {
                &.default {
                    .icon.medium.close-white;
                }
            }
        }
    }

    // /* *** COMPACT *** */

    &.theme-compact {
        &:extend(.com__dialog.theme-light all);
    }
}

.com__dialog__window {

    // /* *** DEFAULT *** */

    &.theme-default {
        @titleHeight: @ComDialog-TitleIndent * 2 + @CmFont-UI-H1-LineHeight;
        .com__dialog-font--theme-default;

        > .icon {
            &.default {
                .icon.medium.close;
            }
        }

        > .inner {
            background-color: @ComDialog-Default-Background;
            border-radius: @ComDialog-Radius;

            > .title {
                .cm__font--ui-h1;
            }
        }

        &.is-fullscreen {
            > .inner {
                border-radius: 0;
            }
        }

        .com__dialog__title-height(@titleHeight, @ComDialog-IconSize);
        .com__dialog__title-indent(@ComDialog-Indent, @ComDialog-IconSize);
        .com__dialog__content-indent(@ComDialog-Indent);
    }

    // /* *** BLACK *** */

    &.theme-black {
        &:extend(.com__dialog__window.theme-default all);
        .com__dialog-font--theme-black;

        > .icon {
            &.default {
                .svg__circle-close-white;
            }

            &.help {
                .svg__circle-help-white;
            }
        }

        > .inner {
            background-color: @ComDialog-Black-Background;

            > .title {
                color: @ComDialog-Black-TitleColor;
            }
        }
    }

    // /* *** LIGHT *** */

    &.theme-light {
        &:extend(.com__dialog__window.theme-default all);

        > .icon {
            &.default {
                .svg__circle-close-white;
            }

            &.help {
                .svg__circle-help-white;
            }
        }

        > .inner {
            background-color: @ComDialog-Light-Background;
            box-shadow: @CmUI-Shadow-BottomLarge;

            > .title {
                color: @ComDialog-Light-TitleColor;
                background-color: @ComDialog-Light-TitleBackground;
            }

            > .descr {
                .com__dialog__inner {
                    padding-top: @ComDialog-Indent
                }
            }
        }

        .com__dialog__title-height(@CmSize-XLarge, @ComDialog-IconSize);
        .com__dialog__title-indent(@ComDialog-TitleIndent, @ComDialog-IconSize);
        .com__dialog__content-indent(@ComDialog-Indent, @ComDialog-Indent);
    }

    // /* *** COMPACT *** */

    &.theme-compact {
        &:extend(.com__dialog__window.theme-light all);

        > .icon {
            &.default {
                .svg__close-white;
                right: 0;
                background-size: 18px 18px;
            }
        }

        > .inner {
            > .title {
                .cm__font--ui-h4;
                line-height: @ComDialog-Compact-TitleHeight;
                color: @ComDialog-Light-TitleColor;
            }
        }

        .com__dialog__title-height(@ComDialog-Compact-TitleHeight, @ComDialog-Compact-IconSize);
        .com__dialog__title-indent(@ComDialog-Compact-TitleIndent, @ComDialog-Compact-IconSize, 0px);
        .com__dialog__content-indent(@ComDialog-Compact-Indent, @ComDialog-Compact-Indent);
    }

    // /* *** BORDERLESS *** */

    &.theme-borderless {
        .com__dialog__content-indent(0px, 0px);
    }
}

/* *** FONT *** */

.com__dialog-font--theme-default {
}

.com__dialog-font--theme-black {
    color: @CmColor-Font-Opposite;

    .cm__inherit {
        color: @CmColor-Font-Opposite;
    }
}

/* *** MIXINS *** */

.com__dialog__content-indent (@indent: @ComDialog-Indent, @top: 0px) {
    > .inner {
        > .descr {
            .com__dialog__inner {
                padding: @top @indent 0;
            }

            &:first-child {
                .com__dialog__inner {
                    padding-top: @indent
                }
            }

            &:last-child {
                .com__dialog__inner {
                    padding-bottom: @indent
                }
            }
        }

        > .buttons {
            padding: @indent;
        }
    }
}

.com__dialog__title-height (@height, @icon_size: @ComDialog-IconSize) {
    @indent_calc: (@height - @CmFont-UI-H1-LineHeight) / 2;
    @indent: max(round((@indent_calc)), 0px);

    > .icon {
        @top_calc: (@height - @icon_size) / 2;
        @top: max(round((@top_calc)), 0px);
        width: @icon_size;
        height: @icon_size;
        top: @top;
    }

    > .inner {
        > .title {
            min-height: @height;
            padding-top: @indent;
            padding-bottom: @indent;
        }
    }

    &.is-title-reserve {
        > .inner {
            > .descr {
                &:first-child {
                    padding-top: @height;
                }
            }
        }
    }
}

.com__dialog__title-indent (@indent: @ComDialog-TitleIndent, @icon_size: @ComDialog-IconSize, @icon_indent: @ComDialog-TitleIndent) {
    > .icon {
        &.default {
            right: @icon_indent;
        }

        &.help {
            right: (@icon_size + @icon_indent * 2);
        }
    }

    > .inner {
        > .title {
            padding-left: @indent;
        }
    }

    &.has-close-inside {
        > .inner {
            > .title {
                @padding: (@icon_size + @icon_indent * 2);
                padding-right: @padding;

                &.is-align-center {
                    padding-left: @padding;
                }
            }
        }
    }

    &.has-no-title {
        > .icon {
            &.default {
                right: -(@icon_indent + @icon_size);
            }

            &.help {
                right: -((@icon_indent + @icon_size) * 2);
            }
        }
    }
}
