/* ******* COMPONENTS: DIALOG ******* */

.com__dialog {
    .com__dialog-font;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    text-align: center;

    &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }

    > .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        > .icon {
            position: fixed;
            z-index: 2;
            font-size: 0;
        }
    }

    > .window {
        max-width: 100%;
        position: relative;
        z-index: 2;
        display: inline-block;
        text-align: left;
        vertical-align: middle;

        > .icon {
            position: absolute;
            z-index: 4;
        }

        > .inner {
            overflow: hidden;

            > .title {
                position: relative;
                z-index: 2;
            }

            > .descr {
                position: relative;
                z-index: 1;

                > .scroll {
                    position: relative;
                    overflow: hidden;

                    > .inner {
                        overflow: hidden;
                    }

                    &.is-scroll {
                        overflow-x: hidden;
                        overflow-y: auto;
                    }

                    &.is-no-scroll {
                        > .inner {
                            height: 100%;
                        }
                    }
                }
            }

            > .buttons {
                position: relative;
                z-index: 3;
                margin: 0;

                hr,
                .btn-wrap {
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    &.has-close-background {
        > .bg {
            cursor: pointer;
        }
    }
}

.com__dialog__inner {
    overflow: hidden;
}

.com__dialog__iframe {
    width: 100%;
    height: 100%;
}

/* *** FONT *** */

.com__dialog-font {

}

/* ******* COMPONENT: DIALOG: STUFF ******* */

/* *** EDITABLE AREA *** */

.com__dialog {
    .pt__editable:hover > .border {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
    }
}

/* *** DEPRECATED > CONFIRMATION DIALOG *** */

.com__dialog-confirm {
    padding: @CmIndent-Small 0 0;

    > .title {
        text-align: center;
    }

    .button-box {
        margin-top: @CmIndent-Medium;

        input {
            width: 70px;
        }
    }
}

/* ******* COMPONENT: DIALOG: THEMES ******* */

.com__dialog {
    // /* *** DEFAULT *** */

    &.theme-default {
        @titleHeight: @ComDialog-TitleIndent * 2 + @CmFont-UI-H1-LineHeight;

        .com__dialog-font--theme-default;

        > .bg {
            background: @ComDialog-Overlay;

            > .icon {
                .cm__size__medium;
                font-size: 0;
                opacity: 0.4;
                .mx__transition(opacity, @CmUI-Transition-Duration);
                .mx__position(@CmIndent-Medium, @CmIndent-Medium, auto, auto);

                &.default {
                    .icon.medium.close-white;
                }
            }

            &:hover {
                > .icon {
                    opacity: 1;
                }
            }
        }

        > .window {
            > .icon {
                .cm__size__medium;

                &.default {
                    .icon.medium.close;
                }
            }

            > .inner {
                background-color: @ComDialog-Default-Background;
                border-radius: @CmBorder-Radius;

                > .title {
                    .cm__font--ui-h1;
                }

                > .descr {
                    > .scroll > .inner {
                        padding: 0 @ComDialog-Indent;
                    }

                    &:first-child {
                        > .scroll > .inner {
                            padding-top: @ComDialog-Indent
                        }
                    }

                    &:last-child {
                        > .scroll > .inner {
                            padding-bottom: @ComDialog-Indent
                        }
                    }
                }

                > .buttons {
                    padding: @ComDialog-Indent;
                }
            }
        }

        &.is-fullscreen {
            > .window {
                > .inner {
                    border-radius: 0;
                }
            }
        }

        .com__dialog__title-height(@titleHeight);
        .com__dialog__title-indent(@ComDialog-Indent);
    }

    // /* *** BLACK *** */

    &.theme-black {
        &:extend(.com__dialog.theme-default all);
        .com__dialog-font--theme-black;

        > .window {
            > .icon {
                &.default {
                    .icon.medium.close-white;
                }
            }

            > .inner {
                background-color: @ComDialog-Black-Background;

                > .title {
                    color: @ComDialog-Black-TitleColor;
                }
            }
        }
    }

    // /* *** BLACK *** */

    &.theme-light {
        &:extend(.com__dialog.theme-default all);

        > .bg {
            background: @ComDialog-Light-Overlay;

            > .icon {
                &.default {
                    .icon.medium.close;
                }
            }
        }

        > .window {
            > .icon {
                &.default {
                    .icon.medium.close-white;
                }
            }

            > .inner {
                background-color: @ComDialog-Light-Background;
                box-shadow: @CmUI-Shadow-BottomLarge;

                > .title {
                    color: @ComDialog-Light-TitleColor;
                    background-color: @ComDialog-Light-TitleBackground;
                }

                > .descr {
                    > .scroll > .inner {
                        padding-top: @ComDialog-Indent
                    }
                }
            }
        }

        &.has-no-title {
            > .window {
                > .icon {
                    &.default {
                        .icon.medium.close;
                    }
                }
            }
        }

        .com__dialog__title-height(@CmSize-XLarge);
        .com__dialog__title-indent(@ComDialog-TitleIndent);
    }
}

/* *** FONT *** */

.com__dialog-font--theme-default {
}

.com__dialog-font--theme-black {
    color: @CmColor-Font-Opposite;

    .cm__inherit {
        color: @CmColor-Font-Opposite;
    }
}

/* *** MIXINS *** */

.com__dialog__title-height (@value) {
    @indent: round((@value - @CmFont-UI-H1-LineHeight) / 2);

    > .window {
        > .icon {
            top: round((@value - @CmSize-Medium) / 2);
        }

        > .inner {
            > .title {
                min-height: @value;
                padding-top: @indent;
                padding-bottom: @indent;
            }
        }
    }

    &.is-title-reserve {
        > .window {
            > .inner {
                > .descr {
                    &:first-child {
                        padding-top: @value;
                    }
                }
            }
        }
    }
}

.com__dialog__title-indent (@value) {
    > .window {
        > .icon {
            right: @value;
        }

        > .inner {
            > .title {
                padding-left: @value;
            }
        }
    }

    &.has-close-inside {
        > .window {
            > .inner {
                > .title {
                    padding-right: @value * 2 + @CmSize-Medium;
                }
            }
        }
    }

    &:not(.is-title-reserve){
        &.has-no-title {
            > .window {
                > .icon {
                    right: -@value - @CmIndent-Medium;
                }
            }
        }
    }
}