/* ******* COMPONENTS: FILE INPUT ******* */

.com__file-input__content {
    position: relative;

    > .inner {
        position: relative;
    }
}

.com__file-input__holder {
    opacity: 1;
    .mx__transition(all, @CmUI-Transition-Duration);

    &.is-hidden {
        opacity: 0;
    }
}