/* ******* COMPONENTS: FILE MANAGER ******* */

.com__file-manager {
    > .inner {
    }
}

.com__file-manager__content {
    .cm__box-reverse;

    &.is-hidden {
        display: none;
    }
}

.com__file-manager__holder {
    > .inner {
    }

    &.is-hidden {
        display: none;
    }

    &.is-hidden + .com__file-manager__content {
        margin-top: 0;
    }
}