/* ******* COMPONENTS: FILE STATISTICS ******* */


.com__file-stats {
    .cm__box;
    .cm__box-reverse;
}

.com__file-stats__list {
    > ul {
        .cm__list-clear;
    }

    &.is-inline {
        > ul {
            display: flex;
            .mx__flex-flow(row wrap);
            .mx__align-items(center);

            > li {
                margin-right: @CmIndent-XSmall;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}