/* ******* COMPONENTS: FORM ******* */

.com__form {
    .cm__box;
    position: relative;
}

.com__form__notifications {
    .cm__box;
    display: none;

    &.is-show {
        display: block;
    }
}

.com__form__fields {
    .clearfix;
    position: relative;

    > .inner {
        .clearfix;
        position: relative;
    }
}

.com__form__buttons {
    .clearfix;
    margin: @CmForm-FieldIndent 0 0 0;
    position: relative;
}

.com__form__section {
    .cm__box;
}

.com__form__item {
    .cm__box;
}