/* ******* COMPONENTS: GALLERY ******* */

/* *** CORE *** */

.com__gallery {
    position: relative;
    z-index: 1;
    .mx__user-select(none);

    > .holder {
        height: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background: @ComGallery-Background;
    }

    .pt__image {
        height: 100%;
        background-color: @ComGallery-Background;
        position: absolute;
        z-index: 1;
        opacity: 0;
        .mx__position(0,0,0,0);

        &.is-centered {
            padding-bottom: 0;
            background-color: @ComGallery-Background;
        }
    }


    /* Emulate :focus-visible-within. */
    /* Separate rules because Firefox doesn't support this syntax yet. */
    &:has(:focus-visible) {
        .pt__image {
            .pt__image-title-hover;
        }

        > .com__gallery-controls {
            opacity: 1;
        }
    }

    &:is(:hover, :focus-visible) {
        .pt__image {
            .pt__image-title-hover;
        }

        > .com__gallery-controls {
            opacity: 1;
        }
    }
}

/* *** DUMMY *** */

.com__gallery-dummy {
    display: none;
}

/* *** PREVIEW *** */

.com__gallery-preview {
    .cm__box;
    position: relative;

    > .inner {
        position: absolute;
        .mx__position(0,0,0,0);
    }

    .com__gallery {
        width: 100%;
        height: 100%;
    }

    &.has-sidebar {
        > .inner {
            display: flex;
        }
    }

    &__sidebar {
        width: 100%;
        max-width: @ComGalleryPreview-SidebarWidth;
        position: relative;
        flex: none;
        order: 2;

        > .inner {
            .cm__scroll--y-auto;
            height: 100%;
            padding: @ComGalleryPreview-SidebarPadding;
        }
    }
}
