/* ******* COMPONENTS: GLOSSARY ******* */

.com__glossary {
    .com__glossary__title {
        &:extend(.cm__inherit all);
        .link--inner;
        cursor: default;
    }

    .com__glossary__content {
        display: none;
    }
}

/* *** TOOLTIP *** */

.com__tooltip {
    &.com__glossary__tooltip {
        width: 320px;

        > .inner {
            padding: 12px 16px 16px;

            > .scroll {
                max-height: 320px;
            }
        }
    }
}
