.com__help-bubble {
    margin: 0 @CmIndent-XXXSmall;
    display: inline-block;
    vertical-align: baseline;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    > .icon {
        .cm__size__small;
        .icon.small.help;
        display: inline-block;
        vertical-align: text-bottom;
    }

    .com__help-bubble__title {
        display: inline-block;
        vertical-align: top;

        .icon {
            .cm__size__small;
            .icon.small.help;
            display: inline-block;
            vertical-align: middle;
        }

        .label {
            margin: 0 0 0 @CmIndent-XSmall;
            display: inline-block;
            vertical-align: middle;
            text-decoration: underline;
            text-decoration-style: dashed;

            &:last-child {
                margin-left: 0;
            }
        }
    }

    .com__help-bubble__content {
        display: none;
    }
}

.com__help-bubble__content {
    display: block;
}

.com__tooltip {
    &.com__help-bubble__tooltip {
        width: @CmUI-TooltipWidth;

        > .inner {
            padding: @CmIndent-XSmall;

            > .scroll {
                max-height: ~'calc(100vh - (@{CmIndent-XSmall} * 2) - (@{CmBorder-BoxWidth} * 2))';
            }
        }
    }
}