/* ******* COMPONENTS: IMAGE INPUT ******* */

.com__image-input {
    &.size-default {
        .com__image-input--size(@ComImageInput-Height, @ComImageInput-Height);

        .com__image-input__content {
            .com__image-input__content--default;
        }
    }
}

.com__image-input__content {
    @half_buttons_indent: @ComImageInput-ButtonsIndent / 2;

    position: relative;

    > .inner {
        position: relative;
    }

    .input__holder {
        opacity: 1;
        .mx__transition(all, @CmUI-Transition-Duration);

        .pt__image {
            > .inner {
                > .descr {
                    height: @ComImageInput-Height;
                    border: @CmBorder-Default;
                    border-radius: @CmBorder-Radius;
                }
            }
        }

        .input__cover {
            .display-flex;
            visibility: hidden;
            position: absolute;
            z-index: 2;
            opacity: 0;
            background-color: @ComImageInput-CoverBackground;
            border-radius: @CmBorder-Radius;
            .mx__position(0, 0, 0 ,0);
            .mx__transition(all, @CmUI-Transition-Duration);
            .mx__transition-delay(@CmUI-Transition-Delay-Hide);
        }

        .input__label {
            .display-flex;
            overflow: hidden;
            padding: @ComImageInput-ButtonsIndent;
            .mx__flex(1 1 0);
            .mx__align-items(center);
            .mx__justify-content(center);

            .cm__link {
                .cm__text-nowrap;
                color: @CmColor-Font-Opposite;
            }
        }

        .input__buttons {
            .display-flex;
            padding: @half_buttons_indent;
            border-left: 1px solid rgba(255, 255, 255, 0.30);
            .mx__flex-flow(column nowrap);

            .button-alike {
                .display-flex;
                margin: @half_buttons_indent;
                padding-top: 0;
                padding-bottom: 0;
                .mx__flex(1 1 100%);
                .mx__justify-content(center);

                span {
                    margin: auto;
                }

                &.is-hidden {
                    display: none;
                }
            }
        }

        &:hover,
        &:active {
            .input__cover {
                visibility: visible;
                opacity: 1;
                .mx__transition-delay(0ms);
            }
        }

        &.is-hidden {
            opacity: 0;
        }
    }
}

.com__image-input__content--default {
    .input__holder {
        .input__label {
            display: none;
        }

        .input__buttons {
            border-left: none;
            .mx__flex(1);
        }
    }
}

/* *** MIXINS *** */

.com__image-input--size (@width, @height) {
    max-width: @width;

    .com__image-input__content {
        .input__holder {
            .pt__image {
                > .inner {
                    > .descr {
                        height: @height;
                    }
                }
            }
        }
    }
}