/* ******* COMPONENTS: INPUT ******* */

.com__input {
    &.size-default {
        width: @CmForm-FieldSmallWidth;
    }

    .input__content {
        position: relative;
    }

    &--input {
        .input;
        height: auto;
        min-height: @CmForm-FieldHeight;
        padding: @CmIndent-XXXSmall;
        cursor: default;
    }
}