/* ******* COMPONENTS: MENU ******* */

.com__menu {
    .button {
        margin: 0 !important;
    }

    > .label {
        margin: 0 @CmIndent-XXXSmall;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .pt__menu {
        display: none;
    }
}

/* *** TOOLTIP *** */

.com__tooltip {
    &.com__menu-tooltip {
        > .inner {
            > .scroll {
                overflow: visible;
            }
        }

        .pt__menu {
            .pt__menu-dropdown {
                .pt__menu-dropdown--base;
                .pt__menu-dropdown--position;
                .pt__menu-dropdown--show;
                position: static;
            }
        }
    }
}
