/* ******* COMPONENTS: MULTI FIELD  ******* */

.com__multifield {

}

.com__multifield__content {
    .cm__list-clear;

    &.pt__dnd-area {
        min-height: 0;

        &:after {
            display: none;
        }
    }
}

.com__multifield__toolbar {
    .com__multifield__item {
        &:after {
            display: none;
        }
    }
}

.com__multifield__item {
    .display-flex;
    position: relative;
    .mx__flex-flow(row wrap);
    .mx__justify-content(flex-end);

    &:after {
        height: @CmForm-FieldIndent;
        display: block;
        content: '';
        .mx__flex(0 0 100%);
    }

    > .icon {
        width: @CmForm-FieldHeight;
        height: @CmForm-FieldHeight;
        .mx__flex(0 0 auto);

        &.drag {
            .icon.small.drag-vertical;
            cursor: move;
        }

        &.remove {
            .icon.small.remove;
        }

        &.add {
            .icon.small.add;
        }
    }

    > .field {
        .mx__flex(1 1 0);
    }

    &.pt__dnd-helper {
        position: fixed;
    }
}

/* *** THEMES *** */

.com__multifield {
    &.theme-cards {
        .com__multifield__item {
            > .field {
                padding: @CmIndent-XSmall;
                border: @CmBorder-Width dashed @CmColor-Border;
                border-radius: @CmBorder-Radius;
            }
        }
    }
}