/* ******* COMPONENTS: OLD BROWSERS ALERT ******* */

.com__oldbrowser-alert {
    .b-descr {
        margin: 0 0 32px;

        p {
            margin: 0;
        }
    }

    .b-browsers {
        .cm__list-clear;
        .cm__list-inline;
        margin: 0 0 40px;
        white-space: nowrap;
        text-align: center;

        > li {
            .ie6 &,
            .ie7 & {
                display: inline;
                zoom: 1;
            }

            > a {
                display: block;
            }
        }
    }

    .btn-wrap {
        margin-top: 0;
    }
}