/* ******* COMPONENTS: PAGINATION ******* */

.com__pagination {
    .cm__box;

    &.is-animated {
        .com__pagination__page {
            .mx__transition(opacity visibility, @ComPagination-Duration);
        }
    }

    &.is-loading {
        .com__pagination__content {
            min-height: @PtOverlay-Spinner-Size;
        }
    }
}

.com__pagination__content {
    position: relative;
}

.com__pagination__pages {
    position: relative;
}

.com__pagination__page {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    .mx__position(0, 0, auto, 0);

    &:first-child {
        position: relative;
        z-index: 1;
        overflow: visible;
    }

    &.is-visible {
        opacity: 1;
    }
}

/* *** BAR *** */

.com__pagination__bar {
    margin: @CmIndent-Medium 0;
    line-height: @CmForm-FieldHeight;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    .mx__user-select(none);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.is-hidden {
        display: none;
    }

    ul {
        .cm__list-clear;
        .cm__list-inline--base;

        li {
            margin-right: @CmIndent-XXXSmall;
            line-height: @CmForm-FieldHeight;

            &:last-child {
                margin-right: 0;
            }

            a {
                .button;
                .button.button-secondary;
                min-width: @CmForm-FieldHeight;
                padding-left: 6px;
                padding-right: 6px;
            }

            &.active a {
                .button.button-primary;
                padding-left: 6px;
                padding-right: 6px;
            }

            &.prev,
            &.next {
                a {
                    .button.button-transparent;
                    padding-left: 6px;
                    padding-right: 6px;
                    font-weight: @CmFont-Base-BoldWeight;

                    &.has-icon {
                        font-size: @CmFont-Base-SizeSmall;
                        font-weight: @CmFont-Base-NormalWeight;
                    }
                }
            }

            &.points {
                width: @CmForm-FieldHeight;
                font-weight: normal;
                text-align: center;
            }
        }
    }

    &.pull-left {
        ul {
            text-align: left;
        }
    }

    &.pull-center {
        ul {
            text-align: center;
        }
    }

    &.pull-right {
        ul {
            text-align: right;
        }
    }
}