/* ******* COMPONENTS: COLOR PALETTE ****** */

.com__palette {
    .cm__box;

    > .inner {
        .display-flex;
        .marginfix;
        margin-top: -@CmIndent-Small;
    }

    .b-palette,
    .b-range,
    .b-stuff {
        margin-top: @CmIndent-Small;
    }

    .b-palette,
    .b-range {
        margin-right: @CmIndent-Small;
        touch-action: none;

        html.ie9 & {
            float: left;
        }
    }

    .b-palette {
         > .inner {
             position: relative;
             overflow: hidden;
             cursor: crosshair;
         }

        canvas {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: @CmBorder-Radius;
        }

        .drag {
            width: @ComColorPalette-Drag-Size;
            height: @ComColorPalette-Drag-Size;
            position: absolute;
            margin: -(@ComColorPalette-Drag-Size / 2) 0 0 -(@ComColorPalette-Drag-Size / 2);
            border: 2px solid #ffffff;
            border-radius: @ComColorPalette-Drag-Size;

            &.is-dark {
                border-color: #ffffff;
            }

            &.is-light {
                border-color: #000000;
            }
        }
    }

    .b-range {
        > .inner {
            width: @CmSize-Medium;

            .pt__range.is-vertical > .inner {
                width: @CmSize-Medium;
            }

            .pt__range.is-horizontal > .inner {
                height: @ComColorPalette-Size;
            }
        }
    }

    .b-stuff {
        float: left;

        > .inner {
            width: 72px;
            position: relative;
        }

        .b-bottom {
            position: absolute;
            .mx__position(auto, 0, 0, 0);
        }
    }

    .b-preview-color {
        .b-title {
            .cm__font;
            text-align: center;
        }

        .b-colors {
            overflow: hidden;
            border: @CmBorder-Default;
            border-radius: @CmBorder-Radius;
            background-image: url("@{CmPath-Images}/parts/transparent.png");

            .b-color {
                padding-bottom: 50%;
            }
        }
    }

    .b-buttons {
        margin: @CmIndent-XSmall 0 0 0;

        .button {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .com__palette__size(@ComColorPalette-Size);
}

.com__palette__body,
.com__palette__body * {
    .mx__user-select(none);
}

// /* *** MIXINS *** */

.com__palette__size (@value: @ComColorPalette-Size) {
    .b-palette,
    .b-range,
    .b-stuff {
        > .inner {
            height: @ComColorPalette-Size;

            .pt__range.is-vertical > .inner {
                height: @ComColorPalette-Size;
            }

            .pt__range.is-horizontal > .inner {
                width: @ComColorPalette-Size;
            }
        }
    }

    .b-palette {
        > .inner {
            width: @ComColorPalette-Size;
        }
    }
}

/* ******* COMPONENTS: PALETTE: ADAPTIVE ******* */

@media only screen and (max-width : @CmScreen-MobilePortrait) {

    html.is-adaptive {
        .com__palette {
            .b-palette {
                clear: both;
                float: none;
            }
        }
    }
}