/* ******* COMPONENTS: RANGE ******* */

.com__range {
    .cm__box;
}

.com__range__field {
    .bar {
        height: @ComRange-Bar-Height;
        margin: auto;
        position: absolute;
        border-radius: @CmBorder-Radius;
        background: @ComRange-Bar-Color;
        .mx__position(0, 0, 0, 0);

        .range {
            position: absolute;
            border-radius: @CmBorder-Radius;
            background: @ComRange-Range-Color;
            .mx__position(0, auto, 0, auto);
        }
    }

    .min,
    .max {
        .cm__font--hint;
        position: absolute;
        top: -@CmSize-XXSmall;
        user-select: none;
    }

    .min {
        left: 0;
    }

    .max {
        right: 0;
    }
}