/* ******* COMPONENTS: REPEAT TOOLS ******* */

.com__repeat-tools__content {
    @half_indent: @ComRepeatTools-Item-Indent / 2;

    > .inner {
        .display-flex;
        width: (@ComRepeatTools-Item-Size + @ComRepeatTools-Item-Indent) * 4;
        margin: -@half_indent;
        .mx__flex-flow(row nowrap);
    }

    .option__item {
        width: @ComRepeatTools-Item-Size;
        height: @ComRepeatTools-Item-Size;
        margin: @half_indent;
        overflow: hidden;
        border: 1px solid @CmColor-Secondary-DarkDefault;
        border-radius: @CmBorder-Radius;
        background-color: @CmColor-Secondary-DarkDefault;
        background-clip: padding-box;
        cursor: pointer;
        .mx__transition(all, @CmUI-Transition-Duration);

        &:hover {
            background-color: @CmColor-Secondary-DarkHover;
        }

        &.is-active {
            border-color: @CmColor-Primary-DarkDefault;
            background-color: @CmColor-Primary-DarkDefault;

            &:hover {
                background-color: @CmColor-Primary-DarkHover;
            }
        }

        .icon {
            width: 100%;
            height: 100%;
        }
    }
}