/* ******* SELECT ******* */

.com__select {
    position: relative;
    z-index: 1;
    outline: none;

    .pt__input {
        .icon.default {
            .icon.medium.select-arrow;
            .mx__transition(transform, @CmUI-Transition-Duration);
        }
    }

    &:focus,
    &.active {
        .pt__input {
            .icon.default {
                .mx__transform(rotate(180deg));
            }
        }
    }
}

/* Tooltip */

.com__tooltip {
    &.com__select__tooltip {
        .mx__user-select(none);

        > .inner > .scroll {
            max-height: @ComSelect-ListCount * (@CmFont-Base-LineHeight + @PtListingItems-Indent + @PtListingItems-PaddingY * 2) - @PtListingItems-Indent;
        }
    }
}

/* Select Multiple */

.com__select-multi {
    .mx__user-select(none);

    .inner {
        .input;
        height: auto;
        min-height: @CmForm-FieldHeight;
        padding: @CmIndent-XXXSmall;
    }

    .pt__listing-items > ul {
        max-height: @ComSelect-MultiListCount * (@CmFont-Base-LineHeight + @PtListingItems-Indent + @PtListingItems-PaddingY * 2) - @PtListingItems-Indent;
    }

    &.disabled {
        .inner {
            .input.input-disabled;
            cursor: default;
        }
    }
}
