/* ******* COMPONENTS: TAGS INPUT ******* */

.com__tags-input {
    > .inner {
        .input;
        height: auto;
        padding: 0;

        .tags {
            padding: 0 @CmIndent-XXXSmall 0;

            .item {
                max-width: 50%;
                padding: @CmIndent-XXSmall @CmIndent-XXXSmall 0 @CmIndent-XXXSmall;
                float: left;

                > .inner {
                    @icon_padding: @CmSize-Medium + @CmIndent-XXSmall;
                    height: @CmSize-Medium;
                    padding: 0 @icon_padding 0 @CmIndent-XXSmall;
                    position: relative;
                    background-color: @CmColor-Success-DarkDefault;
                    border-radius: @CmBorder-Radius;
                    line-height: @CmSize-Medium;

                    .text {
                        .cm__text-overflow;
                        .cm__font--hint;
                        color: @CmColor-Font-Opposite;
                        line-height: @CmSize-Medium;
                    }

                    .icon {
                        position: absolute;
                        width: @CmSize-Medium;
                        height: @CmSize-Medium;
                        .mx__position(0, 0, 0, auto);

                        &.default {
                            .icon.small.remove-white;
                        }
                    }
                }
            }
        }

        .adder {
            .input.is-borderless;
            .input.input-transparent;
            margin: -@CmInput-BorderWidth;
            clear: both;
        }
    }

    &.active {
        > .inner {
            .input.input-focus;
        }
    }
}