/* ******* COMPONENTS: TAGS INPUT ******* */

.com__tags-input {
    > .inner {
        height: auto;
        padding: 0;

        .tags {
            padding: 0 @CmIndent-XXXSmall 0;

            .item {
                max-width: ~"calc(50% - @{CmIndent-XXSmall})";
                margin: @CmIndent-XXSmall @CmIndent-XXXSmall 0 @CmIndent-XXXSmall;
                cursor: default;
                float: left;

                > .inner {
                    height: @CmSize-Medium;
                    padding: 0 @CmSize-Medium 0 @CmIndent-XXSmall;
                    position: relative;
                    background-color: @CmColor-Success-DarkDefault;
                    border-radius: @CmBorder-Radius;
                    line-height: @CmSize-Medium;

                    .text {
                        .cm__text-overflow;
                        .cm__font--hint;
                        color: @CmColor-Font-Opposite;
                        line-height: @CmSize-Medium;
                    }

                    .icon {
                        position: absolute;
                        width: @CmSize-Medium;
                        height: @CmSize-Medium;
                        .mx__position(0, 0, 0, auto);

                        &.default {
                            .svg__close-white;
                            background-size: @CmSize-Small;
                        }
                    }
                }
            }
        }

        .adder {
            .input.is-borderless;
            .input.input-transparent;
            margin: -@CmInput-BorderWidth;
            clear: both;

            &:hover,
            &:focus {
                .input.input-transparent;
            }
        }
    }
}