.com__two-side__content {
    > .inner {
        .display-flex;
        .cm__flex--center;

        > .column {
            width: 50%;
            overflow: hidden;
            .mx__flex(1 1 auto);

            > .label {
                margin: 0 0 @CmForm-FieldInnerIndent 0;
            }
        }

        > .controls {
            min-width: @CmSize-XXLarge;
            margin: 0 @CmIndent-Medium;
            .mx__flex(0 1 auto);

            .button {
                .cm__box;
                margin-bottom: @CmIndent-XXSmall;
            }
        }
    }

    &.has-labels {
        > .inner {
            > .controls {
                @padding: @CmForm-FieldInnerIndent + @CmFont-Base-LineHeight;
                padding: @padding 0 0 0;
            }
        }
    }
}

@media only screen and (max-width : @CmUI-AdaptiveFrom) {

    html.is-adaptive {
        .com__two-side__content {
            > .inner {
                display: block;

                > .column {
                    width: auto;
                }

                > .controls {
                    margin: @CmIndent-Medium 0;
                }
            }

            &.has-labels {
                > .inner {
                    > .controls {
                        padding: 0;
                    }
                }
            }
        }
    }

}