/* ******* PARTS: BUTTONS ******* */

.button {
    @padding: max(ceil((@CmForm-FieldHeight - @CmFont-Base-LineHeight) / 2), 0px);

    .cm__text-nowrap;
    min-height: @CmForm-FieldHeight;
    margin: 0;
    padding: @padding @CmButton-PaddingX;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: none;
    border-radius: @CmBorder-Radius;
    text-align: center;
    text-decoration: none;
    line-height: @CmFont-Base-LineHeight;
    font-size: @CmFont-Base-Size;
    white-space: nowrap;
    cursor: pointer;
    .mx__appearance(none);
    .mx__box-sizing(border-box);
    .mx__background-clip(border-box);
    .mx__user-select(none);
    .mx__transition(background-color color box-shadow, @CmUI-Transition-Duration);

    &.is-wrap {
        .cm__text-wrap;
    }

    &.is-hidden {
        display: none;
    }

    &.is-wide,
    &.is-box,
    &.wide {
        width: 100%;
        margin: 0;
        display: block;
    }

    &:hover {
        text-decoration: none;
        .mx__transition(background-color color box-shadow, @CmUI-Transition-DurationReverse);
    }

    .button.button-primary;

    // /* *** PRIMARY *** */

    &.button-primary {
        .mx__background__color(@CmColor-Primary-DarkDefault, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);

        &:active,
        &.active {
            .button.button-primary--active;
        }

        &:hover,
        &.hover {
            .button.button-primary--hover;
        }
    }

    &.button-primary--hover {
        .mx__background__color(@CmColor-Primary-DarkHover, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
    }

    &.button-primary--active {
        .mx__background__color(@CmColor-Primary-DarkActive, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** MIDDLE *** */

    &.button-middle {
        .mx__background__color(@CmColor-Primary-MiddleDefault, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);

        &:active,
        &.active {
            .button.button-middle--active;
        }

        &:hover,
        &.hover {
            .button.button-middle--hover;
        }
    }

    &.button-middle--hover {
        .mx__background__color(@CmColor-Primary-MiddleHover, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);
    }

    &.button-middle--active {
        .mx__background__color(@CmColor-Primary-MiddleActive, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** SECONDARY *** */

    &.button-secondary {
        .mx__background__color(@CmColor-Secondary-LightHighlight, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);

        &:active,
        &.active {
            .button.button-secondary--active;
        }

        &:hover,
        &.hover {
            .button.button-secondary--hover;
        }
    }

    &.button-secondary--hover {
        .mx__background__color(@CmColor-Secondary-LightActive, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);
    }

    &.button-secondary--active {
        .mx__background__color(@CmColor-Secondary-LightActiveHover, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** SUCCESS *** */

    &.button-success {
        .mx__background__color(@CmColor-Success-DarkDefault, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);

        &:active,
        &.active {
            .button.button-success--active;
        }

        &:hover,
        &.hover {
            .button.button-success--hover;
        }
    }

    &.button-success--hover {
        .mx__background__color(@CmColor-Success-DarkHover, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
    }

    &.button-success--active {
        .mx__background__color(@CmColor-Success-DarkActive, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** DANGER *** */

    &.button-danger {
        .mx__background__color(@CmColor-Danger-DarkDefault, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);

        &:active,
        &.active {
            .button.button-danger--active;
        }

        &:hover,
        &.hover {
            .button.button-danger--hover;
        }
    }

    &.button-danger--hover {
        .mx__background__color(@CmColor-Danger-DarkHover, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
    }

    &.button-danger--active {
        .mx__background__color(@CmColor-Danger-DarkActive, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** WARNING *** */

    &.button-warning {
        .mx__background__color(@CmColor-Warning-DarkDefault, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);

        &:active,
        &.active {
            .button.button-warning--active;
        }

        &:hover,
        &.hover {
            .button.button-warning--hover;
        }
    }

    &.button-warning--hover {
        .mx__background__color(@CmColor-Warning-DarkHover, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
    }

    &.button-warning--active {
        .mx__background__color(@CmColor-Warning-DarkActive, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** TRANSPARENT *** */

    &.button-transparent,
    &.transparent {
        .mx__background__color(@CmColor-Secondary-LightDefault, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);
        box-shadow: none;
        border: none;

        &:active,
        &.active {
            .button.button-transparent--active;
        }

        &:hover,
        &.hover {
            .button.button-transparent--hover;
        }
    }

    &.button-transparent--hover {
        .mx__background__color(@CmColor-Secondary-LightHover, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);
    }

    &.button-transparent--active {
        .mx__background__color(@CmColor-Secondary-LightActive, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** WHITE *** */

    &.button-white {
        .mx__background__color(#ffffff, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);

        &:active,
        &.active {
            .button.button-white--active;
        }

        &:hover,
        &.hover {
            .button.button-white--hover;
        }
    }

    &.button-white--hover {
        .mx__background__color(@CmColor-Primary-LightHover, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);
    }

    &.button-white--active {
        .mx__background__color(@CmColor-Primary-LightActive, @CmColor-Primary-DarkDefault, @CmFont-Base-ColorOpposite);
        box-shadow: @CmUI-ShadowInner;
    }

    // /* *** CLEAR *** */

    &.button-clear {
        background: none;
        box-shadow: none;
        border: none;
        color: @CmColor-Primary-DarkDefault;
        cursor: default;
    }

    // /* *** SIZES *** */

    &.button--large {
        @padding: max(ceil((@CmSize-Large - @CmFont-Base-LineHeight) / 2), 0px);
        min-height: @CmSize-Large;
        padding: @padding @CmIndent-Medium;
    }

    &.button--xlarge {
        @padding: max(ceil((@CmSize-XLarge - @CmFont-Base-LineHeight) / 2), 0px);
        min-height: @CmSize-XLarge;
        padding: @padding @CmIndent-Large;
    }

    &.button--xxlarge {
        @padding: max(ceil((@CmSize-XXLarge - @CmFont-Base-LineHeight) / 2), 0px);
        min-height: @CmSize-XXLarge;
        padding: @padding @CmIndent-Large;
    }

    // /* *** ICONS *** */

    &.has-icon {
        .icon {
            display: inline-block;
            vertical-align: top;
        }

        .label {
            display: inline-block;
            vertical-align: top;

            &:not(:first-child){
                margin-left: @CmIndent-XXSmall;
            }

            &:not(:last-child){
                margin-right: @CmIndent-XXSmall;
            }
        }
    }

    &.has-icon-medium {
        .icon {
            @margin: round((@CmFont-Base-LineHeight - @CmSize-Medium) / 2);
            margin-top: @margin;
        }
    }

    &.has-icon-small {
        .icon {
            @margin: round((@CmFont-Base-LineHeight - @CmSize-Small) / 2);
            margin-top: @margin;
        }
    }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    &:extend(.button all);

    &::-moz-focus-inner {
        border: 0;
    }
}

/* *** BROWSE BUTTON **** */

.browse-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;

    > .inner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    input[type="file"] {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
    }

    .button {
        width: 100%;
        margin: 0 !important;
    }

    &:hover {
        .button {
            .button.button-primary--hover;
        }
    }

    &:active {
        .button {
            .button.button-primary--active;
        }
    }
}

/* *** BUTTONS ALIKE *** */

.button-alike {
    &.is-hidden {
        display: none;
    }
}

.button,
.browse-button,
.cm__button-wrapper,
.com__menu {
    &:extend(.button-alike all);
}