/* ******* COMMON: ICONS ******* */

.cm__icon,
.icon,
[class^="svg__"],
[class*=" svg__"] {
    display: block;
    position: relative;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &.initial {
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    &.is-cover {
        background-size: cover;
    }

    &.is-contain {
        background-size: contain;
    }

    &.is-fill {
        background-size: 100% 100%;
    }

    &.inline {
        margin: 0 @CmIndent-XXXSmall;
        display: inline-block;
        vertical-align: middle;
    }

    &.centered {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &.has-caption {
        background-position: 0 50%;
    }

    &.hidden {
        visibility: hidden;
    }

    &.linked {
        cursor: pointer;
        .mx__transition(all, @CmUI-Transition-Duration);

        &:hover {
            opacity: @CmUI-Opacity-Hover;
            .mx__transition(all, @CmUI-Transition-DurationReverse);
        }
    }

    &.xxx-small {
        .cm__size__xxx-small;
    }

    &.is-xxx-small {
        background-size: @CmSize-XXXSmall;
    }

    &.xx-small {
        .cm__size__xx-small;
    }

    &.is-xx-small {
        background-size: @CmSize-XXSmall;
    }

    &.x-small {
        .cm__size__x-small;

        &.centered {
            @margin: -(@CmSize-XSmall / 2);
            margin: @margin 0 0 @margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @CmSize-XSmall + @CmIndent-XXXSmall;
            line-height: @CmSize-XSmall;
        }
    }

    &.is-x-small {
        background-size: @CmSize-XSmall;
    }

    &.small {
        .cm__size__small;

        &.centered {
            @margin: -(@CmSize-Small / 2);
            margin: @margin 0 0 @margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @CmSize-Small + @CmIndent-XXXSmall;
            line-height: @CmSize-Small;
        }
    }

    &.is-small {
        background-size: @CmSize-Small;
    }

    &.medium {
        .cm__size__medium;

        &.centered {
            @margin: -(@CmSize-Medium / 2);
            margin: @margin 0 0 @margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @CmSize-Medium + @CmIndent-XXXSmall;
            line-height: @CmSize-Medium;
        }
    }

    &.is-medium {
        background-size: @CmSize-Medium;
    }

    &.large {
        .cm__size__large;

        &.centered {
            @margin: -(@CmSize-Large / 2);
            margin: @margin 0 0 @margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @CmSize-Large + @CmIndent-XXXSmall;
            line-height: @CmSize-Large;
        }
    }

    &.is-large {
        background-size: @CmSize-Large;
    }

    &.x-large {
        .cm__size__x-large;

        &.centered {
            @margin: -(@CmSize-XLarge / 2);
            margin: @margin 0 0 @margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @CmSize-XLarge + @CmIndent-XXXSmall;
            line-height: @CmSize-XLarge;
        }
    }

    &.is-x-large {
        background-size: @CmSize-XLarge;
    }

    &.xx-large {
        .cm__size__xx-large;

        &.centered {
            @margin: -(@CmSize-XXLarge / 2);
            margin: @margin 0 0 @margin;
        }

        &.has-caption {
            width: auto;
            padding-left: @CmSize-XXLarge + @CmIndent-XXXSmall;
            line-height: @CmSize-XXLarge;
        }
    }

    &.is-xx-large {
        background-size: @CmSize-XXLarge;
    }

    &.xxx-large {
        .cm__size__xxx-large;

        &.centered {
            @margin: -(@CmSize-XXXLarge / 2);
            margin: @margin 0 0 @margin;
        }
    }

    &.is-xxx-large {
        background-size: @CmSize-XXXLarge;
    }
}

/* *** OLD STYLE ICONS *** */

.icon {
    // /* *** PARAMETERS *** */

    &.draggable[data-draganddrop-drag="true"] {
        cursor: move;
    }

    &.draggable[data-draganddrop-drag="false"] {
        cursor: default;
    }

    // /* *** X SMALL *** */

    &.x-small {
        .for(search search-white); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-Images}/icons/x-small/@{name}.png");
            }
        }
    }

    // /* *** SMALL *** */

    &.small {
        .for(tags add arrow-priority-down arrow-priority-up arrow-left arrow-right arrow-top arrow-bottom copy check edit help info remove remove-white settings settings-white view search search-white arrow-white-left arrow-white-right arrow-white-top arrow-white-bottom drag-vertical transparent); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-Images}/icons/small/@{name}.png");
            }
        }
    }

    &.small {
        .for(loader loader-circle loader-circle-white); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-Images}/icons/small/@{name}.gif");
            }
        }
    }

    &.small {
        .for(archive default doc exe flash image movie music pdf pps ttf txt xls); .-each(@name) {
            &.file-@{name} {
                background-image: url("@{CmPath-Images}/icons/small/files/@{name}.gif");
            }
        }
    }

    // /* *** MEDIUM *** */

    &.medium {
        .for(check ui-arrow-left ui-arrow-right ui-arrow-white-left ui-arrow-white-right arrow-white-left arrow-white-right arrow-white-top arrow-white-bottom datepicker select-arrow close close-white menu menu-white settings settings-white plus-white palette google google-dark linkedin twitter facebook); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-Images}/icons/medium/@{name}.png");
            }
        }
    }

    // /* *** LARGE *** */

    &.large {
        .for(message message-draft message-pending page page-draft page-pending page-featured google google-dark linkedin twitter facebook favorite); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-Images}/icons/large/@{name}.png");
            }
        }
    }

    &.large {
        .for(loader-circle); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-Images}/icons/large/@{name}.gif");
            }
        }
    }

    &.large {
        .for(folder archive default doc exe flash image movie music pdf pps ttf txt xls); .-each(@name) {
            &.file-@{name} {
                background-image: url("@{CmPath-Images}/icons/large/files/@{name}.png");
            }
        }
    }

    // /* *** X-LARGE *** */

    &.x-large {
        .for(play); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-Images}/icons/x-large/@{name}.png");
            }
        }
    }

    // /* *** XX-LARGE *** */

    &.xx-large {
        .for(arrow-left arrow-right arrow-white-left arrow-white-right); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-Images}/icons/xx-large/@{name}.png");
            }
        }
    }

    // /* *** XXX-LARGE *** */

    // /* *** TOOLBAR *** */

    &.toolbar {
        .for(bold italic underline); .-each(@name) {
            &.@{name} {
                background-image: url("@{CmPath-Images}/icons/toolbar/@{name}.png");
            }
        }
    }

    // /* *** OTHER *** */

    &.arrow {
        &.asc {
            width: 10px;
            height: 6px;
            background-image: url("@{CmPath-Images}/icons/arrow-asc.png");
        }

        &.desc {
            width: 10px;
            height: 6px;
            background-image: url("@{CmPath-Images}/icons/arrow-desc.png");
        }
    }

    &.draggable {
        background: url("@{CmPath-Images}/icons/draggable.png") 0 0 repeat;
    }

    // /* *** BROWSER ICONS *** */

    &.chrome,
    &.firefox,
    &.msie,
    &.safari {
        width: 100px;
        height: 76px;
        background: url("@{CmPath-Images}/icons/browsers.png");
    }

    &.chrome {
        background-position: -200px 0;
    }

    &.firefox {
        background-position: -100px 0;
    }

    &.msie {
        background-position: -300px 0;
    }

    &.safari {
        background-position: -400px 0;
    }
}

/* ******* GLYPHS ******* */

.cm-i,
[class^="cm-i__"],
[class*=" cm-i__"] {
    font-family: @CmIconVars-Family;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    color: @CmIconVars-Color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:link,
    &:visited,
    &:hover,
    &:active {
        font-family: @CmIconVars-Family;
    }

    &:hover {
        text-decoration: none;
    }

    &.xxx-small {
        .cm-i__size(@CmSize-XXXSmall);
    }

    &.xx-small {
        .cm-i__size(@CmSize-XXSmall);
    }

    &.x-small {
        .cm-i__size(@CmSize-XSmall);
    }

    &.small {
        .cm-i__size(@CmSize-Small);
    }

    &.medium {
        .cm-i__size(@CmSize-Medium);
    }

    &.large {
        .cm-i__size(@CmSize-Large);
    }

    &.x-large {
        .cm-i__size(@CmSize-XLarge);
    }

    &.xx-large {
        .cm-i__size(@CmSize-XXLarge);
    }

    &.xxx-large {
        .cm-i__size(@CmSize-XXXLarge);
    }

    &:before {
        speak: none;
        display: block;
    }
}

/* *** COMMON *** */

.cm-i__magnify {
    &:before {
        content: @CmIcon-Magnify;
    }
}

.cm-i__reduce {
    &:before {
        content: @CmIcon-Reduce;
    }
}

/* *** CIRCLE *** */

.cm-i__circle-arrow-left {
    &:before {
        content: @CmIcon-CircleArrowLeft;
    }
}

.cm-i__circle-arrow-right {
    &:before {
        content: @CmIcon-CircleArrowRight;
    }
}

.cm-i__circle-arrow-up {
    &:before {
        content: @CmIcon-CircleArrowUp;
    }
}

.cm-i__circle-arrow-down {
    &:before {
        content: @CmIcon-CircleArrowDown;
    }
}

.cm-i__circle-close {
    &:before {
        content: @CmIcon-CircleClose;
    }
}

.cm-i__circle-twitter {
    &:before {
        content: @CmIcon-CircleTwitter;
    }
}

.cm-i__circle-instagram {
    &:before {
        content: @CmIcon-CircleInstagram;
    }
}

.cm-i__circle-youtube {
    &:before {
        content: @CmIcon-CircleYoutube;
    }
}

.cm-i__circle-vk {
    &:before {
        content: @CmIcon-CircleVK;
    }
}

.cm-i__circle-facebook {
    &:before {
        content: @CmIcon-CircleFacebook;
    }
}

/* *** SMALL *** */

.cm-i__chevron-down {
    &:before {
        content: @CmIcon-ChevronDown;
    }
}

.cm-i__chevron-up {
    &:before {
        content: @CmIcon-ChevronUp;
    }
}

.cm-i__chevron-left {
    &:before {
        content: @CmIcon-ChevronLeft;
    }
}

.cm-i__chevron-right {
    &:before {
        content: @CmIcon-ChevronRight;
    }
}

// /* *** MIXINS *** */

.cm-i__size (@size: @CmSize-Medium) {
    line-height: @size;
    font-size: @size;
}

.cm-i__b-size (@size: @CmSize-Medium) {
    width: @size;
    height: @size;
    line-height: @size;
}

/* ******* ANIMATED ******* */

.cm-ia__spinner {
    .cm-animate.animated.spin;
    margin: auto;
    z-index: 1;
    border: @CmIconIA-Spinner-BorderSize solid @CmIconIA-Spinner-DefaultBackground;
    border-top-color: @CmIconIA-Spinner-ActiveBackground;
    border-radius: 50%;
}

.cm-ia__menu {
    position: relative;

    &:before,
    &:after {
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        content: '';
        background-color: @CmColor-Font-Opposite;
        .mx__transition(all, @CmUI-Transition-Duration);
    }

    &:before {
        .mx__transform(translate(0, -5px));
        .mx__position(50%, 0, auto, 0);
    }

    &:after {
        .mx__transform(translate(0, 5px));
        .mx__position(auto, 0, 50%, 0);
    }
}

.cm-ia__menu--active {
    &:before {
        .mx__transform(translate(0, -1px));
        .mx__transform(rotate(45deg));
    }

    &:after {
        .mx__transform(translate(0, 1px));
        .mx__transform(rotate(-45deg));
    }
}

.cm-ia__menu2 {
    position: relative;

    div {
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        margin: auto;
        content: '';
        background-color: @CmColor-Font-Opposite;
        border-radius: 2px;
        .mx__transition(all, @CmUI-Transition-Duration);
    }

    div:nth-child(1) {
        .mx__transform(translate(0, -9px));
        .mx__position(50%, 0, auto, 0);
    }

    div:nth-child(2) {
        .mx__position(0, 0, 0, 0);
    }

    div:nth-child(3) {
        .mx__transform(translate(0, 9px));
        .mx__position(auto, 0, 50%, 0);
    }
}

.cm-ia__menu2--active {
    div:nth-child(1) {
        .mx__transform(translate(0, -1px));
        .mx__transform(rotate(45deg));
    }

    div:nth-child(2) {
        width: 0;
    }

    div:nth-child(3) {
        .mx__transform(translate(0, 1px));
        .mx__transform(rotate(-45deg));
    }
}
