/* ******* COMMON: LIST ******* */

.cm__list {
    .cm__box;
    list-style: disc;

    &.has-indent {
        ul, li {
            margin: @CmIndent-XXSmall 0 0 0;

            &:first-child {
                margin: 0;
            }
        }
    }

    ul {
        list-style: circle;

        ul {
            list-style: disc;
        }
    }
}

.cm__list-inline {
    text-align: left;
    font-size: 0;

    > li {
        display: inline-block;
        vertical-align: top;
    }

    &.pull-left {
        text-align: left;
    }

    &.pull-center {
        text-align: center;
    }

    &.pull-right {
        text-align: right;
    }
}

.cm__list-inline--base {
    .cm__list-inline;

    > li {
        .cm__font;
    }
}

.cm__list-inline--clear {
    text-align: left;

    > li {
        display: inline-block;
        vertical-align: top;
    }

    &.pull-left {
        text-align: left;
    }

    &.pull-center {
        text-align: center;
    }

    &.pull-right {
        text-align: right;
    }
}

.cm__list-flex {
    .display-flex;
    .mx__justify-content(flex-start);

    &.pull-left {
        .mx__justify-content(flex-start);
    }

    &.pull-center {
        .mx__justify-content(center);
    }

    &.pull-right {
        .mx__justify-content(flex-end);
    }
}

.cm__list-clear {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        margin: 0;
        padding: 0;
    }
}

.cm__list-clear--soft {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;
        padding: 0;
    }
}

.cm__list-table {
    width: 100%;
    display: table;
    table-layout: fixed;

    > li {
        display: table-cell;
    }
}

