/* ******* TAGS ******* */

body {
    cursor: default;
}
a {
    outline: none;
    cursor: pointer;
}
img {
	border: none;
}
dl, dt, dd, canvas, iframe, form {
    padding: 0;
    margin: 0;
    display: block;
    text-indent: 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	cursor: text;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="radio"],
input[type="checkbox"],
select {
	cursor: pointer;
}
input, select, textarea {
	outline: none;
	margin: 0;
}
table {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
tbody, thead, tr {
	width: 100%;
}
tbody, thead, td, th, tr {
	margin: 0;
	padding: 0;
}
code {
    display: block;
    white-space: pre-wrap;
    padding: 8px 12px;
    margin: 4px 0;
    background: #ffffff;
    border: 1px dashed #999999;
    border-radius: 4px;
}

/* ******* ICONS ******* */

.icon {
}
.icon.inline {
	margin: 0 4px;
	vertical-align: middle;
}
.icon.dummy {
    width: 16px;
    height: 16px;
}
.icon.dummy.medium {
    width: 24px;
    height: 24px;
}
.icon.linked {
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
}
.icon.linked:hover {
    opacity: 0.7;
    -webkit-transition: opacity 0.1s ease-in-out;
            transition: opacity 0.1s ease-in-out;
}
.icon.arrow.asc {
	width: 10px;
	height: 6px;
	background: url(../images/icons/arrow-asc.png);
}
.icon.arrow.desc {
	width: 10px;
	height: 6px;
	background: url(../images/icons/arrow-desc.png);
}
.icon.datepicker {
	height: 24px;
	width: 24px;
	background: url(../images/icons/calendar.png);
}
.icon.chrome,
.icon.firefox,
.icon.msie,
.icon.safari {
	background: url(../images/icons/browsers.png);
}
.icon.chrome {
	width: 100px;
	height: 76px;
	background-position: -200px 0;
}
.icon.firefox {
	width: 100px;
	height: 76px;
	background-position: -100px 0;
}
.icon.msie {
	width: 100px;
	height: 76px;
	background-position: -300px 0;
}
.icon.safari {
	width: 100px;
	height: 76px;
	background-position: -400px 0;
}
.icon.editable-icon {
	width: 21px;
	height: 20px;
	background: url(../images/icons/editable.png);
}
.icon.add {
	width: 16px;
	height: 16px;
	background: url(../images/icons/add.png);
}
.icon.edit {
	width: 16px;
	height: 16px;
	background: url(../images/icons/edit.png);
}
.icon.remove {
	width: 16px;
	height: 16px;
	background: url(../images/icons/remove.png);
}
.icon.settings {
	width: 16px;
	height: 16px;
	background: url(../images/icons/settings.png);
}
.icon.view {
	width: 16px;
	height: 16px;
	background: url(../images/icons/view.png);
}
.icon.copy {
	width: 16px;
	height: 16px;
	background: url(../images/icons/copy.png);
}
.icon.done {
	width: 16px;
	height: 16px;
	background: url(../images/icons/done.png);
}
.icon.fail {
	width: 16px;
	height: 16px;
	background: url(../images/icons/fail.png);
}
.icon.help {
    width: 16px;
    height: 16px;
    background: url(../images/icons/help.png);
}
.icon.certificate {
    width: 16px;
    height: 16px;
    background: url(../images/icons/certificate.png);
}
.icon.draggable {
    width: 24px;
    height: 14px;
    background: url(../images/icons/draggable.png) 0 0 no-repeat;
}
.icon.arrow-priority-down {
	width: 16px;
	height: 16px;
	background: url(../images/icons/arrow-priority-down.png);
}
.icon.arrow-priority-up {
	width: 16px;
	height: 16px;
	background: url(../images/icons/arrow-priority-up.png);
}

/* ******* STATIC CLASSES ******* */

.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.ie7 .clear {
	height: 1%;
}
.display-none {
	display: none !important;
}
.margin-none {
	margin: 0 !important;
}
.align-left {
    text-align: left !important;
}
.align-center {
	text-align: center !important;
}
.align-right {
	text-align: right !important;
}
.valign-top {
    vertical-align: top !important;
}
.valign-middle {
    vertical-align: middle !important;
}
.valign-bottom {
    vertical-align: bottom !important;
}
.inner-link {
	text-decoration: none;
	border-bottom: 1px dashed;
}
.inner-link:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}
.inherit-link {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
.inherit-link:hover {
	text-decoration: underline;
}
ul.decimal {
	list-style: decimal;
}
ul.none {
	list-style: none;
	padding-left: 0;
}
ul.indent {
	list-style: none;
}
.inline {
	display: inline-block;
}
.ie7 .inline {
	display: inline;
	zoom: 1;
}
.mark-new {
    display: inline-block;
    margin: 0 0 0 6px;
    position: relative;
    top: -5px;
    color: #f8504b;
    font-size: 8px;
    text-transform: uppercase;
}

/* Content Table */

.content-table {

}
.content-table td {
    vertical-align: top;
}

/* Content Buttons Line */

.buttons {
	margin: 0 0 24px 0;
	font-size: 0;
}
.buttons.bottom {
	margin: 0;
}
.buttons input[type="button"],
.buttons input[type="submit"],
.buttons input[type="reset"],
.buttons button,
.buttons .button {
	margin-right: 8px;
}

/* Loader Box */

.loader-box {
	height: 50px;
	position: relative;
}
.loader-box.position {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.loader-box > .inner {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	margin: -16px 0 0 -16px;
	background: url(../images/components/ajax-loader.gif);
}

/* ******* ROWS ******* */

.row-flex {
	min-height: 20px;
	margin: 0 0 20px 0;
}
.row-flex > *[class^="col-"] {
	min-height: inherit;
	float: left;
}
.row-rtl > *[class^="col-"] {
	float: right;
}
.row-flex .col-1	{ width: 5%;	}
.row-flex .col-2	{ width: 10%;	}
.row-flex .col-3	{ width: 15%;	}
.row-flex .col-4	{ width: 20%;	}
.row-flex .col-5	{ width: 25%;	}
.row-flex .col-6	{ width: 30%;	}
.row-flex .col-7	{ width: 35%;	}
.row-flex .col-8	{ width: 40%;	}
.row-flex .col-9	{ width: 45%;	}
.row-flex .col-10	{ width: 50%;	}
.row-flex .col-11	{ width: 55%;	}
.row-flex .col-12	{ width: 60%;	}
.row-flex .col-13	{ width: 65%;	}
.row-flex .col-14	{ width: 70%;	}
.row-flex .col-15	{ width: 75%;	}
.row-flex .col-16	{ width: 80%;	}
.row-flex .col-17	{ width: 85%;	}
.row-flex .col-18	{ width: 90%;	}
.row-flex .col-19	{ width: 95%;	}
.row-flex .col-20	{ width: 100%;	}

/* ******* FORM ******* */

.form {
	cursor: default;
}
.form.in-content {
    margin: 0 0 24px;
}
.form .title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.form .placeholder {
	color: #999 !important;
	font-style: italic !important;
}
.form dl {
	margin: 10px 0 0 0;
	padding: 0;
	display: block;
	clear: both;
}
.form > dl:first-child {
	margin-top: 0;
}
.form dl:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.form dt {
	width: 150px;
	float: left;
	display: block;
	margin: 0;
}
.form dl.error dt {
	font-weight: bold;
	color: #C00;
}
.form dl.ok dt {
	font-weight: bold;
	color: #090;
}
.form dd {
	display: block;
	margin: 0 0 0 160px;
	padding: 0;
	position: relative;
}
.form dd:first-child {
	margin: 0;
}
.form dl .hint {
	font-size: 11px;
	line-height: 15px;
	color: #999;
	font-style: italic;
	padding: 2px 0;
}
.form dl ul.hint {
	margin: 0;
	padding: 6px 0 2px;
	display: block;
	list-style: none;
}
.form dl ul.hint li {
	margin-top: 4px;
	line-height: 13px;
}
.form dl ul.hint li:first-child {
	margin: 0;
}
.form dl ul.hint li:before {
	content: '-';
	margin-right: 4px;
}
.form dl.error .hint {
	color: #C00;
}
.form dl.ok .hint {
	color: #090;
}
.form dl input[type="file"] {
	width: 100%;
	cursor: pointer;
}
.form dl.error input[type="text"],
.form dl.error input[type="password"],
.form dl.error textarea,
.form dl.error select {
	border: 1px solid #C00;
	border-radius: 2px;
}
.form dl.ok input[type="text"],
.form dl.ok input[type="password"],
.form dl.ok textarea,
.form dl.ok select {
	border: 1px solid #090;
	border-radius: 2px;
}
.form dl .two-cols .right input[type="text"],
.form dl .two-cols .right input[type="password"],
.form dl .two-cols .right  textarea {
}
.form dl .time { }
.form dl .time input,
.form dl .time select,
.form dl .time .cm-select {
	width: 55px;
	float: left;
}
.form dl .time > span {
    width: 14px;
	display: block;
	float: left;
    text-align: center;
}

.browse-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.browse-button > .inner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.browse-button input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	cursor: pointer;
}
.ie8 .browse-button input[type="file"] {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.form dl .birth {
}
.form dl .birth input {
	width: 58px;
	float: left;
}
.form dl .birth input.month,
.form dl .birth input.day {
    width: 46px;
}
.form dl .birth div {
	width: 20px;
	float: left;
	overflow: hidden;
	text-align: center;
}
.form .cols {
	margin: 10px 0 0;
}
.form .cols:first-child {
	margin: 0;
}
.form .cols .col {
	float: left;
    margin-left: 2%;
}
.form .cols.one .col {
    width: 100%;
}
.form .cols.two .col {
	width: 49%;
}
.form .cols.three .col {
	width: 32%;
}
.form .cols.four .col {
    width: 23.5%;
}
.form .cols.five .col {
    width: 18.4%;
}
.form .cols.six .col {
    width: 15%;
}
.form .cols.seven .col {
    width: 13%;
    margin-left: 1.5%;
}
.form .cols.eight .col {
    width: 10.75%;
}
.form .cols.nine .col {
    width: 9.6%;
    margin-left: 1.7%;
}
.form .cols.ten .col {
    width: 8.2%;
}
.form .cols .col:first-child {
    margin-left: 0;
}
.form .cols .col > dl:first-child {
	margin-top: 0;
}
.form hr {
	height: 0;
	overflow: hidden;
	border: none;
	border-top: 1px dotted #CCC;
	margin: 20px 0 0 0;
	padding: 0 0 10px 0;
	display: block;
	clear: both;
}
.form .btn-wrap {
	margin-top: 20px;
}
.form .btn-wrap .button,
.form .btn-wrap button,
.form .btn-wrap input[type="button"],
.form .btn-wrap input[type="reset"],
.form .btn-wrap input[type="submit"] {
	float: right;
	margin: 0 0 0 8px;
	cursor: pointer;
}
.form .btn-wrap .button.left,
.form .btn-wrap button.left,
.form .btn-wrap input[type="button"].left,
.form .btn-wrap input[type="reset"].left,
.form .btn-wrap input[type="submit"].left {
	float: left;
	margin: 0 8px 0 0;
}
.form .btn-wrap .hint {
	font-style: italic;
	overflow: hidden;
	text-align: right;
	font-size: 12px;
	padding: 0 8px 0 0;
}
.form .btn-wrap.error .hint {
	color: #C00;
}
.form .btn-wrap.ok .hint {
	color: #090;
}
.form .btn-wrap.centered {
	text-align: center;
}
.form .btn-wrap.centered input {
	float: none;
	display: inline-block;
	margin: 0 0 0 8px;
}
.form .btn-wrap.centered input:first-child {
	margin: 0;
}
.form fieldset {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px 26px 26px 26px;
	margin: 10px 0 0 0;
}
.form fieldset:first-child {
	margin: 0;
}
.form fieldset legend {
	font-size: 12px;
	line-height: 15px;
	color: #333;
}
.form fieldset dl:first-child {
	margin-top: 8px;
}
.form fieldset.error {
	border-color: #C00;
}
.form fieldset.error legend {
	color: #C00;
	font-weight: bold;
}
.form fieldset.ok {
	border-color: #090;
}
.form fieldset.ok legend {
	color: #090;
	font-weight: bold;
}
.form span.required {
    color: #FF4B33;
    font-weight: bold;
}
.form dl.error .validate {
	color: #C00;
	font-weight: bold;
}
.form dl.ok .validate {
	color: #090;
	font-weight: bold;
}

.check-line {
	margin-top: 4px;
}
.check-line:first-child {
	margin: 0;
}
.form dd > input[type="checkbox"],
.check-line input[type="radio"],
.check-line input[type="checkbox"] {
	margin: 4px 0 5px 0;
	vertical-align: top;
	padding: 0;
	cursor: pointer;
}
.check-line input[type="radio"] {
	margin-top: 4px;
}
.check-line label {
	padding: 3px 20px 3px 6px;
	cursor: pointer;
	vertical-align: baseline;
}

.check-line.outside {
	line-height: inherit;
}
.check-line.outside input[type="radio"],
.check-line.outside input[type="checkbox"] {
	float: left;
}
.check-line.outside label {
	display: block;
	margin: 0 0 0 16px;
}

.check-line.filter > input {
	display: block;
	float: left;
}
.check-line .field {
	width: auto;
	min-height: 22px;
	display: block;
	margin: 0 0 0 28px;
}

.check-line .unveil {
	display: none;
	padding: 4px 0 4px 24px;
}
.check-line .unveil dl:first-child {
	margin: 0;
}
.check-line input[type="radio"]:checked + label + .unveil,
.check-line input[type="checkbox"]:checked + label + .unveil {
	display: block;
}
.ie7 .check-line .unveil,
.ie8 .check-line .unveil {
	display: block;
}

.form-box {
}
.form-box dt {
	width: auto;
	float: none;
}
.form-box dd {
	margin: 4px 0 0 0;
}

.form-field {
}
.form-field dd.controls {
	float: right;
	margin: 0;
	white-space: nowrap;
}
.form-field dd.controls .icon {
	display: inline-block;
	margin: 0 0 0 6px;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transition: opacity 0.2s ease-in-out;
	        transition: opacity 0.2s ease-in-out;
}
.form-field dd.controls .icon:hover {
	opacity: 0.5;
}
.form-field dd.controls .icon:first-child {
	margin: 0;
}
.form-field dd.descr {
	margin-right: 32px;
}

.form-image-box {
}
.form-image-box > .l {
	float: left;
	margin: 0 12px 0 0;
}
.form-image-box > .l img {
	width: 80px;
	height: 80px;
	display: block;
}
.form-image-box > .r {
	float: left;
}
.form-image-box > .r .hint {
	margin: 6px 0 0 0;
}
.form-image-box .browse-button {
	display: block;
	margin: 0 0 8px 0;
}
.form-image-box input[type="button"] {
	width: 100px;
}
.form-image-box.style2 .browse-button {
	display: inline-block;
	margin: 0 4px 0 0;
}
.ie7 .form-image-box.style2 .browse-button {
	display: inline;
	zoom: 1;
}
.form-image-box.flat > .l {
	float: none;
	margin: 0 0 12px;
}
.form-image-box.flat > .l img {
	width: auto;
	height: auto;
}
.form-image-box.flat > .r {
	float: none;
}


/* Captcha */

.form .captcha img {
    display: block;
    margin: 0 0 10px;
}
.form .captcha {
    display: inline-block;
}

/* Outside Icons */

.has-icons-outside-1,
.has-icons-outside-one {
	padding-right: 25px;
}
.has-icons-outside-2,
.has-icons-outside-two {
	padding-right: 50px;
}
.has-icons-outside-3,
.has-icons-outside-three {
	padding-right: 75px;
}
.has-icons-outside-4 {
	padding-right: 100px;
}
.has-icons-outside-5 {
	padding-right: 125px;
}

ul.has-icons-outside-1 li,
ul.has-icons-outside-2 li,
ul.has-icons-outside-3 li,
ul.has-icons-outside-4 li,
ul.has-icons-outside-5 li,
ul.has-icons-outside-one li,
ul.has-icons-outside-two li,
ul.has-icons-outside-three li {
	position: relative;
}

.form-icons-inside,
.form-icons-outside {
	text-align: right;
	white-space: nowrap;
	font-size: 0;
}
.form-icons-outside {
	padding: 0 0 0 8px;
	position: absolute;
	top: 0;
	left: 100%;
}
.form-icons-inside.left,
.form-icons-outside.left {
	text-align: left;
}
.has-icons-outside-1 .form-icons-outside,
.has-icons-outside-one .form-icons-outside {
	width: 16px;
}
.has-icons-outside-2 .form-icons-outside,
.has-icons-outside-two .form-icons-outside {
	width: 40px;
}
.has-icons-outside-3 .form-icons-outside,
.has-icons-outside-three .form-icons-outside {
	width: 64px;
}
.has-icons-outside-4 .form-icons-outside {
	width: 88px;
}
.has-icons-outside-5 .form-icons-outside {
	width: 112px;
}
.form-icons-inside .icon,
.form-icons-outside .icon {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 0 0 8px;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.ie7 .form-icons-inside .icon,
.ie7 .form-icons-outside .icon {
	display: inline;
	zoom: 1;
}
.form-icons-inside .icon.hidden,
.form-icons-outside .icon.hidden {
	visibility: hidden;
}
.form-icons-inside .icon:first-child,
.form-icons-outside .icon:first-child {
	margin: 0;
}
.form-icons-inside .icon:hover,
.form-icons-outside .icon:hover {
	opacity: 0.7;
	-webkit-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
}
.form-icons-inside .text,
.form-icons-outside .text {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 8px;
	font-size: 13px;
}
.ie7 .form-icons-inside .text,
.ie7 .form-icons-outside .text {
	display: inline;
	zoom: 1;
}
.form-icons-inside .text:first-child,
.form-icons-outside .text:first-child {
	margin: 0;
}

/* Form Filter */

.form-filter {
    width: 30%;
}
.form-filter.right {
    float: right;
}
.form-filter.right dt {
    width: auto;
    margin: 0 20px 0 0;
}
.form-filter.right dd {
    margin-left: 0;
    overflow:  hidden;
}

/* Form Filter From-To */

.form-filter-fromto {
	margin: 0 0 24px 0;
}
.form-filter-fromto dl {
	float: left;
	clear: none;
}
.form-filter-fromto .form-box {
	width: 190px;
	margin: 0 3% 0 0;
}
.form-filter-fromto .buttons {
	float: left;
	margin: 26px 0 0 0;
}
.form-filter-fromto.simple .buttons {
    margin:  0;
}

/* Input */

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
	width: 100%;
	height: 22px;
	padding: 2px 6px;
	vertical-align: top;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
	line-height: 16px;
}
.ie7 input[type="text"],
.ie7 input[type="email"],
.ie7 input[type="number"],
.ie7 input[type="password"] {
	width: 95%;
	height: 16px;
}

/* Textarea */

textarea {
	width: 100%;
	height: 84px;
    min-height: 22px;
	padding: 6px;
	vertical-align: top;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	overflow: auto;
    resize: vertical;
	line-height: 16px;
}
.ie7 textarea {
	width: 95%;
}
textarea[readonly],
textarea[disabled] {
	background-color: #f7f7f7;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
	height: 22px;
	margin: 0;
	padding: 0 10px;
	position: relative;
	vertical-align: top;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
	-webkit-background-clip: border-box;
	   -moz-background-clip: border-box;
	        background-clip: border-box;
	text-align: center;
    line-height: 22px;
    font-size: 12px;
	cursor: pointer;
}
a.button,
div.button {
	display: inline-block;
	text-decoration: none;
}
a.button:hover {
	text-decoration: none;
}
.ie7 div.button,
.ie7 a.button {
	display: inline;
	zoom: 1;
}

button .icon,
.button .icon {
	display: inline-block;
	margin: 0 8px 0 0;
	vertical-align: middle;
}
.ie7 button .icon,
.ie7 .button .icon {
	display: inline;
	zoom: 1;
}
button .icon.add,
.button .icon.add {
	margin-top: -1px;
}
button .icon.remove,
.button .icon.remove {
	margin-top: -1px;
}

/* Select */

select {
	width: 100%;
	height: 22px;
	vertical-align: top;
}
select[multiple] {
	height: 84px;
}

/* Progress Bar */

.progress-bar {
	height: 14px;
	position: relative;
	background: #CCC;
}
.progress-bar > .inner {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.progress-bar .green {
	background: #390;
}
.progress-bar .red {
	background: #C00;
}
.progress-bar .orange {
	background: #F63;
}

/* ******* COMPONENTS ******* */

/* *** Columns *** */

.com-columns {
}
.com-columns > .inner {
    position: relative;
}
.com-columns > .inner > .container {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
}
.com-column {
    height: 100%;
    display: table-cell;
    vertical-align: top;
}
.com-column > .outer {
    height: 100%;
    min-height: 18px;
    margin: 0 10px;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid;
}
.com-column:first-child > .outer {
    margin-left: 0;
}
.com-column:last-child > .outer {
    margin-right: 0;
}
.com-columns-chassis {
    width: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 0 0 -3px;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    cursor: col-resize;
    -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
}
.com-columns.is-active > .inner > .container > .com-columns-chassis,
.com-columns:hover > .inner > .container > .com-columns-chassis {
    opacity: 1;
}
.com-columns-body {
    cursor: col-resize;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

/* *** Files list *** */

.files-list {
}
.files-list ul {
	max-height: 106px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	margin: 0 0 6px 0;
}
.files-list ul li {
	margin: 6px 0 0 0;
}
.files-list ul li:first-child {
	margin: 0;
}
.files-list ul li input {
	float: left;
	margin: 0 12px 0 0;
}
.files-list ul li .text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: normal;
}
.ie .files-list ul li .text {
	overflow: visible;
}

.single-file .browse-button {
	display: block;
	float: left;
	margin: 0 12px 0 0;
}
.single-file .text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: normal;
}

/* *** Select *** */

.cm-select {
	height: 22px;
	position: relative;
	z-index: 1;
	outline: none;
}
.cm-select-input {
	cursor: pointer;
}
.cm-select-input .cm-select-inner {
	height: 20px;
	background: #fff;
	border: 1px solid #595959;
}
.cm-select-arrow {
	width: 20px;
	height: 20px;
	background: #f0f0f0 url(../images/components/select-arrow.png) center center no-repeat;
	border-left: 1px solid #DEDEDE;
	float: right;
	cursor: pointer;
	-webkit-transition: background-color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out;
}
.cm-select-arrow:hover {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
}
.cm-select-text {
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: normal;
	padding: 0 6px;
}
.cm-select.disabled .cm-select-input .cm-select-inner {
    background: #f5f5f5;
}
.cm-select.disabled .cm-select-text {
    color: #a6a6a6;
}

.cm-select-tooltip > .inner > .scroll {
    max-height: 188px;
}

/* Listing */

.cm-select-listing ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.cm-select-listing ul li {
	margin-top: 1px;
    padding: 2px 4px;
	line-height: 16px;
	font-size: 12px;
	color: #333333;
    text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.cm-select-listing ul li:first-child {
	margin-top: 0;
}
.cm-select-listing ul li.active {
    background-color: #d9eafb;
}
.cm-select-listing ul li:hover {
	background-color: #f0f0f0;
	-webkit-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
}
.cm-select-listing ul li.active:hover {
    background-color: #bdd8f3;
}

/* Select Multiple */

.cm-multiselect {
}
.cm-multiselect .inner {
    min-height: 14px;
    padding: 3px;
    background: #fff;
    border: 1px solid #595959;
}
.cm-multiselect .cm-select-listing {
    max-height: 104px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* *** Grid List *** */

.gridlist-counter {
    margin: 0 0 12px
}
.gridlist {
	margin: 0 0 24px;
	overflow: hidden;
}
.gridlist table {
	width: 100%;
	table-layout: fixed;
    border-collapse: separate;
}
.gridlist td,
.gridlist th {
	text-align: left;
	padding: 6px;
}
.gridlist th > .inner,
.gridlist td > .inner {
    display: block;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-decoration: none;
}
.gridlist thead {
    background: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
    background:    -moz-linear-gradient(top, #ffffff, #f0f0f0);
    background:     -ms-linear-gradient(top, #ffffff, #f0f0f0);
    background:      -o-linear-gradient(top, #ffffff, #f0f0f0);
    background:         linear-gradient(to bottom, #ffffff, #f0f0f0);
}
.gridlist th {
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    line-height: 14px;
    font-weight: bold;
    color: #333333;
}
.gridlist th:first-child {
    border-left: 1px solid #CACACA;
    border-radius: 3px 0 0 3px;
}
.gridlist th:last-child {
    border-right: 1px solid #CACACA;
    border-radius: 0 3px 3px 0;
}
.gridlist th.sort {
    -webkit-transition: background-color 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;
}
.gridlist th.sort:hover {
    background: #f0f0f0;
    -webkit-transition: background-color 0.1s ease-in-out;
            transition: background-color 0.1s ease-in-out;
}
.gridlist th.sort .inner {
    display: block;
    margin: -6px;
    padding: 6px 20px 6px 6px;
    color: #333333;
    cursor: pointer;
}
.gridlist th .arrow {
	width: 10px;
	height: 10px;
	display: block;
    position: absolute;
    top: 50%;
    right: 6px;
	margin: -3px 0 0 0;
}
.gridlist td {
	vertical-align: top;
	word-wrap: break-word;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;
}
.gridlist tr:hover td {
	background-color: #f0f0f0;
    -webkit-transition: background-color 0.1s ease-in-out;
            transition: background-color 0.1s ease-in-out;
}

.gridlist-link {
	font-size: 11px;
	margin: 0 0 0 6px;
}
.gridlist-link:first-child {
	margin: 0;
}
.gridlist .expire {
	color: #D2A323;
	font-weight: bold;
}
.gridlist .expired {
	color: #DF3E3E;
	font-weight: bold;
}
.gridlist.error th {
    border-color: #df3e3e;
}

.gridlist-links {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}
.gridlist-links li {
	display: inline-block;
	font-size: 11px;
	vertical-align: middle;
}
.gridlist-links li:before {
	content: '|';
	margin: 0 4px;
}
.gridlist-links li:first-child:before {
	content: normal;
	margin: 0;
}
.gridlist-links.style2 {
}
.gridlist-links.style2 li {
    display: block;
}
.gridlist-links.style2 li:before {
    content: normal;
    margin: 0;
}

.gridlist-middle td,
.gridlist-middle th {
    vertical-align: middle;
}

.gridlist-font-11 {
	font-size: 11px;
	line-height: 14px;
}
.gridlist-font-11 br {
	height: 14px;
	line-height: 14px;
}

.gridlist .control {
}
.gridlist .control .icon {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transition: opacity 0.3s ease-in-out;
	        transition: opacity 0.3s ease-in-out;
}
.gridlist .control .icon:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.1s ease-in-out;
	        transition: opacity 0.1s ease-in-out;
}
.gridlist .control input[type="checkbox"],
.gridlist .control input[type="radio"] {
	vertical-align: middle;
	margin: 0;
}

/* Slide gridlist box */

.gridlist .slide-tr {
}
.gridlist .slide-tr > td {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 0;
}
.gridlist .slide-tr:hover > td {
	background-color: #fff;
}
.gridlist .slide-tr .slide-box {
	height: 0;
	overflow: hidden;
	position: relative;
}
.gridlist .slide-tr .slide-box > .inner {
	padding: 6px;
}

.gridlist-grey tr td {
	background: #F5F5F5;
}
.gridlist .has-padding tr td:first-child {
	padding-left: 20px;
}
.gridlist .has-padding-two tr td:first-child {
	padding-left: 40px;
}

/* *** Tabs *** */

.tabset {
	margin: 0 0 24px;
}
.tabset-head {
	position: relative;
	bottom: -1px;
    z-index: 2;
}
.tabset-head ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tabset-head ul li {
	margin: 0 0 0 4px;
	float: left;
	background: #E5E5E5;
	border: 1px solid #CBCBCB;
	border-radius: 5px 5px 0 0;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.tabset-head ul li:first-child {
	margin: 0;
}
.tabset-head ul li:hover {
	background: #fff;
	-webkit-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
}
.tabset-head ul li a {
	height: 29px;
	display: block;
	padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	line-height: 30px;
	font-weight: normal;
	font-size: 13px;
	color: #202020;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	text-decoration: none;
}
.tabset-head-title {
    height: 29px;
    display: none;
    overflow: hidden;
    padding: 0 20px;
    background: #ffffff;
    border: 1px solid #CBCBCB;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 30px;
    font-weight: bold;
    font-size: 13px;
    color: #202020;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}
.tabset-head p {
	 margin: 0;
	 line-height: 30px;
	 color: #202020;
}
.tabset-head ul li.active {
	background: #fff;
}
.tabset-content {
    position: relative;
    z-index: 1;
	padding: 24px;
	background: #fff;
	border: 1px solid #CBCBCB;
	border-radius: 0 5px 5px 5px;
}
.tabset-content > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tabset-content > ul > li {
	display: none;
}
.tabset-content-ul > li {
    display: none;
}

.tabset.top > .tabset-head ul li.active {
    border-bottom-color: #ffffff;
}
.tabset.top > .tabset-head .tabset-head-title {
    border-bottom-color: #fff;
    border-radius: 5px 5px 0 0;
}

.tabset.bottom > .tabset-head {
    bottom: auto;
    top: -1px;
}
.tabset.bottom > .tabset-head ul li {
    border-radius: 0 0 5px 5px;
}
.tabset.bottom > .tabset-head ul li.active {
    border-top-color: #fff;
}
.tabset.bottom > .tabset-content {
    border-radius: 5px 5px 5px 0;
}
.tabset.bottom > .tabset-head .tabset-head-title {
    border-radius: 0 0 5px 5px;
    border-top-color: #fff;
}

/* *** Breadcrumbs *** */

.breadcrumbs {
	margin: 0 0 24px;
}
.breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.breadcrumbs ul li {
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
}
.breadcrumbs ul li.sep {
	margin: 0 4px;
}

/* *** Pagination *** */

.pagination {
	margin: 0 0 24px;
	line-height: 22px;
}
.pagination.bottom {
	margin: 0;
}
.pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: left;
}
.pagination ul li {
	display: inline-block;
	margin-left: 2px;
	vertical-align: top;
}
.pagination ul li:first-child {
	margin-left: 0;
}
.pagination ul li a {
	min-width: 10px;
	height: 22px;
	padding: 0 6px;
	display: block;
	border-radius: 3px;
	line-height: 22px;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color 0.3s ease-in-out;
	        transition: background-color 0.3s ease-in-out;
}
.pagination ul li a:hover {
	background: #eaeaea;
	-webkit-transition: background-color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out;
}
.pagination ul li.active a {
	background: #015696;
	color: #fff;
}

.pagination ul li.points {
	font-size: 14px;
	font-weight: bold;
}

/* Pagination Arrowed */

.pagination-arrowed {
	margin: 22px 0;
}
.pagination-arrowed.bottom {
	margin-bottom: 0;
}
.pagination-arrowed .current {
	text-align: center;
	margin: 0 0 4px;
}
.pagination-arrowed .arrows {
	text-align: center;
}
.pagination-arrowed .item {
	display: inline-block;
	margin: 0 0 0 24px;
	text-align: center;
	font-size: 18px;
}
.pagination-arrowed .item:first-child {
	margin: 0;
}
.pagination-arrowed .item.prev {
	min-width: 20%;
	text-align: right;
}
.pagination-arrowed .item.next {
	min-width: 20%;
	text-align: left;
}

/* *** Flash Notification *** */

.flash-notification {
	margin: 0 0 24px;
}
.flash-notification ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.flash-notification ul li {
	margin: 8px 0 0 0;
	padding: 5px 8px;
	background: #f7f7f7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	line-height: 16px;
	font-size: 13px;
    font-weight: bold;
}
.flash-notification ul li:first-child {
	margin: 0;
}
.flash-notification ul li .close {
	float: right;
	margin-left: 12px;
	padding-left: 12px;
	border-left: 1px solid;
	font-size: 11px;
	color: #666666;
	text-decoration: underline;
	cursor: pointer;
}
.flash-notification ul li .close:hover {
	text-decoration: none;
}
.flash-notification ul li .descr {
	overflow: hidden;
}

.flash-notification ul li.ok {
	background: #f3fded;
	border-color: #9ec589;
	color: #5a714e;
}
.flash-notification ul li.ok .close {
	border-color: #9ec589;
}
.flash-notification ul li.error {
	background: #ffe4e4;
	border-color: #df3e3e;
	color: #bf0a0a;
}
.flash-notification ul li.error .close {
	border-color: #df3e3e;
}
.flash-notification ul li.notice {
	background: #f8f1d4;
	border-color: #d2a323;
	color: #906901;
}
.flash-notification ul li.notice .close {
	border-color: #d2a323;
}

/* *** Dialog *** */

.dialog {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
}
.ie6 .dialog,
.ie7 .dialog,
.ie8 .dialog {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dialog > .bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #000000;
	opacity: 0.6;
}
.ie6 .dialog > .bg,
.ie7 .dialog > .bg,
.ie8 .dialog > .bg {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.dialog > .window {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
}
.ie6 .dialog > .window
.ie7 .dialog > .window,
.ie8 .dialog > .window {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dialog > .window > .inner {
    background-color: #ffffff;
    border-radius: 8px;
}
.dialog > .window > .inner > .close {
	position: absolute;
	top: 4px;
	right: 9px;
	z-index: 2;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	cursor: pointer;
}
.dialog > .window > .inner > .close:hover {
	opacity: 0.6;
}
.dialog > .window > .inner > .title {
	padding: 16px 0 0;
	margin: 0 22px;
	line-height: 24px;
	font-size: 24px;
	font-weight: bold;
	color: #015696;
}
.dialog > .window > .inner > .title h1 {
	margin: 0;
}
.dialog > .window > .inner > .descr {
	padding: 8px;
	position: relative;
	z-index: 1;
}
.dialog > .window > .inner > .descr > .scroll {
	position: relative;
}
.dialog > .window > .inner > .descr > .scroll > .inner {
	word-wrap: break-word;
	padding: 14px;
}
.dialog > .window > .inner > .descr > .scroll.isScroll {
	overflow-x: hidden;
	overflow-y: auto;
}
.dialog > .window > .inner > .descr > .scroll.isScroll > .inner {
	padding-right: 22px;
}
.dialog > .window > .inner > .descr:first-child {
	padding: 32px 8px 8px;
}
.dialog > .window > .inner > .descr:first-child > .scroll > .inner {
	padding: 0 14px 14px;
}
.dialog > .window > .inner > .descr:first-child > .scroll.isScroll > .inner {
	padding-right: 22px;
}

.dialog-confirm {
	padding: 14px 0 0;
}
.dialog-confirm > .title {
	text-align: center;
	font-weight: bold;
}
.dialog-confirm .button-box {
	margin-top: 20px;
}
.dialog-confirm .button-box input {
	width: 70px;
}

/* *** Overlay *** */

.cm-overlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	z-index: 1003;
	top: 0;
	left: 0;
	opacity: 0;
}
.ie7 .cm-overlay,
.ie8 .cm-overlay {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.cm-overlay > .bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #ffffff;
}
.cm-overlay > .inner {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	margin: -16px 0 0 -16px;
	background: url(../images/components/ajax-loader.gif);
}

/* *** Tooltip *** */

.cm-tooltip {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 1001;
    opacity: 0;
}
.cm-tooltip > .inner {
    background: #fff;
    border: 1px solid #CDCDCD;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    padding: 4px;
}
.cm-tooltip > .inner > .title {
    margin: 0 0 8px;
}
.cm-tooltip > .inner > .title:last-child {
    margin: 0;
}
.cm-tooltip > .inner > .title h3 {
    margin: 0;
}
.cm-tooltip > .inner > .scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

/* *** Calendar *** */

.cm-calendar {
}
.cm-calendar .selects {
}
.cm-calendar .months {
    width: 49% !important;
    float: left;
}
.cm-calendar .years {
    width: 49% !important;
    margin-left: 2%;
    float: left;
}
.cm-calendar table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 8px;
}
.cm-calendar table th {
    padding-bottom: 2px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #646464;
}
.cm-calendar table td {
    height: 21px;
    padding: 1px;
}
.cm-calendar table td div {
    text-align: center;
    line-height: 19px;
    font-size: 11px;
    text-shadow: 0 1px 0 #fff;
}
.cm-calendar table td.in div {
    background-color: #FAFAFA;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.cm-calendar table td.weekend div {
    background-color: #F0F0F0;
}
.cm-calendar table td div.active,
.cm-calendar table td div.selected {
    background-color: #d9eafb;
    border-color: #6eb2f2;
}
.cm-calendar table td.today div {
    border: 2px solid #6eb2f2;
    line-height: 17px;
}
.cm-calendar table td.in div:hover {
    background-color: #E6E6E6;
    border-color: #D2D2D2;
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
}
.cm-calendar table td.today div:hover {
    border-color: #6eb2f2;
}
.cm-calendar table td div.active:hover,
.cm-calendar table td div.selected:hover {
    background-color: #d9eafb;
    border-color: #6eb2f2;
}

/* *** Calendar of Events *** */

.cm-calendar-events-tooltip {
    width: 200px;
}
.cm-calendar-events-tooltip > .inner {
    padding: 10px;
}
.cm-calendar-events-tooltip > .inner > .scroll {
    max-height: 300px;
}
.cm-calendar-events-listing {
}
.cm-calendar-events-listing ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cm-calendar-events-listing ul li {
    margin: 4px 0 0 0;
}
.cm-calendar-events-listing ul li:first-child {
    margin: 0;
}
.cm-calendar-events-listing h4 {
    margin: 0;
}

/* *** Datepicker *** */

.datepicker-input {
    max-width: 190px;
    position: relative;
    z-index: 1;
    outline: none;
}
.datepicker-input.has-clear-button {
    margin: 0 26px 0 0;
}
.datepicker-input > input[type="text"] {
}
.datepicker-input > .icon {
    position: absolute;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.datepicker-input > .icon:hover {
    opacity: 0.6;
    -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
}
.datepicker-input > .icon.datepicker {
    top: 0;
    right: 0;
}
.datepicker-input > .icon.close {
    top: 6px;
    right: 6px;
}
.datepicker-input > .icon.remove {
    position: absolute;
    right: -26px;
}

.cm-datepicker-tooltip > .inner > .scroll {
    overflow: visible;
}
.cm-datepicker-tooltip .button.today {
    width: 100%;
    padding: 0;
    margin: 4px 0 0 0;
}
.cm-datepicker-calendar .months {
    width: 104px !important;
    float: left;
}
.cm-datepicker-calendar .years {
    width: 72px !important;
    margin-left: 4px;
    float: left;
}

/* Old Browser Alert */

.oldbrowser-alert {
}
.oldbrowser-alert .descr p {
	margin: 0;
}
.oldbrowser-alert .descr {
	margin: 0 0 32px;
}
.oldbrowser-alert .browsers {
	margin: 0 0 40px;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	font-size: 0;
	text-align: center;
}
.oldbrowser-alert .browsers li {
	display: inline-block;
}
.ie6 .oldbrowser-alert .browsers li,
.ie7 .oldbrowser-alert .browsers li {
	display: inline;
	zoom: 1;
}
.oldbrowser-alert .browsers li a {
	display: block;
	cursor: pointer;
}
.oldbrowser-alert .browsers li a:hover {
	opacity: 0.7;
}
.oldbrowser-alert .form .btn-wrap {
	margin-top: 0;
}

/* Glossary */

.com-glossary-word {
	position: relative;
	z-index: 1;
	color: #005897;
	border-bottom: 1px dotted #005897;
	white-space: nowrap;
}
.com-glossary-word:hover {
    border: none;
    z-index: 2;
}
.com-glossary-title {
    color: #005897;
}
.com-glossary-word .com-glossary-popup {
	min-width: 250px;
	padding: 38px 16px 16px;
	display: none;
	overflow: hidden;
	position: absolute;
	top: -16px;
	left: -16px;
	right: -16px;
	z-index: -1;
	background-color: #fff;
	border: 1px solid #dedede;
	font-size: 11px;
	line-height: 16px;
	white-space: normal;
	color: #595959;
}
.com-glossary-word:hover .com-glossary-popup {
	display: block;
}

.com-glossary-tooltip {
    width: 300px;
}
.com-glossary-tooltip > .inner {
    padding: 12px 16px 16px;
}
.com-glossary-tooltip > .inner > .scroll {
    max-height: 300px;
}
.com-glossary-text {
}
.com-glossary-text p {
    margin: 0;
}

/* Editable Area */

.cm-editable {
	width: 100%;
	position: relative;
	z-index: 1;
	display: inline-block;
	cursor: text;
    vertical-align: top;
}
.cm-editable > .border {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px dashed #508cff;
	border-radius: 5px;
	opacity: 0;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.cm-editable:hover > .border {
	top: -16px;
	right: -16px;
	bottom: -16px;
	left: -16px;
	opacity: 1;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
}
.dialog .cm-editable:hover > .border {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}
.cm-editable > .text {
	width: 100%;
	display: inline-block;
	position: relative;
	z-index: 2;
    vertical-align: top;
}
.cm-editable > .menu {
	position: absolute;
	z-index: 3;
	top: 1px;
	right: 1px;
	padding: 6px 12px;
	opacity: 0;
	background: #fbfbfb;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-radius: 0 5px 0 5px;
	box-shadow: 0 0 10px rgba(153, 153, 153, 0.2) inset;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.cm-editable:hover > .menu {
	top: -15px;
	right: -15px;
	opacity: 1;
	-webkit-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
}
.cm-editable > .menu .icon {
	display: block;
}
.cm-editable > .menu ul {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	list-style: none;
	opacity: 0;
	background: #fbfbfb;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-radius: 0 5px 0 5px;
	box-shadow: 0 0 10px rgba(153, 153, 153, 0.2) inset;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.cm-editable > .menu:hover ul {
	padding: 2px 0;
	opacity: 1;
	-webkit-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
}
.cm-editable > .menu ul li {
	height: 0;
	padding: 0 12px;
	overflow: hidden;
	-webkit-transition: height 0.3s ease-in-out;
	        transition: height 0.3s ease-in-out;
}
.cm-editable > .menu:hover ul li {
	height: 26px;
	-webkit-transition: height 0.1s ease-in-out;
	        transition: height 0.1s ease-in-out;
}
.cm-editable > .menu ul li a {
	display: block;
	border-top: 1px solid #CCCCCC;
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	line-height: 26px;
	padding: 0 4px;
	text-decoration: none;
	white-space: nowrap;
}
.cm-editable > .menu ul li:first-child a {
	border: none;
}
.cm-editable > .menu ul li a:hover {
	color: #015696;
}

.ie7 .cm-editable {
	display: inline;
	zoom: 1;
}
.ie7 .cm-editable > .text {
	display: inline;
	zoom: 1;
}
.ie8 .cm-editable > .border,
.ie7 .cm-editable > .border {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.ie8 .cm-editable:hover > .border,
.ie7 .cm-editable:hover > .border {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.ie8 .cm-editable > .menu ul,
.ie7 .cm-editable > .menu ul {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.ie8 .cm-editable > .menu:hover ul,
.ie7 .cm-editable > .menu:hover ul {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.ie8 .cm-editable > .menu,
.ie7 .cm-editable > .menu {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.ie8 .cm-editable:hover > .menu,
.ie7 .cm-editable:hover > .menu {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

/* Drag and Drop */

.cm-draganddrop-body {
    cursor: move;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.cm-draganddrop-helper {
    position: fixed;
    z-index: 9000;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.gridlist .cm-draganddrop-helper {
    display: table;
    table-layout: fixed;
}
.gridlist tr.cm-draganddrop-helper td {
    background-color: #D9EAFB;
}
.cm-draganddrop-chassis {
    height: 0;
}
.icon.draggable[data-draganddrop-drag="true"] {
    cursor: move;
}
.icon.draggable[data-draganddrop-drag="false"] {
    cursor: default;
}

/* ******* GALLERY ******* */

/* List */

.gallery-listing {
    margin: 0 0 22px;
}
.gallery-listing > ul {
    margin: 8px -8px -8px;
    padding: 0;
    list-style: none;
    font-size: 0;
    word-spacing: 0;
}
.gallery-listing > ul:first-child {
    margin: -8px;
}
.gallery-listing > ul > li {
    width: 25%;
    display: inline-block;
    overflow: hidden;
    padding: 8px;
    vertical-align: top;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.gallery-listing > ul > li a {
    display: block;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.gallery-listing > ul > li img {
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-transform: translateZ(0px);
    -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
}
.gallery-listing > ul > li a:hover img {
    opacity: 0.5;
    -webkit-transition: opacity 0.1s ease-in-out;
            transition: opacity 0.1s ease-in-out;
}

.gallery-listing.cols-1  > ul > li { width: 100%;     }
.gallery-listing.cols-2  > ul > li { width: 50%;      }
.gallery-listing.cols-3  > ul > li { width: 33.33%;   }
.gallery-listing.cols-4  > ul > li { width: 25%;      }
.gallery-listing.cols-5  > ul > li { width: 20%;      }
.gallery-listing.cols-6  > ul > li { width: 16.66%;   }
.gallery-listing.cols-7  > ul > li { width: 14.28%;   }
.gallery-listing.cols-8  > ul > li { width: 12.5%;    }
.gallery-listing.cols-9  > ul > li { width: 11.11%;   }
.gallery-listing.cols-10 > ul > li { width: 10%;      }

/* Overlay */

.gallery-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1004;
	opacity: 0;
	cursor: default;
}
.gallery-overlay > .bg {
	width: 100%;
	height: 100%;
	background-color: #1e1e1e;
	opacity: 0.9;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.gallery-overlay .window {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
    background: #292829;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	font-size: 16px;
}
.gallery-overlay .window > .inner {
    width: 100%;
    height: 100%;
	position: relative;
	z-index: 2;
}
.gallery-overlay .window .top {
    height: 20px;
	position: absolute;
    z-index: 2;
	top: -40px;
	left: 0;
	right: 0;
	line-height: 20px;
	color: #fff;
	white-space: nowrap;
}
.gallery-overlay .window .top > div {
    margin: 0 0 0 25px;
    float:  left;
}
.gallery-overlay .window .top > div:first-child {
    margin: 0;
}
.gallery-overlay .window .top .close {
	height: 20px;
    float: right;
	padding: 0 26px 0 0;
	background: url(../images/components/gallery-close.png) 100% 100% no-repeat;
	line-height: 20px;
	color: #e51937;
	cursor: pointer;
	white-space: nowrap;
	-webkit-transition: opacity 0.3s ease-in-out;
	        transition: opacity 0.3s ease-in-out;
}
.gallery-overlay .window .top .close:hover {
	opacity: 0.7;
	-webkit-transition: opacity 0.1s ease-in-out;
	        transition: opacity 0.1s ease-in-out;
}

/* Viewer */

.gallery-viewer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}
.gallery-viewer .item {
	width: 100%;
	height: 100%;
	background-color: #292829;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.gallery-viewer .item img {
	display: block;
	border: 0;
}
.gallery-viewer .bar {
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	-webkit-transition: opacity 0.3s ease-in-out;
	        transition: opacity 0.3s ease-in-out;
}
.gallery-viewer:hover .bar {
	opacity: 1;
}
.gallery-viewer .loader {
	width: 100%;
	height: 100%;
    display: none;
	position: absolute;
	z-index: 5;
	opacity: 0;
}
.gallery-viewer .loader-icon {
	width: 16px;
	height: 11px;
	background: url(../images/components/loader.gif);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -5px;
	z-index: 2;
}
.gallery-viewer .loader-bg {
	width: 100%;
	height: 100%;
	background: #292829;
	position: absolute;
	z-index: 1;
	opacity: 0.6;
}
.gallery-viewer .dimmer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: none;
}

/* Arrows */

.gallery-viewer .arrows-next,
.gallery-viewer .arrows-prev {
	width: 50%;
	height: 100%;
	display: block;
	margin: 0;
	position: absolute;
	top: 0;
	opacity: 0.4;
	cursor: pointer;
    -webkit-transform: translateZ(0px);
	-webkit-transition: opacity 0.2s ease-in-out;
	        transition: opacity 0.2s ease-in-out;
}
.gallery-viewer .arrows-next {
	right: 0;
}
.gallery-viewer .arrows-prev {
	left: 0;
}
.gallery-viewer .arrows-next .icon,
.gallery-viewer .arrows-prev .icon {
	width: 27px;
	height: 50px;
	position: absolute;
	top: 50%;
	margin: -25px 0 0 0;
}
.gallery-viewer .arrows-next .icon {
	background: url(../images/components/gallery-arrow-next.png) 0 0 no-repeat;
	right: 10px;
}
.gallery-viewer .arrows-prev .icon {
	background: url(../images/components/gallery-arrow-prev.png) 0 0 no-repeat;
	left: 10px;
}
.gallery-viewer .arrows-next:hover,
.gallery-viewer .arrows-prev:hover {
	opacity: 1;
}

.ie7 .gallery-listing > ul > li {
    display: block;
    zoom: 1;
}
.ie8 .gallery-overlay,
.ie7 .gallery-overlay {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.ie8 .gallery-overlay > .bg,
.ie7 .gallery-overlay > .bg {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
.ie8 .gallery-viewer .item,
.ie7 .gallery-viewer .item {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.ie8 .gallery-viewer .item.video,
.ie7 .gallery-viewer .item.video {
	filter: none;
}
.ie8 .gallery-viewer > .inner .bar,
.ie7 .gallery-viewer > .inner .bar {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.ie8 .gallery-viewer > .inner:hover .bar,
.ie7 .gallery-viewer > .inner:hover .bar {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.ie8 .gallery-viewer .bar .bar-item,
.ie7 .gallery-viewer .bar .bar-item {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}
.ie7 .gallery-viewer .bar .bar-item {
	display: inline;
	zoom: 1;
}
.ie8 .gallery-viewer .bar .bar-item:hover,
.ie7 .gallery-viewer .bar .bar-item:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.ie8 .gallery-viewer .loader,
.ie7 .gallery-viewer .loader {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.ie8 .gallery-viewer .loader-bg,
.ie7 .gallery-viewer .loader-bg {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

/* ******* GENERAL VARIABLE STYLING ******* */

/* Form line-height dependents on input \ button height */

.form .btn-wrap,
.form .btn-wrap .hint,
.single-file .text,
.files-list ul li,
.form-field dd.controls,
.form-icons-outside,
.check-line,
.check-line .field {
    line-height: 22px;
}

/* Form height dependents on input \ button height */

.check-line {
    min-height: 22px;
}
.cm-calendar .selects,
.form .btn-wrap {
    height: 22px;
}

/* Padding dependents on document line-height */

.form dt {
    padding: 3px 0;
}

/* Icon position on input \ button height  */

.datepicker-input > .icon.remove {
    top: 4px;
}

/* ******* ADAPTIVE ******* */

@media only screen and (max-width : 640px) {

	/* Rows */
	
	.row-flex .col-1	{ width: 10%;	}
	.row-flex .col-2	{ width: 20%;	}
	.row-flex .col-3	{ width: 30%;	}
	.row-flex .col-4	{ width: 40%;	}
	.row-flex .col-5	{ width: 50%;	}
	.row-flex .col-6	{ width: 60%;	}
	.row-flex .col-7	{ width: 70%;	}
	.row-flex .col-8	{ width: 80%;	}
	.row-flex .col-9	{ width: 90%;	}
	
	.row-flex .col-1,
	.row-flex .col-2,
	.row-flex .col-3,
	.row-flex .col-4,
	.row-flex .col-5,
	.row-flex .col-6,
	.row-flex .col-7,
	.row-flex .col-8,
	.row-flex .col-9 {
		margin: 0 0 20px;
	}
	
	.row-flex .col-10,
	.row-flex .col-11,
	.row-flex .col-12,
	.row-flex .col-13,
	.row-flex .col-14,
	.row-flex .col-15,
	.row-flex .col-16,
	.row-flex .col-17,
	.row-flex .col-18,
	.row-flex .col-19,
	.row-flex .col-20 {
		width: 100%;
		margin: 0 0 20px;
	}
	
	/* Forms */

    .form dl dt {
        width: auto;
        float: none;
        font-weight: bold;
        padding: 0;
    }
    .form dl dd {
        margin: 8px 0 0 0;
    }

    .form-filter.right,
    .form-filter {
        width: auto;
        float: none;
    }
    .form-filter.right dt,
    .form-filter dt {
        float: none;
        margin: 0;
    }
	
	.form .cols .col,
	.form .cols.two .col,
	.form .cols.three .col,
    .form .cols.four .col,
    .form .cols.five .col,
    .form .cols.six .col,
    .form .cols.seven .col,
    .form .cols.eight .col,
    .form .cols.nine .col,
    .form .cols.ten .col {
		width: auto;
		float: none;
		margin: 16px 0 0 0;
	}
    .form .cols .col:first-child {
        margin-top: 0;
    }
	.form-filter-fromto .form-box {
		margin-right: 6%;
	}

    /* Editable Area */

    .cm-editable > .border,
    .cm-editable > .menu {
        display: none;
    }

    /* Columns */

    .com-column {
        width: auto !important;
        height: auto;
        display: block;
        margin: 20px 0 0 0;
    }
    .com-column:first-child {
        margin: 0;
    }
    .com-column > .outer {
        margin: 0;
    }
    .com-columns-chassis {
        display: none;
    }
	
	/* Gallery */

    .gallery-overlay > .bg {
        opacity: 1;
    }
    .gallery-overlay .window {
        box-shadow: none;
    }
    .gallery-overlay .window .top {
        padding: 12px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
    }

    /* Tabs */

    .tabset.is-adaptive .tabset-head-button {
        width: 40px;
        height: 29px;
        margin: 0 0 0 4px;
        position: relative;
        float: right;
        background: #E5E5E5 url(../images/icons/menu.png) center 10px no-repeat;
        border: 1px solid #CBCBCB;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
    }
    .tabset.bottom.is-adaptive .tabset-head-button {
        border-radius: 0 0 5px 5px;
    }
    .tabset.is-adaptive .tabset-head-button:hover {
        background-color: #fff;
        -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
    }
    .tabset.is-adaptive .tabset-head-button ul {
        display:  none;
        position: absolute;
        top: 100%;
        right: -1px;
        background-color: #FFFFFF;
        border: 1px solid #B6BCC1;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        padding: 3px;
    }
    .tabset.bottom.is-adaptive .tabset-head-button ul {
        top: auto;
        bottom: 100%;
    }
    .tabset.is-adaptive .tabset-head-button:hover ul {
        display: block;
    }
    .tabset.top.is-adaptive .tabset-head-button ul li,
    .tabset.bottom.is-adaptive .tabset-head-button ul li{
        height: 30px;
        float: none;
        margin: 1px 0 0 0;
        background: #fff;
        border: none;
        border-radius: 0;
    }
    .tabset.is-adaptive .tabset-head-button ul li:first-child {
        margin: 0;
    }
    .tabset.is-adaptive .tabset-head-button ul li.active {
        background: #DFDFDF;
    }
    .tabset.is-adaptive .tabset-head-button ul li:hover {
        background: #F0F0F0;
    }
    .tabset.top.is-adaptive > .tabset-content {
        border-radius: 0 0 5px 5px;
    }
    .tabset.bottom.is-adaptive > .tabset-content {
        border-radius: 5px 5px 0 0;
    }
    .tabset.is-adaptive .tabset-head-title {
        display: block;
    }
	
}
@media only screen and (max-width : 480px) {

	dl.form-field dt {
		margin: 0 0 8px;
	}
	dl.form-field dd {
		margin: 0;
	}
	.form-filter-fromto .form-box {
		width: auto;
		float: none;
		margin: 16px 0 0 0;
	}
	.form-filter-fromto .form-box:first-child {
		margin: 0;
	}
    .form-filter-fromto.simple .buttons {
        margin: 26px 0 0 0;
    }
    .form-image-box.style2 .browse-button {
        display: block;
        margin: 0 0 8px;
    }
		
	/* Gallery */

    .gallery-listing > ul > li,
    .gallery-listing.cols-1 > ul > li,
    .gallery-listing.cols-2 > ul > li,
    .gallery-listing.cols-3 > ul > li,
    .gallery-listing.cols-4 > ul > li,
    .gallery-listing.cols-5 > ul > li,
    .gallery-listing.cols-6 > ul > li,
    .gallery-listing.cols-7 > ul > li,
    .gallery-listing.cols-8 > ul > li,
    .gallery-listing.cols-9 > ul > li,
    .gallery-listing.cols-10 > ul > li {
		width: 100%;
	}
	
}