/* ******* COMPONENTS: ACTION MENU ******* */

.com-action-menu {
    .cm-button {
        margin: 0 !important;
    }
}

/* *** TOOLTIP *** */

.com-tooltip {
    &.com-action-menu-tooltip {
        > .inner {
            > .scroll {
                overflow: visible;
            }
        }

        .cm-menu {
            .cm-menu-dropdown {
                .cm-menu-dropdown--base;
                .cm-menu-dropdown--active;
                position: static;
            }
        }
    }
}