/* ******* COMPONENT: BLOG ******* */

/* *** POST *** */

.com-blogpost {
    position: relative;

    .post-title {
        margin: 0 0 @cm-indentXXXSmall;
    }

    .post-info,
    .post-tags {
        .cm-font-hint;
    }

    .post-info {
        .cm-line-info {
            margin: 0;

            * {
                line-height: inherit;
                font-size: inherit;
            }
        }

        &.is-bottom {
            margin: @cm-indentXSmall 0 0 0;
        }
    }

    .cm-toolbar,
    .post-abstract,
    .post-entry,
    .post-tags {
        margin: @cm-indentXSmall 0 0 0;
    }

    &.is-pending,
    &.is-featured {
        &:before {
            position: absolute;
            .cm-position(-@cm-indentXXSmall, -@cm-indentXXSmall, -@cm-indentXXSmall, -@cm-indentXXSmall);
            display: block;
            z-index: -1;
            content: '';
            background-color: @cm-background-pendingLight;
            border-radius: @cm-borderRadius;
        }
    }

    &.is-featured {
        &:before {
            background-color: @cm-background-themeLight;
        }
    }

    &.is-pending {
        &:before {
            background-color: @cm-background-pendingLight;
        }
    }

    &.is-entry {
        .post-info.is-bottom,
        .cm-toolbar,
        .post-entry,
        .post-abstract,
        .post-tags {
            margin: @cm-indentMedium 0 0 0;
        }
    }
}

/* *** POSTS *** */

.com-blog-posts {
    .com-blogpost {
        margin: @cm-indentLarge 0 0;

        &:first-child {
            margin: 0;
        }
    }
}