/* ******* BREADCRUMBS ******* */

.com-breadcrumbs {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }

    ul {
        margin: 0 0 -@CmIndent-XXSmall 0;
        padding: 0;
        list-style: none;
        font-size: 0;

        li {
            margin: 0 @CmIndent-XXSmall @CmIndent-XXSmall 0;
            display: inline-block;
            font-size: @CmFont-UI-Size;
            vertical-align: top;

            &.back {
                margin-right: @CmIndent-Medium;
                font-weight: @CmFont-Base-BoldWeight;
            }
        }
    }
}