/* ******* BREADCRUMBS ******* */

.com-breadcrumbs {
    margin: 0 0 @Cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    ul {
        margin: 0 0 -@Cm-indentXXSmall 0;
        padding: 0;
        list-style: none;
        font-size: 0;

        li {
            margin: 0 @Cm-indentXXSmall @Cm-indentXXSmall 0;
            display: inline-block;
            font-size: @Cm-fontSizeUI;
            vertical-align: top;

            &.back {
                margin-right: @Cm-indentMedium;
                font-weight: @Cm-boldWeight;
            }
        }
    }
}