/* ******* BREADCRUMBS ******* */

.com-breadcrumbs {
    margin: 0 0 @cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    ul {
        margin: 0 0 -@cm-indentXXSmall 0;
        padding: 0;
        list-style: none;
        font-size: 0;

        li {
            margin: 0 @cm-indentXXSmall @cm-indentXXSmall 0;
            display: inline-block;
            font-size: @cm-fontSizeUI;
            vertical-align: top;

            &.back {
                margin-right: @cm-indentMedium;
                font-weight: @cm-boldWeight;
            }
        }
    }
}