/* ******* CALENDAR OF EVENTS ******* */

.com-calendar-events-tooltip {
    width: 250px;

    > .inner {
        padding: 10px;

        > .scroll {
            max-height: 300px;
        }
    }
}

.com-calendar-events-listing {
    margin: 0;
}