/* ******* CALENDAR ******* */

.com-calendar {
    .mx__user-select(none);

    .selects {
        height: @CmForm-FieldHeight;

        .months {
            width: 49%;
            float: left;
        }

        .years {
            width: 49%;
            margin-left: 2%;
            float: left;
        }
    }

    table {
        width: 100%;
        border: none;
        border-collapse: collapse;
        table-layout: fixed;
        margin-top: 8px;

        th {
            padding-bottom: 2px;
            text-align: center;
            line-height: 14px;
            font-size: 10px;
            color: @CmFont-Base-Color;
        }

        td {
            padding: 1px;

            div {
                height: @ComCalendar-cellHeight;
                -moz-box-sizing: border-box;
                     box-sizing: border-box;
                background-color: @ComCalendar-outer-background;
                border: @ComCalendar-outer-borderSize solid @ComCalendar-outer-border;
                border-radius: @ComCalendar-cellBorderRadius;
                text-align: center;
                line-height: @ComCalendar-cellHeight - (@ComCalendar-outer-borderSize * 2);
                font-size: @CmFont-UI-Size;
                cursor: pointer;
                .mx__transition(all, @CmUI-Transition-Duration);

                &:hover {
                    .mx__transition(all, @CmUI-Transition-DurationReverse);
                }
            }

            &.in div {
                background-color: @ComCalendar-inner-background;
                border-width: @ComCalendar-inner-borderSize;
                border-color: @ComCalendar-inner-border;
                line-height: @ComCalendar-cellHeight - (@ComCalendar-inner-borderSize * 2);

                &:hover {
                    background-color: @ComCalendar-inner-backgroundHover;
                    border-color: @ComCalendar-inner-borderHover;
                }
            }

            &.weekend div {
                background-color: @ComCalendar-weekend-background;
                border-width: @ComCalendar-weekend-borderSize;
                border-color: @ComCalendar-weekend-border;
                line-height: @ComCalendar-cellHeight - (@ComCalendar-weekend-borderSize * 2);

                &:hover {
                    background-color: @ComCalendar-weekend-backgroundHover;
                    border-color: @ComCalendar-weekend-borderHover;
                }
            }

            &.today div {
                background-color: @ComCalendar-today-background;
                border-color: @ComCalendar-today-border;

                &:hover {
                    background-color: @ComCalendar-today-backgroundHover;
                    border-color: @ComCalendar-today-borderHover;
                }
            }

            &.active div,
            &.selected div {
                background-color: @ComCalendar-active-background;
                border-width: @ComCalendar-active-borderSize;
                border-color: @ComCalendar-active-border;
                line-height: @ComCalendar-cellHeight - (@ComCalendar-active-borderSize * 2);

                &:hover {
                    background-color: @ComCalendar-active-backgroundHover;
                    border-color: @ComCalendar-active-borderHover;
                }
            }

            &.today div {
                border-width: @ComCalendar-today-borderSize;
                line-height: @ComCalendar-cellHeight - (@ComCalendar-today-borderSize * 2);
            }
        }
    }
}
