/* ******* COMPONENTS: COLOR PICKER ******* */

.com__colorpicker {
    width: 100%;
    max-width: @ComDatepicker-width;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    outline: none;

    .form-field {
        .icon {
            &.default {
                .icon.medium.palette;
            }
        }
    }
}

/* *** TOOLTIP *** */

.com-tooltip {
    &.com__colorpicker-tooltip {
        > .inner > .scroll {
            overflow: visible;
        }
    }
}