/* ******* COMPONENT: COLUMNS ******* */

.com-column {
    vertical-align: top;

    > .inner {
        .mx__box-sizing(border-box);
        .mx__flex(1);
        .mx__transition(background-color, @CmUI-Transition-Duration);
    }

    .ie8 &,
    .ie9 & {
        display: table-cell;

        > .inner {
            height: 100%;
        }
    }
}

.com-columns-chassis {
    width: 10px;
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: 0 0 0 -5px;
    opacity: 0;
    cursor: col-resize;
    .mx__transition(opacity, @CmUI-Transition-Duration);

    .drag {
        width: 6px;
        position: absolute;
        z-index: 2;
        margin: -16px 0 0 -8px;
        padding: 8px 4px;
        background: @ComColumns-Drag-DefaultBackground;
        border: 1px solid @ComColumns-Drag-DefaultBorder;
        border-radius: @CmBorder-Radius;
        .mx__transition(background-color border-color, @CmUI-Transition-Duration);
        .mx__position(50%, auto, auto, 50%);

        .icon {
            width: 6px;
            height: 14px;
        }
    }

    &:after {
        width: 2px;
        position: absolute;
        z-index: 1;
        margin: 0 0 0 -1px;
        display: block;
        content: '';
        background: @ComColumns-Drag-DefaultBackground;
        .mx__transition(background-color, @CmUI-Transition-Duration);
        .mx__position(0, auto, 0, 50%);
    }

    &:hover {
        .drag {
            background: @ComColumns-Drag-HoverBackground;
            border-color: @ComColumns-Drag-HoverBorder;
            .mx__transition(background-color border-color, @CmUI-Transition-DurationReverse);
        }

        &:after {
            background: @ComColumns-Drag-HoverBackground;
            .mx__transition(background-color, @CmUI-Transition-DurationReverse);
        }
    }

    &.is-active {
        .drag {
            background: @ComColumns-Drag-ActiveBackground;
            border-color: @ComColumns-Drag-ActiveBorder;
        }

        &:after {
            background: @ComColumns-Drag-ActiveBackground;
        }
    }
}

.com-columns {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }

    > .inner {
        position: relative;

        > .container {
            .display-flex;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            .mx__flex-direction(row);
        }
    }

    &.is-editable {
        > .inner {
            > .com-columns-chassis {
                display: block;
            }

            > .container {
                > .com-column {
                    > .inner {
                        min-height: @ComColumns-minHeight + (@CmDraganddrop-AreaPadding * 2);
                    }
                }
            }
        }

        &.is-active,
        &:hover {
            > .inner {
                > .com-columns-chassis {
                    opacity: 1;
                }

                > .container {
                    > .com-column {
                        > .inner {
                            background: @ComColumns-backgroundHover;
                        }
                    }
                }
            }
        }

        &.is-chassis-visible {
            > .inner {
                .com-columns-chassis {
                    opacity: 1;
                }
            }
        }
    }

    // /* Set columns indent */

    .com__columns__indent(@ComColumns-indent);

    .for(@ComColumns-indents); .-each(@name) {
        &.indent-@{name} {
            .com__columns__indent(@name);
        }
    }

    // /* Legacy */

    .ie8 &,
    .ie9 & {
        > .inner {
            > .container {
                display: table;
                table-layout: fixed;
            }
        }
    }
}

/* *** HELPERS *** */

.com-columns-body,
.com-columns-body * {
    cursor: col-resize !important;
    .mx__user-select(none);
}

/* ******* COMPONENT: COLUMNS: BUNDLE ******* */

.com__columns__indent (@indent: @ComColumns-indent) {
    > .inner {
        margin: 0 -(@indent / 2);
    }

    .com-column > .inner {
        margin: 0 (@indent / 2);
    }
}

/* ******* COMPONENT: COLUMNS: ADAPTIVE ******* */

@media only screen and (max-width : @ComColumns-adaptiveFrom) {

    html.is-adaptive {
        .com-column {
            width: auto !important;
            height: auto;
            display: block;
        }

        .com-columns {
            > .inner {
                margin: 0;

                > .container {
                    display: block;
                }
            }

            &.is-editable {
                .com-columns-chassis {
                    display: none;
                }
            }

            .com-column {
                margin: @CmIndent-Medium 0 0 0;

                &:first-child {
                    margin: 0;
                }

                > .inner {
                    margin: 0;
                }
            }
        }
    }

}
