/* ******* COMPONENT: COMMENTS ******* */

/* *** COMMENT *** */

.com-comment {
    position: relative;

    .comment-info,
    .comment-text,
    .comment-actions {
        margin: @cm-indentXXXSmall 0 0 0;
        .clear;

        &:first-child {
            margin: 0;
        }
    }

    .comment-info {
        &:first-child {
            margin: -2px 0 0 0;
        }

        .author,
        .date,
        .hash,
        .status {
            float: left;
            margin: 0 @cm-indentXXSmall 0 0;
            .cm-font-hint;
            color: inherit;
            line-height: 14px;

            &:last-child {
                margin: 0;
            }
        }

        .status {
            &.error {
                color: @cm-colorError;
            }

            &.valid {
                color: @cm-colorValid;
            }

            &.pending {
                color: @cm-colorPending;
            }
        }

        .date {
            color: @cm-colorFontMedium;
        }

        .author {
            font-weight: @cm-boldWeight;
        }
    }

    .comment-text {
        h1, h2, h3, h4, h5, h6, p, ul, ol {
            margin: 0;
        }
    }

    .comment-actions {
        .cm-font-hint;
        line-height: 12px;

        .cm-links {
            > ul {
                line-height: inherit;
                font-size: inherit;

                > li {
                    line-height: inherit;
                    font-size: inherit;
                }
            }
        }
    }

    &.is-pending {
        &:before {
            position: absolute;
            .cm-position(-@cm-indentXXSmall, -@cm-indentXXSmall, -@cm-indentXXSmall, -@cm-indentXXSmall);
            display: block;
            z-index: -1;
            content: '';
            background-color: @cm-background-pendingLight;
            border-radius: @cm-borderRadius;
        }
    }
}

/* *** COMMENT LIST *** */

.com-comments {
    margin: 0 0 @cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    .comment-list {
        margin: 0;
        padding: 0;
        list-style: none;

        &.replies {
            margin: @cm-indentMedium 0 0 @cm-indentMedium;
        }

        > li {
            margin: @cm-indentMedium 0 0 0;

            &:first-child {
                margin-top: 0;
            }

            > ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
}

/* *** COMMENT EDITOR *** */

.com-comment-editor {
    textarea {
        min-height: 50px;
    }
}