/* ******* COMPONENTS: DIALOG ******* */

.com-dialog {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    text-align: center;

    &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }

    > .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        > .icon {
            position: fixed;
            z-index: 2;
            font-size: 0;
        }
    }

    > .window {
        max-width: 100%;
        position: relative;
        z-index: 2;
        display: inline-block;
        text-align: left;
        vertical-align: middle;

        > .icon {
            position: absolute;
            z-index: 4;
        }

        > .inner {
            overflow: hidden;

            > .title {
                position: relative;
                z-index: 2;
            }

            > .descr {
                position: relative;
                z-index: 1;

                > .scroll {
                    position: relative;
                    overflow: hidden;

                    &.is-scroll {
                        overflow-x: hidden;
                        overflow-y: auto;
                    }
                }
            }

            > .buttons {
                position: relative;
                z-index: 3;
                margin: 0;

                .btn-wrap {
                    margin: 0;
                }
            }
        }
    }

    &.has-close-background {
        > .bg {
            cursor: pointer;
        }
    }
}

/* IE Opacity */

.ie6 .com-dialog,
.ie7 .com-dialog,
.ie8 .com-dialog {
    .cm-opacity-ie(0);
}

.ie6 .com-dialog > .bg,
.ie7 .com-dialog > .bg,
.ie8 .com-dialog > .bg {
    .cm-opacity-ie(60);
}

.ie6 .com-dialog > .window
.ie7 .com-dialog > .window,
.ie8 .com-dialog > .window {
    .cm-opacity-ie(100);
}

/* Confirmation Dialog. Deprecated. */

.com-dialog-confirm {
    padding: 14px 0 0;

    > .title {
        text-align: center;
    }

    .button-box {
        margin-top: 20px;

        input {
            width: 70px;
        }
    }
}

/* ******* COMPONENT: DIALOG: STUFF ******* */

/* *** EDITABLE AREA *** */

.com-dialog {
    .cm-editable:hover > .border {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
    }
}

/* ******* COMPONENT: DIALOG: THEMES ******* */

.com-dialog {
    @titleHeight: @ComDialog-titleIndent * 2 + @cm-lineHeightTitle;

    // /* *** DEFAULT *** */

    &.theme-default {
        > .bg {
            background: rgba(0,0,0,0.7);

            > .icon {
                .cm-size-medium;
                .cm-position(@cm-indentMedium, @cm-indentMedium, auto, auto);
                font-size: 0;
                opacity: 0.4;
                .cm-transition(opacity @CM-Transition-Duration ease-in-out);

                &.default {
                    .icon.medium.close-white;
                }
            }

            &:hover {
                > .icon {
                    opacity: 1;
                }
            }
        }

        > .window {
            > .icon {
                .cm-size-medium;
                right: @ComDialog-indent;
                top: (@titleHeight - @ComDialog-indent) / 2;

                &.default {
                    .icon.medium.close;
                }
            }

            > .inner {
                background-color: #ffffff;
                border-radius: @cm-borderRadius;

                > .title {
                    padding: @ComDialog-titleIndent @ComDialog-indent;
                    #cm > .font-title;
                }

                > .descr {
                    > .scroll > .inner {
                        padding: 0 @ComDialog-indent;
                    }

                    &:first-child {
                        > .scroll > .inner {
                            padding-top: @ComDialog-indent
                        }
                    }

                    &:last-child {
                        > .scroll > .inner {
                            padding-bottom: @ComDialog-indent
                        }
                    }
                }

                > .buttons {
                    padding: @ComDialog-indent;
                }
            }
        }

        &.is-fullscreen {
            > .window {
                > .inner {
                    border-radius: 0;
                }
            }
        }

        &.is-title-reserve {
            > .window {
                > .inner {
                    > .descr {
                        &:first-child {
                            padding-top: @titleHeight;
                        }
                    }
                }
            }
        }

        &.has-close-inside {
            > .window {
                > .inner {
                    > .title {
                        padding-right: @ComDialog-indent * 2 + @cm-Medium;
                    }
                }
            }
        }
    }

    // /* *** BLACK *** */

    &.theme-black:extend(.com-dialog.theme-default all) {
        > .window {
            > .icon {
                &.default {
                    .icon.medium.close-white;
                }
            }

            > .inner {
                background-color: @ComDialog-themeBlack-background;

                > .title {
                    color: @ComDialog-themeBlack-titleColor;
                }
            }
        }
    }
}