/* ******* DIALOG ******* */

.com-dialog {
    @titleHeight: @ComDialog-titleIndent * 2 + @cm-lineHeightTitle;

    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;

    > .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,0.7);

        > .icon {
            width: @cm-Medium;
            height: @cm-Medium;
            position: fixed;
            .cm-position(@cm-indentMedium, @cm-indentMedium, auto, auto);
            z-index: 2;
            font-size: 0;
            opacity: 0.4;
            .cm-transition(opacity @cm-transitionDuration ease-in-out);

            &.default {
                .icon.medium.close-white;
            }
        }

        &:hover {
            > .icon {
                opacity: 1;
            }
        }
    }

    > .window {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;

        > .icon {
            width: @cm-Medium;
            height: @cm-Medium;
            position: absolute;
            z-index: 4;
            right: @ComDialog-indent;
            top: (@titleHeight - @cm-Medium) / 2;

            &.default {
                .icon.medium.close;
            }
        }

        > .inner {
            background-color: #ffffff;
            border-radius: @cm-borderRadius;
            overflow: hidden;

            > .title {
                position: relative;
                z-index: 2;
                padding: @ComDialog-titleIndent @ComDialog-indent;
                #cm > .title-font;
            }

            > .descr {
                position: relative;
                z-index: 1;

                > .scroll {
                    position: relative;

                    > .inner {
                        padding: 0 @ComDialog-indent;
                    }

                    &.isScroll {
                        overflow-x: hidden;
                        overflow-y: auto;
                    }
                }

                &.no-scroll {
                    padding: 0 @ComDialog-indent;
                }

                &:first-child {
                    > .scroll > .inner,
                    &.no-scroll {
                        padding-top: @ComDialog-indent
                    }
                }

                &:last-child {
                    > .scroll > .inner,
                    &.no-scroll {
                        padding-bottom: @ComDialog-indent
                    }
                }
            }

            > .buttons {
                position: relative;
                z-index: 3;
                padding: @ComDialog-indent;
                margin: 0;

                .btn-wrap {
                    margin: 0;
                }
            }
        }
    }

    &.has-close-background {
        > .bg {
            cursor: pointer;
        }
    }

    &.has-close-inside {
        > .window {
            > .inner {
                > .title {
                    padding-right: @ComDialog-indent * 2 + @cm-Medium;
                }

                > .descr {
                    &:first-child {
                        padding-top: @titleHeight;
                    }
                }
            }
        }
    }
}

/* IE Opacity */

.ie6 .com-dialog,
.ie7 .com-dialog,
.ie8 .com-dialog {
    .cm-opacity-ie(0);
}

.ie6 .com-dialog > .bg,
.ie7 .com-dialog > .bg,
.ie8 .com-dialog > .bg {
    .cm-opacity-ie(60);
}

.ie6 .com-dialog > .window
.ie7 .com-dialog > .window,
.ie8 .com-dialog > .window {
    .cm-opacity-ie(100);
}

/* Confirmation Dialog. Deprecated. */

.com-dialog-confirm {
    padding: 14px 0 0;

    > .title {
        text-align: center;
    }

    .button-box {
        margin-top: 20px;

        input {
            width: 70px;
        }
    }
}

/* ******* COMPONENTS IN DIALOG ******* */

/* *** EDITABLE AREA *** */

.com-dialog {
    .cm-editable:hover > .border {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
    }
}
