/* ******* COMPONENT: FILES GRIDLIST ******* */

.com-filesgridlist-cell-icon {
    width: 16px;

    .icon {
        display: block;
    }
}

.com-filesgridlist-cell-title {
    font-weight: @cm-boldWeight;
}

.com-filesgridlist-cell-date {
    width: 120px;
}

.com-filesgridlist-cell-status {
    width: 100px;
}

.com-filesgridlist-cell-links {
    width: 100px;
}