/* ******* COMPONENT: FILES GRIDLIST ******* */

.com-filesgridlist-cell-icon {
    width: 40px;

    .icon {
        display: block;
    }
}

.com-filesgridlist-cell-title {
}

.com-filesgridlist-cell-date {
    width: 120px;
}

.com-filesgridlist-cell-status {
    width: 100px;
}

.com-filesgridlist-cell-links {
    width: 100px;
}

.com-filesgridlist-cell-size {
    width: 80px;
}