/* ******* FORUM ******* */

.com-forum-cell-icon {
    width: 24px;
}

.com-forum-cell-counter {
    width: 100px;
    vertical-align: middle;
}

.com-forum-cell-last {
    width: 20%;
}

.com-forum-cell-title {
    .title {
        font-weight: @cm-boldWeight;
    }

    .descr {

    }
}