/* ******* FORUM ******* */

/* *** MAIN *** */

.com-forum {
    .com-togglebox {

        > dt {
            padding: 0 @ComGridlist-paddingInner;
            background: @ComForum-cellBackgroundTitle;
            border-radius: @cm-borderRadius;
        }

        > dd {
            .cm-toolbar {
                margin: 1px 0 0 0;
                padding: @cm-indentXXSmall;
                background: @ComForum-cellBackground;
                border-radius: @cm-borderRadius;
            }
        }
    }

    .com-forum-empty,
    .com-gridlist {
        margin: 1px 0 0 0;
        background: @ComForum-cellBackground;
        border-radius: @cm-borderRadius;
    }

    .com-gridlist {
        tr {
            td {
                padding: @cm-indentXXSmall;
                border-top: @ComForum-cellBorder;
            }

            &:first-child {
                td {
                    border: none;
                }
            }
        }
    }
}

.com-forum-empty:extend(.cm-font-ui-cursive) {
    padding: @cm-indentXSmall;
    text-align: center;
    color: @cm-colorFontMedium;
}

.com-forum-cell-icon {
    width: 32px;

    .icon {
        display: block;

        &.default {
            .icon.large;
            .icon.large.message;
        }

        &.default-page {
            .icon.large;
            .icon.large.page;
            margin: 3px 0 0 0;
        }
    }
}

.com-forum-cell-counter {
    width: 120px;

    .line:extend(.clear all) {
        text-align: right;
    }

    .title {
        float: right;
        margin: 0 0 0 @cm-indentXXXSmall;
    }

    .descr {
        float: right;
    }
}

.com-forum-cell-title {
    * {
        margin: 0;
    }

    h3 {
        margin: 0 0 @cm-indentXXSmall;
    }

    .title {
        font-weight: @cm-boldWeight;
    }

    .descr {

    }
}

.com-forum-cell-last {
    width: 20%;
}

/* *** TOPIC *** */

.com-forum-posts {
    margin: 0 0 @cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            margin: @cm-indentMedium 0 0 0;
            padding: 0;

            &:first-child {
                margin: 0;
            }
        }
    }
}

.com-forum-post {
    background: @ComForum-cellBackground;
    border-radius: @cm-borderRadius;

    .cm-userbox:extend(.cm-font-ui){

    }

    .date:extend(.cm-font-ui) {
        color: @cm-colorFontMedium;
    }

    .entry {
        margin: @cm-indentXSmall 0 0;
    }

    > .inner {
        width: 100%;
        display: table;
        table-layout: fixed;

        > .l {
            padding: @cm-indentXSmall;
            display: table-cell;
            width: @ComForum-postLeftColumnSize;
            vertical-align: top;
            background: @ComForum-cellBackgroundTitle;
            border-radius: @cm-borderRadius;
        }

        > .r {
            padding: @cm-indentXSmall;
            display: table-cell;
            vertical-align: top;
        }
    }
}

/* *** ADAPTIVE *** */

@media only screen and (max-width : @ComForum-adaptiveFrom) {

    html.is-adaptive {
        .com-forum {
            .com-gridlist {
                tr {
                    td {
                        width: auto;
                        display: block;
                        border: none;

                        &:first-child {
                            border-top: @ComForum-cellBorder;
                        }
                    }

                    &:first-child {
                        td {
                            border: none;
                        }
                    }
                }
            }
        }

        .com-forum-post {
            > .inner {
                width: auto;
                display: block;

                > .l,
                > .r {
                    width: auto;
                    display: block;
                }

                > .r {
                    margin: @cm-indentMedium 0 0 0;
                }
            }
        }
    }

}