/* ******* COMPONENT: GALLERY POPUP ******* */

.com__gallery-popup {
    .com__gallery-preview {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &.is-fullscreen {
        > .window {
            > .inner {
                > .descr {
                    > .scroll > .inner {
                        height: 100%;
                        .mx__box-sizing();
                    }
                }
            }
        }
    }
}
