/* ******* COMPONENT: GALLERY: BAR ******* */

.com-gallery-bar {
    position: relative;
    .cm-user-select(none);

    .bar-arrow {
        position: absolute;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        background-color: rgba(255,255,255,0.7);
        .cm-transition(background-color @CM-Transition-Duration ease-in-out);
        .cm-transition(opacity @CM-Transition-Duration ease-in-out);

        &:hover {
            background-color: rgba(255,255,255,0.9);
        }
    }

    .pt__grid {
        margin: 0;
        position: relative;
        z-index: 1;
        #cm > .pt__grid__indent(@cm-indentXSmall / 2);

        > ul {
            overflow: hidden;
        }
    }

    &.is-horizontal {
        .pt__grid {
            > ul {
                white-space: nowrap;
            }
        }

        .bar-arrow {
            width: @ComGalleryLayout-arrowWidth;
            .cm-position(0, auto, 0, auto);

            &.prev {
                left: 0;
            }

            &.next {
                right: 0;
            }
        }
    }

    &.is-vertical {
        > .inner {
            height: 100%;
            position: relative;
        }

        .pt__grid {
            height: 100%;

            > ul {
                position: absolute;
                .cm-position(0,0,0,0);
            }
        }

        .bar-arrow {
            width: 100%;
            height: @ComGalleryLayout-arrowWidth;
            .cm-position(auto, 0, auto, 0);

            &.prev {
                top: 0;
            }

            &.next {
                bottom: 0;
            }
        }
    }

    &:hover {
        .bar-arrow {
            opacity: 1;
        }
    }
}