/* ******* GALLERY ******* */

.com-gallery {
    position: relative;
    z-index: 1;
    .cm-user-select(none);

    > .holder {
        height: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background: @ComGallery-background;
    }

    .cm-imagebox {
        height: 100%;
        background-color: @ComGallery-background;
        position: absolute;
        .cm-position(0,0,0,0);
        z-index: 2;
        opacity: 0;

        &:first-child {
            position: relative;
            z-index: 1;
        }
    }

    > .loader {
        display: none;
        position: absolute;
        .cm-position(0,0,0,0);
        z-index: 5;
        opacity: 0;
        cursor: pointer;

        .bg {
            background: @ComGallery-background;
            position: absolute;
            .cm-position(0,0,0,0);
            z-index: 1;
            opacity: 0.6;
        }

        .icon {
            z-index: 2;
        }
    }

    // /* ** Bar *** */

    > .bar {
        position: absolute;
        .cm-position(0,0,0,0);
        opacity: 0;
        z-index: 3;
        .cm-transition(opacity @cm-transition-duration ease-in-out);

        .bar-arrow {
            width: 50%;
            height: 100%;
            display: block;
            margin: 0;
            position: absolute;
            top: 0;
            opacity: 0.3;
            cursor: pointer;
            .cm-transition(opacity @cm-transition-duration ease-in-out);

            .icon {
                width: 27px;
                height: 50px;
                position: absolute;
                top: 50%;
                margin: -25px 0 0 0;
            }

            &.next {
                right: 0;

                .icon {
                    background: url('@{cm-image-path}/components/gallery-arrow-next.png') 0 0 no-repeat;
                    right: 10px;
                }
            }

            &.prev {
                left: 0;

                .icon {
                    background: url('@{cm-image-path}/components/gallery-arrow-prev.png') 0 0 no-repeat;
                    left: 10px;
                }
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &.has-iframe {
        > .holder {
            z-index: 5;
        }
    }

    &:hover {
        .cm-imagebox {
            .cm-imagebox-title-hover;
        }

        > .bar {
            opacity: 1;
            .cm-transition(opacity @cm-transition-duration-reverse ease-in-out);
        }
    }
}