/* ******* COMPONENT: GALLERY ******* */

/* *** CORE *** */

.com-gallery {
    position: relative;
    z-index: 1;
    .mx__user-select(none);

    > .holder {
        height: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background: @ComGallery-background;
    }

    .cm-imagebox {
        height: 100%;
        background-color: @ComGallery-background;
        position: absolute;
        .mx__position(0,0,0,0);
        z-index: 1;
        opacity: 0;
    }

    > .loader {
        display: none;
        position: absolute;
        .mx__position(0,0,0,0);
        z-index: 5;
        opacity: 0;
        cursor: pointer;

        .bg {
            background: @ComGallery-background;
            position: absolute;
            .mx__position(0,0,0,0);
            z-index: 1;
            opacity: 0.6;
        }

        .icon {
            z-index: 2;
        }
    }

    &:hover {
        .cm-imagebox {
            .cm-imagebox-title-hover;
        }

        > .com-gallery-controls {
            opacity: 1;
        }
    }
}

/* *** DUMMY *** */

.com-gallery-dummy {
    display: none;
}

/* *** PREVIEW *** */

.com-gallery-preview {
    margin: 0 0 @CmIndent-Medium 0;
    position: relative;

    &.bottom {
        margin: 0;
    }

    > .inner {
        position: absolute;
        .mx__position(0,0,0,0);
    }

    .com-gallery {
        width: 100%;
        height: 100%;
    }
}
