/* ******* GALLERY POPUP ******* */

.com-gallery-popup {
    position: fixed;
    z-index: 1004;
    .cm-position(0,0,0,0);
    opacity: 0;
    background: @ComGallery-background;

    > .title {
        position: absolute;
        z-index: 2;
        .cm-position(@cm-indentXSmall, @ComGalleryPopup-indentTop, auto, @cm-indentMedium);

        .caption {
            #cm > .font-title;
            .cm-text-overflow;
            color: #ffffff;
        }

        * {
            color: #ffffff;
        }
    }

    > .icon {
        position: absolute;
        .cm-position(@cm-indentMedium, @cm-indentMedium, auto, auto);
    }

    > .descr {
        position: absolute;
        z-index: 2;
        .cm-position(@ComGalleryPopup-indentTop, @cm-indentMedium, @cm-indentMedium, @cm-indentMedium);
    }

    .com-gallery {
        width: 100%;
        height: 100%;
        position: relative;
    }
}
