/* ******* GALLERY CONTROLS ******* */

.com-gallery-controls {
    position: absolute;
    z-index: 2;
    opacity: 0;
    .cm-user-select(none);
    .cm-transition(opacity @CM-Transition-Duration ease-in-out);

    .bar-arrow {
        position: absolute;
        .cm-position(0, auto, 0, auto);
        z-index: 2;
        opacity: 1;
        .cm-transition(opacity @CM-Transition-Duration ease-in-out);
        cursor: pointer;

        .icon {
            position: absolute;
            top: 0;
            opacity: 0.3;
            .cm-transition(opacity @CM-Transition-Duration ease-in-out);
        }

        &.next {
            right: 0;

            .icon {
                right: 0;
            }
        }

        &.prev {
            left: 0;

            .icon {
                left: 0;
            }
        }

        &:hover {
            .icon {
                opacity: 1;
            }
        }
    }

    .bar-buttons {
        position: absolute;
        .cm-position(auto, 0, @cm-indentXSmall, 0);
        z-index: 1;
        font-size: 0;
        white-space: nowrap;
        text-align: center;

        ul {
            margin: 0 auto;
            padding: 0;
            display: block;
            list-style: none;
            line-height: @ComGalleryControls-buttonSize;

            li {
                width: @ComGalleryControls-buttonSize;
                height: @ComGalleryControls-buttonSize;
                display: inline-block;
                margin: 0 0 0 @cm-indentXXSmall;
                vertical-align: top;
                -moz-box-sizing: border-box;
                     box-sizing: border-box;
                background-color: @cm-colorSecondary;
                border: 2px solid @cm-colorSecondary;
                border-radius: @ComGalleryControls-buttonSize;
                cursor: pointer;
                .cm-transition(all @CM-Transition-Duration ease-in-out);

                &:first-child {
                    margin: 0;
                }

                &:hover {
                    border-color: @cm-color;
                    .cm-transition(all @CM-Transition-DurationReverse ease-in-out);
                }

                &.active {
                    border-color: @cm-color;
                    background-color: @cm-color;
                }
            }
        }
    }

    &.is-full {
        .cm-position(0, 0, 0, 0);

        .bar-arrow {
            z-index: 1;
            width: 50%;

            .icon {
                &.default {
                    .cm-size-xx-large;
                    position: absolute;
                    top: 50%;
                    margin: -(@cm-XXLarge / 2) 0 0 0;

                    &.next {
                        .icon.xx-large.arrow-white-right;
                    }

                    &.prev {
                        .icon.xx-large.arrow-white-left;
                    }
                }
            }

            &.next {
                .cm-linear-gradient(~"to left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%");
            }

            &.prev {
                .cm-linear-gradient(~"to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%");
            }
        }

        .bar-buttons {
            z-index: 2;
        }
    }

    &.is-partial {
        position: static;

        > .inner {
            position: absolute;
            .cm-position(0, 0, 0, 0);
        }

        .bar-arrow {
            .icon {
                &.default {
                    .cm-size-xx-large;
                    position: absolute;
                    top: 50%;
                    margin: -(@cm-XXLarge / 2) 0 0 0;
                    background-color: rgba(0,0,0,0.3);

                    &.next {
                        .icon.xx-large.arrow-white-right;
                        border-radius: @cm-borderRadius 0 0 @cm-borderRadius;
                    }

                    &.prev {
                        .icon.xx-large.arrow-white-left;
                        border-radius: 0 @cm-borderRadius @cm-borderRadius 0;
                    }
                }
            }
        }
    }

    &.is-small {
        height: @cm-indentXSmall * 2 + @ComGalleryControls-buttonSize;
        .cm-position(auto, 0, 0, 0);

        .bar-arrow {
            .icon {
                &.default {
                    .cm-size-small;
                    position: absolute;
                    top: 50%;
                    margin: -(@cm-Small / 2) 0 0 0;

                    &.next {
                        .icon.small.arrow-white-right;
                        right: @cm-indentXXSmall;
                    }

                    &.prev {
                        .icon.small.arrow-white-left;
                        left: @cm-indentXXSmall;
                    }
                }
            }
        }
    }
}