/* ******* GALLERY LAYOUT ******* */

/* *** BAR *** */

.com-gallery-bar {
    position: relative;
    .cm-user-select(none);

    .bar-arrow {
        position: absolute;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        .cm-transition(opacity @cm-transitionDuration ease-in-out);
    }

    .cm-grid {
        margin: 0;
        position: relative;
        z-index: 1;
        #cm > .grid-indent(@cm-indentXSmall / 2);

        > ul {
            overflow: hidden;
        }
    }

    &.is-arrow-inside {
        .bar-arrow {
            background-color: rgba(255,255,255,0.7);
            .cm-transition(background-color @cm-transitionDuration ease-in-out);
            .cm-transition(opacity @cm-transitionDuration ease-in-out);

            &:hover {
                background-color: rgba(255,255,255,0.9);
            }
        }
    }

    &.is-horizontal {
        .cm-grid {
            > ul {
                white-space: nowrap;
            }
        }

        .bar-arrow {
            width: @ComGalleryLayout-arrowWidth;
            .cm-position(0, auto, 0, auto);
        }

        &.is-arrow-inside {
            .bar-arrow {
                &.prev {
                    left: 0;
                }

                &.next {
                    right: 0;
                }
            }
        }

        &.is-arrow-outside {
            .bar-arrow {
                &.prev {
                    left: -@ComGalleryLayout-arrowWidth;
                }

                &.next {
                    right: -@ComGalleryLayout-arrowWidth;
                }
            }
        }
    }

    &.is-vertical {
        > .inner {
            height: 100%;
            position: relative;
        }

        .cm-grid {
            height: 100%;

            > ul {
                position: absolute;
                .cm-position(0,0,0,0);
            }
        }

        .bar-arrow {
            width: 100%;
            height: @ComGalleryLayout-arrowWidth;
            .cm-position(auto, 0, auto, 0);
        }

        &.is-arrow-inside {
            .bar-arrow {
                &.prev {
                    top: 0;
                }

                &.next {
                    bottom: 0;
                }
            }
        }

        &.is-arrow-outside {
            .bar-arrow {
                &.prev {
                    top: -@ComGalleryLayout-arrowWidth;
                }

                &.next {
                    bottom: -@ComGalleryLayout-arrowWidth;
                }
            }
        }
    }

    &:hover {
        .bar-arrow {
            opacity: 1;
        }
    }
}

/* *** PREVIEW *** */

.com-gallery-preview {
    margin: 0 0 0 @cm-indentMedium;
    padding: 0 0 66.4%;
    position: relative;

    &.bottom {
        margin: 0;
    }

    > .inner {
        position: absolute;
        .cm-position(0,0,0,0);
    }

    .com-gallery {
        width: 100%;
        height: 100%;
    }
}

/* *** LAYOUT *** */

.com-gallery-layout {
    margin: 0 0 @cm-indentMedium 0;

    &.bottom {
        margin: 0;
    }

    > .inner {
        position: relative;
    }

    // /* Preview */

    .com-gallery-preview {
        margin: @cm-indentXSmall 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    // /* Set sizes */

    .loop(@counter) when (@counter > 0) {
        .loop((@counter - 1));

        @size: 100% / @counter;

        &.size-@{counter} {
            > .inner {
                padding: 0 @size;
            }

            .com-gallery-bar {
                width: @size;

                .cm-grid > ul > li {
                    width: @size;
                }
            }
        }
    }

    .loop(@ComGalleryLayout-sizesCount);

    // /* Bar Horizontal */

    &.is-top,
    &.is-bottom {
        > .inner {
            padding: 0;
        }

        .com-gallery-bar {
            width: auto;
        }
    }

    // /* Bar vertical */

    &.is-left,
    &.is-right {
        .com-gallery-preview {
            margin: 0;
        }

        .com-gallery-bar {
            position: absolute;
            .cm-position(0, auto, 0, auto);
            -moz-box-sizing: border-box;
                 box-sizing: border-box;

            .cm-grid > ul > li {
                width: 100%;
            }
        }
    }

    &.is-left {
        > .inner {
            padding-right: 0;
        }

        .com-gallery-bar {
            padding: 0 @cm-indentXSmall 0 0;
            left: 0;
        }
    }

    &.is-right {
        > .inner {
            padding-left: 0;
        }

        .com-gallery-bar {
            padding: 0 0 0 @cm-indentXSmall;
            right: 0;
        }
    }

    // /* *** Gallery Border *** */

    &.has-border {
        padding: @cm-indentXSmall;
        border: @cm-borderBox;
    }
}