/* ******* COMPONENTS: GRIDLIST ******* */

.com-gridlist-container {
    margin: 0 0 @Cm-indentMedium;

    &.bottom {
        margin: 0;
    }

    > .com-pagination-container {
        margin: 0;
    }
}

.com-gridlist {
    margin: 0 0 @Cm-indentMedium;
    overflow: hidden;

    &.bottom {
        margin: 0;
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;

        td, th {
            vertical-align: top;
            text-align: left;
            padding: @ComGridlist-PaddingInner;
            .cm-background-clip(padding-box);

            > .inner {
                display: block;
                position: relative;
                .cm-text-overflow;
                word-wrap: normal;
                text-decoration: none;
            }

            &.pull-left {
                text-align: left;
            }

            &.pull-center {
                text-align: center;
            }

            &.pull-right {
                text-align: right;
            }

            &.cell-title {
                width: 20%;
            }

            &.cell-description {
                width: auto;
            }

            &.cell-status {
                width: 100px;
            }

            &.cell-links {
                width: 200px;
            }
        }

        th {
            font-weight: @Cm-boldWeight;
            font-size: @ComGridlist-FontTitle-Size;
            .cm-user-select(none);

            &.sort {
                .cm-transition(background-color 0.3s ease-in-out);

                &:hover {
                    background: @CmColor-LightHover;
                    .cm-transition(background-color 0.1s ease-in-out);
                }

                &:active {
                    background: @CmColor-LightActive;
                }

                .inner {
                    display: block;
                    margin: -@ComGridlist-PaddingInner;
                    padding: @ComGridlist-PaddingInner 20px @ComGridlist-PaddingInner @ComGridlist-PaddingInner;
                    cursor: pointer;
                }

                .arrow {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: @ComGridlist-PaddingInner;
                    margin: -3px 0 0 0;
                }
            }
        }

        td {
            vertical-align: top;
            border-top: 1px solid transparent;
            word-wrap: break-word;
            font-size: @ComGridlist-Font-Size;
        }

        tr {
            &:hover {
                td {
                    background-color: @CmColor-Secondary-LightHover;
                }
            }

            &.active {
                td {
                    background-color: @CmColor-LightActive;
                }

                &:hover {
                    td {
                        background-color: @CmColor-LightActiveHover;
                    }
                }
            }

            &.valid {
                td {
                    background-color: @CmColor-Valid-LightActive;
                }

                &:hover {
                    td {
                        background-color: @CmColor-Valid-LightActiveHover;
                    }
                }
            }

            &.invalid {
                td {
                    background-color: @CmColor-Invalid-LightActive;
                }

                &:hover {
                    td {
                        background-color: @CmColor-Invalid-LightActiveHover;
                    }
                }
            }
        }
    }
}

.com-gridlist-counter {
    margin: 0 0 @Cm-indentMedium;

    &.bottom {
        margin: 0;
    }
}

.com-gridlist-indent {
    width: @Cm-XSmall;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

/* *** STUFF *** */

.com-gridlist {
    .control {
        .icon {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }

        input[type="checkbox"],
        input[type="radio"] {
            vertical-align: middle;
            margin: 0;
        }
    }

    .cm-form-icons-inside {
        .text {
            font-size: @ComGridlist-Font-Size;
        }
    }
}

/* ******* COMPONENTS: GRIDLIST: ADAPTIVE ******* */

@media only screen and (max-width : @ComGridlist-AdaptiveFrom) {

    html.is-adaptive {
        .com-gridlist {
            &.is-adaptive {
                tr {
                    td, th {
                        width: auto;
                        display: block;
                    }
                    td:first-child {
                        border-top: 1px solid @Cm-colorBorder;
                    }
                }
            }
        }
    }

}
