/* ******* COMPONENTS: GRIDLIST ******* */

.com__gridlist {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }

    .pt__gridlist__counter,
    .pt__gridlist,
    .com-pagination-container {
        margin: 0 0 @CmIndent-Medium;

        &:last-child {
            margin: 0;
        }
    }
}