/* ******* COMPONENTS: COLOR PALETTE ****** */

.com__palette {
    > .inner {
        .display-flex;

        html.ie9 & {
            display: block;
        }
    }

    .b-palette,
    .b-range {
        border: @cm-borderStyle;
        border-radius: @cm-borderRadius;

        > .inner {
            height: @ComColorPalette-Size;
            position: relative;
        }

        canvas {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: @cm-borderRadius;
        }

        html.ie9 & {
            float: left;
        }
    }

    .b-palette {
        margin: 0 @cm-indentXSmall 0 0;

         > .inner {
             width: @ComColorPalette-Size;
             overflow: hidden;
             cursor: crosshair;
         }

        .drag {
            width: 12px;
            height: 12px;
            position: absolute;
            margin: -(16px / 2) 0 0 -(16px / 2);
            border: 2px solid #ffffff;
            border-radius: 12px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
        }
    }

    .b-range {
        margin: 0 @cm-indentMedium 0 0;

        > .inner {
            width: @cm-Medium;
            cursor: row-resize;
        }

        .drag {
            height: 6px;
            position: absolute;
            margin: -3px -4px 0;
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            .cm-position(0, 0, auto, 0);
        }
    }

    .b-stuff {
        .cm-flex(auto);

        .b-top {
            &:extend(.clearfix all);
            width: 72px;
        }

        html.ie9 & {
            overflow: hidden;
        }
    }

    .b-color-preview {
        margin: 0 0 @cm-indentXSmall;

        .b-title {
            .cm-font-ui;
            text-align: center;
        }

        .b-colors {
            overflow: hidden;
            border: @cm-borderStyle;
            border-radius: @cm-borderRadius;

            .b-color {
                padding-bottom: 50%;
            }
        }
    }
}

.com__palette__body,
.com__palette__body * {
    .cm-user-select(none);
}