/* ******* COMPONENT: PROFILE ******* */

.com-profile {
    > .inner:extend(.clear all) {
        > .l {
            float: left;
            margin: 0 @cm-indentXLarge 0 0;

            .cm-box-flat {
                width: @ComProfile-leftColumn;
            }
        }

        > .r {
            overflow: hidden;
        }
    }
}

/* ******* COMPONENT: PROFILE: ADAPTIVE ******* */

@media only screen and (max-width : @cm-screenMobile) {

    html.is-adaptive {
        .com-profile {
            > .inner {
                > .l {
                    width: auto;
                    float: none;
                    margin: 0 0 @cm-indentXLarge;

                    .cm-box-flat {
                        width: auto;
                    }
                }
            }
        }

        .com-profile-members {
            .pt__grid {
                > ul > li {
                    width: 33.33%;
                }
            }
        }
    }

}