/* ******* COMPONENTS: SCROLL PAGINATION *** */

.com__scroll-pagination {
    .cm__box;
}

.com__scroll-pagination__scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.com__scroll-pagination__page {
    &.is-hidden {
        visibility: hidden;
    }
}

.com__scroll-pagination__buttons {
    height: @CmForm-FieldHeight;
    overflow: hidden;
    text-align: center;
    .mx__transition(all, @CmUI-Transition-Duration);


    &.is-hidden {
        height: 0;
    }
}