/* ******* COMPONENTS: TABSET ******* */

.com__tabset {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }
}

/* *** TABS HEAD *** */

.com__tabset__head {
    .clearfix;
    position: relative;
    z-index: 2;
}

.com__tabset__head-tabs {
    ul {
        .cm__list-clear;

        li {
            margin: 0 @ComTabset-Tabs-Indent 0 0;
            position: relative;
            float: left;
            background: @ComTabset-Tabs-DefaultBackground;
            border: @ComTabset-Border;
            border-radius: @ComTabset-BorderRadius;
            .mx__transition(all, @CmUI-Transition-Duration);

            &:last-child {
                margin-right: 0;
            }

            a {
                .cm__font;
                .cm__text-overflow;
                display: block;
                padding: 0 @ComTabset-Tabs-IndentInner;
                line-height: @ComTabset-Tabs-Height;
                font-size: @ComTabset-Tabs-FontSize;
                text-decoration: none;
                .mx__only__color(@ComTabset-Tabs-DefaultBackground, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
            }

            &:hover {
                background: @ComTabset-Tabs-HoverBackground;
                .mx__transition(all, @CmUI-Transition-DurationReverse);

                a {
                    .mx__only__color(@ComTabset-Tabs-HoverBackground, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
                }
            }

            &.active {
                background: @ComTabset-Tabs-ActiveBackground;

                a {
                    .mx__only__color(@ComTabset-Tabs-ActiveBackground, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
                }
            }
        }
    }
}

.com__tabset__head-title {
    .cm__text-overflow;
    display: none;
    position: relative;
    overflow: hidden;
    padding: 0 @CmIndent-Medium;
    border: @ComTabset-Border;
    border-bottom: none;
    line-height: @ComTabset-Tabs-Height;
    font-size: @ComTabset-Tabs-FontSize;
    .mx__background__color(@ComTabset-TabsTitle-Background, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
}

.com__tabset__head-menu {
    width: @ComTabset-Tabs-Height;
    height: @ComTabset-Tabs-Height;
    display: none;
    position: absolute;
    .mx__position(@CmBorder-Width, @CmBorder-Width, @CmBorder-Width, auto);

    .icon {
        width: @ComTabset-Tabs-Height;
        height: @ComTabset-Tabs-Height;

        &.default {
            .icon.medium.menu;
        }
    }

    .pt__menu-dropdown {
        .pt__menu-dropdown--base;
        left: auto;
        right: -@CmBorder-Width;
    }
}

/* *** TABS CONTENT *** */

.com__tabset__content {
    .clearfix;
    position: relative;
    z-index: 1;
    padding: @CmIndent-Medium;
    background: #fff;
    border: @CmBorder-Width solid @ComTabset-BorderColor;
    border-radius: @ComTabset-BorderRadius;

    > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            display: none;
        }
    }
}

.com__tabset__content-ul {
    > li {
        display: none;
    }
}

/* *** TABS POSITION *** */

.com__tabset {
    &.is-tabs-top {
        > .com__tabset__head {
            .com__tabset__head-title {
                border-radius: @ComTabset-BorderRadius @ComTabset-BorderRadius 0 0;
            }

            .com__tabset__head-tabs {
                .com__tabset__head-tabs--top;
            }
        }

        > .com__tabset__content {
            border-radius: 0 @ComTabset-BorderRadius @ComTabset-BorderRadius @ComTabset-BorderRadius;
        }
    }

    &.is-tabs-bottom {
        > .com__tabset__head {
            .com__tabset__head-title {
                border-radius: 0 0 @ComTabset-BorderRadius @ComTabset-BorderRadius;
            }

            .com__tabset__head-tabs {
                .com__tabset__head-tabs--bottom;
            }
        }

        > .com__tabset__content {
            border-radius: @ComTabset-BorderRadius @ComTabset-BorderRadius @ComTabset-BorderRadius 0;
        }
    }
}

// /* *** MIXINS *** */

.com__tabset__head-tabs--top () {
    ul {
        li {
            margin-bottom: -@ComTabset-BorderWidth;
            border-radius: @ComTabset-BorderRadius @ComTabset-BorderRadius 0 0;

            &.active {
                border-bottom-color: #ffffff;
            }
        }
    }
}

.com__tabset__head-tabs--bottom () {
    ul {
        li {
            margin-top: -@ComTabset-BorderWidth;
            border-radius: 0 0 @ComTabset-BorderRadius @ComTabset-BorderRadius;

            &.active {
                border-top-color: #fff;
            }
        }
    }
}

/* ******* COMPONENTS: TABSET: ADAPTIVE ******* */

@media only screen and (max-width : @ComTabset-AdaptiveFrom) {

    html.is-adaptive {
        .com__tabset__head-menu,
        .com__tabset__head-title {
            display: block;
        }

        .com__tabset__head-tabs {
            display: none;
        }

        .com__tabset {
            &.is-tabs-top {
                > .com__tabset__content {
                    border-radius: 0 0 @ComTabset-BorderRadius @ComTabset-BorderRadius;
                }
            }

            &.is-tabs-bottom {
                > .com__tabset__content {
                    border-radius: @ComTabset-BorderRadius @ComTabset-BorderRadius 0 0;
                }
            }
        }
    }

}
