/* ******* TABSET ******* */

.com-tabset {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }
}

.com-tabset-head {
    position: relative;
    z-index: 2;
}

.com-tabset-head-tabs {
    ul {
        .cm__list-clear;

        li {
            margin: 0 @ComTabset-tabsIndent -@Cm-borderWidth 0;
            float: left;
            background: @ComTabset-tabsBackground;
            border: @Cm-borderStyle;
            border-radius: @ComTabset-borderRadius @ComTabset-borderRadius 0 0;
            .mx__transition(all, @CmVar-Transition-Duration);

            &:hover {
                background: @ComTabset-tabsBackgroundHover;
                .mx__transition(all, @CmVar-Transition-DurationReverse);
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background: @ComTabset-tabsBackgroundActive;
            }

            a {
                .cm-text-overflow;
                display: block;
                padding: 0 @CmIndent-XSmall;
                line-height: @ComTabset-tabsHeight;
                color: @ComTabset-tabsColor;
                text-decoration: none;
            }
        }
    }
}

.com-tabset-head-title {
    .cm-text-overflow;
    display: none;
    overflow: hidden;
    padding: 0 @CmIndent-Medium;
    border: @Cm-borderStyle;
    border-bottom: none;
    background: @ComTabset-tabsTitle;
    line-height: @ComTabset-tabsHeight;
}

.com-tabset-head-menu {
    width: @ComTabset-tabsHeight;
    height: @ComTabset-tabsHeight;
    display: none;
    position: absolute;
    .mx__position(@Cm-borderWidth, @Cm-borderWidth, @Cm-borderWidth, auto);

    .icon {
        width: @ComTabset-tabsHeight;
        height: @ComTabset-tabsHeight;

        &.default {
            .icon.medium.menu;
        }
    }

    .cm-menu-dropdown {
        .cm-menu-dropdown--base;
        left: auto;
        right: -@Cm-borderWidth;
    }
}

.com-tabset-content {
    position: relative;
    z-index: 1;
    padding: @CmIndent-Medium;
    background: #fff;
    border: @Cm-borderStyle;
    border-radius: 0 @ComTabset-borderRadius @ComTabset-borderRadius @ComTabset-borderRadius;

    > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            display: none;
        }
    }
}

.com-tabset-content-ul {
    > li {
        display: none;
    }
}

/* Tabs Position */

.com-tabset {
    &.is-tabs-top {
        .com-tabset-head-title {
            border-radius: @ComTabset-borderRadius @ComTabset-borderRadius 0 0;
        }

        > .com-tabset-head {
            ul {
                li {
                    &.active {
                        border-bottom-color: #ffffff;
                    }
                }
            }
        }
    }

    &.is-tabs-bottom {
        .com-tabset-head-title {
            border-radius: 0 0 @ComTabset-borderRadius @ComTabset-borderRadius;
        }

        > .com-tabset-head {
            bottom: auto;
            top: -1px;

            ul {
                li {
                    border-radius: 0 0 @ComTabset-borderRadius @ComTabset-borderRadius;

                    &.active {
                        border-top-color: #fff;
                    }
                }
            }
        }

        > .com-tabset-content {
            border-radius: @ComTabset-borderRadius @ComTabset-borderRadius @ComTabset-borderRadius 0;
        }
    }
}

/* *** ADAPTIVE *** */

@media only screen and (max-width : @ComTabset-adaptiveFrom) {

    html.is-adaptive {
        .com-tabset-head-menu,
        .com-tabset-head-title {
            display: block;
        }

        .com-tabset-head-tabs {
            display: none;
        }

        .com-tabset {
            &.is-tabs-top {
                > .com-tabset-content {
                    border-radius: 0 0 @ComTabset-borderRadius @ComTabset-borderRadius;
                }
            }

            &.is-tabs-bottom {
                > .com-tabset-content {
                    border-radius: @ComTabset-borderRadius @ComTabset-borderRadius 0 0;
                }
            }
        }
    }

}
