/* ******* TABSET ******* */

.com__tabset {
    margin: 0 0 @CmIndent-Medium;

    &.bottom {
        margin: 0;
    }
}

.com__tabset__head {
    position: relative;
    z-index: 2;
}

.com__tabset__head-tabs {
    ul {
        .cm__list-clear;

        li {
            margin: 0 @ComTabset-Tabs-Indent -@CmBorder-Width 0;
            float: left;
            background: @ComTabset-Tabs-Background;
            border: @CmBorder-Default;
            border-radius: @ComTabset-BorderRadius @ComTabset-BorderRadius 0 0;
            .mx__transition(all, @CmUI-Transition-Duration);

            &:last-child {
                margin-right: 0;
            }

            a {
                .cm__text-overflow;
                display: block;
                padding: 0 @CmIndent-XSmall;
                line-height: @ComTabset-Tabs-Height;
                text-decoration: none;
                .mx__only__color(@ComTabset-Tabs-Background, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
            }

            &:hover {
                background: @ComTabset-Tabs-BackgroundHover;
                .mx__transition(all, @CmUI-Transition-DurationReverse);

                a {
                    .mx__only__color(@ComTabset-Tabs-BackgroundHover, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
                }
            }

            &.active {
                background: @ComTabset-Tabs-BackgroundActive;

                a {
                    .mx__only__color(@ComTabset-Tabs-BackgroundActive, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
                }
            }
        }
    }
}

.com__tabset__head-title {
    .cm__text-overflow;
    display: none;
    overflow: hidden;
    padding: 0 @CmIndent-Medium;
    border: @CmBorder-Default;
    border-bottom: none;
    line-height: @ComTabset-Tabs-Height;
    .mx__background__color(@ComTabset-Tabs-Title, @CmFont-Base-Color, @CmFont-Base-ColorOpposite);
}

.com__tabset__head-menu {
    width: @ComTabset-Tabs-Height;
    height: @ComTabset-Tabs-Height;
    display: none;
    position: absolute;
    .mx__position(@CmBorder-Width, @CmBorder-Width, @CmBorder-Width, auto);

    .icon {
        width: @ComTabset-Tabs-Height;
        height: @ComTabset-Tabs-Height;

        &.default {
            .icon.medium.menu;
        }
    }

    .cm-menu-dropdown {
        .cm-menu-dropdown--base;
        left: auto;
        right: -@CmBorder-Width;
    }
}

.com__tabset__content {
    position: relative;
    z-index: 1;
    padding: @CmIndent-Medium;
    background: #fff;
    border: @CmBorder-Default;
    border-radius: 0 @ComTabset-BorderRadius @ComTabset-BorderRadius @ComTabset-BorderRadius;

    > ul {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            display: none;
        }
    }
}

.com__tabset__content-ul {
    > li {
        display: none;
    }
}

/* Tabs Position */

.com__tabset {
    &.is-tabs-top {
        .com__tabset__head-title {
            border-radius: @ComTabset-BorderRadius @ComTabset-BorderRadius 0 0;
        }

        > .com__tabset__head {
            ul {
                li {
                    &.active {
                        border-bottom-color: #ffffff;
                    }
                }
            }
        }
    }

    &.is-tabs-bottom {
        .com__tabset__head-title {
            border-radius: 0 0 @ComTabset-BorderRadius @ComTabset-BorderRadius;
        }

        > .com__tabset__head {
            bottom: auto;
            top: -1px;

            ul {
                li {
                    border-radius: 0 0 @ComTabset-BorderRadius @ComTabset-BorderRadius;

                    &.active {
                        border-top-color: #fff;
                    }
                }
            }
        }

        > .com__tabset__content {
            border-radius: @ComTabset-BorderRadius @ComTabset-BorderRadius @ComTabset-BorderRadius 0;
        }
    }
}

/* *** ADAPTIVE *** */

@media only screen and (max-width : @ComTabset-adaptiveFrom) {

    html.is-adaptive {
        .com__tabset__head-menu,
        .com__tabset__head-title {
            display: block;
        }

        .com__tabset__head-tabs {
            display: none;
        }

        .com__tabset {
            &.is-tabs-top {
                > .com__tabset__content {
                    border-radius: 0 0 @ComTabset-BorderRadius @ComTabset-BorderRadius;
                }
            }

            &.is-tabs-bottom {
                > .com__tabset__content {
                    border-radius: @ComTabset-BorderRadius @ComTabset-BorderRadius 0 0;
                }
            }
        }
    }

}
