/* ******* COMPONENT: TAGS ******* */

.com-tags {
    > .inner:extend(.clear all) {
        > .l {
            float: left;
            margin: 0 @Cm-indentXXSmall 0 0;
            line-height: @Cm-lineHeight;

            .icon {
                display: inline-block;
                vertical-align: middle;
            }
        }

        > .r {
            overflow: hidden;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                line-height: inherit;
                font-size: inherit;

                li {
                    margin: 0 @Cm-indentXXSmall 0 0;
                    float: left;

                    &:after {
                        content: ',';
                    }

                    &:last-child {
                        margin: 0;

                        &:after {
                            content: normal;
                        }
                    }
                }
            }
        }
    }

    &.is-editable {
        > .inner {
            > .l {
                line-height: @CmForm-fieldHeight;
            }
        }
    }
}