/* ******* TIME SELECT ******* */

.com-timeselect {
    width: 100%;
    max-width: @ComTimeSelect-width;
    display: inline-block;
    vertical-align: top;

    > .inner:extend(.clear all){
        position: relative;

        > .field {
            width: 50%;
            height: @CmForm-fieldHeight;
            float: left;
            padding: 0 @ComTimeSelect-indent/2;
            .cm-box-sizing();

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        > .sep:extend(.cm-font-base) {
            width: @ComTimeSelect-indent;
            position: absolute;
            .cm-position(0, auto, 0, 50%);
            margin: 0 0 0 -@ComTimeSelect-indent/2;
            text-align: center;
            line-height: @CmForm-fieldHeight;
        }
    }
}