/* ******* COMPONENT: TOGGLE BOX ******* */

.com__togglebox {
    margin: 0 0 @CmIndent-Medium 0;

    &.bottom {
        margin: 0;
    }

    > dt {
        .cm__font--ui-h1;
        position: relative;
        cursor: pointer;
        line-height: @ComToggleBox-Size;
        .mx__user-select(none);
        .mx__transition(color, @CmUI-Transition-Duration);

        .icon {
            height: @ComToggleBox-Size;
            float: right;
            margin: 0 0 0 @CmIndent-Medium;
            background-position: 100% 50%;

            &.default {
                .icon.small.arrow-right;
                width: @CmSize-Small;
                .mx__transition(-webkit-transform -ms-transform transform, @CmUI-Transition-Duration);
            }
        }

        .title {
            .cm__text-overflow;
            display: block;
        }

        .pt__box-editable {
            margin: 0;

            > .l{
                .cm__text-overflow;
            }
        }

        &:hover {
            color: @Cm-color;
        }
    }

    > dd {
        .clearfix;
        padding: 0;
        opacity: 1;

        > .inner {
            padding: @CmIndent-XSmall 0 0 0;
        }
    }

    &.has-hover-icon {
        > dt {
            cursor: default;
        }
    }

    &.has-title-bg {
        > dt {
            padding: 0 @CmIndent-XXSmall;
            background: @ComToggleBox-Title-DefaultBackground;
            border-radius: @CmBorder-Radius;
        }
    }

    &.has-content-bg {
        > dd {
            .cm__empty,
            .pt__toolbar {
                margin: 0;
                border-top: @ComToggleBox-Content-SpaceBorder;
                background: @ComToggleBox-Content-DefaultBackground;
                border-radius: @CmBorder-Radius;
                .mx__background-clip(padding-box);
            }

            .pt__toolbar {
                padding: @CmIndent-XXSmall;
            }

            .pt__gridlist {
                tr {
                    th {
                        padding: @CmIndent-XXSmall;
                        background-color: @ComToggleBox-Content-DefaultBackground;
                        border-top: @ComToggleBox-Content-SpaceBorder;

                        &.sort {
                            .inner {
                                margin: -@CmIndent-XXSmall;
                                padding: @CmIndent-XXSmall 22px @CmIndent-XXSmall @CmIndent-XXSmall;
                            }
                        }
                    }

                    td {
                        padding: @CmIndent-XXSmall;
                        background-color: @ComToggleBox-Content-DefaultBackground;
                    }

                    &:hover td {
                        background-color: @ComToggleBox-Content-HoverBackground;
                    }
                }
            }
        }
    }

    &:not(.has-hover-icon) {
        > dt {
            cursor: pointer;
            .mx__transition(background-color color, @CmUI-Transition-Duration);
        }

        &.has-title-bg {
            > dt {
                &:hover {
                    background-color: @ComToggleBox-Title-HoverBackground;
                    .mx__transition(background-color color, @CmUI-Transition-DurationReverse);
                }
            }
        }
    }

    &.is-medium {
        > dt {
            .cm__font--ui-h4;
            line-height: @ComToggleBox-SizeMedium;

            .icon {
                height: @ComToggleBox-SizeMedium;
            }
        }
    }

    &.is-ui {
        > dt {
            .cm__font--ui;
            font-weight: @CmFont-UI-BoldWeight;
            line-height: @ComToggleBox-SizeUI;

            .icon {
                height: @ComToggleBox-SizeUI;
            }
        }
    }

    &.is-hide {
        > dd {
            height: 0;
            overflow: hidden;
            opacity: 0;
        }
    }

    &.is-show {
        > dt {
            .icon {
                &.default {
                    -webkit-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                            transform: rotate(90deg);
                }
            }
        }
    }
}

/* ******* COMPONENT: TOGGLE BOX: ADAPTIVE ******* */

@media only screen and (max-width : @ComToggleBox-adaptiveFrom) {



}